<div class="compose-control-buttons-container order-1 {{#if preview_mode_on}} preview_mode {{/if}}">
    {{> compose_control_buttons_in_popover_2 .}}
    {{> compose_control_buttons_in_popover .}}
</div>
