<div id="mark_as_read_turned_off_banner" class="alert alert-info home-error-bar">
    <p id="mark_as_read_turned_off_content">
        {{#tr}}
            Messages will not be automatically marked as read. <z-link>Change setting</z-link>
            {{#*inline "z-link"}}<a href='help/marking-messages-as-read'>{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
    </p>
    <div id="mark_as_read_controls">
        <button id="mark_view_read" class="btn btn-info">
            {{t 'Mark as read' }}
        </button>
    </div>
    <button type="button" id="mark_as_read_close" class="close">×</button>
</div>

