{% extends "zerver/base.html" %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ render_bundle('landing-page') }}
{% endblock %}

{% block content %}
<div class="app portico-page">

    {{ render_bundle('translations') }}

    <div class="page-content">
        <h1>{{ _("Billing") }}</h1>
        Plan<br/>
        {{ plan_name }}<br/>
        <br/>
        You are paying for {{ seat_count }} users.<br/>
        Your plan will renew on {{ renewal_date }} for ${{ renewal_amount }}.<br/>
        {% if prorated_charges %}
        You have ${{ prorated_charges }} in prorated charges that will be
        added to your next bill.
        {% elif prorated_credits %}
        You have ${{ prorated_credits }} in prorated credits that will be
        automatically applied to your next bill.
        {% endif %}
        <br/>
        <br/>
        Payment method: {{ payment_method }}.<br/>
        <br/>
        Contact support@zulipchat.com for billing history or to make changes to your subscription.
    </div>
</div>
{% endblock %}
