<h3>{{ data.title }}</h3>

{{ data.rows|length}} rows
<table class="table sortable table-striped table-bordered">

    <thead class="activity_head">
        <tr>
            {% for col in data.cols %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data.rows %}
        <tr {% if row.row_class %}class="{{ row.row_class }}"{% endif %}>
            {% for field in row.cells %}
            <td sortable>{{ field }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
