<span class="label">realm</span>
<h3><img src="{{ realm_icon_url(realm) }}" class="support-realm-icon"> {{ realm.name }}</h3>
<b>URL</b>: <a target="_blank" href="{{ realm.uri }}">{{ realm.uri }}</a> |
<a target="_blank" href="/stats/realm/{{ realm.string_id }}/">stats</a> |
<a target="_blank" href="/realm_activity/{{ realm.string_id }}/">activity</a><br>
<b>Date created</b>: {{ realm.date_created|timesince }} ago<br>
<b>Admins</b>: {{ realm_admin_emails(realm) }}
<a title="Copy emails" class="copy-button" data-copytext="{{ realm_admin_emails(realm) }}">
    <i class="fa fa-copy"></i>
</a>
<form method="POST">
    <b>Status</b>:<br>
    {{ csrf_input }}
    <input type="hidden" name="realm_id" value="{{ realm.id }}" />
    <select name="status">
        <option value="active" {% if not realm.deactivated %}selected{% endif %}>Active</option>
        <option value="deactivated" {% if realm.deactivated %}selected{% endif %}>Deactivated</option>
    </select>
    <button type="submit" class="button rounded small support-submit-button">Update</button>
</form>
<form method="POST" class="support-plan-type-form">
    <b>Plan type</b>:<br>
    {{ csrf_input }}
    <input type="hidden" name="realm_id" value="{{ realm.id }}" />
    <select name="plan_type">
        <option value="1" {% if realm.plan_type == 1 %}selected{% endif %}>Self Hosted</option>
        <option value="2" {% if realm.plan_type == 2 %}selected{% endif %}>Limited</option>
        <option value="3" {% if realm.plan_type == 3 %}selected{% endif %}>Standard</option>
        <option value="4" {% if realm.plan_type == 4 %}selected{% endif %}>Standard Free</option>
    </select>
    <button type="submit" class="button rounded small support-submit-button">Update</button>
</form>
<form method="POST" class="support-discount-form">
    <b>Discount (use 85 for nonprofits)</b>:<br>
    {{ csrf_input }}
    <input type="hidden" name="realm_id" value="{{ realm.id }}" />
    <input type="number" name="discount" value="{{ get_discount_for_realm(realm) }}" required>
    <button type="submit" class="button rounded small support-submit-button">Update</button>
</form>
<form method="POST" class="scrub-realm-form">
    {{ csrf_input }}
    <input type="hidden" name="realm_id" value="{{ realm.id }}" />
    <input type="hidden" name="scrub_realm" value="scrub_realm" />
    <button data-string-id="{{realm.string_id}}" class="button rounded btn-danger small scrub-realm-button">Scrub realm (danger)</button>
</form>
