<h4>Chart key:</h4>
<ul>
    <li><strong>Mobile pushes forwarded</strong> - last 7 days, including today's current count</li>
    <li><strong>ARR</strong> (annual recurring revenue) - the number of users they are paying for * annual price/user</li>
    <li><strong>Links</strong>
        <ul>
            <li><strong><i class="fa fa-pie-chart"></i></strong> - remote server's stats page</li>
            <li><strong><i class="fa fa-gear"></i></strong> - remote server's support page</li>
        </ul>
    </li>
</ul>
