{% extends "zerver/base.html" %}
{% set entrypoint = "support" %}

{# Remote servers. #}

{% block title %}
<title>Remote servers</title>
{% endblock %}


{% block content %}
<div class="container">
    <br />
    <form>
        <center>
            <input type="text" name="q" class="input-xxlarge search-query" placeholder="hostname or contact email" value="{{ request.GET.get('q', '') }}" autofocus />
            <button type="submit" class="btn btn-default support-search-button">Search</button>
        </center>
    </form>

    {% if error_message %}
    <div class="alert alert-danger">
        <center>
            {{ error_message }}
        </center>
    </div>
    {% elif success_message %}
    <div class="alert alert-success">
        <center>
            {{ success_message }}
        </center>
    </div>
    {% endif %}

    <div id="remote-server-query-results">
        {% for remote_server in remote_servers %}
        <div class="support-query-result">
            <div class="remote-server-information">
                <span class="label">remote server</span>
                <h3>{{ remote_server.hostname }}</h3>
                <b>Contact email</b>: {{ remote_server.contact_email }}
                <a title="Copy email" class="copy-button" data-copytext="{{ remote_server.contact_email }}">
                    <i class="fa fa-copy"></i>
                </a>
                <br />
                <b>Last updated</b>: {{ remote_server.last_updated|timesince }} ago<br />
                <b>Max monthly messages</b>: {{ remote_server_to_max_monthly_messages[remote_server.id] }}<br />
                <b>Plan type</b>: {{ get_plan_type_name(remote_server.plan_type) }}<br />
                <b>Has remote realm(s)</b>: {{ remote_realms[remote_server.id] != [] }}
                {% if remote_server.plan_type == SPONSORED_PLAN_TYPE %}
                    <h4>On 100% sponsored Zulip Community plan.</h4>
                {% endif %}
            </div>

            {% if remote_server.plan_type != SPONSORED_PLAN_TYPE %}
                {% with %}
                    {% set customer = remote_servers_plan_data[remote_server.id].customer %}
                    {% set remote_id = remote_server.id %}
                    {% set remote_type = "remote_server_id" %}
                    {% set has_fixed_price = remote_servers_plan_data[remote_server.id].has_fixed_price %}
                    {% set get_discount = get_discount %}
                    {% include 'analytics/sponsorship_forms_support.html' %}
                {% endwith %}
            {% endif %}

            {% if remote_servers_plan_data[remote_server.id].current_plan %}
            <div class="remote-server-information">
                {% with %}
                    {% set plan_data = remote_servers_plan_data[remote_server.id] %}
                    {% include 'analytics/current_plan_details.html' %}
                {% endwith %}
            </div>

            {% with %}
                {% set current_plan = remote_servers_plan_data[remote_server.id].current_plan %}
                {% set remote_id = remote_server.id %}
                {% set remote_type = "remote_server_id" %}
                {% include 'analytics/current_plan_forms_support.html' %}
            {% endwith %}
            {% endif %}

            {% for remote_realm in remote_realms[remote_server.id] %}
            <hr />
            <div>
                {% with %}
                    {% set plan_data = remote_realms_plan_data %}
                    {% set get_discount = get_discount %}
                    {% include "analytics/remote_realm_details.html" %}
                {% endwith %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
