root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{sh,py,pyi,xml,css,scss,hbs,html}]
indent_size = 4

[{*.{js,json,ts},check-openapi}]
indent_size = 4
max_line_length = 100

[*.{py,pyi}]
max_line_length = 110

[*.{svg,rb,pp,yaml,yml}]
indent_size = 2

[package.json]
indent_size = 2
