root = true

[*]
end_of_line = lf
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

binary_next_line = true  # for shfmt
switch_case_indent = true  # for shfmt

[*.py]
max_line_length = 110

[*.{js,ts}]
max_line_length = 100

[*.{svg,rb,pp}]
indent_size = 2
