*.pyc
*~
/all_messages_log.*
/event_log/*
/digest.log*
/errors.log*
/manage.log*
/server.log*
/workers.log*
/email-deliverer.log
/email-mirror.log
/sync_ldap_user_data.log
/update-prod-static.log
frontend_tests/casper_tests/server.log
frontend_tests/casper_lib/test_credentials.js
memcached_prefix
/prod-static
/errors/*
*.sw[po]
*.DS_Store
event_queues.pickle
stats/
zerver/fixtures/available-migrations
zerver/fixtures/migration-status
zerver/fixtures/test_data1.json
.kdev4
zulip.kdev4
remote_cache_prefix
coverage/
/queue_error
.test-js-with-node.html
.kateproject.d/
.kateproject
*.kate-swp
event_queues.json
.vagrant
/zproject/dev-secrets.conf
static/js/bundle.js
static/third/gemoji/
static/third/zxcvbn/
tools/setup/emoji_dump/bitmaps/
tools/setup/emoji_dump/*.ttx
tools/phantomjs
node_modules
npm-debug.log
uploads/
test_uploads/
*.mo
