*.pyc
*~
/zephyrdb
/all_messages_log.*
/event_log/*
/server.log
/update-prod-static.log
/prod-static
*.sw[po]
.DS_Store
event_queues.pickle
stats/
zephyr/fixtures/available-migrations
zephyr/fixtures/migration-status
zephyr/fixtures/test_data1.json
.kdev4
humbug.kdev4
memcached_prefix
