.gitignore export-ignore
.gitattributes export-ignore
/analytics export-ignore
/assets export-ignore
/bots export-ignore
/corporate export-ignore
/static export-ignore
/tools export-ignore
/zilencer export-ignore
/templates/analytics export-ignore
/templates/corporate export-ignore
/templates/zilencer export-ignore
/puppet/zulip_internal export-ignore
/zproject/local_settings.py export-ignore
/zproject/test_settings.py export-ignore
/zerver/fixtures export-ignore
/zerver/tests.py export-ignore
/frontend_tests export-ignore
/node_modules export-ignore
/humbug export-ignore
