[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
myst-parser = "*"
sphinx-rtd-theme = "*"
scrapy = "*"

[dev-packages]

[requires]
python_version = "3.11"
