<settings>
	<profiles>
		<profile>
			<id>cloudsmith</id>
			<repositories>
				<repository>
					<id>cloudsmith</id>
					<url>https://am0.cloudsmith.com/nexus/content/repositories/releases/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>cloudsmith</id>
					<url>https://am0.cloudsmith.com/nexus/content/repositories/releases/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>cloudsmith</activeProfile>
	</activeProfiles>
</settings>
