{% extends "zerver/portico_error_pages/portico_error_page.html" %}

{% block title %}
<title>{{ _("Demo organizations disabled") }} | Zulip</title>
{% endblock %}

{% block error_page_content %}
<img src="{{ static('images/errors/500art.svg') }}" alt=""/>
<div class="errorbox">
    <div class="errorcontent">
        {#
        Content is not marked for translation intentionally;
        most users will not encounter this page.
        #}
        <h1 class="lead">Demo organization creation disabled</h1>
        <p>Demo organizations are not enabled on this server.</p>
    </div>
</div>
{% endblock %}
