.activity_head {
    background-color: hsl(208, 100%, 97%);
}

.table td {
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
}

.table-striped {
    tr.recently_active {
        td {
            background-color: hsl(120, 97%, 83%);
        }

        &:nth-child(odd) td {
            background-color: hsl(120, 70%, 76%);
        }
    }
}

td.number {
    text-align: right;
}

.summary-table {
    width: auto;
    margin: 0 auto;
}

tr.admin td:first-child {
    font-weight: bold;
    color: hsl(240, 100%, 50%);
    font-size: 110%;
}

.good {
    font-weight: bold;
    color: hsl(120, 100%, 33%);
}

.bad {
    font-weight: bold;
    color: hsl(0, 100%, 39%);
}

.support-query-result {
    background-color: hsl(210, 100%, 97%);
    padding-left: 15px;
    padding-top: 14px;
    border-radius: 7px;
    box-shadow: 0 10px 7px -6px hsl(0, 2%, 45%);
}

.support-realm-icon {
    max-width: 25px;
    position: relative;
    top: -2px;
}

.support-realm-status-form {
    position: relative;
    top: 20px;
}

.support-discount-form {
    position: relative;
    top: -50px;
}

.support-plan-type-form {
    position: relative;
    top: -10px;
}

.sponsorship-pending-form {
    position: relative;
    top: -25px;
}

.current-plan-details {
    position: relative;
    top: -15px;
}

.approve-sponsorship-form {
    position: relative;
    top: -40px;
}

.billing-method-form {
    position: relative;
    top: -30px;
}

.downgrade-plan-form {
    position: relative;
    top: -75px;
}

.downgrade-plan-method-select {
    width: auto;
}

.scrub-realm-form {
    position: relative;
    top: -70px;
}

.support-search-button {
    border-color: hsl(0, 0%, 83%);
    border-radius: 2px;
}

.support-submit-button {
    position: relative;
    top: -3px;
    border-color: hsl(0, 0%, 83%);
    border-radius: 2px;
}
