body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-size: 0.875rem;
}

.header {
    padding: 5px 0 5px 15px;
    line-height: 0.625rem;
}

.header-main .logo {
    margin-top: 0.3125rem;
    .brand-logo {
        margin-top: 0.25rem;
    }
}

.message_area_padder {
    margin-top: 3.75rem;
}

.top-links {
    position: relative;
    right: 20px;
    margin-top: 0.75rem;
}

@media (max-width: 500px) {
    .header {
        height: 2.5rem;
        line-height: 0.625rem;
    }

    .header-main .logo {
        margin-top: 0.3125rem;
        .brand-logo {
            margin-top: 0.25rem;
        }
    }

    #floating_recipient_bar {
        top: 50px;
    }
}
