circle {
    fill: hsl(0, 0%, 0%);
    stroke-width: 1.93936479;
    stroke: transparent;
}

path {
    fill: hsl(170, 48%, 54%);
    stroke: hsl(170, 48%, 54%);
}

button {
    background-color: hsl(152, 52%, 91%);
    color: hsl(146, 50%, 36%);
}

#custom_http_headers {
    width: 100%;
    height: 60px;
    resize: vertical;
}

#dev-panel {
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: hsl(173, 100%, 98%);
    box-shadow: 8px 4px 8px 0 hsla(0, 0%, 0%, 0.2), 0 6px 20px 0 hsla(0, 0%, 0%, 0.19);
}

#fixture_body {
    width: 90%;
    height: 500px;
    resize: vertical;
}

#idp-results {
    width: 100%;
    height: 500px;
    resize: vertical;
    background-color: hsl(0, 0%, 100%);
}

.top-navbar {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

#URL {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin-right: 2%;
}

.centerpiece {
    font-size: 30px;
    text-align: center;
}

.inline {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 10%;
}

.optional {
    color: hsl(0, 0%, 50%);
}

.pad-small {
    height: 100px;
    width: 100%;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 2%;
    margin-right: 2%;
}

.row3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2%;
    margin-right: 2%;
}

.row4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 2%;
    margin-right: 2%;
}

.events-explore-header {
    /* Hack to make links to anchors work with fixed header */
    padding-top: 65px;
    margin-top: -65px;
}

.events-explore-header a {
    text-decoration: underline;
    color: inherit;
}
