$light-blue-border: hsl(208, 46%, 93%);
$border-green: hsl(170, 47%, 53%);
$hover-green: hsl(170, 65%, 85%);
$text-green: hsl(170, 72%, 32%);
$category-text: hsl(219, 23%, 33%);

.portico-landing.integrations {
    color: hsl(0, 0%, 27%);
    font-weight: normal;

    h1,
    h2,
    h3 {
        &:hover::after {
            content: none;
        }
    }

    .markdown {
        font-size: 1.1rem;
    }

    .main {
        width: calc(100% - 100px);
        max-width: 1170px;
        margin: 0 auto;

        background-color: hsl(0, 0%, 100%);
        box-shadow: 0 0 80px hsla(0, 0%, 0%, 0.12);

        visibility: hidden;

        img {
            box-shadow: none;
            border: none;
        }

        @media (width <= 768px) {
            width: auto;
        }

        @media (width <= 686px) {
            width: calc(100% - 50px);
            margin: 0 auto;
        }

        @media (width <= 450px) {
            width: 100%;
        }
    }

    .padded-content {
        padding: 50px 0;

        .inner-content {
            min-height: 870px;

            .show {
                opacity: 1;
                pointer-events: all;
            }

            @media (width <= 500px) {
                height: auto;
            }
        }

        @media (width <= 450px) {
            padding: 40px 0;
        }
    }

    ol li {
        list-style: none;
    }

    ul li {
        list-style: circle;
    }

    code {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        overflow: auto;

        font-family: "Source Code Pro", monospace;
        font-size: 0.85em;
    }

    #integration-main-text {
        padding: 0 15px;
    }

    .portico-page-heading {
        font-size: 2.5em;
        font-weight: 300;
        line-height: 1.2;
        text-align: center;
        border-bottom: none;

        a {
            color: inherit;
        }
    }

    .portico-page-subheading {
        font-weight: 400;
        font-size: 1.1em;
        color: hsl(0, 0%, 67%);
        line-height: 1.2;
        text-align: center;
    }

    #integration-search {
        margin-bottom: 30px;

        .searchbar {
            width: calc(100% - 40px);
            display: flex;
            justify-content: center;
            margin: 30px auto 0;

            .searchbar-reset {
                position: relative;

                input {
                    box-shadow: 0 0 7px 2px hsla(0, 0%, 0%, 0.03);

                    font-size: 1em;
                    font-family: inherit;

                    width: 500px;
                    height: 45px;
                    padding: 0 20px 0 50px;
                    border-radius: 40px;
                    border: 1px solid $light-blue-border;
                    display: block;

                    &:focus {
                        border: 1px solid $border-green;
                    }

                    @media (width <= 768px) {
                        width: 375px;
                        margin: 0 auto;
                    }

                    @media (width <= 550px) {
                        width: calc(100% - 80px);
                    }
                }

                i.fa-search {
                    position: absolute;
                    left: 20px;
                    top: 13px;
                    font-size: 19px;
                    color: $border-green;
                }

                @media (width <= 768px) {
                    width: 445px;
                }

                @media (width <= 550px) {
                    width: 100%;
                }
            }
        }
    }

    .catalog {
        margin-top: 20px;
        padding: 0 30px;
        min-height: 500px;

        .integration-categories-sidebar {
            float: left;
            width: 200px;
            padding: 0 30px 0 0;
            margin: 0;

            &.sticky {
                position: sticky;
                top: 40px;
                margin: auto;
                height: 490px;
                z-index: 10;
            }

            h3 {
                font-weight: 400;
                font-size: 1.1em;
                margin: 0;
            }

            h4 {
                font-weight: 400;
                font-size: 0.95em;
                padding: 6px 10px 3px;
                margin: 3px 0;
                border-radius: 5px;
                transition: all 0.3s ease;
                color: $category-text;

                &.selected,
                &:hover {
                    background-color: $hover-green;
                    color: $text-green;
                    cursor: pointer;
                }
            }

            @media (width <= 906px) {
                display: none;
            }
        }
    }

    .integration-categories-dropdown {
        margin: 30px auto;
        display: none;

        .heading {
            font-weight: 600;
        }

        @media (width <= 906px) {
            display: block;
            width: 670px;

            h3,
            h4 {
                font-weight: 400;
                margin: 0;
                padding: 12px 20px;
            }

            .dropdown-toggle {
                cursor: pointer;
                display: flex;
                position: relative;
                padding: 0;
                align-items: center;
                justify-content: space-between;
                margin-left: 25px;
                margin-right: 25px;
                border: 1px solid $light-blue-border;
            }

            i {
                margin-right: 10px;
                font-size: 24px;
            }

            .dropdown-list {
                display: none;
                cursor: pointer;
                padding: 0;
                margin-left: 25px;
                margin-right: 25px;
            }

            h3 {
                font-size: 1em;
                text-align: left;
            }

            h4 {
                border-left: 1px solid $light-blue-border;
                border-right: 1px solid $light-blue-border;
                border-bottom: 1px solid $light-blue-border;
                transition: all 0.3s ease;
                font-size: 0.9em;

                &.selected,
                &:hover {
                    background-color: $hover-green;
                    color: $text-green;
                }
            }
        }

        @media (width <= 830px) {
            width: 666px;
        }

        @media (width <= 786px) {
            width: 509px;
        }

        @media (width <= 768px) {
            width: 666px;
        }

        @media (width <= 686px) {
            width: 509px;
        }

        @media (width <= 578px) {
            width: 351px;
        }

        @media (width <= 357px) {
            width: 299px;
        }
    }

    .integration-lozenges {
        overflow: hidden;
        text-align: left;

        @media (width <= 906px) {
            text-align: center;
        }
    }

    .integration-lozenge {
        display: inline-block;
        vertical-align: top;
        width: 153px;
        height: 200px;
        padding: 0 4px;
        margin: 7px 5px;
        border-radius: 5px;
        border: 1px solid $light-blue-border;
        color: $category-text;
        text-align: center;
        transition: all 0.3s ease;

        &:hover {
            border: 1px solid $border-green;
        }

        &.legacy {
            display: none !important;
        }

        .integration-secondary-line-text {
            margin: 0;
            line-height: 10px;
            font-size: 0.65em;
            font-weight: 400;
        }

        .integration-category {
            font-size: 0.85em;
            margin-top: 5px;
            font-weight: 400;
            color: hsla(216, 23%, 13%, 0.5);
        }

        &.without-category {
            height: 180px;
        }

        .integration-logo {
            margin: 34px auto 20px;
            height: 60px;
        }

        .fa-plus {
            font-size: 59px;
        }

        .integration-name {
            font-size: 1.2em;
            font-weight: 400;
            margin: 10px 4px 0;

            &.with-secondary {
                font-size: 1.1em;
                margin-top: 4px;
            }
        }

        @media (width <= 830px) {
            width: 134px;
            height: 180px;

            .integration-logo {
                margin: 34px auto 15px;
                height: 45px;
            }

            .fa-plus {
                font-size: 45px;
            }

            .integration-name {
                font-size: 1em;
            }

            .integration-category {
                font-size: 0.8em;
            }
        }

        @media (width <= 375px) {
            width: 120px;
        }

        @media (width <= 357px) {
            width: 108px;
            height: 160px;

            &.without-category {
                height: 140px;
            }

            .integration-logo {
                margin: 28px auto 10px;
                height: 45px;
            }

            .integration-name {
                font-size: 0.9em;
            }

            .integration-category {
                font-size: 0.77em;
            }
        }
    }

    .integration-request {
        font-size: 1em;
        padding: 10px 0;

        p {
            padding-bottom: 10px;
        }

        .button {
            padding: 11px 25px;
            margin: 0 auto;
            font-size: 0.9em;
        }
    }
    @media (max-width: 550px) {
        .button {
            display: flex;
            flex-wrap: wrap;
            width: 170px;
            justify-content: center;
        }
    }

    .integration-divider {
        padding: 11px 15px 0;
    }

    /* -- integration instructions -- */

    #integration-instructions-group {
        padding: 0 50px;
        display: none;

        .integration-instruction-block {
            flex-direction: column;

            .integration-lozenge {
                width: 125px;
                height: auto;
                padding: 0 5px 20px;
                margin: 0 21px 20px;
                order: 1;

                .integration-category {
                    display: none;
                }

                @media (width <= 768px) {
                    border: none;

                    display: flex !important;
                    justify-content: space-between;
                    height: auto;
                    width: auto;
                    margin: unset;
                    padding: unset;

                    .integration-logo {
                        margin: 0;
                    }

                    .integration-name {
                        font-size: 1.2em !important;
                        margin-left: 20px;
                    }
                }
            }

            .name {
                display: none;
                font-size: 1.4em;
                font-weight: 400;
                margin: 0;
                padding-bottom: 35px;
            }

            .categories {
                order: 2;

                .integration-category {
                    font-size: 0.9em;
                    font-weight: 400;
                    padding: 6px 3px;
                    margin: 7px 0;
                    width: 165px;
                    text-align: center;
                    border-radius: 5px;
                    transition: all 0.3s ease;
                    background-color: $light-blue-border;
                    color: $category-text;

                    &:hover {
                        background-color: $hover-green;
                        color: $text-green;
                    }
                }
            }

            #integration-list-link {
                margin-left: 30px;
                order: 3;

                span {
                    display: inline-block;
                    margin-left: 5px;

                    @media (width >= 768px) {
                        margin-top: 15px;
                    }

                    @media (width <= 768px) {
                        display: none;
                    }
                }

                @media (width <= 768px) {
                    font-size: 22px;
                }
            }

            @media (width <= 768px) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid $light-blue-border;
            }

            @media (width <= 768px) {
                .name {
                    display: block;
                }

                .categories {
                    display: none;
                }
            }
        }

        .integration-instructions {
            .help-content h3 {
                margin: 20px 0;
            }

            @media (width >= 768px) {
                width: calc(100% - 200px);
            }

            @media (width <= 768px) {
                margin-left: 0;
            }
        }

        @media (width <= 768px) {
            flex-direction: column;
        }

        @media (width <= 450px) {
            padding: 0 25px;
        }
    }
}
