$light-blue-border: hsl(208, 46%, 93%);
$border-green: hsl(170, 47%, 53%);
$hover-green: hsl(170, 65%, 85%);
$text-green: hsl(170, 72%, 32%);
$category-text: hsl(219, 23%, 33%);

.portico-landing.integrations {
    color: hsl(0, 0%, 27%);
    font-weight: normal;

    h1,
    h2,
    h3 {
        &:hover::after {
            content: none;
        }
    }

    .markdown {
        font-size: 1.1rem;
    }

    .main {
        width: calc(100% - 6.25rem);
        max-width: 73.125rem;
        margin: 0 auto;

        background-color: hsl(0, 0%, 100%);
        box-shadow: 0 0 80px hsla(0, 0%, 0%, 0.12);

        visibility: hidden;

        img {
            box-shadow: none;
            border: none;
        }

        @media (max-width: 768px) {
            width: auto;
        }

        @media (max-width: 686px) {
            width: calc(100% - 3.125rem);
            margin: 0 auto;
        }

        @media (max-width: 450px) {
            width: 100%;
        }
    }

    .padded-content {
        padding: 50px 0;

        .inner-content {
            min-height: 54.375rem;

            .show {
                opacity: 1;
                pointer-events: all;
            }

            @media (max-width: 500px) {
                height: auto;
            }
        }

        @media (max-width: 450px) {
            padding: 40px 0;
        }
    }

    ol li {
        list-style: none;
    }

    ul li {
        list-style: circle;
    }

    code {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        overflow: auto;

        font-family: Monaco, Menlo, Consolas, "Courier New", Courier, monospace;
        font-size: 0.85em;
    }

    #integration-main-text {
        padding: 0 15px;
    }

    .portico-page-heading {
        font-size: 2.5em;
        font-weight: 300;
        line-height: 1.2;
        text-align: center;
        border-bottom: none;

        a {
            color: inherit;
        }
    }

    .portico-page-subheading {
        font-weight: 400;
        font-size: 1.1em;
        color: hsl(0, 0%, 67%);
        line-height: 1.2;
        text-align: center;
    }

    #integration-search {
        margin-bottom: 1.875rem;

        .searchbar {
            width: calc(100% - 2.5rem);
            display: flex;
            justify-content: center;
            margin: 1.875rem auto 0;

            .searchbar-reset {
                position: relative;

                input {
                    box-shadow: 0 0 7px 2px hsla(0, 0%, 0%, 0.03);

                    font-size: 1em;
                    font-family: inherit;

                    width: 31.25rem;
                    height: 2.8125rem;
                    padding: 0 20px 0 50px;
                    border-radius: 40px;
                    border: 1px solid $light-blue-border;
                    display: block;

                    &:focus {
                        border: 1px solid $border-green;
                    }

                    @media (max-width: 768px) {
                        width: 23.4375rem;
                        margin: 0 auto;
                    }

                    @media (max-width: 550px) {
                        width: calc(100% - 5.0rem);
                    }
                }

                i.fa-search {
                    position: absolute;
                    left: 20px;
                    top: 13px;
                    font-size: 1.1875rem;
                    color: $border-green;
                }

                @media (max-width: 768px) {
                    width: 27.8125rem;
                }

                @media (max-width: 550px) {
                    width: 100%;
                }
            }
        }
    }

    .catalog {
        margin-top: 1.25rem;
        padding: 0 30px;
        min-height: 31.25rem;

        .integration-categories-sidebar {
            float: left;
            width: 12.5rem;
            padding: 0 30px 0 0;
            margin: 0;

            &.sticky {
                position: sticky;
                top: 40px;
                margin: auto;
                height: 30.625rem;
                z-index: 10;
            }

            h3 {
                font-weight: 400;
                font-size: 1.1em;
                margin: 0;
            }

            h4 {
                font-weight: 400;
                font-size: 0.95em;
                padding: 6px 10px 3px;
                margin: 0.1875rem 0;
                border-radius: 5px;
                transition: all 0.3s ease;
                color: $category-text;

                &.selected,
                &:hover {
                    background-color: $hover-green;
                    color: $text-green;
                    cursor: pointer;
                }
            }

            @media (max-width: 906px) {
                display: none;
            }
        }
    }

    .integration-categories-dropdown {
        margin: 1.875rem auto;
        display: none;

        .heading {
            font-weight: 600;
        }

        @media (max-width: 906px) {
            display: block;
            width: 41.875rem;

            h3,
            h4 {
                font-weight: 400;
                margin: 0;
                padding: 12px 20px;
            }

            .dropdown-toggle {
                cursor: pointer;
                display: flex;
                position: relative;
                padding: 0;
                align-items: center;
                justify-content: space-between;
                margin-left: 1.5625rem;
                margin-right: 1.5625rem;
                border: 1px solid $light-blue-border;
            }

            i {
                margin-right: 0.625rem;
                font-size: 1.5rem;
            }

            .dropdown-list {
                display: none;
                cursor: pointer;
                padding: 0;
                margin-left: 1.5625rem;
                margin-right: 1.5625rem;
            }

            h3 {
                font-size: 1em;
                text-align: left;
            }

            h4 {
                border-left: 1px solid $light-blue-border;
                border-right: 1px solid $light-blue-border;
                border-bottom: 1px solid $light-blue-border;
                transition: all 0.3s ease;
                font-size: 0.9em;

                &.selected,
                &:hover {
                    background-color: $hover-green;
                    color: $text-green;
                }
            }
        }

        @media (max-width: 830px) {
            width: 41.625rem;
        }

        @media (max-width: 786px) {
            width: 31.8125rem;
        }

        @media (max-width: 768px) {
            width: 41.625rem;
        }

        @media (max-width: 686px) {
            width: 31.8125rem;
        }

        @media (max-width: 578px) {
            width: 21.9375rem;
        }

        @media (max-width: 357px) {
            width: 18.6875rem;
        }
    }

    .integration-lozenges {
        overflow: hidden;
        text-align: left;

        @media (max-width: 906px) {
            text-align: center;
        }
    }

    .integration-lozenge {
        display: inline-block;
        vertical-align: top;
        width: 9.5625rem;
        height: 12.5rem;
        padding: 0 4px;
        margin: 0.4375rem 0.3125rem;
        border-radius: 5px;
        border: 1px solid $light-blue-border;
        color: $category-text;
        text-align: center;
        transition: all 0.3s ease;

        &:hover {
            border: 1px solid $border-green;
        }

        &.legacy {
            display: none !important;
        }

        .integration-secondary-line-text {
            margin: 0;
            line-height: 0.625rem;
            font-size: 0.65em;
            font-weight: 400;
        }

        .integration-category {
            font-size: 0.85em;
            margin-top: 0.3125rem;
            font-weight: 400;
            color: hsla(216, 23%, 13%, 0.5);
        }

        &.without-category {
            height: 11.25rem;
        }

        .integration-logo {
            margin: 2.125rem auto 1.25rem;
            height: 3.75rem;
        }

        .fa-plus {
            font-size: 3.6875rem;
        }

        .integration-name {
            font-size: 1.2em;
            font-weight: 400;
            margin: 0.625rem 0.25rem 0 0.25rem;

            &.create-your-own {
                margin-top: 1.6875rem;
                font-size: 1.1em !important;
            }

            &.with-secondary {
                font-size: 1.1em;
                margin-top: 0.25rem;
            }
        }

        @media (max-width: 830px) {
            width: 8.375rem;
            height: 11.25rem;

            .integration-logo {
                margin: 2.125rem auto 0.9375rem;
                height: 2.8125rem;
            }

            .fa-plus {
                font-size: 2.8125rem;
            }

            .integration-name {
                font-size: 1em;
            }

            .integration-name.create-your-own {
                font-size: 0.95em !important;
            }

            .integration-category {
                font-size: 0.8em;
            }
        }

        @media (max-width: 375px) {
            width: 7.5rem;
        }

        @media (max-width: 357px) {
            width: 6.75rem;
            height: 10.0rem;

            &.without-category {
                height: 8.75rem;
            }

            .integration-logo {
                margin: 1.75rem auto 0.625rem;
                height: 2.8125rem;
            }

            .integration-name {
                font-size: 0.9em;
            }

            .integration-category {
                font-size: 0.77em;
            }
        }
    }

    /* -- integration instructions -- */

    #integration-instructions-group {
        padding: 0 50px;
        display: none;

        .integration-instruction-block {
            flex-direction: column;

            .integration-lozenge {
                width: 7.8125rem;
                height: 10.625rem;
                margin: 0 1.3125rem 1.25rem;
                order: 1;

                .integration-category {
                    display: none;
                }

                @media (max-width: 768px) {
                    border: none;

                    display: flex !important;
                    justify-content: space-between;
                    height: auto;
                    width: auto;
                    margin: unset;
                    padding: unset;

                    .integration-logo {
                        margin: 0;
                    }

                    .integration-name {
                        font-size: 1.2em !important;
                        margin-left: 1.25rem;
                    }
                }
            }

            .name {
                display: none;
                font-size: 1.4em;
                font-weight: 400;
                margin: 0;
                padding-bottom: 35px;
            }

            .categories {
                order: 2;
                .integration-category {
                    font-size: 0.9em;
                    font-weight: 400;
                    padding: 6px 3px;
                    margin: 0.4375rem 0;
                    width: 10.3125rem;
                    text-align: center;
                    border-radius: 5px;
                    transition: all 0.3s ease;
                    background-color: $light-blue-border;
                    color: $category-text;

                    &:hover {
                        background-color: $hover-green;
                        color: $text-green;
                    }
                }
            }

            #integration-list-link {
                margin-left: 1.875rem;
                order: 3;

                span {
                    display: inline-block;
                    margin-left: 0.3125rem;

                    @media (min-width: 768px) {
                        margin-top: 0.9375rem;
                    }

                    @media (max-width: 768px) {
                        display: none;
                    }
                }

                @media (max-width: 768px) {
                    font-size: 1.375rem;
                }
            }

            @media (max-width: 768px) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1.25rem;
                padding-bottom: 20px;
                border-bottom: 1px solid $light-blue-border;
            }

            @media (max-width: 768px) {
                .name {
                    display: block;
                }

                .categories {
                    display: none;
                }
            }
        }

        .integration-instructions {
            .help-content h3 {
                margin: 1.25rem 0;
            }

            @media (min-width: 768px) {
                width: calc(100% - 12.5rem);
            }

            @media (max-width: 768px) {
                margin-left: 0;
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }

        @media (max-width: 450px) {
            padding: 0 25px;
        }
    }
}
