html {
    min-height: 500px;
}

.flex {
    display: flex;
    padding: 110px 0 80px;
    align-items: center;
    justify-content: center;

    min-height: calc(100vh - 402px);
}

.m-10 {
    margin: 10px;
}

.white-box {
    padding: 0;
    width: 90%;
    max-width: 1000px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 6px;
    overflow: hidden;

    a {
        color: hsla(217, 100%, 50%, 1);

        &:hover {
            text-decoration: underline;
        }
    }
}

.bottom-text {
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 0.9em;
}

.bottom-text-large {
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.2em;
}

.grey {
    color: hsl(0, 0%, 67%);
}

.find-account-page-container #find_account i {
    font-size: 0.8em;
}

.app-main {
    &.white-box {
        display: grid;
        grid-template-columns: minmax(300px,45%) 1fr;
    }

    .login-page-header {
        font-size: 1.5em;
        font-weight: 300;
        margin: 0;
        height: 0;
        transform: translateX(-15px) translateY(-60px);
        text-align: left;
    }

    .login-page-container.dev-login {
        .login-page-header {
            height: auto;
            margin-top: 20px;
            transform: none;
            text-align: center;
        }

        h2 {
            font-size: 1em;
            font-weight: 400;
        }

        .group {
            display: inline-block;
            vertical-align: top;

            margin: 0 20px;
        }
    }

    &.forgot-password-container {
        font-weight: 400;
    }

    &.find-account-page-container {
        width: 500px;
        font-weight: 400;
    }

    &.goto-account-page-container {
        width: 500px;
        font-weight: 400;

        .realm-redirect-form {
            text-align: center;

            .inline-block {
                text-align: center;
            }
        }
    }

    &.confirm-continue-page-container {
        width: 400px;
        font-weight: 400;

        .white-box {
            min-width: 365px;
        }

        .form-inline {
            display: inline-block;
        }

        .form-inline .outline {
            border: 2px inset hsl(213, 23%, 25%);
            background-color: hsl(0, 0%, 100%);
            color: hsl(213, 23%, 25%);
            padding: 13px 20px 11px;

            &:hover {
                background-color: hsl(213, 65%, 97%);
            }
        }

        p {
            font-size: 19px;
        }
    }
}

.login-page-container {
    &.dev-login {
        margin-top: 20px;
        border: none;
        display: unset;

        .login-form {
            width: auto;
        }
    }

    .group {
        margin: 0 20px;
        display: inline-block;
    }

    input[type="submit"] {
        color: hsl(0, 0%, 67%);
        border: 1px solid hsl(0, 0%, 87%);
        border-radius: 4px;
        background-color: transparent;

        transition: color 0.3s ease, border 0.3s ease;

        &:hover {
            border-color: hsl(0, 0%, 53%);
            color: hsl(0, 0%, 27%);
        }

        &.btn-admin {
            border-color: hsl(170, 41%, 52%);
            color: hsl(170, 41%, 52%);

            &:hover {
                color: hsl(156, 62%, 61%);
                border-color: hsl(156, 62%, 61%);
            }
        }
    }
}

.new-style .login-page-container .alert,
.register-page-container .new-style .alert {
    margin: 0;
    text-align: left;
    font-size: 0.7em;
    font-weight: 600;
}

.register-page-container {
    &.closed-realm {
        .right-side {
            display: none;
        }

        .left-side {
            border-right: none;
        }

        .invite-required {
            display: block;

            font-weight: normal;
        }
    }

    .invite-required {
        display: none;

        font-size: 0.9em;
        font-weight: 400;
        line-height: 150%;
        color: hsl(0, 100%, 70%);

        i {
            margin-right: 10px;
        }
    }
}

.find-account-page-container h3,
.forgot-password-container h3 {
    margin-top: 0;

    font-weight: 300;
    font-size: 2em;
}

.deactivated-realm-container {
    width: 503px;
}

.header {
    color: hsl(0, 0%, 27%);
    background-color: hsl(0, 0%, 100%);
    position: fixed;
    width: 100%;
    top: 0;

    .top-links a,
    .header-main .logo span {
        color: hsl(0, 0%, 27%);
    }
}

.register-form {
    &.new-style {
        display: grid;
        grid-template-columns: 45% 1fr;
        color: hsl(0, 0%, 45%);
    }

    #errors {
        font-size: 0.8em;
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: 10px;

        &:empty {
            margin-top: 0;
        }
    }

    button {
        margin-top: 22px;
    }
}

.account-accept-terms-page {
    #registration,
    #accept_tos_button {
        margin: 0;
    }

    .fakecontrol {
        font-weight: normal;
    }

    .description {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 400;
    }

    .center-block {
        max-width: 800px;

        .controls {
            margin-bottom: 5px;
        }
    }

    #accept_tos_button {
        margin-top: 20px;
    }
}

.register-account {
    .terms-of-service .input-group,
    .default-stream-groups .input-group,
    .default-stream-groups p {
        width: 330px;
        margin: 0 auto 10px;
    }

    .terms-of-service .text-error {
        position: relative;
        display: block;
        top: -5px;
        padding: 0;
        height: 0;

        font-size: 0.7em;
        font-weight: 600;
    }
}

.account-creation {
    font-weight: 400;

    .pitch {
        margin-bottom: 0;
    }

    .alert.alert-info {
        padding: 8px 14px;
        text-align: left;

        font-size: 1em;
        line-height: 1.3;
    }

    .white-box p:last-of-type {
        margin-bottom: 0;
    }
}

.relative {
    position: relative;
}

button {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0 5px;
    padding: 15px 22px;

    font-family: "Source Sans 3", sans-serif;

    font-size: 1rem;
    font-weight: 400;
    box-sizing: border-box;
    outline: none;
    color: hsl(216, 100%, 100%);
    background-color: hsl(215, 93%, 54%);
    border: none;
    border-radius: 5px;
    transition: transform 0.2s;

    &:active {
        transform: scale(0.925);
    }

    &.full-width {
        width: 100%;
    }
}

.new-style {
    .light-blue-button {
        color: hsl(215, 93%, 54%);
        background-color: hsl(216, 100%, 97%);
        border: solid 1px hsla(0, 0%, 100%, 0);
        border-radius: 5px;
        transition: transform 0.2s;

        &:hover {
            border-color: hsl(215, 93%, 54%);
        }

        &:active {
            transform: scale(0.925);
        }

        &.full-width {
            width: 100%;
        }
    }

    .alert-info {
        font-weight: 400;
    }

    .demo-organization-warning {
        position: relative;
        display: block;
        background-color: hsl(360, 100%, 93%);
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 4px;
        padding: 10px;
        margin: 10px 0;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        color: hsl(0, 0%, 27%);

        a {
            text-decoration: none;
        }

        &::before {
            display: inline;
            margin-right: 8px;

            font-family: FontAwesome;
            font-weight: 600;
            content: "\f071";
        }
    }

    .alert {
        &:not(.alert-info) {
            padding: 0;
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 0.7em;
            line-height: 1.2;
            background-color: transparent;

            border: none;
            color: hsl(0, 100%, 70%);
        }

        &.alert-error {
            text-align: left;
        }
    }

    .form-inline {
        margin: 0;
    }

    .get-started {
        font-size: 1.75rem;
        color: hsl(0, 0%, 20%);
        font-weight: 800;
        margin: 1.5rem 0 1.25rem 5px;
    }

    .input-box {
        position: relative;
        vertical-align: top;

        input[type="text"],
        input[type="email"],
        input[type="password"],
        textarea,
        select {
            padding: 10px 32px 10px 12px;
            margin: 25px 0 5px;

            font-family: "Source Sans 3", sans-serif;
            font-size: 1.2rem;
            line-height: normal;
            height: auto;

            min-width: 100%;
            width: 100%;
            box-sizing: border-box;

            border: 1px solid hsla(0, 0%, 100%, 0);
            background: hsla(0, 0%, 0%, 0.025);
            box-shadow: none;
            border-radius: 4px;

            transition: border 0.3s ease;

            &::placeholder {
                font-size: 1rem;
            }

            &:focus:invalid {
                box-shadow: none;
                color: hsl(0, 0%, 27%);
            }

            &:focus {
                border: 1px solid hsl(0, 0%, 75%);
            }
        }

        input[type="email"] {
            margin-bottom: 10px;
        }

        label {
            position: absolute;
            top: 0;
            left: 0;

            margin-top: 1px;

            transition: all 0.3s ease;
        }

        &.moving-label {
            input[type="text"]:invalid + label,
            input[type="email"]:invalid + label,
            input[type="password"]:invalid + label {
                transform: translateY(39px) translateX(14px);
                font-size: 1.2rem;
                font-weight: 400;
                color: hsl(0, 0%, 67%);

                pointer-events: none;
            }
        }

        label,
        input[type="text"]:focus + label,
        input[type="email"]:focus + label,
        input[type="password"]:focus + label,
        select:focus + label,
        input[type="text"]:valid + label,
        input[type="email"]:valid + label,
        input[type="password"]:valid + label,
        select:valid + label {
            left: 0;
            transform: translateY(0) translateX(0);
            pointer-events: auto;

            font-size: 1rem;
            font-weight: 600;
            color: hsl(0, 0%, 27%);
        }

        /* The width of the "Organization name" text box
           right above this one is also 326px. */
        select {
            width: 326px;
        }

        p.text-error {
            display: block;
            padding: 0;

            color: hsl(0, 100%, 70%);
            font-size: 0.7em;
            font-weight: 600;
            text-align: left;
            line-height: 1.2;

            position: relative;
            left: 1px;
        }

        label.text-error {
            display: block;

            top: 0;
            right: 0;
            text-align: right;
            color: hsl(0, 100%, 70%);
            font-size: 0.7em;
            font-weight: 600;
            padding-left: 0;
        }

        &.horizontal {
            display: flex;
            align-items: flex-end;
            gap: 10px;

            .inline-block {
                flex-grow: 1;
            }
        }
    }

    .lead {
        margin: 0;
    }

    .inline-block {
        text-align: left;
    }

    .contact-admin p.invite-hint {
        font-size: 1.3rem;
        margin-top: 0.8rem;
        text-align: center;
    }
}

#login_form {
    .input-box {
        display: block;
    }

    .loader {
        display: none;
        vertical-align: top;
        position: relative;

        height: 30px;
        margin-top: -10px;
        top: 5px;
    }
}

/* -- /accounts/register/ page -- */
.portico-page {
    .pitch {
        h1 {
            margin-bottom: 5px;
        }

        p {
            font-weight: 400;
            color: hsl(0, 0%, 67%);
        }
    }

    .or {
        width: 100%;
        display: block;
        margin: 20px auto;
        color: hsl(0, 0%, 70%);
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        position: relative;
        z-index: 1;

        &::before {
            content: " ";

            display: inline-block;
            position: absolute;
            width: calc(100% - 5px);
            top: calc(50% - 2px);
            left: 0;
            z-index: -1;

            border-bottom: 2px solid hsl(0, 0%, 87%);
        }

        span {
            background-color: hsl(0, 0%, 100%);
            padding: 0 5px;
        }
    }
}

.register-account .pitch,
.account-accept-terms-page .pitch {
    margin-bottom: 5px;
    text-align: center;
}

.org-info-card {
    --avatar-size :60px;

    display: grid;
    grid-template-columns: var(--avatar-size) 1fr;
    gap: 1rem;
    margin-top: 2.5rem;
    padding: 1.5rem 7%;
    border-radius: 8px;
    /* border: solid 1px hsla(0, 0%, 100%, 0.25); */
    background: linear-gradient(135deg, hsla(0, 0%, 100%, 0.05) 10%, hsla(0, 0%, 100%, 0.085) 90%);
    box-shadow: 8px 13px 18px 5px hsla(0, 0%, 0%, 0.065);

    &__avatar {
        grid-column: 1;
        border-radius: 8px;
        width: var(--avatar-size);
        height: var(--avatar-size);
    }

    &__info {
        grid-column: 2;
    }

    &__name {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 140%;
    }

    &__path {
        margin: 0;
        font-size: 13px;
        font-weight: 600;
        line-height: 140%;
        opacity: 0.75;
    }

    &__description {
        grid-column: 1 / 3;
        font-size: 0.85em;
        font-weight: 300;
        line-height: 150%;

        p {
            margin-bottom: 0;
        }
    }

    &__form {
        margin: 0;
        padding-top: 0.5rem;
        grid-column: 1 / 3;
    }

    &__button {
        width: 100%;
        margin: 0 0 0 auto;
        padding: 1em;
        font-size: 0.85rem;
        font-weight: 600;
        color: hsl(215, 93%, 54%);
        background-color: hsl(0, 0%, 100%);
        border-radius: 30px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.login {
    &__header {
        text-align: center;
        margin-bottom: 1rem;

        .logo {
            height: 40px;
            margin-bottom: 10px;
        }

        .get-started {
            margin: 0 0 1rem;
            font-size: 2rem;
            color: hsl(0, 0%, 100%);
        }
    }
}

.split-view {
    .left-side {
        padding: 2.5rem 7%;
        background: linear-gradient(135deg, hsl(212, 100%, 65%) 20%, hsl(234, 79%, 54%) 90%);
        color: hsl(0, 0%, 100%);
    }

    .right-side {
        padding: 2rem 10%;
    }
}

.confirm-email-change-page .white-box {
    max-width: 500px;
}

button.login-social-button {
    width: 100%;
    height: auto;
    line-height: 1;
    font-size: 15px;
    background-color: hsla(0, 0%, 100%, 0);
    border-radius: 30px;
    border: solid 1px hsl(0, 0%, 87%);
    margin: 0;

    color: hsl(0, 0%, 45%);

    &:hover {
        background-color: hsla(0, 0%, 0%, 0.035);
    }

    span {
        display: inline-block;
        vertical-align: middle;
        width: 1.25em;
        height: 1.25em;
        margin-right: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

button#login_auth_button_gitlab,
button#register_auth_button_gitlab {
    /* GitLab icon size looks a bit inconsistent with others. This fixes it. */
    background-size: auto 90%;
    background-position-x: 3px;
}

.login-page-container .right-side .actions,
.back-to-login-wrapper {
    margin: 30px 5px 0;
    text-align: left;
}

.back-to-login-wrapper {
    line-height: 0;

    .back-to-login i {
        position: relative;
        top: 5px;

        font-size: 0.8em;
    }
}

.split-view .actions a,
.back-to-login {
    color: hsla(217, 100%, 50%, 1);
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8em;
    line-height: 1.5;

    &:hover {
        text-decoration: underline;
    }
}

#registration {
    width: auto;
    padding: 0;
    margin: 30px;

    fieldset {
        margin: 30px;

        .input-box:last-child {
            margin-bottom: 0;
        }
    }

    .info-box {
        margin: 10px 0 0 20px;

        .organization-name {
            max-width: 228px;
        }
    }

    .input-box {
        display: block;
        text-align: center;
        width: 330px;
        margin: 25px auto 10px;
        position: relative;

        &.full-width {
            width: calc(100% - 20px);
        }

        label {
            position: absolute;
            margin: 0;
            top: 0;
            left: 2px;

            &.static {
                width: 100%;
                text-align: left;
                position: static !important;
                margin-left: 2px;
            }
        }

        &.support-form-field {
            width: 450px;

            input,
            textarea {
                width: 400px;
                font-size: 1rem;
            }
        }
    }

    & [for="realm_in_root_domain"] {
        font-weight: normal !important;
    }

    .register-button-box {
        text-align: center;
    }

    .register-button {
        margin: 25px auto 30px;
        width: 330px;
        border-radius: 4px;
    }

    .support-submit-button {
        margin-top: 20px;
        margin-bottom: 5px;
        width: 450px;
    }

    .register-button .loader {
        display: none;
        vertical-align: top;
        position: relative;
        height: 30px;
        margin-top: -10px;
        top: 5px;
    }

    #id_team_subdomain.subdomain {
        margin-top: 0;
        text-align: right;
        position: relative;
        padding-right: 10px;

        width: 150px;

        + .realm_subdomain_label {
            top: 15px;
            margin-left: 180px;
            display: inline-block;

            font-weight: normal;
            font-size: inherit;
        }
    }

    #subdomain_section {
        .inline-block {
            width: 100%;
        }

        .or {
            margin-top: 0;
        }
    }

    #id_email,
    #support_from,
    #support_realm {
        font-weight: normal;
        margin: 2px;
        padding-top: 25px;
        text-align: left;
        overflow-wrap: break-word;
    }

    .help-text {
        width: 100%;
        max-width: none;
        margin: 2px 0;
        text-align: left;
        color: hsl(0, 0%, 47%);
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.2;
    }

    .help-inline {
        display: block;
    }

    legend {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        font-size: 21px;
        line-height: 40px;
        color: hsla(0, 0%, 0%, 0.5);
        border: 0;
        border-bottom: 1px solid hsla(0, 0%, 90%, 1);

        + .input-box {
            margin-top: 20px;
        }
    }

    .center-block .pitch {
        margin-bottom: 0;
    }

    .input-group {
        label {
            font-size: 1rem;

            &.inline-block {
                margin-top: -1px;
            }

            &.marketing_emails_checkbox {
                text-indent: -24px;
                margin-left: 24px;
            }
        }

        &.radio {
            margin: 0;
            padding: 0;
        }
    }

    .org-url {
        margin-bottom: 5px !important;
    }
}

.static.org-url + #subdomain_section {
    margin-top: 0 !important;

    .or {
        display: none;
    }
}

#profile_info_section {
    #profile_avatar {
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 8px;
        width: 120px;
        height: 120px;
        margin: 0 auto 10px;
    }

    #profile_full_name {
        font-size: 1.2rem;
        font-weight: 400;
    }
}

#source_realm_select_section {
    position: relative;
    top: 15px;
    margin-bottom: 20px;
    font-size: 22px;
}

#source_realm_select {
    font-size: 1.2rem;
    height: 45px;
    width: 325px;

    &:focus {
        outline: none;
    }
}

.goto-account-page {
    #realm_redirect_subdomain {
        text-align: right;
        position: relative;
        padding-right: 10px;
    }

    #realm_redirect_external_host {
        font-size: 20px;
        top: 13px;
        left: 5px;
        position: relative;
    }

    #realm_redirect_description {
        top: 15px;
        position: relative;
    }

    #enter-realm-button {
        margin-top: 14px;
    }
}

#choose_email {
    flex-direction: column;

    .white-box {
        min-width: 450px;
        padding: 30px 0 50px;
    }

    form {
        padding: 0;
        margin: 0;

        &.form-horizontal:hover {
            background-color: hsl(202, 56%, 91%);
            cursor: pointer;

            i.fa {
                color: hsl(203, 63%, 76%);
            }
        }
    }

    .choose-email-box {
        padding: 13px 0;
        margin: 0 30px;
        border-bottom: 1px solid hsl(0, 0%, 95%);
        display: flex;
        align-items: center;

        p {
            margin: 0;
            font-size: 0.8em;

            &:last-child {
                line-height: 1.2em;
            }
        }

        .email {
            font-size: 0.95em;
            font-weight: 500;
        }

        img,
        i {
            width: 35px;
            height: 35px;
            margin-right: 10px;
            border-radius: 3px;
        }

        i.fa {
            color: hsl(0, 0%, 67%);
            text-align: center;
            line-height: 38px;

            &::before {
                font-size: 30px;
            }
        }
    }
}

.text-error {
    color: hsl(0, 100%, 70%);
}

/* -- media queries -- */

@media (width <= 815px) {
    .flex {
        min-height: calc(100vh - 530px);
    }

    .white-box {
        grid-template-columns: 1fr;
    }
}

@media (width <= 795px) {
    .white-box {
        grid-template-columns: 1fr !important;
    }
}

@media (width <= 500px) {
    .new-style .get-started {
        font-size: 1.6em;
    }

    .forgot-password-container form {
        .input-box {
            text-align: center;
        }

        button {
            width: 328px;
        }
    }

    .account-creation {
        font-weight: 400;
    }

    .flex {
        /* the header becomes smaller, so comp for that. */
        min-height: calc(100vh - 505px);
    }
}

@media (width <= 400px) {
    .flex {
        min-height: calc(100vh - 560px);
    }
}
