body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif !important;
    background-color: hsl(0, 0%, 98%);
}

hr {
    border-width: 2px;
}

p {
    margin-bottom: 0px;
}

.app-main {
    padding: 0;
    width: auto;
    max-width: none;
}

.svg-container {
    margin: 20px;
}

.center-charts {
    margin: 30px auto;
    width: 790px; /* chart = 750px + 20px padding */
}

.stats-page .alert {
    text-align: center;
}

.chart-container {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0px;
    padding: 20px;
    border: 2px solid hsl(0, 0%, 93%);
    background-color: hsl(0, 0%, 100%);

    button {
        position: relative;
        z-index: 1;
    }

    h1 {
        margin-top: 0px;
        font-size: 1.5em;
    }

    &:not(.pie-chart) .number-stat {
        position: relative;
        top: -30px;
    }

    &.pie-chart hr {
        margin-bottom: 8px;
    }

    .button-container {
        position: relative;
        z-index: 1;

        label {
            margin: 3px;
        }

        > * {
            display: inline-block;
            vertical-align: top;
        }
    }
}

.analytics-page-header {
    margin-left: 10px;
}

.rangeslider-container {
    user-select: none;
}

.rangeselector text {
    font-weight: 400;
}

.pie-chart {
    .number-stat {
        float: left;
        font-size: 0.8em;
        font-weight: 400;
    }

    .buttons {
        float: right;

        button {
            padding: 2px 6px;
        }
    }
}

.buttons button {
    background-color: hsl(0, 0%, 94%);

    &.selected {
        background-color: hsl(0, 0%, 85%);
    }
}

.button-active-users {
    float: right;
}

.button {
    font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif !important;
    border: none;
    border-radius: 4px;
    outline: none;

    &:hover {
        background-color: hsl(0, 0%, 84%) !important;
    }

    &[data-user="everyone"] {
        margin-right: 10px;
    }
}

.docs_link a {
    font-weight: 300;
    color: inherit;
    text-decoration: none;
}

.tooltip-inner {
    padding: 10px;
    max-width: 350px;

    font-size: 0.75rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.4;
}

.last-update {
    margin: 0px 0px 30px 0px;

    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    color: hsl(0, 0%, 67%);
}

#users_hover_humans,
#read_hover_everyone,
#hover_human {
    margin-left: 10px;
}

#id_messages_sent_by_client {
    min-height: 100px;
    width: 750px;
    position: relative;
}

#id_messages_sent_by_message_type {
    height: 300px;
    width: 750px;
    position: relative;
}

#id_messages_sent_over_time,
#id_messages_read_over_time {
    height: 400px;
    width: 750px;
    position: relative;

    &[last_value_is_partial='true'] .points path:last-of-type {
        opacity: 0.5;
    }
}

#id_number_of_users {
    height: 370px;
    width: 750px;
    position: relative;
}

#id_stats_errors {
    display: none;
}

#users_hover_info,
#read_hover_info,
#hoverinfo {
    display: none;
    font-size: 0.8em;
    font-weight: 400;
    position: relative;
    height: 0px;
    top: -35px;
    left: 40px;
}

.spinner::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 80%);
    border-top-color: hsl(155, 93%, 42%);
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 1680px) {
    .center-charts {
        width: calc(816px * 2); /* 790px + 4px for borders + 2px for il-block + 20px margins */

        .left,
        .right {
            display: inline-block;
            vertical-align: top;
            margin: 0px 10px;
            width: 790px;
        }
    }
}
