{# Subscriptions management tab of the app. #}

    <div class="subscriptions">
      <h1><i class="icon-vector-exchange streams-icon"></i>{{ _("Streams") }}</h1>
      <div class="alert" id="subscriptions-status">
        <span id="response"></span>
        <span id="close-subscriptions-status"><i class="icon-vector-remove"></i></span>
      </div>
      <div id="subs_page_loading_indicator"></div>
      <div id="subscriptions_table">
      </div>
    </div>

{% include "zerver/stream_creation_prompt.html" %}
