<div id="about-zulip" class="overlay flex new-style" tabindex="-1" role="dialog" data-overlay="about-zulip"
  aria-labelledby="about-zulip-label" aria-hidden="true">
    <div class="overlay-content modal-bg">
        <button type="button" class="exit" aria-label="{{ _('Close') }}"><span aria-hidden="true">&times;</span></button>
        <div class="modal-body">
            <img id="zulip_logo" src="/static/images/favicon.png" alt="" />
            <div class="zulip_title">Zulip</div>
            <p>{{ _('Zulip ' + zulip_version)}}</p>
            <p>Zulip is <a href="https://github.com/zulip/zulip">open-source software</a></p>
        </div>
    </div>
</div>
