<div class="modal hide modal-bg new-style" id="bankruptcy" tabindex="-1" role="dialog"
  aria-labelledby="bankruptcy-label" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}"><span aria-hidden="true">&times;</span></button>
        <h3 id="bankruptcy-label">{{ _('Welcome back') }}</h3>
    </div>

    <div id="bankruptcy-unread-count"></div>

    <div class="modal-footer">
        <div id="bankruptcy-loader"></div>
        <button id="yes-bankrupt" class="bankruptcy_button button small rounded sea-green">{{ _('Yes, please!') }}</button>
        <button id="no-bankrupt" class="bankruptcy_button button small rounded"
          data-dismiss="modal">{{ _("No, I'll catch up.") }}</button>
    </div>
</div>
