<div class="overlay-modal" id="keyboard-shortcuts" tabindex="-1" role="dialog"
  aria-label="{{ _('Keyboard shortcuts') }}">
    <div class="modal-body" tabindex="0">
        <div>
            <table class="hotkeys_table table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{{ _("The basics") }}</th>
                    </tr>
                </thead>
                <tr>
                    <td class="definition">{% trans %}Reply to message{% endtrans %}</td>
                    <td class="hotkey">Enter or r</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}New stream message{% endtrans %}</td>
                    <td class="hotkey">c</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}New private message{% endtrans %}</td>
                    <td class="hotkey">x</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Cancel compose{% endtrans %}</td>
                    <td class="hotkey">Esc or Ctrl + [</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}View drafts{% endtrans %}</td>
                    <td class="hotkey">d</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Next message{% endtrans %}</td>
                    <td class="hotkey">Down or j</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Last message{% endtrans %}</td>
                    <td class="hotkey">End or G</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Next unread topic{% endtrans %}</td>
                    <td class="hotkey">n</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Next unread private message{% endtrans %}</td>
                    <td class="hotkey">p</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Initiate a search{% endtrans %}</td>
                    <td class="hotkey">Ctrl + k or /</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Show keyboard shortcuts{% endtrans %}</td>
                    <td class="hotkey">?</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys_table table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{{ _("Navigation") }}</th>
                    </tr>
                </thead>
                <tr>
                    <td class="definition">{% trans %}Initiate a search{% endtrans %}</td>
                    <td class="hotkey">Ctrl + k or /</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Search streams{% endtrans %}</td>
                    <td class="hotkey">q</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Search people{% endtrans %}</td>
                    <td class="hotkey">w</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Previous message{% endtrans %}</td>
                    <td class="hotkey">Up or k</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Next message{% endtrans %}</td>
                    <td class="hotkey">Down or j</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Scroll up{% endtrans %}</td>
                    <td class="hotkey">PgUp or K</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Scroll down{% endtrans %}</td>
                    <td class="hotkey">PgDn or J or Space</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Last message{% endtrans %}</td>
                    <td class="hotkey">End or G</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}First message{% endtrans %}</td>
                    <td class="hotkey">Home</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys_table table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{% trans %}Composing messages{% endtrans %}</th>
                    </tr>
                </thead>
                <tr>
                    <td class="definition">{% trans %}Reply to message{% endtrans %}</td>
                    <td class="hotkey">Enter or r</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Reply to author{% endtrans %}</td>
                    <td class="hotkey">R</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Quote and reply to message{% endtrans %}</td>
                    <td class="hotkey">></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}New stream message{% endtrans %}</td>
                    <td class="hotkey">c</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}New private message{% endtrans %}</td>
                    <td class="hotkey">x</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Compose a reply @-mentioning author{% endtrans %}</td>
                    <td class="hotkey">@</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Send message{% endtrans %}</td>
                    <td class="hotkey">Tab then Enter or Ctrl + Enter</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Insert new line{% endtrans %}</td>
                    <td class="hotkey">Shift + Enter</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Cancel compose{% endtrans %}</td>
                    <td class="hotkey">Esc or Ctrl + [</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys_table table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{{ _("Narrowing") }}</th>
                    </tr>
                </thead>
                <tr>
                    <td class="definition">{% trans %}Narrow to stream{% endtrans %}</td>
                    <td class="hotkey">s</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Narrow to topic or PM conversation{% endtrans %}</td>
                    <td class="hotkey">S</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Narrow to all private messages{% endtrans %}</td>
                    <td class="hotkey">shift + p</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Narrow to next unread topic{% endtrans %}</td>
                    <td class="hotkey">n</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Narrow to next unread private message{% endtrans %}</td>
                    <td class="hotkey">p</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Cycle between stream narrows{% endtrans %}</td>
                    <td class="hotkey">A or D</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Narrow to all unmuted messages{% endtrans %}</td>
                    <td class="hotkey">Esc or Ctrl + [</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Narrow to current compose box recipient{% endtrans %}</td>
                    <td class="hotkey">Ctrl + .</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys_table table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{{ _("Message actions") }}</th>
                    </tr>
                </thead>
                <tr>
                    <td class="definition">{% trans %}Edit your last message{% endtrans %}</td>
                    <td class="hotkey">Left</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Show message sender's profile{% endtrans %}</td>
                    <td class="hotkey">u</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Show images in thread{% endtrans %}</td>
                    <td class="hotkey">v</td>
                </tr>
                <tr id="edit-message-hotkey-help">
                    <td class="definition">{% trans %}Edit selected message{% endtrans %}</td>
                    <td class="hotkey">e</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Star selected message{% endtrans %}</td>
                    <td class="hotkey">Ctrl + s</td>
                </tr>
                <tr>
                    <td class="definition">
                        {% trans %}React to selected message with{% endtrans %}
                        <img alt=":thumbs_up:"
                          class="emoji"
                          src="/static/generated/emoji/images/emoji/unicode/1f44d.png"
                          title=":thumbs_up:"/>
                    </td>
                    <td class="hotkey">+</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Collapse/show selected message{% endtrans %}</td>
                    <td class="hotkey">-</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Toggle topic mute{% endtrans %}</td>
                    <td class="hotkey">M</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys_table table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{{ _("Drafts") }}</th>
                    </tr>
                </thead>
                <tr>
                    <td class="definition">{% trans %}View drafts{% endtrans %}</td>
                    <td class="hotkey">d</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Edit selected draft{% endtrans %}</td>
                    <td class="hotkey">Enter</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Delete selected draft{% endtrans %}</td>
                    <td class="hotkey">Backspace</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys_table table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{{ _("Menus") }}</th>
                    </tr>
                </thead>
                <tr>
                    <td class="definition">{% trans %}Toggle the gear menu{% endtrans %}</td>
                    <td class="hotkey">g</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Open message menu{% endtrans %}</td>
                    <td class="hotkey">i</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Open reactions menu{% endtrans %}</td>
                    <td class="hotkey">:</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Show keyboard shortcuts{% endtrans %}</td>
                    <td class="hotkey">?</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys_table table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{{ _("Streams settings") }}</th>
                    </tr>
                </thead>
                <tr>
                    <td class="definition">{% trans %}Scroll through streams{% endtrans %}</td>
                    <td class="hotkey">Up or Down</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Switch between tabs{% endtrans %}</td>
                    <td class="hotkey">Left or Right</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}View stream messages{% endtrans %}</td>
                    <td class="hotkey">V</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Subscribe to/unsubscribe from selected stream{% endtrans %}</td>
                    <td class="hotkey">S</td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Create new stream{% endtrans %}</td>
                    <td class="hotkey">n</td>
                </tr>
            </table>
        </div>
        <hr/>
        <a href="/help/keyboard-shortcuts" target="_blank">{% trans %}Detailed keyboard shortcuts documentation{% endtrans %}</a>
    </div>
</div>
