<div class="overlay-modal" id="keyboard-shortcuts" tabindex="-1" role="dialog"
  aria-label="{{ _('Keyboard shortcuts') }}">
    <div class="modal-body" tabindex="0">
        <div>
            <table class="hotkeys_table table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{{ _("The basics") }}</th>
                    </tr>
                </thead>
                <tr>
                    <td class="definition">{% trans %}Reply to message{% endtrans %}</td>
                    <td><span class="hotkey">Enter</span> or  <span class="hotkey">r</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}New stream message{% endtrans %}</td>
                    <td><span class="hotkey">c</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}New private message{% endtrans %}</td>
                    <td><span class="hotkey">x</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Cancel compose{% endtrans %}</td>
                    <td><span class="hotkey">Esc</span> or <span class="hotkey">Ctrl + [</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}View drafts{% endtrans %}</td>
                    <td><span class="hotkey">d</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Next message{% endtrans %}</td>
                    <td><span class="hotkey">Down</span> or <span class="hotkey">j</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Last message{% endtrans %}</td>
                    <td><span class="hotkey">End</span> or <span class="hotkey">G</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Next unread topic{% endtrans %}</td>
                    <td><span class="hotkey">n</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Next unread private message{% endtrans %}</td>
                    <td><span class="hotkey">p</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Initiate a search{% endtrans %}</td>
                    <td><span class="hotkey">Ctrl + k</span> or <span class="hotkey">/</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Show keyboard shortcuts{% endtrans %}</td>
                    <td><span class="hotkey">?</span></td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys_table table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{{ _("Navigation") }}</th>
                    </tr>
                </thead>
                <tr>
                    <td class="definition">{% trans %}Initiate a search{% endtrans %}</td>
                    <td><span class="hotkey">Ctrl + k</span> or <span class="hotkey">/</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Search streams{% endtrans %}</td>
                    <td><span class="hotkey">q</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Search people{% endtrans %}</td>
                    <td><span class="hotkey">w</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Previous message{% endtrans %}</td>
                    <td><span class="hotkey">Up</span> or <span class="hotkey">k</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Next message{% endtrans %}</td>
                    <td><span class="hotkey">Down</span> or <span class="hotkey">j</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Scroll up{% endtrans %}</td>
                    <td><span class="hotkey">PgUp</span> or <span class="hotkey">K</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Scroll down{% endtrans %}</td>
                    <td><span class="hotkey">PgDn</span> or <span class="hotkey">J</span> or <span class="hotkey">Space</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Last message{% endtrans %}</td>
                    <td><span class="hotkey">End</span> or <span class="hotkey">G</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}First message{% endtrans %}</td>
                    <td><span class="hotkey">Home</span></td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys_table table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{% trans %}Composing messages{% endtrans %}</th>
                    </tr>
                </thead>
                <tr>
                    <td class="definition">{% trans %}Reply to message{% endtrans %}</td>
                    <td><span class="hotkey">Enter</span> or <span class="hotkey">r</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Reply to author{% endtrans %}</td>
                    <td><span class="hotkey">R</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Quote and reply to message{% endtrans %}</td>
                    <td><span class="hotkey">></span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}New stream message{% endtrans %}</td>
                    <td><span class="hotkey">c</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}New private message{% endtrans %}</td>
                    <td><span class="hotkey">x</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Compose a reply @-mentioning author{% endtrans %}</td>
                    <td><span class="hotkey">@</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Send message{% endtrans %}</td>
                    <td><span class="hotkey">Tab then Enter</span> or <span class="hotkey">Ctrl + Enter</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Insert new line{% endtrans %}</td>
                    <td><span class="hotkey">Shift + Enter</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Cancel compose{% endtrans %}</td>
                    <td><span class="hotkey">Esc</span> or <span class="hotkey">Ctrl + [</span></td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys_table table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{{ _("Narrowing") }}</th>
                    </tr>
                </thead>
                <tr>
                    <td class="definition">{% trans %}Narrow to stream{% endtrans %}</td>
                    <td><span class="hotkey">s</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Narrow to topic or PM conversation{% endtrans %}</td>
                    <td><span class="hotkey">S</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Narrow to all private messages{% endtrans %}</td>
                    <td><span class="hotkey">shift + p</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Narrow to next unread topic{% endtrans %}</td>
                    <td><span class="hotkey">n</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Narrow to next unread private message{% endtrans %}</td>
                    <td><span class="hotkey">p</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Cycle between stream narrows{% endtrans %}</td>
                    <td><span class="hotkey">A</span> or <span class="hotkey">D</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Narrow to all unmuted messages{% endtrans %}</td>
                    <td><span class="hotkey">Esc</span> or <span class="hotkey">Ctrl + [</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Narrow to current compose box recipient{% endtrans %}</td>
                    <td><span class="hotkey">Ctrl + .</span></td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys_table table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{{ _("Message actions") }}</th>
                    </tr>
                </thead>
                <tr>
                    <td class="definition">{% trans %}Edit your last message{% endtrans %}</td>
                    <td><span class="hotkey">Left</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Show message sender's profile{% endtrans %}</td>
                    <td><span class="hotkey">u</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Show images in thread{% endtrans %}</td>
                    <td><span class="hotkey">v</span></td>
                </tr>
                <tr id="edit-message-hotkey-help">
                    <td class="definition">{% trans %}Edit selected message{% endtrans %}</td>
                    <td><span class="hotkey">e</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Star selected message{% endtrans %}</td>
                    <td><span class="hotkey">Ctrl + s</span></td>
                </tr>
                <tr>
                    <td class="definition">
                        {% trans %}React to selected message with{% endtrans %}
                        <img alt=":thumbs_up:"
                          class="emoji"
                          src="/static/generated/emoji/images/emoji/unicode/1f44d.png"
                          title=":thumbs_up:"/>
                    </td>
                    <td><span class="hotkey">+</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Collapse/show selected message{% endtrans %}</td>
                    <td><span class="hotkey">-</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Toggle topic mute{% endtrans %}</td>
                    <td><span class="hotkey">M</span></td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys_table table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{{ _("Drafts") }}</th>
                    </tr>
                </thead>
                <tr>
                    <td class="definition">{% trans %}View drafts{% endtrans %}</td>
                    <td><span class="hotkey">d</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Edit selected draft{% endtrans %}</td>
                    <td><span class="hotkey">Enter</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Delete selected draft{% endtrans %}</td>
                    <td><span class="hotkey">Backspace</span></td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys_table table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{{ _("Menus") }}</th>
                    </tr>
                </thead>
                <tr>
                    <td class="definition">{% trans %}Toggle the gear menu{% endtrans %}</td>
                    <td><span class="hotkey">g</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Open message menu{% endtrans %}</td>
                    <td><span class="hotkey">i</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Open reactions menu{% endtrans %}</td>
                    <td><span class="hotkey">:</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Show keyboard shortcuts{% endtrans %}</td>
                    <td><span class="hotkey">?</span></td>
                </tr>
            </table>
        </div>
        <div>
            <table class="hotkeys_table table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">{{ _("Streams settings") }}</th>
                    </tr>
                </thead>
                <tr>
                    <td class="definition">{% trans %}Scroll through streams{% endtrans %}</td>
                    <td><span class="hotkey">Up</span> or <span class="hotkey">Down</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Switch between tabs{% endtrans %}</td>
                    <td><span class="hotkey">Left</span> or <span class="hotkey">Right</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}View stream messages{% endtrans %}</td>
                    <td><span class="hotkey">V</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Subscribe to/unsubscribe from selected stream{% endtrans %}</td>
                    <td><span class="hotkey">S</span></td>
                </tr>
                <tr>
                    <td class="definition">{% trans %}Create new stream{% endtrans %}</td>
                    <td><span class="hotkey">n</span></td>
                </tr>
            </table>
        </div>
        <hr/>
        <a href="/help/keyboard-shortcuts" target="_blank">{% trans %}Detailed keyboard shortcuts documentation{% endtrans %}</a>
    </div>
</div>
