<div class="left-sidebar" id="left-sidebar" role="navigation">
    <div class="narrows_panel">
        <ul id="global_filters" class="filters">
            {# Special-case this link so we don't actually go to page top. #}
            <li class="top_left_all_messages global-filter active-filter" title="{{ _('All messages') }} (Esc)">
                <a href="#">
                    <span class="filter-icon">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                    <span>{{ _('All messages') }}</span>
                    <span class="count">
                        <span class="value"></span>
                    </span>
                </a>
                <span class="arrow all-messages-arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
            </li>
            <li class="top_left_private_messages global-filter">
                <a href="#narrow/is/private">
                    <span class="filter-icon">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                    <span title="{{ _('Private messages') }} (P)">{{ _('Private messages') }}</span>
                    <span class="count">
                        <span class="value"></span>
                    </span>
                </a>
            </li>
            <li class="top_left_mentions global-filter">
                <a href="#narrow/is/mentioned">
                    <span class="filter-icon">
                        <i class="fa fa-at" aria-hidden="true"></i>
                    </span>
                    <span>{{ _('Mentions') }}</span>
                    <span class="count">
                        <span class="value"></span>
                    </span>
                </a>
            </li>
            <li class="top_left_starred_messages global-filter">
                <a href="#narrow/is/starred">
                    <span class="filter-icon">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                    <span>{{ _('Starred messages') }}</span>
                    <span class="count">
                        <span class="value"></span>
                    </span>
                </a>
            </li>
        </ul>
        <div id="streams_list" class="zoom-out">
            <div id="streams_header" class="zoom-in-hide"><h4 class="sidebar-title" data-toggle="tooltip" title="{{ _('Subscribed streams') }}">{{ _('STREAMS') }}</h4>
                <i id="streams_inline_cog" class='fa fa-cog' aria-hidden="true" data-toggle="tooltip" title="{{ _('Subscribe, add, or configure streams') }}"></i>
                <i id="streams_filter_icon" class='fa fa-search' aria-hidden="true" data-toggle="tooltip" title="{{ _('Filter streams') }} (q)"></i>
                <div class="input-append notdisplayed stream_search_section">
                    <input class="stream-list-filter" type="text" autocomplete="off" placeholder="{{ _('Search streams') }}" />
                    <button type="button" class="btn clear_search_button" id="clear_search_stream_button">
                        <i class="fa fa-remove" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div id="topics_header">
                <a href="" class="show-all-streams"> <i class="fa fa-chevron-left" aria-hidden="true"></i>{{ _('All streams') }}</a>
            </div>
            <div id="stream-filters-container" class="scrolling_list">
                <ul id="stream_filters" class="filters"></ul>
            </div>
        </div>
    </div>
</div>
