<div class="modal hide modal-bg new-style" id="message-edit-history" tabindex="-1" role="dialog"
  aria-labelledby="message-history-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}"><span aria-hidden="true">&times;</span></button>
        <h3 id="message-history-label">{{ _('Message edit history') }}</h3>
    </div>
    <div class="modal-body">
        <div id="message-history-error"></div>
        <div class="controls" id="message-history"></div>
    </div>
    <div class="modal-footer">
        <button class="button small rounded" id="message-history-cancel" data-dismiss="modal">{{ _("Close") }}</button>
    </div>
</div>
