<div class="history-limited-box">
    <p>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        {% trans %}
        Some older messages are unavailable.
        <a href="/plans/" target="_blank" rel="noopener noreferrer">Upgrade your organization</a>
        to access your full message history.
        {% endtrans %}
    </p>
</div>
<div class="all-messages-search-caution" hidden>
    <p>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        {% trans %}
        End of results from your
        <a href="/help/search-for-messages#searching-shared-history"
          target="_blank" rel="noopener noreferrer">history</a>.
        Consider <a class="search-shared-history" href="">searching all public streams</a>.
        {% endtrans %}
    </p>
</div>
<div class="empty_feed_notice_main"></div>
