<div id="panels">
    <div data-process="notifications" class="alert alert-info">
        <span class="close" data-dismiss="alert" aria-label="{{ _('Close') }}">&times;</span>
        <div data-step="1">
            {% trans %}Zulip needs your permission to
            <a class="request-desktop-notifications alert-link">enable desktop notifications.</a>
            {% endtrans %}
        </div>
        <div data-step="2" style="display: none">
            {{ _('We strongly recommend enabling desktop notifications. They help Zulip keep your team connected.') }}
            <span class="buttons">
                <a class="alert-link request-desktop-notifications">{{ _('Enable notifications') }}</a>
                &bull;
                <a class="alert-link exit">{{ _('Ask me later') }}</a>
                &bull;
                <a class="alert-link reject-notifications">{{ _('Never ask on this computer') }}</a>
            </span>
        </div>
    </div>
    <div data-process="email-server" class="alert alert-info red">
        <span class="close" data-dismiss="alert" aria-label="{{ _('Close') }}">&times;</span>
        <div data-step="1">
            {% trans %}Zulip needs to send email to confirm users' addresses and send notifications.{% endtrans %}
            <a class="alert-link" href="https://zulip.readthedocs.io/en/latest/production/email.html" target="_blank">
                {% trans %}See how to configure email.{% endtrans %}
            </a>
        </div>
    </div>
</div>
<div class="header">
    <nav class="header-main rightside-userlist" id="top_navbar">
        <div class="column-left">
            <a class="brand no-style" href="#">
                <img id="realm-logo" src="{{ realm_logo }}" alt="" class="nav-logo no-drag">
            </a>
        </div>
        <div class="column-middle" id="navbar-middle">
            <div class="column-middle-inner">
                <div id="streamlist-toggle" title="{{ _('Stream list') }} (q)" {%if embedded %} style="visibility: hidden"{% endif %}>
                    <a href="#" id="streamlist-toggle-button" role="button"><i class="fa fa-reorder" aria-hidden="true"></i>
                        <span id="streamlist-toggle-unreadcount">0</span>
                    </a>
                </div>
                {% if search_pills_enabled %}
                <div id="searchbox" class="searchbox-rightmargin">
                    <div id="tab_bar" class="notdisplayed">
                    </div>
                    <a class="search_icon" href="#search-operators" data-overlay-trigger="search-operators" title="{{ _('Search help') }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                    <form id="searchbox_form" class="form-search navbar-search">
                        <div id="search_arrows" class="pill-container input-append">
                            <div contenteditable="true" class="input search-query input-block-level" id="search_query" type="text" placeholder="{{ _('Search') }}"
                              autocomplete="off" aria-label="{{ _('Search') }}" title="{{ _('Search') }} (/)"> </div>
                        </div>
                    </form>
                    {# Start the button off disabled since there is no active search #}
                    <button class="btn search_button" type="button" id="search_exit" disabled="disabled" aria-label="{{ _('Exit search') }}"><i class="fa fa-remove" aria-hidden="true"></i></button>
                </div>
                {% else %}
                <div id="searchbox_legacy" class="searchbox-rightmargin">
                    <div id="tab_bar" class="notdisplayed">
                    </div>
                    <form id="searchbox_form" class="form-search navbar-search">
                        <div id="search_arrows" class="input-append">
                            <input class="search-query input-block-level" id="search_query" type="text" placeholder="{{ _('Search') }}"
                              autocomplete="off" aria-label="{{ _('Search') }}" title="{{ _('Search') }} (/)"/>
                            {# Start the button off disabled since there is no active search #}
                            <button class="btn search_button" type="button" id="search_exit" disabled="disabled" aria-label="{{ _('Exit search') }}"><i class="fa fa-remove" aria-hidden="true"></i></button>
                            <a class="search_icon" href="#search-operators" data-overlay-trigger="search-operators" title="{{ _('Search help') }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="column-right">
            <div id="userlist-toggle" title="{{ _('User list') }} (w)">
                <a href="#" id="userlist-toggle-button" role="button"><i class="fa fa-group" aria-hidden="true"></i>
                    <span id="userlist-toggle-unreadcount">0</span>
                </a>
            </div>
            <div id="navbar-buttons" {%if embedded %} style="visibility: hidden"{% endif %}>

              <div class="dropdown" >
                <a class="btn dropdown-toggle" href="#" role="button" id="settings-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ _('Menu') }} (g)" role="navigation">
                   <i class="fa fa-cog" aria-hidden="true"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#streams/subscribed" role="menuitem"><i class="fa fa-exchange" aria-hidden="true"></i> {{ _('Manage streams') }}</a>
                  <a class="dropdown-item" href="#settings" role="menuitem"><i class="fa fa-wrench" aria-hidden="true"></i> {{ _('Settings') }}</a>
                  <a class="dropdown-item" href="#organization" role="menuitem" class="admin-menu-item"><i class="fa fa-bolt" aria-hidden="true"></i><span>{{ _('Manage organization') }}</span></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/help" target="_blank" role="menuitem"><i class="fa fa-question-circle" aria-hidden="true"></i> {{ _('Help center') }}</a>
                  <a class="dropdown-item" role="menuitem" data-overlay-trigger="keyboard-shortcuts"><i class="fa fa-keyboard-o" aria-hidden="true"></i> {{ _('Keyboard shortcuts') }} <span class="hotkey-hint">(?)</span></a>
                  <a class="dropdown-item" role="menuitem" role="menuitem" data-overlay-trigger="message-formatting"><i class="fa fa-pencil" aria-hidden="true" ></i> {{ _('Message formatting') }} </a>
                  <a class="dropdown-item" role="menuitem" role="menuitem" data-overlay-trigger="search-operators" ><i class="fa fa-search" aria-hidden="true"></i> {{ _('Search operators') }} </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" role="menuitem" role="menuitem" href="{{ apps_page_url }}" target="_blank" ><i class="fa fa-desktop" aria-hidden="true"></i> {{ _('Desktop & mobile apps') }} </a>
                  <a class="dropdown-item" role="menuitem" role="menuitem" href="/integrations" target="_blank" ><i class="fa fa-github" aria-hidden="true"></i> {{ _('Integrations') }} </a>
                  <a class="dropdown-item" role="menuitem" role="menuitem" href="" > </a>
                  <a class="dropdown-item" role="menuitem" href="/api" target="_blank"><i class="fa fa-sitemap" aria-hidden="true" ></i> {{ _('API documentation') }} </a>
                  {% if not is_guest %}
                  <a class="dropdown-item" role="menuitem" href="/stats" ><i class="fa fa-bar-chart" aria-hidden="true"></i>{{ _('Statistics') }}</a>
                  {% endif %}
                  {% if show_plans %}
                  <a class="dropdown-item" role="menuitem" href="/plans" ><i class="fa fa-rocket" aria-hidden="true"></i> {{ _('Plans and pricing') }} </a>
                  {% endif %}
                  {% if show_billing %}
                  <a class="dropdown-item" role="menuitem" href="/billing" ><i class="fa fa-credit-card" aria-hidden="true"></i> {{ _('Billing') }} </a>
                  {% endif %}
                  <div class="dropdown-divider"></div>
                  {% if enable_feedback %}
                  <a class="dropdown-item" role="menuitem" href="#feedback" class="feedback" ><i class="fa fa-comment" aria-hidden="true"></i> {{ _('Feedback') }} </a>
                  {% endif %}
                  {% if show_invites %}
                  <a class="dropdown-item" role="menuitem" href="#invite" ><i class="fa fa-plus-circle" aria-hidden="true"></i> {{ _('Invite users') }} </a>
                  <div class="dropdown-divider"></div>
                  {% endif %}
                  {% if show_webathena %}
                  <a class="dropdown-item" role="menuitem" href="#webathena" ><i class="fa fa-bolt" aria-hidden="true"></i>{{ _('Link with Webathena') }}</a>
                  {% endif %}

                  <a class="dropdown-item logout_button" role="menuitem" href="#logout" ><i class="fa fa-power-off" aria-hidden="true"></i> {{ _('Log out') }} </a>

                  {% if show_debug %}
                  <a class="dropdown-item" role="menuitem" href="#debug" ><i class="fa fa-barcode" aria-hidden="true"></i> {{ _('Debug') }} </a>
                  {% endif %}


                </div>
              </div>


            </div>
        </div>
    </nav>
</div>
