<div id="recent_topics_overlay" class="overlay new-style" data-overlay="recent_topics">
    <div class="flex overlay-content">
        <div class="recent_topics_container modal-bg">
            <div class="recent_topics_header">
                <h1>{% trans %}Recent topics (beta){% endtrans %}</h1>
                <div class="exit">
                    <span class="exit-sign">&times;</span>
                </div>
                <div class="recent-hotkey-reminder">
                    {% trans %}Pro tip: You can use 't' to view recent topics.{% endtrans %}
                </div>
            </div>
            <div class="recent_topics_table" id="recent_topics_table">
            </div>
        </div>
    </div>
</div>
