<div id="recents_table">
    <div id="recent_overlay" class="overlay new-style" data-overlay="recents">
        <div class="flex overlay-content">
            <div class="recents-container modal-bg">
                <div class="recents-header">
                    <h1>{% trans %}Recent Topics{% endtrans %}</h1>
                    <div class="exit">
                        <span class="exit-sign">&times;</span>
                    </div>
                    <div class="recent-hotkey-reminder">
                        {% trans %}Pro tip: You can use 'some-key' to open your Recent messages.{% endtrans %}
                    </div>
                </div>
                <div class="recents-list" id="recent_topics_table">
                </div>
            </div>
        </div>
    </div>
</div>
