<div class="right-sidebar" id="right-sidebar">
    <div class="sidebar-items">
        {% if enable_feedback %}
        <div id="feedback_section" class="new-style">
            <button type="button" class="button small rounded" id="feedback_button">
                <i class="icon-vector-comment"></i>&nbsp;&nbsp;{{ _('Send feedback') }}
            </button>
        </div>
        {% endif %}
        <div id="user-list">
            <div id="userlist-header">
                <h4 class='sidebar-title' id='userlist-title' data-toggle="tooltip" title="{{ _('Filter users') }}">{{ _('USERS') }}</h4>
                <i id="user_filter_icon" class='fa fa-search' aria-label="{{ _('Filter users') }}" data-toggle="tooltip" title="{{ _('Filter users') }} (w)"></i>
            </div>
            <div class="input-append notdisplayed">
                <input class="user-list-filter" type="text" autocomplete="off" placeholder="{{ _('Search people') }}" />
                <button type="button" class="btn clear_search_button" id="clear_search_people_button">
                    <i class="icon-vector-remove"></i>
                </button>
            </div>
            <ul id="user_presences" class="filters scrolling_list"></ul>
            {% if show_invites %}
            <a id="invite-user-link" href="#invite"><i class="icon-vector-plus-sign"></i>{{ _('Invite more users') }}</a>
            {% endif %}
        </div>
        <div id="group-pm-list">
            <div id="group-pm-header">
                <h4 class='sidebar-title' id='group-pm-title'>{{ _('GROUP PMs') }}</h4>
            </div>
            <ul id="group-pms" class="filters scrolling_list">
            </ul>
        </div>
    </div>
</div>
