{{#> compose_banner . }}
    <p class="banner_message">
        None of the members of
        <span class="display_only_group_pill">
            <a data-user-group-id="{{group_id}}" class="view_user_group_mention pill" tabindex="0">
                <span class="pill-label">
                    <span class="">{{group_name}}</span>
                </span>
            </a>
        </span>
        are subscribed to this channel.
    </p>
{{/compose_banner}}
