{{#> compose_banner . }}
    <p class="banner_message">
        {{#tr}}
            None of the members of <z-group-pill></z-group-pill> are subscribed to this channel.
            {{#*inline "z-group-pill"}}
                <span class="display_only_group_pill">
                    <a data-user-group-id="{{group_id}}" class="view_user_group_mention" tabindex="0">
                        <span class="pill-label">
                            <span>{{group_name}}</span>
                        </span>
                    </a>
                </span>
            {{/inline}}
        {{/tr}}
    </p>
{{/compose_banner}}
