<div class="above_compose_banner main-view-banner warning-style {{classname}}">
    <p class="banner_content">
        {{banner_text}}
    </p>
    <a role="button" class="zulip-icon zulip-icon-close main-view-banner-close-button"></a>
</div>
