{{#> compose_banner . }}
    <p class="banner_message">
        {{#tr}}Viewing the conversation where you sent your message. To go back, use the <b>back</b> button in your browser or desktop app.{{/tr}}
    </p>
{{/compose_banner}}
