{{#> compose_banner . }}
    <p class="banner_message">
        {{#tr}}
            Warning: Not all subscribers of <z-audience-channel></z-audience-channel> can view <z-channel></z-channel>, a private channel.
            {{#*inline "z-audience-channel"}}<strong>#{{audience_channel_name}}</strong>{{/inline}}
            {{#*inline "z-channel"}}<strong>#{{channel_name}}</strong>{{/inline}}
        {{/tr}}
    </p>
{{/compose_banner}}
