{{#> compose_banner }}
    <p class="banner_message">
        {{#tr}}Warning: <z-link></z-link> is a private channel.
        {{#*inline "z-link"}}{{{channel_name}}}{{/inline}}
        {{/tr}}
    </p>
{{/compose_banner}}
