<div class="above_compose_banner main-view-banner {{banner_type}} {{classname}}">
    <p class="banner_content">
        {{#tr}}
        The text in your compose box will be split at <b>two consecutive blank lines</b> into <b>{message_count}</b> messages.
        {{/tr}}
    </p>
    <button class="main-view-banner-action-button">
        {{button_text}}
    </button>
</div>
