{{#> compose_banner }}
    <p class="banner_message">
        {{#tr}}
        The channel <b>#{channel_name}</b> does not exist. Manage your subscriptions
        <z-link>on your Channels page</z-link>.
        {{#*inline "z-link"}}<a href='#channels/all'>{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
    </p>
{{/compose_banner}}
