<div
  class="compose_banner success message_scheduled_success_compose_banner"
  data-scheduled-message-id="{{scheduled_message_id}}">
    <p class="banner_content">{{t 'Your message has been scheduled for {deliver_at}.' }}</p>
    <a href="#scheduled" class="compose_banner_action_button open_scheduled_message_overlay">{{t "View scheduled messages" }}</a>
    <button class="compose_banner_action_button undo_scheduled_message" >{{t "Undo"}}</button>
    <a role="button" class="zulip-icon zulip-icon-close compose_banner_close_button"></a>
</div>
