{{#> compose_banner . }}
    <p class="banner_message">
        {{#tr}}
            The topic you were composing to (<z-link></z-link>) was moved, and the destination for your message has been updated to its new location.
            {{#*inline "z-link"~}}
                <a class="above_compose_banner_action_link" href="{{narrow_url}}">
                    {{~> ../inline_topic_link_label channel_name=old_stream topic_display_name=orig_topic is_empty_string_topic=is_empty_string_topic~}}
                </a>
            {{~/inline}}
        {{/tr}}
    </p>
{{/compose_banner}}
