{{#> compose_banner . }}
    <p class="banner_message">
        {{#tr}}
        Your Zulip account email (<z-highlight>{email}</z-highlight>) is not linked to this organization's Zoom account.
        {{#*inline "z-highlight"}}<b class="highlighted-element">{{> @partial-block}}</b>{{/inline}}
        {{/tr}}
    </p>
{{/compose_banner}}
