{{#> compose_banner . }}
    <p class="banner_message">
        {{#tr}}
        Your Zulip account email (<b>{email}</b>) is not linked to this organization's Zoom account.
        {{/tr}}
    </p>
{{/compose_banner}}
