<div class="upload_banner file_{{file_id}} main-view-banner {{banner_type}}">
    <div class="moving_bar"></div>
    <p class="upload_msg">{{banner_text}}</p>
    {{#if is_upload_process_tracker}}
        <button class="upload_banner_cancel_button">{{t 'Cancel' }}</button>
    {{/if}}
    <a role="button" class="zulip-icon zulip-icon-close main-view-banner-close-button"></a>
</div>
