<div class="upload_banner compose_banner {{banner_type}}">
    <div class="moving_bar"></div>
    <p class="upload_msg">{{banner_text}}</p>
    <a role="button" class="zulip-icon zulip-icon-close compose_banner_close_button"></a>
</div>
