{{#> compose_banner }}
    <p class="banner_message">
        {{#if wildcard_mention_string}}
            {{#tr}}You do not have permission to use <b>@{wildcard_mention_string}</b> mentions in this channel.{{/tr}}
        {{else}}
            {{#tr}}You do not have permission to use <b>@topic</b> mentions in this topic.{{/tr}}
        {{/if}}
    </p>
{{/compose_banner}}
