:root {
    /* Each of the following heading font sizes has been decreased
       by a factor of 1. --sl-text-h1 used to be equal to
       var(--sl-text-5xl), but now it is equal to var(--sl-text-4xl). */
    --sl-text-h1: var(--sl-text-4xl);
    --sl-text-h2: var(--sl-text-3xl);
    --sl-text-h3: var(--sl-text-2xl);
    --sl-text-h4: var(--sl-text-xl);
    /* Changed from 1.2 to 1 */
    --sl-line-height-headings: 1;
}

.non-clickable-sidebar-heading {
    font-size: 1.15rem;
    pointer-events: none;
    cursor: default;
}

/* Eliminate the border inserted between the title and the rest of
   the content. */
.content-panel + .content-panel {
    border-top: 0;
}

/* Decrease padding for the content panel from 1.5rem to 1rem since
   the padding looked too big after removing the content panel border. */
.content-panel {
    padding: 1rem var(--sl-content-pad-x);
}

.sl-markdown-content {
    img {
        vertical-align: top;
        box-shadow: 0 0 4px hsl(0deg 0% 0% / 5%);
        border: 1px solid hsl(0deg 0% 87%);
        border-radius: 4px;
        margin-top: 0;

        &.emoji-small {
            display: inline-block;
            width: 1.25em;
            box-shadow: none;
            border: none;
            vertical-align: text-top;
        }

        &.emoji-big {
            display: inline-block;
            width: 1.5em;
            box-shadow: none;
            border: none;
            vertical-align: text-top;
        }

        &.help-center-icon {
            display: inline-block;
            width: 1.25em;
            box-shadow: none;
            border: none;
            vertical-align: text-top;
        }
    }

    li > ul,
    li > ol {
        margin-top: 0.25rem;
    }
}
