.non-clickable-sidebar-heading {
    font-size: 1.15rem;
    pointer-events: none;
    cursor: default;
}

.sl-markdown-content {
    img {
        vertical-align: top;
        box-shadow: 0 0 4px hsl(0deg 0% 0% / 5%);
        border: 1px solid hsl(0deg 0% 87%);
        border-radius: 4px;
        margin-top: 0;

        &.emoji-small {
            display: inline-block;
            width: 1.25em;
            box-shadow: none;
            border: none;
            vertical-align: text-top;
        }

        &.emoji-big {
            display: inline-block;
            width: 1.5em;
            box-shadow: none;
            border: none;
            vertical-align: text-top;
        }

        &.help-center-icon {
            display: inline-block;
            width: 1.25em;
            box-shadow: none;
            border: none;
            vertical-align: text-top;
        }
    }

    li > ul,
    li > ol {
        margin-top: 0.25rem;
    }

    & .sl-heading-wrapper:has(> :first-child:target) {
        /* Increase the highlighted space around the text... */
        /* We are trying to recreate `padding: 6px 0 6px 8px` below
           using box-shadow since we don't want padding to affect the
           layout. A spread of 6px will make sure of the 6px part of
           the padding, and -2px will ensure a padding of 8px is
           recreated on the left side.  */
        box-shadow: -2px 0 0 6px var(--sl-color-accent-low);
        background-color: var(--sl-color-accent-low);
    }
}
