{% extends "zephyr/portico.html" %}

{% block portico_content %}
<div class="row-fluid">
  <div class="span8">
    <h1>Jobs at Humbug</h1>

    <p class="lead jobs-lead">About us</p>
    <p>We're an experienced startup team that previously founded and
      built a company that was acquired by Oracle in 2011. There are
      currently eight of us, largely engineers from MIT, and we get
      really excited about making a great experience that delights
      customers. We're a top-notch product team.</p>

    <p>We are well-funded and our investors include a half dozen
      entrepreneurs who have each built companies worth &gt;$1
      billion.</p>

    <p>Now we're building the group conversation product you've always
      dreamed of.</p>
      
    <p class="lead jobs-lead">Open positions</p>
    
    <ul>
      <li><a href="/jobs/lead-designer">Lead Designer</a></li>
    </ul>

    </div>
</div>

{% endblock %}
