{% extends "zephyr/portico.html" %}

{% block portico_content %}
<div class="row-fluid">
  <div class="span8">
    <h2>Jobs <small>&gt;</small> Lead Designer</h2>

    <p class="lead jobs-lead">About us</p>
    <p>We're an experienced startup team that previously founded and
      built a company that was acquired by Oracle in 2011. There are
      currently eight of us, largely engineers from MIT, and we get
      really excited about making a great experience that delights
      customers. We're a top-notch product team.</p>

    <p>We are well-funded and our investors include a half dozen
      entrepreneurs who have each built companies worth &gt;$1
      billion.</p>

    <p>Now we're building the group conversation product you've always
      dreamed of.</p>

    <p class="lead jobs-lead">What we're looking for</p>
    <p>A lead designer. I can't emphasize enough the importance of
      this role.  Our product is still very much in its formative
      stages, so you will have tons of impact.</p>

    <p>You'll work closely with our company's founders and
      engineers to deliver a seamless and beautiful experience for our
      customers, both in our webapp and on our mobile apps (native
      Android and iOS).</p>

    <p class="lead jobs-lead">About you</p>
    <p>This is a startup, so everyone wears many hats. As a result,
      we're looking for someone who can do more than just Photoshop
      mockups; being able to create usable HTML + CSS + jQuery is an
      important part of the job.</p>

    <p>We'd ideally like to hire someone (a) full-time, who is (b) in
      or willing to relocate to Cambridge, Massachusetts. But above
      all, we want the best people, so we're potentially flexible on
      both of those details.</p>

    <p class="lead jobs-lead">Cash money</p>
    <p>Some individuals have posited that mo' money mo' problems, but
      we're willing to chance it&mdash;our compensation includes a
      highly competitive cash salary and significant equity compensation,
      plus benefits including health insurance.</p>

    <center><a href="https://docs.google.com/a/humbughq.com/forms/d/1DprQpsyG8jCZPdrFQNkXZ-YRmD56Ekn1eufYChfjRSI/viewform" class="btn btn-large btn-primary">
        <i class="icon-white icon-pencil"></i> Apply now</a></center>

    <br />
    <p>Questions? Please email us at <a href="mailto:jobs@humbughq.com?subject=Lead+designer+job+posting">jobs@humbughq.com</a>.</p>

    </div>
</div>

{% endblock %}
