<div class="compare-education">
    <div class="padded-content">
        <div class="text-header">
            <div class="text-content">
                <h1 class="center"><span>Zulip: The most complete communication hub for your class.</span></h1>
            </div>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th >Zulip</th>
                        <th class="normal">Slack</th>
                        <th class="normal">Discord</th>
                        <th class="normal">Piazza</th>
                        <th class="normal">CampusWire</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Rich, modern chat</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                    </tr>
                    <tr>
                        <td>Apps for every platform</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                    </tr>
                    <tr>
                        <td>Self-hosting option for full control over data</td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                    </tr>
                    <tr>
                        <td>Dedicated account</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td>Topic-based threading</td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                    </tr>
                    <tr>
                        <td>Resolve topics/questions</td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td>Move topics/questions</td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td>Native LaTeX support</td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td>Built-in spoilers</td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                    </tr>
                    <tr>
                        <td>Emoji reactions</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                    </tr>
                    <tr>
                        <td>@-mention groups</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                    </tr>
                    <tr>
                        <td>Scales to 10,000s of users</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                    </tr>
                    <tr>
                        <td># supported languages</td>
                        <td class="number">23</td>
                        <td class="number">13</td>
                        <td class="number">30</td>
                        <td class="number one">1</td>
                        <td class="number one">1</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
