<div class="zulip-plans-comparison education-features-comparison">
    <div class="text-header">
        <div class="text-content">
            <h1 class="for-education-plans-heading">Zulip: The most complete communication hub for your class.</h1>
        </div>
    </div>

    <!-- comparison-table-top is important to observe sticky table header -->
    <div class="comparison-table-top"></div>
    <table class="comparison-table">
        <thead>
            <tr>
                <th class="comparison-table-feature">
                    <span class="label-features">Feature</span>
                </th>
                <th class="zulip-cell"><span class="label-zulip">Zulip</span></th>
                <th class="competitor-cell">Slack</th>
                <th class="competitor-cell">Discord</th>
                <th class="competitor-cell">Piazza</th>
                <th class="competitor-cell">CampusWire</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="comparison-table-feature">Rich, modern chat</td>
                <td class="zulip-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
            </tr>
            <tr>
                <td class="comparison-table-feature">Apps for every platform</td>
                <td class="zulip-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
            </tr>
            <tr>
                <td class="comparison-table-feature">Self-hosting option for full control over data</td>
                <td class="zulip-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
            </tr>
            <tr>
                <td class="comparison-table-feature">Dedicated account</td>
                <td class="zulip-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
            </tr>
            <tr>
                <td class="comparison-table-feature">Topic-based threading</td>
                <td class="zulip-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
            </tr>
            <tr>
                <td class="comparison-table-feature">Resolve topics/questions</td>
                <td class="zulip-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
            </tr>
            <tr>
                <td class="comparison-table-feature">Move topics/questions</td>
                <td class="zulip-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
            </tr>
            <tr>
                <td class="comparison-table-feature">Native LaTeX support</td>
                <td class="zulip-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
            </tr>
            <tr>
                <td class="comparison-table-feature">Built-in spoilers</td>
                <td class="zulip-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
            </tr>
            <tr>
                <td class="comparison-table-feature">Emoji reactions</td>
                <td class="zulip-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
            </tr>
            <tr>
                <td class="comparison-table-feature">@-mention groups</td>
                <td class="zulip-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
            </tr>
            <tr>
                <td class="comparison-table-feature">Scales to 10,000s of users</td>
                <td class="zulip-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-positive"><i class="icon icon-check"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
                <td class="competitor-cell comparison-value-negative"><i class="icon icon-x"></i></td>
            </tr>
            <tr>
                <td class="comparison-table-feature"># supported languages</td>
                <td class="zulip-cell comparison-value-positive number">23 <span class="bottom-border"></span></td>
                <td class="competitor-cell comparison-value-positive number">13</td>
                <td class="competitor-cell comparison-value-positive number">30</td>
                <td class="competitor-cell comparison-value-warning number one">1</td>
                <td class="competitor-cell comparison-value-warning number one">1</td>
            </tr>
        </tbody>
    </table>
</div>
