{% extends "zerver/portico.html" %}
{% set entrypoint = "landing-page" %}

{% set PAGE_TITLE = "Development community | Zulip" %}

{% set PAGE_DESCRIPTION = "Join the Zulip development community to contribute,
  ask questions, or provide feedback to the creators of Zulip. Everyone is
  welcome!" %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}


<div class="portico-landing why-page solutions-page">
    <div class="hero bg-pycon">
        <div class="bg-dimmer"></div>
        <div class="content">
            <h1 class="center">{% trans %}The Zulip development community{% endtrans %}</h1>
        </div>
        <div class="hero-text">
            Join today! The buttons below provide customized channel subscriptions.
        </div>
        <div class="hero-buttons center">
            <a href="https://chat.zulip.org/join/t5crtoe62bpcxyisiyglmtvb/" class="button">
                {{ _('Join as a user') }}
            </a>
            <a href="https://chat.zulip.org/join/wnhv3jzm6afa4raenedanfno/" class="button">
                {{ _('Join as a self-hoster') }}
            </a>
            <a href="https://chat.zulip.org/join/npzwak7vpmaknrhxthna3c7p/" class="button">
                {{ _('Join as a contributor') }}
            </a>
        </div>
    </div>
    <div class="main">
        <div class="padded-content">
            <div class="inner-content markdown">
                {{ render_markdown_path('corporate/development-community.md') }}
            </div>
        </div>
    </div>

    <div class="feature-end">
        <div class="bottom-register-buttons extra_margin_before_footer">
            <h1>
                Join today!
            </h1>
            <div class="hero-buttons center">
                <a href="https://chat.zulip.org/join/t5crtoe62bpcxyisiyglmtvb/" class="button">
                    {{ _('Join as a user') }}
                </a>
                <a href="https://chat.zulip.org/join/wnhv3jzm6afa4raenedanfno/" class="button">
                    {{ _('Join as a self-hoster') }}
                </a>
                <a href="https://chat.zulip.org/join/npzwak7vpmaknrhxthna3c7p/" class="button">
                    {{ _('Join as a contributor') }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
