{% extends "zerver/base.html" %}
{% set entrypoint = "plans-page" %}

{% set PAGE_TITLE = "Features | Zulip" %}

{% set PAGE_DESCRIPTION = "From highly configurable notifications, to powerful
  formatting and flexible administration, Zulip has you covered." %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block content %}

{% include 'zerver/landing_nav.html' %}

<div class="portico-pricing features-page showing-cloud">
    <div class="body-bg">
        <div class="body-bg__layer"></div>
    </div>

    <h1>Organized team chat solution</h1>
    <div class="h1-subheader">
        From small teams to organizations with thousands of users, Zulip has you
        covered. See <a href="/plans/">plans and pricing</a>.
    </div>

    <div class="main">
        {% include "corporate/comparison_table_integrated.html" %}
    </div>
</div>

{% include 'zerver/footer.html' %}
{% endblock %}
