{% extends "zerver/portico.html" %}

{% block title %}
<title>Zulip jobs</title>
{% endblock %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ bundle('landing-page') }}
{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}

<div class="portico-landing jobs why-page no-slide">
    <div class="hero bg-pycon drone">
        <div class="bg-dimmer"></div>
        <div class="content">
            <h1 class="center">Work with us</h1>
            <p>We're 100% open source, and we're hiring.</p>
        </div>
    </div>

    <div class="open-positions-top">
        <div class="main">
            <div class="padded-content markdown">
                <h1>Open positions</h1>
                <p>
                    <ul>
                        <li><a href="#mobile">Senior Mobile Engineer</a></li>
                        <li><a href="#fullstack">Senior Full Stack Engineer</a></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="how-we-work">
        <div class="main">
            <div class="padded-content markdown">
                <h1>How we work</h1>
                <p>
                    <strong>Open source.</strong>  The Zulip software is 100% free and
                    open source.  We're <a href="/team/">an open-source project</a> first,
                    and we’re building a sustainable business as a means to support the
                    project's growth and long-term future. We provide the same open-source
                    code to our largest customers as to anyone with <code>git clone</code>.
                    We get paid by enterprises for support, and by smaller companies using
                    our rapidly-growing hosted service.
                </p>
                <p>
                    <strong>Open project.</strong> The Zulip project is one where people
                    really do show up through the Internet and start making real changes.
                    That doesn’t happen by accident; it takes work and thoughtfulness.  Most
                    of us work remotely, and we discuss our code and our plans in public, in
                    writing, primarily asynchronously, using Zulip and GitHub.
                </p>
                <p>
                    <strong>Inclusive community.</strong> The Zulip community is made up of a
                    mixture of volunteers and professionals from all walks of life. Diversity is
                    one of our strengths, and we strive to be a community that welcomes and
                    supports people of all backgrounds and identities from anywhere in the world.
                </p>
                <p>
                    <strong>Maintainable software.</strong>  Great
                    software over time depends on a team’s shared
                    understanding of a system and how to change it, as
                    much as on the code itself. Beyond writing our
                    code so it works today, we put equal effort into
                    writing code, tests, comments, commit history,
                    and <a href="https://zulip.readthedocs.io/en/latest/">documentation</a>
                    clearly, to share with each other and future
                    contributors our understanding of how and why it
                    works, so we can build on it tomorrow.
                </p>
            </div>
        </div>
    </div>

    <div class="what-were-building">
        <div class="main">
            <div class="padded-content markdown">
                <h1>What we're building</h1>
                <p>
                    People working together need to communicate with their teammates, and they
                    also need to tune out the conversation to get work done. Teams tired of
                    wasting time in meetings move discussion to email; tired of waiting all
                    day for email replies, move to a team chat like Slack or IRC; and then
                    team chat becomes an always-on meeting, leaving people constantly
                    distracted, missing out on important conversations, or both.
                </p>
                <p>
                    Zulip is reinventing chat so teams can accomplish more together. We've
                    created a place where a conversation can shift seamlessly from the
                    immediacy of chat to the reply-whenever efficiency of email, and back;
                    where you can participate in the conversations that matter to you and
                    efficiently tune out the rest, no matter whether you're there in real
                    time, coming online after a morning hard at work, or returning from a
                    vacation away from it.
                </p>
            </div>
        </div>
    </div>

    <div class="open-positions">
        <div class="main">
            <div class="padded-content markdown">
                <h1>Open positions</h1>

                <h2 id="mobile">Senior Mobile Engineer</h2>
                <p>
                    Our mobile app is a critical part of the Zulip experience. We’re looking
                    for an engineer to join our small, growing, core team and help define the
                    future of team chat on mobile.
                </p>

                <h3>We'd especially like to get to know you if:</h3>
                <ul>
                    <li>
                        <strong>You love giving a code review, and love receiving one.</strong>
                        We’re an open-source project welcoming contributions from people with
                        a wide range of experience.
                    </li>
                    <li>
                        <strong>You communicate with clarity and precision.</strong>
                        You’ll be doing this a lot in code, comments, code reviews, and chat
                        conversations. We care about this almost as much as your technical
                        skills.
                    </li>
                    <li>
                        <strong>You can empathize with the many different types of users</strong>
                        who rely on Zulip, and see the product from their perspective — and do
                        the same thing for the project's contributors.
                    </li>
                </ul>

                <h3>You will:</h3>
                <ul>
                    <li>
                        Design new features and subsystems, write design proposals for
                        discussion, and build them.
                    </li>
                    <li>
                        Diagnose and fix bugs small and large and across several layers of our
                        stack, and resolve questions about the frameworks and libraries we
                        rely on by diving into their source when the documentation doesn't
                        suffice.
                    </li>
                    <li>Share your expertise (both newly-acquired and longstanding) with the
                        rest of the team, through short- and long-form written communication.</li>
                    <li>Write primarily JavaScript using React Native, with some Java, Swift,
                        and backend Python, and learn whichever of those are new to you.</li>
                    <li>Work from our office in San Francisco, or from anywhere in the United
                        States.</li>
                </ul>

                <h3>Extra credit for any of the following:</h3>
                <ul>
                    <li>You have 5+ years of software engineering experience in a variety of
                        settings: backend services, or build systems, or desktop GUI software —
                        you name it.
                    </li>
                    <li>You have experience designing systems for other people to build
                        different pieces of, coaching people in writing high-quality code, or
                        other aspects of technical leadership.
                    </li>
                    <li>You have spent time maintaining and debugging long-running systems.</li>
                    <li>You have the UI design skills to spot where a UI can be improved;
                        better yet, to design a better one.
                    </li>
                    <li>You have experience with iOS or Android development.</li>
                    <li>You have experience with React.</li>
                    <li>You have contributed to open-source projects; better yet, maintained a
                        project and helped many people contribute to it.
                    </li>
                </ul>

                <br />
                <hr />

                <h2 id="fullstack">Senior Full Stack Engineer</h2>
                <p>
                    We’re looking for an engineer to join our small
                    core team and help define the future of team chat.
                </p>

                <h3>We'd especially like to get to know you if:</h3>
                <ul>
                    <li>
                        <strong>You love giving a code review, and love receiving one.</strong>
                        We’re an open-source project welcoming contributions from people with
                        a wide range of experience.
                    </li>
                    <li>
                        <strong>You communicate with clarity and precision.</strong>
                        You’ll be doing this a lot in code, comments, code reviews, and chat
                        conversations. We care about this almost as much as your technical
                        skills.
                    </li>
                    <li>
                        <strong>You can empathize with the many different types of users</strong>
                        who rely on Zulip, and see the product from their perspective — and do
                        the same thing for the project's contributors.
                    </li>
                </ul>

                <h3>You will:</h3>
                <ul>
                    <li>Design new features and subsystems, write design proposals for
                        discussion, and build them.
                    </li>
                    <li>Diagnose and fix bugs small and large and across several layers of our
                        stack, including spelunking in third-party dependencies to find the
                        best possible solution.
                    </li>
                    <li>Share your expertise (both newly-acquired and longstanding) with the
                        rest of the team, through short- and long-form written communication.
                    </li>
                    <li>Write primarily Python, JavaScript, HTML, and CSS.</li>
                    <li>Work from our office in San Francisco, or from anywhere in the world.</li>
                </ul>

                <h3>Extra credit for any of the following:</h3>
                <ul>
                    <li>You have 5+ years of software engineering experience in a variety of
                        settings: backend services, or build systems, or desktop GUI software
                        — you name it.
                    </li>
                    <li>You have experience designing systems for other people to build
                        different pieces of, coaching people in writing high-quality code, or
                        other aspects of technical leadership.
                    </li>
                    <li>You have spent time maintaining and debugging long-running, highly
                        scalable server systems.
                    </li>
                    <li>You have the UI design skills to spot where a UI can be improved;
                        better yet, to design a better one.
                    </li>
                    <li>You have experience doing large codebase migrations in webapps in a way
                        that minimizes regressions.
                    </li>
                    <li>You have contributed to open-source projects; better yet, maintained a
                        project and helped many people contribute to it.
                    </li>
                </ul>

                <br />
                <hr />

                <h2>How to apply for a job</h2>
                <p>
                    You can email us at <a href="mailto:jobs@zulipchat.com">jobs@zulipchat.com</a> with your resume.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
