{% extends "zerver/portico.html" %}
{% set entrypoint = "landing-page" %}

{% set PAGE_TITLE = "Jobs | Zulip" %}

{% set PAGE_DESCRIPTION = "We're hiring! Learn about our openings and how to
  apply." %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}

<div class="portico-landing jobs why-page">
    <div class="hero bg-pycon drone">
        <div class="bg-dimmer"></div>
        <div class="content">
            <h1 class="center">Work with us</h1>
            <p>We're 100% open source, and we're hiring.</p>
        </div>
    </div>

    <div class="main">
        <div class="padded-content">
            <div class="inner-content markdown">
                <div class="open-positions">
                    <h1 id="open-positions">Open positions</h1>
                    <p>

                        To apply for an open position, please send your <b>resume</b>
                        and a brief <b>cover letter</b> (which can be in the
                        body of your email) to the email provided in the
                        description for the opening. Your cover letter should
                        explain what makes you excited about working at Zulip in
                        the role you're applying for. Applications without a
                        cover letter will not be considered.
                    </p>
                    <p>
                        We are not actively recruiting for any engineering roles
                        at this time. However, if you are an experienced
                        engineer, and you believe that your background would be
                        a great fit for Zulip, please email us at <a
                        href="mailto:jobs+engineer@zulip.com">jobs+engineer@zulip.com</a>
                        with your resume and cover letter.
                    </p>
                    <p>
                        All openings are remote, or partially in-person in our San Francisco, CA office.
                    </p>
                    <hr/>
                    <h2 id="gtm">Go-to-market leader (full-time)</h2>
                    <p>
                        <a href="/">Zulip</a> is an open-source team chat
                        application designed for seamless remote and hybrid
                        work. With conversations organized by topic, Zulip is
                        <a href="/why-zulip">ideal</a> for both live and
                        asynchronous communication. Zulip’s 100% open-source
                        software is available as a
                        <a href="/plans/#cloud">cloud service</a> or a
                        <a href="/self-hosting">self-hosted solution</a>, and is
                        used by thousands of organizations around the world.
                    </p>
                    <p>
                        We’re increasing our focus on go-to-market initiatives,
                        and are looking for a go-to-market leader with hands-on
                        B2B startup experience to take our business to the next
                        level. You'll be working closely with the COO (who's
                        currently driving go-to-market efforts) and the CEO to
                        develop new and existing markets for our product.
                    </p>
                    <h3>You'll build on the strength of an amazing product to
                        develop an amazing business:
                    </h3>
                    <ul>
                        <li>Own and drive the company’s GTM strategies.</li>
                        <li>
                            Develop market hypotheses, and run experiments to
                            figure out where to go deeper. You'll be responsible
                            for both vision and hands-on execution (with
                            appropriate support from the rest of the team).
                        </li>
                        <li>
                            Build out processes and teams to scale what's
                            working.
                        </li>
                        <li>
                            Work closely with the other leaders to align product
                            and GTM strategy.
                        </li>
                        <li>
                            Drive a substantial increase in revenue by the end
                            of 2025.
                        </li>
                    </ul>
                    <h3>Essential qualifications:</h3>
                    <ul>
                        <li>
                            A start-up mentality. You will do whatever is needed
                            to make things happen. If you don't know how, you'll
                            figure it out.
                        </li>
                        <li>
                            A deep understanding of B2B sales, demand
                            generation, and revenue growth strategies, with
                            extensive hands-on experience.
                        </li>
                        <li>
                            Excellent writing skills. We expect all our
                            published content to clearly and concisely get the
                            message across.
                        </li>
                        <li>
                            Experience in a similar role (e.g., business
                            founder, Head of Growth, Sales & Growth Lead, etc.).
                        </li>
                    </ul>
                    <h3>Bonus qualifications:</h3>
                    <ul>
                        <li>Experience setting up partnerships.</li>
                        <li>
                            Experience selling open-source or
                            self-hosted/on-premise software.
                        </li>
                    </ul>
                    <h3>You’ll love this job if:</h3>
                    <ul>
                        <li>
                            You want a high degree of freedom and
                            responsibility. You love to experiment, and to be
                            the one writing your own playbooks.
                        </li>
                        <li>
                            You’re excited to grow an independent business built
                            on shared <a href="/values/">values</a>: building
                            software that will always be there for our users,
                            keeping Zulip 100% open-source, investing in
                            community and mentorship, and supporting other
                            worthy organizations.
                        </li>
                        <li>
                            You’re energized by the idea of working on a complex
                            product with heterogeneous use cases and buyer
                            personas, in a market dominated by giant
                            corporations.
                        </li>
                    </ul>
                    <p>
                        Email us at
                        <a href="mailto:jobs+gtm@zulip.com"
                          >jobs+gtm@zulip.com</a
                        >
                        with your resume and cover letter to apply, or learn
                        more about
                        <a href="/jobs/#how-we-work">how we work</a>.
                    </p>
                    <hr />
                    <h2 id="designer">
                        Senior Product Designer (full-time or part-time)
                    </h2>
                    <p>
                        <a href="/">Zulip</a> is an open-source team chat
                        application designed for seamless remote and hybrid
                        work. With conversations organized by topic, Zulip is <a
                        href="/why-zulip">ideal</a> for both live and
                        asynchronous communication. Zulip’s 100% open-source
                        software is available as a <a href="/plans/#cloud">cloud
                        service</a> or a
                        <a href="/self-hosting">self-hosted solution</a>, and is
                        used by thousands of organizations around the world.
                    </p>
                    <p>
                        We are looking for an experienced product designer with a
                        strong background in visual design to make our web application,
                        mobile application, and marketing pages shine.
                    </p>
                    <p>
                        You will work closely with Zulip's leadership team.
                    </p>

                    <h3>What you’ll do:</h3>
                    <ul>
                        <li>
                            Improve and maintain a web app design system in
                            Figma. You'll be developing design patterns,
                            guidelines, and reusable components to help create a
                            consistent and maintainable application.
                        </li>
                        <li>
                            Break down design changes into manageable pieces that
                            can be incrementally integrated into an actively
                            evolving product.
                        </li>
                        <li>
                            Actively participate in design discussions. Review
                            design implementations and tune designs in response
                            to feedback.
                        </li>
                        <li>
                            Help design new product features, working in a
                            dynamic collaboration with product, engineering, and
                            users.
                        </li>
                        <li>
                            Design new marketing pages and redesign old ones.
                            Strengthen our brand's look and feel to make it
                            instantly recognizable across apps, landing pages,
                            social accounts, and ads.
                        </li>
                        <li>
                            Create and prepare icons for web and mobile apps.
                        </li>
                    </ul>
                    <h3>Essential qualifications:</h3>
                    <ul>
                        <li>
                            Your portfolio showcases a track record of designing
                            high-quality web applications. You've had a leading
                            role in designing a complex application.
                        </li>
                        <li>
                            You have a strong understanding of mobile and web UI
                            guidelines, standards, approaches, and patterns.
                            Working within those structures, you can think
                            creatively to develop elegant solutions to complex
                            problems.
                        </li>
                        <li>
                            You communicate with clarity and precision, and are
                            comfortable in a distributed work environment. You
                            thrive in an inclusive culture where ideas are
                            debated openly and everyone is treated with respect.
                        </li>
                        <li>Expert knowledge of Figma.</li>
                    </ul>
                    <h3>Extra credit for any of the following:</h3>
                    <ul>
                        <li>
                            Familiarity with HTML, CSS, and JavaScript.
                        </li>
                        <li>
                            Your portfolio includes mobile applications (iOS or
                            Android).
                        </li>
                        <li>
                            You've worked on a chat app in the past.
                        </li>
                        <li>
                            You are deeply familiar with a team chat app as an
                            advanced user or administrator. Better yet, you are an
                            experienced user of Zulip.
                        </li>
                        <li>
                            You've created an icon set.
                        </li>
                    </ul>
                    <p>
                        Email us at <a
                        href="mailto:jobs+designer@zulip.com">jobs+designer@zulip.com</a>
                        with your resume and cover letter to apply, or learn
                        more about
                        <a href="/jobs/#how-we-work">how we work</a>.
                    </p>
                </div>
                <div class="how-we-work">
                    <h1 id="how-we-work">
                        How we work
                    </h1>
                    <p>
                        <strong>Open source.</strong> The Zulip software is 100%
                        free and open source.  We're <a href="/team/">an
                        open-source project</a> first, and we’re building an
                        independent <a href="/values">sustainable business</a>
                        as a means to support the project's growth and long-term
                        future. We provide the same open-source code to our
                        largest customers as to anyone with <code>git clone</code>.
                    </p>
                    <p>
                        <strong>Open project.</strong> The Zulip project is one where people
                        really do show up through the Internet and start making real changes.
                        That doesn’t happen by accident; it takes work and thoughtfulness.  Most
                        of us work remotely, and we discuss our code and our plans in public, in
                        writing, primarily asynchronously, using Zulip and GitHub.
                    </p>
                    <p>
                        <strong>Inclusive community.</strong> The Zulip community is made up of a
                        mixture of volunteers and professionals from all walks of life. Diversity is
                        one of our strengths, and we strive to be a community that welcomes and
                        supports people of all backgrounds and identities from anywhere in the world.
                    </p>
                    <p>
                        <strong>Globally distributed.</strong> Our company is
                        headquartered in San Francisco, CA, but like our
                        community, our ~15 person team works from around the
                        world. We communicate primarily async, in the <a
                        href="/development-community">Zulip development
                        community</a> and <a href="https://github.com/zulip">on
                        GitHub</a>. Our roles are open to all applicants without
                        regard for location.
                    </p>
                    <p>
                        <strong>Maintainable software.</strong> Great
                        software over time depends on a team’s shared
                        understanding of a system and how to change it, as
                        much as on the code itself. Beyond writing our
                        code so it works today, we put equal effort into
                        writing code, tests, comments, commit history,
                        and <a href="https://zulip.readthedocs.io/en/latest/">documentation</a>
                        clearly, to share with each other and future
                        contributors our understanding of how and why it
                        works, so we can build on it tomorrow.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="what-were-building">
        <div class="main">
            <div class="padded-content">
                <div class="inner-content markdown">
                    <h1 id="what-were-building">
                        What we're building
                    </h1>
                    <p>
                        People working together need to communicate with their teammates, and they
                        also need to tune out the conversation to get work done. Teams tired of
                        wasting time in meetings move discussion to email; tired of waiting all
                        day for email replies, move to a team chat like Slack or
                        Microsoft Teams; and then
                        team chat becomes an always-on meeting, leaving people constantly
                        distracted, missing out on important conversations, or both.
                    </p>
                    <p>
                        Zulip is reinventing chat so teams can accomplish more together. We've
                        created a place where a conversation can shift seamlessly from the
                        immediacy of chat to the reply-whenever efficiency of email, and back;
                        where you can participate in the conversations that matter to you and
                        efficiently tune out the rest, no matter whether you're there in real
                        time, coming online after a morning hard at work, or returning from a
                        vacation away from it.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
