<div class="pricing-model">
    <div class="padded-content">
        <h1>Get started today.</h1>

        <div class="pricing-container">
            <div class="block">
                <div class="plan-title responsive-title">
                    Zulip Cloud
                </div>

                <div class="price-box" tabindex="-1">
                    <div class="text-content">
                        <h2>Free</h2>
                        <div class="description">
                            Best for light use.
                        </div>
                        <hr />
                        <ul class="feature-list">
                            <li>10,000 messages of search history</li>
                            <li>File storage up to 5 GB total</li>
                            <li><a href="/features/">Full-featured</a> team chat service</li>
                            <li><a href="/integrations/">Hundreds of integrations</a></li>
                            <li>Advanced <a href="/help/roles-and-permissions">roles</a> and <a href="/help/stream-permissions">permissions</a></li>
                            <li><a href="/help/roles-and-permissions">Guest accounts</a></li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <div class="text-content">
                            {% if not realm or realm.plan_type == realm.PLAN_TYPE_SELF_HOSTED %}
                            <div class="pricing-details">
                                Free cloud service
                            </div>
                            <a href="/new/" class="button green">
                                Create organization
                            </a>
                            {% elif realm.plan_type == realm.PLAN_TYPE_LIMITED or sponsorship_pending %}
                            <div class="pricing-details"></div>
                            <a href='/upgrade/' class="button black-current-value" type="button">
                                Current plan
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="price-box" tabindex="-1">
                    <div class="text-content">
                        <h2>Standard</h2>
                        <div class="description">
                            Your team's collaboration hub.
                        </div>
                        <hr />
                        <ul class="feature-list">
                            <li>Unlimited search history</li>
                            <li>File storage up to 10 GB per user</li>
                            <li><a href="/help/message-retention-policy">Message retention policies</a></li>
                            <li>Brand Zulip with your logo</li>
                            <li>Priority commercial support</li>
                            <li>Funds the Zulip open source project</li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <div class="text-content">
                            <div class="standard-price-box">
                                <div class="price">6<span class="price-cents">.67</span></div>
                                <div class="details">
                                    <span class="pricing-period">per user per month</span>
                                    <br />
                                    with annual billing discount
                                    <br />
                                    $8/month billed monthly
                                </div>
                            </div>
                            {% if not realm %}
                            <a href="/upgrade/" class="button green">
                                {% if free_trial_days %}
                                Start {{ free_trial_days }} day free trial
                                {% else %}
                                Upgrade to Standard
                                {% endif %}
                            </a>
                            {% elif realm.plan_type in [realm.PLAN_TYPE_STANDARD, realm.PLAN_TYPE_STANDARD_FREE] %}
                            <a href='/billing' class="button black-current-value" type="button">
                                {% if realm_on_free_trial %}
                                Current plan (free trial)
                                {% else %}
                                Current plan
                                {% endif %}
                            </a>
                            {% elif sponsorship_pending %}
                            <a href="/billing/" class="button black-current-value" type="button">
                                Sponsorship pending
                            </a>
                            {% else %}
                            <a href="/upgrade/" class="button green">
                                {% if free_trial_days %}
                                Start {{ free_trial_days }} day free trial
                                {% else %}
                                Upgrade to Standard
                                {% endif %}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="block">
                <div class="plan-title responsive-title">
                    Self-host Zulip
                </div>

                <div class="price-box" tabindex="-1">
                    <div class="text-content">
                        <h2>Free</h2>
                        <div class="description">
                            Retain full control over your data.
                        </div>
                        <hr />
                        <ul class="feature-list">
                            <li>All Zulip Cloud features included</li>
                            <li>Friendly community support</li>
                            <li><a href="https://zulip.readthedocs.io/en/stable/production/authentication-methods.html">SAML, OIDC, Google, social SSO</a></li>
                            <li><a href="https://zulip.readthedocs.io/en/stable/production/authentication-methods.html#synchronizing-data">LDAP/Active Directory sync</a></li>
                            <li>Advanced <a href="/help/roles-and-permissions">roles</a> and <a href="/help/stream-permissions">permissions</a></li>
                            <li>Easy <a href="https://zulip.readthedocs.io/en/stable/production/install.html">installation</a>
                                and <a href="https://zulip.readthedocs.io/en/stable/production/upgrade.html">maintenance</a></li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <div class="text-content">
                            <div class="pricing-details multi-line">
                                Zulip is 100% free and open
                                source, with no proprietary version. <br />
                            </div>
                            <a href="/self-hosting/" class="button green">
                                Self-host Zulip
                            </a>
                        </div>
                    </div>
                </div>

                <div class="price-box" tabindex="-1">
                    <div class="text-content">
                        <h2>Enterprise</h2>
                        <div class="description">
                            For mission-critical installations.
                        </div>
                        <hr />
                        <ul class="feature-list">
                            <li>All Free features included</li>
                            <li>Professional support with SLAs</li>
                            <li>High availability</li>
                            <li>Incident collaboration</li>
                            <li>Advanced compliance</li>
                            <li>Funds the Zulip open source project</li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <div class="text-content">
                            <div class="pricing-details multi-line">
                                Affordable pricing depends on support required.
                            </div>
                            <a href="mailto:sales@zulip.com" target="_blank" rel="noopener noreferrer" class="no-action button green">
                                Contact sales
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
