{% extends "zerver/portico.html" %}

{% block portico_content %}

    <h1 style="margin-top:30px;">Hello, MIT.</h1>

    <p>Use Zulip to get help with classes, chat with friends, and meet new parts
      of the MIT community.</p>

    <img src="/static/images/mit_zulip_demo.png" />

    <h3>Setup</h3>

    <p>First things first, let's get you an account!</p>

    <ol>
      <li><p>Create your account
      here: <a href="https://zulip.com/register/">https://zulip.com/register/</a></p></li>
      <li><p>Follow the on-screen instructions for linking Zulip with
      Webathena. This lets you send authenticated messages using your MIT
      credentials.</p></li>
    </ol>

    <h3>Subscriptions</h3>

    <p>Next, let's subscribe you to the streams you're interested in.</p>

    <ol>
      <li><b>Personal stream</b>: it is traditional to use a stream name that is
        your MIT username for chatting about your life with your friends (think
        of it like the Zulip stream analog for your Facebook or Twitter), and
        your friends will expect you to be subscribed to this stream. Go ahead
        and
        <a target="_blank" href="../#subscriptions">subscribe to your personal
        stream now</a>.</li>
      <li><b>Class streams</b>: most classes have streams where you can talk
        about the material and ask questions. The stream name is usually just
        the class number, e.g. "6.01". <a target="_blank"
        href="../#subscriptions">Subscribe to the streams for your classes
        now</a>.</li>
      <li><b>Dorm stream</b>: most dorms, and even some specific floors, have
        their own stream. Ask around for the dorm and floor streams relevant to
        you.</li>
      <li>(Optional) Stream <b>help</b>: ask for help about anything, from MIT
        community questions to restaurant recommendations to math puzzles.</li>
    </ol>

    <h3>Zulip on all of your devices</h3>

    <p>You're all set up in the web app, but let's <a target="_blank"
      href="../apps">install the Zulip desktop app</a> so you receive nice
      native notifications.</p>

    <p>Next, if you want Zulip on the go, <a target="_blank"
    href="../apps">install our mobile app</a>.</p>

    <h3>You're done!</h3>

    <p>If you have any questions, please contact us using the "Send feedback"
      button in Zulip or e-mail us
      at <a href="mailto:support@zulip.com">support@zulip.com</a></p>


{% endblock %}
