{% extends "zerver/base.html" %}
{% set entrypoint = "plans-page" %}

{% set PAGE_TITLE = "Plans and pricing | Zulip" %}

{% set PAGE_DESCRIPTION = "Sign up for a managed cloud solution, or self-host our 100\x25 open-source software. Get started for free." %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block content %}

{% include 'zerver/landing_nav.html' %}

<div class="portico-pricing plans">
    <div class="main">
        {% include "corporate/pricing_model.html" %}
    </div>

    <div class="additional-pricing-information">
        <div class="discounts-section">
            <header>
                <h2>Discounts?</h2>
                <p>
                    We sponsor hundreds of worthy organizations
                </p>
            </header>
            <div class="discounted-community-plan">
                <h3>Community plan</h3>
                <ul>
                    <li>
                        <a href="/for/open-source/">Open source projects</a>
                    </li>
                    <li>
                        <a href="/for/research/">Research groups or departments</a>
                    </li>
                    <li>
                        <a href="/for/events/">Academic conferences and most other non-profit events</a>
                    </li>
                </ul>
            </div>
            <div class="discounted-business-plan">
                <h3>Business plan with 85% discount</h3>
                <ul>
                    <li>
                        <a href="/for/education/">Education</a> (online or in-person)
                    </li>
                    <li>
                        <a href="/for/communities/">Non-profits and communities</a>
                    </li>
                </ul>
                <a href="{{ sponsorship_url }}">Request sponsorship</a>
                <p>
                    If you don’t have a Zulip account yet, contact us via
                    <a href="mailto:contact@zulip.com">contact@zulip.com</a>
                </p>
            </div>
        </div>

        <div class="questions-section">
            <header>
                <h2>Other questions?</h2>
                <p>
                    See our <a href="/help/zulip-cloud-billing">billing help page</a> for
                    additional details
                </p>
            </header>
            <ul>
                <li>
                    <a href="/help/zulip-cloud-billing#differences-between-zulip-cloud-plans">Differences between Zulip Cloud plans</a>
                </li>
                <li>
                    <a href="/help/zulip-cloud-billing#payment-methods">Payment methods</a>
                </li>
                <li>
                    <a href="/help/zulip-cloud-billing#temporary-users-and-guests">Temporary users and guests</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/help/migrating-from-other-chat-tools">Migrating from other chat tools</a>
                </li>
                <li>
                    <a href="https://zulip.com/help/trying-out-zulip">Trying out Zulip</a>
                </li>
            </ul>
            <p>
                If you have any other questions, please don’t hesitate to reach out to
                <a href="mailto:sales@zulip.com">sales@zulip.com</a>.
            </p>
        </div>
    </div>
</div>

{% include 'zerver/footer.html' %}
{% endblock %}
