{% extends "zerver/portico.html" %}

{% block title %}
<title>{{ _("Error") }} | Zulip</title>
{% endblock %}

{% block portico_class_name %}error{% endblock %}

{% block portico_content %}
<div class="error_page">
    <div class="container">
        <div class="row-fluid">
            <img src="{{ static('images/errors/400art.svg') }}" alt=""/>
            <div class="errorbox">
                <div class="errorcontent">
                    <h1 class="lead">{{ _("Plan management not available") }}</h1>
                    <p>
                        {% trans %}
                        Plan management for your organizations is not available because your
                        Zulip server is already on a {{ server_plan_name }} plan covering all organizations on this server.
                        Please <a href="mailto:{{ support_email }}">contact support</a> if you need help or if you'd
                        like to have the plan migrated from the server to this organization.
                        {% endtrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
