{% extends "zerver/portico.html" %}
{% set entrypoint = "upgrade" %}

{% block title %}
<title>{{ _("Billing") }} | Zulip</title>
{% endblock %}

{% block portico_content %}
<div id="remote-billing-page" class="register-account flex full-page">
    <div class="center-block new-style">
        <div class="pitch">
            <h1>Your remote user info: </h1>
        </div>
        <div class="white-box">
            Email: {{ user_email }}<br />
            Full name: {{ user_full_name }}<br />
            Remote server hostname: {{ remote_server_and_realm_info["remote_server_hostname"] }}<br />
            Remote realm host: {{ remote_server_and_realm_info.get("remote_realm_host") }}
        </div>
    </div>
</div>
{% endblock %}
