{% extends "zerver/portico.html" %}
{% set entrypoint = "sponsorship" %}

{% set PAGE_TITLE = "Request Zulip Cloud sponsorship" %}

{% block portico_content %}

{% if is_sponsored %}

<div class="flex full-page thanks-page sponsorship-status-page">
    <div class="center-block new-style">
        <div class="pitch">
            <h1>Zulip Cloud billing for {{realm_name}}</h1>
        </div>
        <div class="white-box">
            <p> Zulip is sponsoring free <a href="/plans/">Zulip Cloud Standard</a> hosting for this organization. 🎉 </p>
        </div>
    </div>
</div>

{% elif is_sponsorship_pending %}

<div class="flex full-page thanks-page sponsorship-status-page">
    <div class="center-block new-style">
        <div class="pitch">
            <h1>Sponsorship request pending for {{realm_name}}</h1>
        </div>
        <div class="white-box">
            <p> This organization has requested sponsorship for a free or discounted <a href="/plans/">Zulip Cloud Standard</a> plan.</p>
            <p>
                Please feel free to <a href="mailto:support@zulip.com">contact Zulip support</a> with any questions or updates to your request.
            </p>
        </div>
    </div>
</div>

{% else %}

<div class="register-account flex full-page sponsorship-page">
    <div class="center-block new-style">
        <div class="pitch">
            <h1>Request Zulip Cloud sponsorship</h1>
        </div>
        <div class="white-box">
            <div id="sponsorship-error" class="alert alert-danger"></div>
            <div id="sponsorship-input-section">
                <form id="sponsorship-form" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                    <div class="input-box sponsorship-form-field no-validation">
                        <label for="org-name" class="inline-block label-title">Organization</label>
                        <div id="org-name" class="not-editable-realm-field">{{ realm_name }}</div>
                    </div>
                    <div class="input-box sponsorship-form-field">
                        <div class="inline-block relative">
                            <select name="organization-type" id="organization-type" class="sponsorship-form-select">
                                {% for org_type in sorted_org_types %}
                                    {% if not org_type[1].hidden %}
                                    <option data-string-value="{{ org_type[0] }}"
                                      {% if org_type[1].id == realm_org_type %}selected{% endif %}
                                      value="{{ org_type[1].id }}">
                                        {{ _(org_type[1].name) }}
                                    </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <label for="organization-type" class="inline-block label-title">Organization type</label>
                    </div>
                    <div class="input-box sponsorship-form-field no-validation">
                        <label for="org-website" class="inline-block label-title">Organization website</label>
                        <input id="org-website" name="website" type="text" placeholder="Leave blank if this organization does not have a website."/>
                        <div id="sponsorship-org-website-error" class="alert alert-danger sponsorship-field-error"></div>
                    </div>
                    <div class="input-box sponsorship-form-field">
                        <label for="expected-total-users" class="inline-block label-title">Expected number of users (approximate range)</label>
                        <textarea id="expected-total-users" name="expected_total_users" cols="100" rows="2" placeholder="e.g., probably no more than 100"></textarea>
                        <div id="sponsorship-expected-total-users-error" class="alert alert-danger sponsorship-field-error"></div>
                    </div>
                    <div class="input-box sponsorship-form-field no-validation">
                        <label for="paid-users-count" class="inline-block label-title">How many paid staff does your organization have?</label>
                        <input id="paid-users-count" name="paid_users_count" type="text" placeholder="e.g., 10"/>
                        <div id="sponsorship-paid-users-count-error" class="alert alert-danger sponsorship-field-error"></div>
                    </div>
                    <div class="input-box sponsorship-form-field">
                        <label for="paid-users-description" class="inline-block label-title">Description of Paid Staff (If more than zero, please describe):</label>
                        <textarea id="paid-users-description" name="paid_users_description" cols="100" rows="5" placeholder="Briefly describe the roles and responsibilities of your paid staff members in the context of Zulip usage."></textarea>
                        <div id="sponsorship-paid-users-description-error" class="alert alert-danger sponsorship-field-error"></div>
                    </div>
                    <div class="input-box sponsorship-form-field">
                        <label for="description" class="inline-block label-title">Describe this organization</label>
                        <textarea id="description" name="description" cols="100" rows="5"></textarea>
                        <div id="sponsorship-description-error" class="alert alert-danger sponsorship-field-error"></div>
                    </div>
                    <p id="sponsorship-discount-details"></p>
                    <!-- Disabled buttons do not fire any events, so we need a container div that isn't disabled for tippyjs to work -->
                    <div class="upgrade-button-container" {% if is_demo_organization %}data-tippy-content="Convert demo organization before upgrading."{% endif %}>
                        <button type="submit" id="sponsorship-button" class="stripe-button-el invoice-button" {% if is_demo_organization %}disabled{% endif %}>
                            <span class="sponsorship-button-text">Submit</span>
                            <object class="loader sponsorship-button-loader" type="image/svg+xml" data="{{ static('images/loading/loader-white.svg') }}"></object>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
