{% extends "zerver/portico.html" %}
{% set entrypoint = "landing-page" %}

{% block title %}
<title>Zephyr for MIT | Zulip</title>
{% endblock %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}
<div class="portico-landing why-page">
    <div class="hero small-hero">
        <h1 class="center">Zulip for MIT Zephyr</h1>
    </div>
    <div class="main">
        <div class="padded-content">
            <div class="inner-content markdown">
                <p>If you have an MIT Athena account, you can start using Zulip for Zephyr in a couple of minutes.</p>

                <h2 id="first-time-setup">First time setup</h2>
                <ol>
                    <li><p>Activate your account here: <a href="https://zephyr.zulipchat.com/register/">https://zephyr.zulipchat.com/register/</a></p></li>
                    <li><p>Log in to Zulip here: <a href="https://zephyr.zulipchat.com">https://zephyr.zulipchat.com</a></p></li>
                    <li><p>Follow the on-screen instructions for linking Zulip with Webathena</p></li>
                    <li><p>(Optional) Get the Zulip desktop and/or mobile apps here: <a href="https://zephyr.zulipchat.com/apps/">https://zephyr.zulipchat.com/apps/</a></p></li>
                </ol>

                <h2 id="youre-done">You're done!</h2>
                <p>If you have any questions, please e-mail us at <a href="mailto:{{ support_email }}">{{ support_email }}</a></p>

                <h2 id="if-you-want-to-automatically-transfer-your-existing-zephyr-subscriptions">If you want to automatically transfer your existing Zephyr subscriptions</h2>

                <ol>
                    <li>
                        <p>
                            Get your Zulip API key from the Zulip "Settings" panel and put it in a file in your
                            Athena home directory called <code>~/Private/.zulip-api-key</code>.
                        </p>
                    </li>

                    <li>
                        <p>
                            Run the following command to copy over all of your subscriptions:<br />
                            <code>/mit/tabbott/zulip/zephyr_mirror.py --sync-subscriptions</code>
                        </p>

                        <p>
                            <strong>NOTE</strong>: Zulip supports several ways to control what messages you want to read
                            right now, but Zulip does not yet have a direct equivalent to BarnOwl filters.
                            If you have more subscriptions than you generally read, we recommend that you use
                            Zulip's "Mute" option to hide those subscriptions from your
                            home view that you less commonly read.  You can still easily access those channels
                            from Zulip when you want to read them.  You can control your subscriptions
                            and what's in your home view by clicking the gear in the upper right-hand corner
                            and then selecting "Channels".
                        </p>
                    </li>
                </ol>

                <h2 id="if-you-subscribe-to-any-encrypted-zephyr-classes">If you subscribe to any encrypted Zephyr classes</h2>

                <p>
                    You can get set up to participate on an encrypted Zephyr class using Zulip by either:
                    <ol>
                        <li><p>E-mailing us at <a href="mailto:{{ support_email }}">{{ support_email }}</a> to get set up, or</p></li>
                        <li><p>Someone who is already set up to participate on that encrypted Zephyr class using Zulip can use Zulip to invite you</p></li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
