{% extends "zerver/marketing_page.html" %}

{% set PAGE_TITLE = "Zulip Cloud" %}

{% set PAGE_DESCRIPTION = "Reliable and convenient SaaS hosting for Zulip
  organized team chat." %}


{% block marketing_content %}

<div class="portico-landing why-page solutions-page self-hosting-page zulip-cloud-page">
    <div class="hero bg-pycon clouds">
        <div class="bg-dimmer"></div>
        <div class="content">
            <h1 class="center">Zulip Cloud</h1>
            <p class="hero-description">Reliable and convenient SaaS hosting.</p>
        </div>
        <div class="hero-buttons center">
            <a href="/new" class="button">
                {{ _('Get started') }}
            </a>
            <a href="/request-demo/" class="button">
                {{ _('Get a demo') }}
            </a>
        </div>
    </div>

    <div class="alternative-features">
        <div class="feature-container">
            <div class="feature-half">
                <div class="feature-text">
                    <h1>
                        Ultimate convenience without lock-in.
                    </h1>
                    <p>
                        You can <a href="/new/">sign up</a> for Zulip Cloud in under a minute, and
                        move to a <a href="/self-hosting/">self-hosted server</a> or another service any
                        time.
                    </p>
                    <p>
                        Zulip is <a href="https://github.com/zulip">100%
                        open-source</a> software. You aren't subject to a
                        mega-corporation's whims.
                    </p>
                </div>
            </div>
            <div class="feature-half">
                <div class="feature-icon">
                    <img class="mirror-image man-mobile-image" alt="" src="{{ static('images/landing-page/education/mobile.svg') }}" />
                </div>
            </div>
        </div>

        <div class="feature-container alternate-grid">
            <div class="feature-half md-hide">
                <div class="feature-icon">
                    <img class="mirror-image" alt="" src="{{ static('images/landing-page/education/privacy.svg') }}" />
                </div>
            </div>
            <div class="feature-half">
                <div class="feature-text">
                    <h1>
                        Your space. Your data.
                    </h1>
                    <p>
                        Unlike other vendors, we believe that you should control
                        your data. No <a
                        href="https://blog.zulip.com/2025/07/24/who-owns-your-slack-history/">
                        arbitrary restrictions</a>. No ads. No LLM training on your conversations.
                    </p>
                    <p>
                        Connect Zulip to other tools with <a href="/integrations/">native
                        integrations</a> and powerful <a href="/api/">APIs</a>. An easy-to-use <a
                        href="/help/writing-bots">bot
                        framework</a>
                        lets you <a
                        href="/case-studies/windborne/#the-perfect-platform-for-llm-bots">bring
                        your own</a> preferred AI tools.
                    </p>
                </div>
            </div>
            <div class="feature-half md-display">
                <div class="feature-icon">
                    <img class="mirror-image" alt="" src="{{ static('images/landing-page/education/privacy.svg') }}" />
                </div>
            </div>
        </div>

        <div class="feature-container">
            <div class="feature-half">
                <div class="feature-text">
                    <h1>
                        Operated by experts.
                    </h1>
                    <p>
                        Zulip Cloud is operated by the core team developing
                        Zulip, with deep expertise in running your
                        mission-critical chat software with <a href="https://status.zulip.com/">minimal downtime</a>.
                        Making sure your information stays protected is <a
                        href="/security/">our highest priority.</a>
                    </p>
                </div>
            </div>
            <div class="feature-half">
                <div class="feature-icon">
                    <img alt="" src="{{ static('images/landing-page/education/flexible-administration.svg') }}" />
                </div>
            </div>
        </div>

        <div class="feature-container alternate-grid">
            <div class="feature-half md-hide">
                <div class="feature-icon">
                    <img class="mirror-image" alt="" src="{{ static('images/landing-page/zulip-cloud/support.svg') }}" />
                </div>
            </div>
            <div class="feature-half">
                <div class="feature-text">
                    <h1>
                        Supported by humans who care.
                    </h1>
                    <p>
                        Our support is staffed by <i>real people</i> whose goal
                        is to actually <i>solve your problems</i>.
                    </p>
                    <p>
                        You can <a
                        href="https://zulip.readthedocs.io/en/stable/contributing/reporting-bugs.html">report
                        bugs</a> and <a
                        href="https://zulip.readthedocs.io/en/stable/contributing/suggesting-features.html">give
                        product feedback</a>
                        directly to the product and engineering team in the <a
                        href="/development-community/">Zulip development
                        community</a>.
                    </p>
                    <div class="intro_quote quote-in-feature-text">
                        <blockquote>
                            The Zulip team are very responsive to issue reports and requests, both
                            in their community and over email.
                            <div class="author">
                                &mdash; Neil W., CMO (<a href="https://www.g2.com/products/zulip/reviews/zulip-review-11898513">G2 review</a>)
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="quote">
        <div class="triangle"></div>
        <blockquote>
            The Zulip Cloud hosting has been bulletproof — we haven’t had any down time.
            <div class="author">
                &mdash;  Gareth Watts, co-founder and CTO of <a href="/case-studies/atolio/">Atolio</a>
            </div>
        </blockquote>
    </div>

    <div class="feature-grid">
        <div class="feature-row">
            <div class="feature-box">
                <div class="feature-icon">
                    <img alt="" src="{{ static('images/landing-page/self-hosting/growth.png') }}" />
                </div>
                <div class="feature-text">
                    <h1>
                        Get the latest & greatest.
                    </h1>
                    <p>
                        Zulip Cloud is updated with new features and
                        improvements as soon as they are production-ready. (<a
                        href="https://blog.zulip.com/tag/major-releases/">Major
                        self-hosted versions</a> are released twice a year.)
                    </p>
                    <p>
                        We're making <a
                        href="https://github.com/zulip/zulip/graphs/commit-activity">dozens
                        of improvements</a> each week!
                    </p>
                </div>
            </div>
            <div class="feature-box">
                <div class="feature-icon">
                    <img alt="" src="{{ static('images/landing-page/zulip-cloud/free.png') }}" />
                </div>
                <div class="feature-text">
                    <h1>
                        Free to get started.
                    </h1>
                    <p>
                        With Zulip Cloud Free, you get everything you need for
                        exploring the product or casual use. <a
                        href="/help/zulip-cloud-billing#free-and-discounted-zulip-cloud-standard">Eligible
                        organizations</a>
                        are encouraged to join our generous sponsorship program.
                    </p>
                    <p>
                        If regular Zulip Cloud pricing is unaffordable for your
                        organization, please contact <a
                        href="mailto:sales@zulip.com">sales@zulip.com</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="portico-pricing showing-cloud">
        {% with %}
        {% set rendering_page="cloud" %}
        {% include "corporate/pricing_model.html" %}
        {% endwith %}
    </div>

</div>

{% endblock %}
