<h4>Chart key:</h4>
<ul>
    <li><strong>Server mobile pushes</strong>
        <ul>
            <li>Count of forwarded push notifications in last 7 days</li>
            <li>Includes today's current count</li>
        </ul>
    </li>
    <li><strong>ARR</strong> (annual recurring revenue)
        <ul>
            <li>If plan has a fixed price, displays that value</li>
            <li>Otherwise, is an estimate based on the current users multiplied by annual price per user</li>
            <li>Currently, does not account for first year, flat $20 discount per month</li>
            <li>Plans with status of <strong>Free trial</strong> show estimated revenue for full year</li>
        </ul>
    </li>
    <li><strong>Links</strong>
        <ul>
            <li><strong><i class="fa fa-pie-chart"></i></strong> - remote server's stats page</li>
            <li><strong><i class="fa fa-gear"></i></strong> - remote server's support page</li>
        </ul>
    </li>
</ul>
