[{kernel, [{inet_dist_use_interface, {127,0,0,1}}]},
 {rabbit, [{tcp_listeners, [{"127.0.0.1", 5672}]},
           %% We disable consumer_timeout. Our queue workers ACK an
           %% event only after consume() finishes; consumer_timeout doesn't
           %% abort a slow job, it just requeues it for a redundant,
           %% duplicate run. This mechanism doesn't provide anything helpful
           %% for us.
           {consumer_timeout, undefined}]},
 {rabbitmq_prometheus, [{tcp_config, [{ip, {127,0,0,1}}, {port, 15692}]}]}].
