<div class="poll-widget">
    <h4>Poll widget</h4>
    <br />
    <input type="text" class="poll-comment" placeholder="{{t 'we should...'}}" />
    <button class="poll-comment">add idea</button>
    <br />
    <ul class="poll-widget">
    </ul>
</div>
