<div class="poll-widget">
    <h4>Poll widget</h4>
    <div class="poll-comment-bar">
        <input type="text" class="poll-comment" placeholder="{{t 'New choice'}}" />
        <button class="poll-comment">{{t "Add option" }}</button>
    </div>
    <br />
    <ul class="poll-widget">
    </ul>
</div>
