<div class="poll-widget">
    <h4 class="poll-question-header"></h4><i class="fa fa-pencil poll-edit-question"></i>
    <ul class="poll-widget">
    </ul>
    <div class="poll-question-bar">
        <input type="text" class="poll-question" placeholder="{{t 'Question'}}" />
        <button class="poll-question">{{t "Add question" }}</button>
        <button class="poll-question-remove d-none"><i class="fa fa-remove"></i></button>
    </div>
    <div class="poll-comment-bar">
        <input type="text" class="poll-comment" placeholder="{{t 'New choice'}}" />
        <button class="poll-comment">{{t "Add option" }}</button>
    </div>
    <br />
</div>
