<div class="poll-widget">
    <h4>Poll widget</h4>
    <br />
    <input type="text" class="poll-comment" placeholder="{{t 'New choice'}}" />
    <button class="poll-comment">{{t "Add option" }}</button>
    <br />
    <ul class="poll-widget">
    </ul>
</div>
