<h3>Tic Tac Toe</h3>

<h4>{{ move_status }}</h4>

<table class="tictactoe">
    {{#each squares}}
    <tr>
        {{#each this}}
        <td class="tictactoe">
            <div>
                <button {{#if this.disabled}}disabled{{/if}} class="tictactoe-square" data-idx="{{ idx }}">
                    {{ this.val }}
                </button>
            </div>
        </td>
        {{/each}}
    </tr>
    {{/each}}
</table>
