<div class="todo-widget">
    <h4>{{t "Task list" }}</h4>
    <div class="add-task-bar">
        <input type="text" class="add-task" placeholder="{{t 'New task'}}" />
        <input type="text" class="add-desc" placeholder="{{t 'Description'}}" />
        <button class="add-task">{{t "Add task" }}</button>
        <div class="widget-error"></div>
    </div>
    <ul class="todo-widget new-style">
    </ul>
</div>
