<div class="widget-choices">
    <div class="widget-choices-heading">{{ heading }}</div>
    <ul>
        {{#each choices}}
            <li>
                <button data-idx="{{ this.idx }}">{{ this.short_name }}</button>
                &nbsp;
                {{ this.long_name }}
            </li>
        {{/each}}
    </ul>
</div>
