<div class="add_members_container add-button-container">
    <div class="members-input-scrollable-container" data-simplebar>
        <div class="pill-container person_picker">
            <div class="input" contenteditable="true"
              data-placeholder="{{t 'Add users or groups. Use #channelname to add all subscribers.' }}">
                {{~! Squash whitespace so that placeholder is displayed when empty. ~}}
            </div>
        </div>
    </div>
    {{#if (not hide_add_button)}}
        <div class="add_member_button_wrapper add-users-button-wrapper inline-block">
            {{> ../components/action_button
              label=(t "Add")
              custom_classes="add-member-button add-users-button"
              id="add_member"
              variant="subtle"
              intent="brand"
              type="submit"
              }}
            {{> ../components/icon_button
              icon="check"
              intent="success"
              custom_classes="check hidden-below"
              disabled=true
              }}
        </div>
    {{/if}}
</div>
