<div class="add_members_container">
    <div class="pill-container person_picker">
        <div class="input" contenteditable="true"
          data-placeholder="{{t 'Add users or groups. Use #channelname to add all subscribers.' }}">
            {{~! Squash whitespace so that placeholder is displayed when empty. ~}}
        </div>
    </div>
    {{#if (not hide_add_button)}}
        <div class="add_member_button_wrapper inline-block">
            <button type="submit" name="add_member" class="button add-member-button add-users-button small rounded sea-green" tabindex="0">
                {{t 'Add' }}
            </button>
        </div>
    {{/if}}
</div>
