<div class="cannot-deactivate-group-banner main-view-banner error">
    <p class="banner-text">
        {{t "To deactivate this group, you must first remove all permissions assigned to it."}}
    </p>
    <button class="permissions-button main-view-banner-action-button">
        {{t "View permissions"}}
    </button>
</div>
