<tr>
    <td class="panel_user_list" colspan="2">
        {{> ../user_group_display_only_pill}}
    </td>
    <td>
        <button data-group-id="{{group_id}}" class="remove_potential_subgroup button small rounded white">{{t 'Remove' }}</button>
    </td>
</tr>
