<span class="user-group-info-title-text">{{t 'User group settings' }}</span>
<a href="/help/user-groups" target="_blank" class="user-group-help-icon" title="{{t 'User groups help'}}"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
