<div class="selected-group-title">
    <div class="selected-group">
        <span class="selected-group-name">{{group_name}}</span>
        <i class="fa fa-ban deactivated-user-icon deactivated-user-group-icon-right"></i>
    </div>
</div>
