{{#if rendered_description}}
    <div class="group-description settings-view-only-textarea">
        {{rendered_description}}
    </div>
{{else}}
    <span class="no-description">
        {{t "No description." }}
    </span>
{{/if}}
