<div class="member_list_container" data-simplebar data-simplebar-tab-index="-1">
    <div class="member_list_loading_indicator"></div>
    <table class="member-list table table-striped">
        <thead class="table-sticky-headers">
            <th data-sort="name">{{t "Name" }}
                <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
            </th>
            <th class="settings-email-column" data-sort="email">{{t "Email" }}
                <i class="table-sortable-arrow zulip-icon zulip-icon-sort-arrow-down"></i>
            </th>
            <th {{#unless can_remove_members}}style="display:none"{{/unless}}></th>
        </thead>
        <tbody class="member_table" data-empty="{{t 'This group has no members.' }}" data-search-results-empty="{{t 'No group members match your current filter.'}}"></tbody>
    </table>
</div>
