<div class="no-groups-to-show">
    <div class="empty-state-message">
        <p>{{empty_user_group_list_message}}</p>

        {{#if all_groups_tab}}
        {{!-- "All groups" tab - only show create button --}}
        {{#if can_create_user_groups}}
        <button class="create_user_group_button action-button action-button-medium-brand" type="button">
            <span class="action-button-label">{{t "Create user group"}}</span>
        </button>
        {{/if}}
        {{else}}
        {{!-- "Your groups" tab - only show view all groups button --}}
        <button class="view_all_groups_button action-button action-button-medium-brand" type="button">
            <span class="action-button-label">{{t "View all groups"}}</span>
        </button>
        {{/if}}
    </div>
</div>
