<div class="no-groups-to-show-message">
    <span class="settings-empty-option-text">
        {{empty_user_group_list_message}}
        {{#unless is_filtered}}
            {{#if your_groups_tab}}
                {{#if has_any_groups}}
                    {{> ../components/action_button label=(t "View all groups") custom_classes="view-all-groups-button" type="button" variant="subtle" intent="neutral" }}
                {{else if can_create_user_groups}}
                    {{> ../components/action_button label=(t "Create user group") custom_classes="create-user-group-button" type="button" variant="subtle" intent="brand" }}
                {{/if}}
            {{/if}}
            {{#if all_groups_tab}}
                {{#unless has_any_groups}}
                    {{#if can_create_user_groups}}
                        {{> ../components/action_button label=(t "Create user group") custom_classes="create-user-group-button" type="button" variant="subtle" intent="brand" }}
                    {{/if}}
                {{/unless}}
            {{/if}}
        {{/unless}}
    </span>
</div>
