<div class="no-groups-to-show-message">
    <span class="settings-empty-option-text">
        {{empty_user_group_list_message}}
        {{#if show_view_all_groups_button}}
            {{> ../components/action_button label=(t "View all groups") custom_classes="view-all-groups-button" type="button" variant="subtle" intent="neutral" }}
        {{/if}}
        {{#if show_create_user_group_button}}
            {{> ../components/action_button label=(t "Create user group") custom_classes="create-user-group-button" type="button" variant="subtle" intent="brand" }}
        {{/if}}
    </span>
</div>
