<div class="settings-subsection-parent" data-group-id="{{group_id}}">
    <div class="subsection-header">
        <h3>{{group_name}}</h3>
        {{> ../settings/settings_save_discard_widget show_only_indicator=false }}
    </div>

    <div class="subsection-settings">
        {{#each assigned_permissions}}
            {{> ../settings/settings_checkbox
              setting_name=setting_name
              prefix=../id_prefix
              is_checked=true
              label=(lookup ../setting_labels setting_name)
              is_disabled=(not can_edit)
              tooltip_message=tooltip_message
              }}
        {{/each}}
    </div>
</div>
