<div class="member_list_settings_container">
    <div class="membership-status">
        {{> user_group_membership_status .}}
    </div>
    {{#unless group.is_system_group}}
        <h4 class="user_group_setting_subsection_title">
            {{t "Add members" }}
        </h4>
        <div class="user_group_subscription_request_result banner-wrapper"></div>
        <div class="member_list_settings">
            <div class="member_list_add">
                {{> add_members_form .}}
            </div>
        </div>
        <div class="add-members-subtitle">
            {{#tr}}
                You can add members by name or email address.
                Enter a <z-user-roles-link>user role</z-user-roles-link>,
                <z-user-groups-link>user group</z-user-groups-link>,
                or <z-channel-link>#channel</z-channel-link> to add multiple users at once.
                {{#*inline "z-user-roles-link"}}<a href="/help/user-roles" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
                {{#*inline "z-user-groups-link"}}<a href="/help/user-groups" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
                {{#*inline "z-channel-link"}}<a href="/help/introduction-to-channels" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
            {{/tr}}
        </div>
    {{/unless}}
    <div>
        <h4 class="inline-block user_group_setting_subsection_title">{{t "Members"}}</h4>
        <span class="member-search float-right">
            <input type="text" class="search filter_text_input" placeholder="{{t 'Filter' }}" />
        </span>
    </div>
    <div class="add-group-member-loading-spinner"></div>
    <div class="member-list-box">
        {{> user_group_members_table .}}
    </div>
</div>
