<div>
    <label for="change_user_group_name">
        {{t 'User group name' }}
    </label>
    <input type="text" id="change_user_group_name" value="{{ group_name }}" />
</div>
<div>
    <label for="change_user_group_description">
        {{t 'User group description' }}
    </label>
    <textarea id="change_user_group_description" class="settings_textarea">{{ group_description }}</textarea>
</div>
