<div id="groups_overlay" class="overlay new-style" data-overlay="group_subscriptions">
    <div class="flex overlay-content">
        <div class="user-groups-container modal-bg">
            <div class="user-groups-header">
                <div class="fa fa-chevron-left"></div>
                <span class="user-groups-title">{{t 'User groups' }}</span>
                <div class="exit">
                    <span class="exit-sign">&times;</span>
                </div>
            </div>
        </div>
    </div>
</div>
