<div class="group_settings_header" data-group-id="{{group.id}}">
    <div class="tab-container"></div>
</div>
<div class="user_group_settings_wrapper" data-group-id="{{group.id}}">
    <div class="inner-box">

        <div class="group_general_settings group_setting_section">
            General group settings.
        </div>

        <div class="group_member_settings group_setting_section">
            Group member settings.
        </div>
    </div>
</div>
