.drafts-container {
    .drafts-list {
        .removed-drafts {
            display: block;
            text-align: center;
            font-size: 1em;
            color: hsl(0deg 0% 67%);
            pointer-events: none;
        }

        & h2 {
            font-size: 1.1em;
            line-height: normal;
            margin-bottom: 5px;
        }
    }
}
