.tab-content {
    display: none;

    .header-body {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;

        .drafts-header-note {
            text-align: left;
            margin-left: 25px;

            @media (width < $lg_min) {
                text-align: center;
                margin-left: 0;
            }
        }

        .delete-drafts-group {
            display: flex;
            justify-content: flex-end;
            gap: 10px;

            .delete-selected-drafts-button {
                &:focus {
                    background-color: hsl(0deg 0% 93%);
                }
            }

            .delete-selected-outbox-button {
                &:focus {
                    background-color: hsl(0deg 0% 93%);
                }
            }

            .select-drafts-button {
                display: flex;
                align-items: center;
                gap: 5px;
                margin-right: 25px;
                padding-left: 15px;
                padding-right: 15px;

                &:focus {
                    background-color: hsl(0deg 0% 93%);
                }
            }

            .select-outbox-button {
                display: flex;
                align-items: center;
                gap: 5px;
                margin-right: 25px;
                padding-left: 15px;
                padding-right: 15px;

                &:focus {
                    background-color: hsl(0deg 0% 93%);
                }
            }

            .select-state-indicator {
                width: 15px;
            }

            @media (width < $lg_min) {
                margin-top: 5px;
                width: 100%;
            }
        }

        @media (width < $lg_min) {
            display: block;
        }
    }

    .drafts-list {
        overflow: auto;
        overflow-y: auto;
        max-height: 75vh;

        & h2 {
            font-size: 1.1em;
            line-height: normal;
            margin-bottom: 5px;
            white-space: pre-wrap;
        }
    }

    .draft-selection-checkbox {
        margin-top: 5px;
        /* Required to make sure that the checkbox icon stays inside
           the grid. Any value greater than 13px (original width of
           the checkbox icon) will work. */
        width: 15px;
    }

    .outbox-selection-checkbox {
        margin-top: 5px;
        /* Required to make sure that the checkbox icon stays inside
            the grid. Any value greater than 13px (original width of
            the checkbox icon) will work. */
        width: 15px;
    }
}

.drafts-container {
    .tab-switcher {
        display: flex;
        margin-top: 45px;
        margin-bottom: 10px;
    }

    .ind-tab {
        flex: 1;
        min-width: 120px;
        max-width: 100%;
        text-align: center;
        padding: 6px 12px;
        white-space: nowrap;
    }

    @media (width <= 600px) {
        .ind-tab {
            min-width: 120px;
            font-size: 14px;
        }
    }
}

.tab-container {
    padding: 0 20px;
}

.tab-content.active {
    display: block;
    overflow: hidden;
}
