.informational-overlays {
    display: grid;
    place-items: center;

    .overlay-content {
        width: 90%;
        max-width: 650px;
        border-radius: 6px;
        overflow: hidden;

        background-color: var(--color-background-modal);
    }

    .overlay-tabs {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 0 5%;
        height: 60px;
        box-shadow: 0 3px 12px 1px hsl(207deg 100% 11% / 8%);

        .tab-switcher {
            flex-grow: 1;
        }

        .exit {
            color: hsl(0deg 0% 60%);
            cursor: pointer;
            order: 1;
        }
    }

    .overlay-modal {
        padding-bottom: 10px;

        .overlay-scroll-container {
            height: 75vh;
            outline: none;
        }

        .simplebar-content {
            padding: 35px 30px 35px 25px !important;
        }

        & a {
            color: var(--color-text-link);

            &:hover {
                color: var(--color-text-link) !important;
            }
        }

        .documentation-link {
            text-align: center;
            margin-top: 35px;
        }

        & kbd {
            font-family: "Source Sans 3 VF", sans-serif;

            /* Contains stylistic variant of upper-case character "I" in Source Sans 3 VF. */
            font-feature-settings: "ss01" on;
            margin: 6px 6px 0;
            padding: 1px 0.5em;
            font-size: 14px;
            font-weight: 400;
            color: var(--color-keyboard);
            background: none;
            border: solid 1.5px var(--color-keyboard);
            border-radius: 5px;
            text-shadow: none;
        }

        .concurrent-hotkeys {
            display: inline-flex;
            white-space: nowrap;
            padding: 6px 6px 0;
            gap: 4px;

            & kbd {
                margin: 0;
            }
        }
    }

    .help-table {
        width: 100%;
        margin-bottom: 2rem;
        color: var(--color-text);
        border-collapse: collapse;

        .operator {
            width: 50%;
        }

        & tbody {
            & tr {
                border-bottom: solid 1px var(--color-table-border);

                &:first-child {
                    border-top: solid 1px var(--color-table-border);
                }
            }
        }

        & thead {
            background: none !important;
        }

        & th {
            color: var(--color-title);
            font-size: 1.3rem;
            line-height: 125%;
            text-align: left;
            padding: 0 0 1rem;
        }

        & td {
            padding: 0.75rem 1rem 0.75rem 0;
            width: 50%;
            color: var(--color-text);
            text-align: left;
            vertical-align: middle;

            &[colspan] {
                text-align: center;
            }
        }
    }

    #operators-instructions {
        & .help-table tr:last-child td {
            padding: 20px 0;
        }
    }

    .hotkeys-table {
        & th {
            text-align: center;
        }

        & th,
        & td {
            padding: 0.5rem 0;
        }

        & td {
            &:not(.definition) {
                /* contradict top-margin of kbd tag */
                padding-top: calc(0.5rem - 6px);

                width: 47%;
                color: var(--color-sub-text);
                text-align: right;
            }

            &.definition {
                padding-left: 0.4rem;

                .emoji {
                    width: 1.35em;
                    height: 1.35em;
                }
            }
        }
    }

    @media only screen and (width < $md_min) {
        .informational-overlays {
            .overlay-content {
                width: calc(100% - 20px);
            }

            .tab-switcher {
                display: flex;

                &.large .ind-tab {
                    width: 100%;
                }
            }

            .hotkeys-table {
                width: 100%;
                display: table;
            }
        }
    }
}
