.message-edit-history-container {
    .header-body {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;

        @media (width < $lg_min) {
            display: block;
        }
    }

    .message-edit-history-list {
        /*
        styles are based on drafts-list
        see web/styles/drafts.css
        */
        & h2 {
            font-size: 1.1em;
            line-height: normal;
            margin-bottom: 5px;
        }
    }

    .message_edit_history_content {
        .highlight_text_inserted {
            color: hsl(122deg 72% 30%);
            background-color: hsl(120deg 64% 95%);
        }

        .highlight_text_deleted {
            color: hsl(0deg 100% 50%);
            background-color: hsl(7deg 90% 92%);
            text-decoration: line-through;
            word-break: break-all;
        }
    }

    .messagebox-content {
        display: block !important;

        .message_content {
            cursor: default !important;
        }
    }

    #message-history-error {
        /*
        styles are based on .model_content
        see web/styles/modal.css
        */
        font-size: 1rem;
        display: none;
        margin: 10px;
    }

    .overlay_loading_indicator_style {
        width: 100% !important;
        height: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .messagebox {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center; /* Center items vertically */
    }

    .delete-edit-history {
        display: block;
        background-color: hsl(0deg 100% 70%);
        color: hsl(0deg 0% 100%);
        border: none;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        margin-top: 10px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: hsl(0deg 0% 0%);
    }

    .modal-content {
        background-color: hsl(0deg 0% 100%);
        margin: 15% auto;
        padding: 20px;
        border: 1px solid hsl(0deg 0% 35%);
        width: 80%;
    }

    .close {
        color: hsl(0deg 0% 67%);
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: hsl(0deg 0% 0%);
        text-decoration: none;
        cursor: pointer;
    }

    #confirm-delete-btn,
    #cancel-delete-btn {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        cursor: pointer;
    }

    #confirm-delete-btn {
        background-color: hsl(2deg 64% 58%);
        color: hsl(0deg 0% 100%);
    }

    #cancel-delete-btn {
        background-color: hsl(194deg 66% 61%);
        color: hsl(0deg 0% 100%);
    }

    #confirmation-modal {
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
        z-index: 9999;
    }

    .deleted_message_box {
        display: block;
        background-color: hsl(0deg 0% 20%);
        color: hsl(0deg 0% 100%);
        font-weight: bold;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        margin: 10px 0;
        font-style: italic;
        width: 100%;
        border: none;
    }

    .deleted_message_box .stream_label .private_message_header_name {
        color: hsl(0deg 100% 70%);
    }
}
