/* Begin non-color Zulip customizations */
.codehilite .c,
.codehilite .cm,
.codehilite .c1,
.codehilite .cs,
.codehilite .ge,
.codehilite .sd {
    font-style: italic;
} /* Comment, Comment.Multiline, Comment.Single, Comment.Special,
     Generic.Emph, Literal.String.Doc */

.codehilite .gh,
.codehilite .gp,
.codehilite .gs,
.codehilite .gu,
.codehilite .kc,
.codehilite .kn,
.codehilite .kr,
.codehilite .nc,
.codehilite .ni,
.codehilite .ne,
.codehilite .nn,
.codehilite .nt,
.codehilite .ow,
.codehilite .se,
.codehilite .si {
    font-weight: bold;
} /* Generic.Heading, Generic.Prompt, Generic.Strong, Generic.Subheading,
     Keyword.Constant, Keyword.Namespace, Keyword.Reserved, Name.Class,
     Name.Entity, Name.Exception, Name.Namespace, Name.Tag, Operator.Word,
     Literal.String.Escape, Literal.String.Interpol */

.codehilite .err {
    border: 1px solid hsl(0deg 100% 50%);
} /* Error */

/* End non-color Zulip customizations. */

/* Begin Zulip color customizations. */

/* stylelint-disable color-no-hex, no-duplicate-selectors */

/* GitHub-style simple diff colors. These are
   the same in light and dark modes. */
.codehilite .gd {
    color: #d44;
} /* Generic.Deleted */
.codehilite .gi {
    color: #292;
} /* Generic.Inserted */

/* End Zulip color customizations. */

/* Begin Quansight-Labs GitHub Styles */
.codehilite .hll {
    background-color: #0969da4a;
}

.codehilite .c {
    color: #6e7781;
} /* Comment */
.codehilite .err {
    color: #cf222e;
} /* Error */
.codehilite .k {
    color: #cf222e;
} /* Keyword */
.codehilite .l {
    color: #953800;
} /* Literal */
.codehilite .n {
    color: #8250df;
} /* Name */
.codehilite .o {
    color: #116329;
} /* Operator */
.codehilite .p {
    color: #24292f;
} /* Punctuation */
.codehilite .ch {
    color: #6e7781;
} /* Comment.Hashbang */
.codehilite .cm {
    color: #6e7781;
} /* Comment.Multiline */
.codehilite .cp {
    color: #6e7781;
} /* Comment.Preproc */
.codehilite .cpf {
    color: #6e7781;
} /* Comment.PreprocFile */
.codehilite .c1 {
    color: #6e7781;
} /* Comment.Single */
.codehilite .cs {
    color: #6e7781;
} /* Comment.Special */
.codehilite .ge {
    font-style: italic;
} /* Generic.Emph */
.codehilite .gr {
    color: #cf222e;
} /* Generic.Error */
.codehilite .gh {
    color: #0550ae;
} /* Generic.Heading */
.codehilite .gs {
    font-weight: bold;
} /* Generic.Strong */
.codehilite .gu {
    color: #0550ae;
} /* Generic.Subheading */
.codehilite .kc {
    color: #0550ae;
} /* Keyword.Constant */
.codehilite .kd {
    color: #cf222e;
} /* Keyword.Declaration */
.codehilite .kn {
    color: #cf222e;
} /* Keyword.Namespace */
.codehilite .kp {
    color: #cf222e;
} /* Keyword.Pseudo */
.codehilite .kr {
    color: #cf222e;
} /* Keyword.Reserved */
.codehilite .kt {
    color: #cf222e;
} /* Keyword.Type */
.codehilite .ld {
    color: #953800;
} /* Literal.Date */
.codehilite .m {
    color: #953800;
} /* Literal.Number */
.codehilite .s {
    color: #0550ae;
} /* Literal.String */
.codehilite .na {
    color: #953800;
} /* Name.Attribute */
.codehilite .nb {
    color: #953800;
} /* Name.Builtin */
.codehilite .nc {
    color: #0550ae;
} /* Name.Class */
.codehilite .no {
    color: #0550ae;
} /* Name.Constant */
.codehilite .nd {
    color: #953800;
} /* Name.Decorator */
.codehilite .ni {
    color: #116329;
} /* Name.Entity */
.codehilite .ne {
    color: #8250df;
} /* Name.Exception */
.codehilite .nf {
    color: #0550ae;
} /* Name.Function */
.codehilite .nl {
    color: #953800;
} /* Name.Label */
.codehilite .nn {
    color: #24292f;
} /* Name.Namespace */
.codehilite .nx {
    color: #8250df;
} /* Name.Other */
.codehilite .py {
    color: #0550ae;
} /* Name.Property */
.codehilite .nt {
    color: #116329;
} /* Name.Tag */
.codehilite .nv {
    color: #953800;
} /* Name.Variable */
.codehilite .ow {
    color: #8250df;
} /* Operator.Word */
.codehilite .w {
    color: #24292f;
} /* Text.Whitespace */
.codehilite .mb {
    color: #953800;
} /* Literal.Number.Bin */
.codehilite .mf {
    color: #953800;
} /* Literal.Number.Float */
.codehilite .mh {
    color: #953800;
} /* Literal.Number.Hex */
.codehilite .mi {
    color: #953800;
} /* Literal.Number.Integer */
.codehilite .mo {
    color: #953800;
} /* Literal.Number.Oct */
.codehilite .sa {
    color: #0550ae;
} /* Literal.String.Affix */
.codehilite .sb {
    color: #0550ae;
} /* Literal.String.Backtick */
.codehilite .sc {
    color: #0550ae;
} /* Literal.String.Char */
.codehilite .dl {
    color: #0550ae;
} /* Literal.String.Delimiter */
.codehilite .sd {
    color: #0550ae;
} /* Literal.String.Doc */
.codehilite .s2 {
    color: #0550ae;
} /* Literal.String.Double */
.codehilite .se {
    color: #0550ae;
} /* Literal.String.Escape */
.codehilite .sh {
    color: #0550ae;
} /* Literal.String.Heredoc */
.codehilite .si {
    color: #0550ae;
} /* Literal.String.Interpol */
.codehilite .sx {
    color: #0550ae;
} /* Literal.String.Other */
.codehilite .sr {
    color: #0550ae;
} /* Literal.String.Regex */
.codehilite .s1 {
    color: #0550ae;
} /* Literal.String.Single */
.codehilite .ss {
    color: #0550ae;
} /* Literal.String.Symbol */
.codehilite .bp {
    color: #953800;
} /* Name.Builtin.Pseudo */
.codehilite .fm {
    color: #0550ae;
} /* Name.Function.Magic */
.codehilite .vc {
    color: #953800;
} /* Name.Variable.Class */
.codehilite .vg {
    color: #953800;
} /* Name.Variable.Global */
.codehilite .vi {
    color: #953800;
} /* Name.Variable.Instance */
.codehilite .vm {
    color: #953800;
} /* Name.Variable.Magic */
.codehilite .il {
    color: #953800;
} /* Literal.Number.Integer.Long */
.codehilite .highlight {
    background: #fff;
    color: #24292f;
}

%dark-theme {
    .codehilite .hll {
        background-color: #6e768182;
    }

    .codehilite .c {
        color: #8b949e;
    } /* Comment */
    .codehilite .err {
        color: #ff7b72;
    } /* Error */
    .codehilite .k {
        color: #ff7b72;
    } /* Keyword */
    .codehilite .l {
        color: #ffa657;
    } /* Literal */
    .codehilite .n {
        color: #d2a8ff;
    } /* Name */
    .codehilite .o {
        color: #7ee787;
    } /* Operator */
    .codehilite .p {
        color: #c9d1d9;
    } /* Punctuation */
    .codehilite .ch {
        color: #8b949e;
    } /* Comment.Hashbang */
    .codehilite .cm {
        color: #8b949e;
    } /* Comment.Multiline */
    .codehilite .cp {
        color: #8b949e;
    } /* Comment.Preproc */
    .codehilite .cpf {
        color: #8b949e;
    } /* Comment.PreprocFile */
    .codehilite .c1 {
        color: #8b949e;
    } /* Comment.Single */
    .codehilite .cs {
        color: #8b949e;
    } /* Comment.Special */
    .codehilite .ge {
        font-style: italic;
    } /* Generic.Emph */
    .codehilite .gr {
        color: #ff7b72;
    } /* Generic.Error */
    .codehilite .gh {
        color: #79c0ff;
    } /* Generic.Heading */
    .codehilite .gs {
        font-weight: bold;
    } /* Generic.Strong */
    .codehilite .gu {
        color: #79c0ff;
    } /* Generic.Subheading */
    .codehilite .kc {
        color: #79c0ff;
    } /* Keyword.Constant */
    .codehilite .kd {
        color: #ff7b72;
    } /* Keyword.Declaration */
    .codehilite .kn {
        color: #ff7b72;
    } /* Keyword.Namespace */
    .codehilite .kp {
        color: #ff7b72;
    } /* Keyword.Pseudo */
    .codehilite .kr {
        color: #ff7b72;
    } /* Keyword.Reserved */
    .codehilite .kt {
        color: #ff7b72;
    } /* Keyword.Type */
    .codehilite .ld {
        color: #ffa657;
    } /* Literal.Date */
    .codehilite .m {
        color: #ffa657;
    } /* Literal.Number */
    .codehilite .s {
        color: #79c0ff;
    } /* Literal.String */
    .codehilite .na {
        color: #ffa657;
    } /* Name.Attribute */
    .codehilite .nb {
        color: #ffa657;
    } /* Name.Builtin */
    .codehilite .nc {
        color: #79c0ff;
    } /* Name.Class */
    .codehilite .no {
        color: #79c0ff;
    } /* Name.Constant */
    .codehilite .nd {
        color: #ffa657;
    } /* Name.Decorator */
    .codehilite .ni {
        color: #7ee787;
    } /* Name.Entity */
    .codehilite .ne {
        color: #d2a8ff;
    } /* Name.Exception */
    .codehilite .nf {
        color: #79c0ff;
    } /* Name.Function */
    .codehilite .nl {
        color: #ffa657;
    } /* Name.Label */
    .codehilite .nn {
        color: #c9d1d9;
    } /* Name.Namespace */
    .codehilite .nx {
        color: #d2a8ff;
    } /* Name.Other */
    .codehilite .py {
        color: #79c0ff;
    } /* Name.Property */
    .codehilite .nt {
        color: #7ee787;
    } /* Name.Tag */
    .codehilite .nv {
        color: #ffa657;
    } /* Name.Variable */
    .codehilite .ow {
        color: #d2a8ff;
    } /* Operator.Word */
    .codehilite .w {
        color: #c9d1d9;
    } /* Text.Whitespace */
    .codehilite .mb {
        color: #ffa657;
    } /* Literal.Number.Bin */
    .codehilite .mf {
        color: #ffa657;
    } /* Literal.Number.Float */
    .codehilite .mh {
        color: #ffa657;
    } /* Literal.Number.Hex */
    .codehilite .mi {
        color: #ffa657;
    } /* Literal.Number.Integer */
    .codehilite .mo {
        color: #ffa657;
    } /* Literal.Number.Oct */
    .codehilite .sa {
        color: #79c0ff;
    } /* Literal.String.Affix */
    .codehilite .sb {
        color: #79c0ff;
    } /* Literal.String.Backtick */
    .codehilite .sc {
        color: #79c0ff;
    } /* Literal.String.Char */
    .codehilite .dl {
        color: #79c0ff;
    } /* Literal.String.Delimiter */
    .codehilite .sd {
        color: #79c0ff;
    } /* Literal.String.Doc */
    .codehilite .s2 {
        color: #79c0ff;
    } /* Literal.String.Double */
    .codehilite .se {
        color: #79c0ff;
    } /* Literal.String.Escape */
    .codehilite .sh {
        color: #79c0ff;
    } /* Literal.String.Heredoc */
    .codehilite .si {
        color: #79c0ff;
    } /* Literal.String.Interpol */
    .codehilite .sx {
        color: #79c0ff;
    } /* Literal.String.Other */
    .codehilite .sr {
        color: #79c0ff;
    } /* Literal.String.Regex */
    .codehilite .s1 {
        color: #79c0ff;
    } /* Literal.String.Single */
    .codehilite .ss {
        color: #79c0ff;
    } /* Literal.String.Symbol */
    .codehilite .bp {
        color: #ffa657;
    } /* Name.Builtin.Pseudo */
    .codehilite .fm {
        color: #79c0ff;
    } /* Name.Function.Magic */
    .codehilite .vc {
        color: #ffa657;
    } /* Name.Variable.Class */
    .codehilite .vg {
        color: #ffa657;
    } /* Name.Variable.Global */
    .codehilite .vi {
        color: #ffa657;
    } /* Name.Variable.Instance */
    .codehilite .vm {
        color: #ffa657;
    } /* Name.Variable.Magic */
    .codehilite .il {
        color: #ffa657;
    } /* Literal.Number.Integer.Long */
    .codehilite .highlight {
        background: #0d1117;
        color: #c9d1d9;
    }
}
/* stylelint-enable color-no-hex, no-duplicate-selectors */

@media screen {
    :root.dark-theme {
        @extend %dark-theme;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root.color-scheme-automatic {
        @extend %dark-theme;
    }
}
