#reminders-overlay-container,
#scheduled_messages_overlay_container {
    .no-overlay-messages {
        display: none;

        &:only-child {
            display: block;
        }
    }
}

#reminders-overlay.overlay {
    .overlay-container {
        margin: 2.5vh auto;
        transform: translateY(20px);
        transition: transform 0.2s ease-in;
        z-index: 102;
    }

    &.show {
        .overlay-container {
            transform: translateY(0);
            transition-timing-function: ease-out;
        }
    }
}

#scheduled_message_indicator {
    display: block;
    margin-left: 10px;
    font-style: italic;
    color: hsl(0deg 0% 53%);
}

#reminders-overlay-container .message_content {
    cursor: auto;
}

.schedule-reminder-note {
    /* Horizontal resizing in the popover doesn't look good at all. */
    resize: vertical;
    width: 100%;
    min-width: 10em;
    padding: 3px;
}
