.user-circle-active {
    color: var(--color-user-circle-active);
}

.user-circle-idle {
    background: linear-gradient(
        to right,
        var(--color-user-circle-idle) 25%,
        transparent
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user-circle-offline {
    color: var(--color-user-circle-offline);
}
