<div class="poll-widget">
    <h4 class="poll-question-header">{{t "What did you drink this morning?"}}</h4>
    <i class="fa fa-pencil poll-edit-question"></i>
    <ul class="poll-widget">
        <li>
            <button class="poll-vote">
                0
            </button>
            <span>{{t "Milk"}}</span>
        </li>
        <li>
            <button class="poll-vote">
                0
            </button>
            <span>{{t "Tea"}}</span>
        </li>
        <li>
            <button class="poll-vote">
                0
            </button>
            <span>{{t "Coffee"}}</span>
        </li>
    </ul>
</div>
