{{#each options}}
    <li>
        <button class="poll-vote {{#if current_user_vote}}current-user-vote{{/if}}" data-key="{{ key }}">
            {{ count }}
        </button>
        <span class="poll-option">
            {{rendered_markdown option }}
            {{#if names}}
                <span class="poll-names">({{ names }})</span>
            {{/if}}
        </span>
    </li>
{{/each}}
