<div class="roll-widget">
    <h4>{{t "Die Roll" }}</h4>
    <div class="roll-box">
        <button class="roll-button">{{t "Roll Die" }}</button>
        <div>
            Results:
            <textarea name="roll-results" id="roll-results" cols="10" rows="10"></textarea>
        </div>
        <div class="widget-error"></div>
    </div>

</div>