{% extends "zerver/emails/email_base_messages.html" %}

{% block content %}
    {% if hot_conversations %}
        {% for convo in hot_conversations %}
        </p>
<div class="messages" style='width:600px; font-size:12px; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; overflow-y:auto' width="600">
            {% for recipient_block in convo.first_few_messages %}
                <div class="hot_convo_recipient_block" style="border:1px solid #000; margin-bottom:4px">
                    <div class="hot_convo_recipient_header" style="background-color:#9ec9ff; border-bottom:1px solid #000; font-weight:bold; padding:2px" bgcolor="#9ec9ff">{{ recipient_block.header.html|safe }}</div>
                    <div class="hot_convo_message_content" style="margin-left:1px; margin-right:2px">
                        {% for sender_block in recipient_block.senders %}
                            {% for message_block in sender_block.content %}
                            <div class="hot_convo_message_content_block" style="padding-left:6px; font-weight:normal">
                                {{ message_block.html|safe }}
                            </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                {% if convo.count > 0 %}<p style="font-family:sans-serif; font-size:14px; font-weight:normal; margin:10px 0">+ {{ convo.count }} more message{{ convo.count|pluralize }} by {{ convo.participants|display_list(4) }}.</p>{% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    {% endif %}

    {% if new_streams.html %}
    <p style="font-family:sans-serif; font-size:14px; font-weight:normal; margin:10px 0"><b>{% trans %}New streams{% endtrans %}</b></p>

    <p style="font-family:sans-serif; font-size:14px; font-weight:normal; margin:10px 0">{{ new_streams.html|display_list(1000)|safe }}.</p>
    {% endif %}

    <br>

    <p style="font-family:sans-serif; font-size:14px; font-weight:normal; margin:10px 0"><a href="{{ realm_uri }}" style="color:#5f5ec7; text-decoration:underline">{% trans %}Click here to log in to Zulip and catch up.{% endtrans %}</a></p>
{% endblock %}

{% block manage_preferences %}
<p style="font-family:sans-serif; font-size:14px; font-weight:normal; margin:10px 0">
    <a href="{{ realm_uri }}/#settings/notifications" style="color:#5f5ec7; text-decoration:underline">{% trans %}Manage email preferences{% endtrans %}</a> |
    <a href="{{ unsubscribe_link }}" style="color:#5f5ec7; text-decoration:underline">{% trans %}Unsubscribe from digest emails{% endtrans %}</a>
</p>
{% endblock %}