{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/email_logo.png" alt="" style="border:none; -ms-interpolation-mode:bicubic; max-width:100%; vertical-align:bottom" valign="bottom">
{% endblock %}

{% block content %}
    {% trans organization_name_with_link=macros.link_tag(realm.uri, realm.string_id) %}
    Your organization, {{ organization_name_with_link }}, has been downgraded to the Zulip Cloud
    Free plan because of unpaid invoices. The unpaid invoices have been voided.
    {% endtrans %}
    <br>
    <br>

    {% trans upgrade_url=macros.link_tag(upgrade_url) %}
    To continue on the Zulip Cloud Standard plan, please upgrade again by going to {{ upgrade_url }}.
    {% endtrans %}

    <br>
    <br>

    {% trans support_email=macros.email_tag(support_email) %}
    If you think this was a mistake or need more details, please reach out to us at {{ support_email }}.
    {% endtrans %}
{% endblock %}</p>