{{#if can_create_streams}}
  <div id="create_stream_row">
      <div class="subscription_table_elem">
        <form id="add_new_subscription" class="form-inline" action="">
          <input type="text" name="stream_name" id="create_stream_name"
                 placeholder="{{t 'Stream name' }}" value="" />
          <input type="submit" class="btn btn-primary"
                 id="create_stream_button" value="{{t 'Create new stream' }}" />
        </form>
      </div>
  </div>
{{/if}}

{{#each subscriptions}}
{{partial "subscription"}}
{{/each}}
