{% extends "zephyr/portico_signup.html" %}

{% comment %}
Allow the user to accept the terms, creating an email record of that fact.
{% endcomment %}

{% block for_you %}for {% if company_name %} {{company_name}} {% else %} __________ {% endif %} {% endblock %}
{% block portico_content %}

<p>(Welcome! We think you'll like it here.)</p>

<div class="pitch">
    <hr/>
    <p>You're almost there. We just need you to do one last thing.</p>
    <h3>Accept the Humbug terms of service</h3>
</div>

<form method="post" class="form-horizontal" id="registration" action="{% url 'zephyr.views.accounts_accept_terms' %}">
{% csrf_token %}
    <div class="control-group">
        <label for="id_email" class="control-label">Email</label>
        <div class="controls fakecontrol">
            <p>{{ email }}<p>
        </div>
    </div>
    <div class="control-group">
        <label for="id_full_name" class="control-label">Your name</label>
        <div class="controls">
            <input id="id_full_name" class="required" type="text" name="full_name"
                   value="{% if form.full_name.value %}{{ form.full_name.value }}{% endif %}"
                   maxlength="100" />
            {% if form.full_name.errors %}
                {% for error in form.full_name.errors %}
                    <div class="alert alert-error">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                {% comment %}
                This is somewhat subtle.
                Checkboxes have a name and value, and when the checkbox is ticked, the form posts
                with name=value. If the checkbox is unticked, the field just isn't present at all.

                This is distinct from 'checked', which determines whether the checkbox appears
                at all. (So, it's not symmetric to the code above.)
                {% endcomment %}
                <input id="id_terms" class="required" type="checkbox" name="terms"
                       {% if form.terms.value %}checked="checked"{% endif %} />
                I agree to the <a href="/terms">Terms of Service</a>.
            </label>
            {% if form.terms.errors %}
                {% for error in form.terms.errors %}
                    <div class="alert alert-error">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <br />
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Register" /><br />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </div>
</form>

<script type="text/javascript">
autofocus('#id_full_name');
</script>

{% endblock %}
