{% extends "zephyr/portico_signup.html" %}

{# Home page for not logged-in users. #}

{# This is where we pitch the app and solicit signups. #}

{% block portico_content %}
<script type="text/javascript">
autofocus('#email');
</script>

        <div class="pitch">
            <p class="lead">Let's get started…</p>
            <form class="form-inline" id="email_signup" action="{% url zephyr.views.accounts_home %}" method="post">
                {% csrf_token %}
                <input type="text" class="email required" placeholder="Enter your work email address"
                       id="email" name="email"/>&nbsp;
                <input type="submit" class="btn btn-primary btn-large" value="Sign up"/>
            </form>
            <div id="errors"></div>
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="alert alert-error">{{ error }}</div>
                {% endfor %}
            {% endif %}


            <div class="alert alert-pitch" id="company-email">Please use your
            company email address to sign up. Otherwise, we won’t be able to
            connect you with your coworkers.</div>
        </div>
{% endblock %}
