{% extends "zephyr/portico_signup.html" %}

{# Displayed after a user attempts to sign up. #}

{% block portico_content %}
            <h2>Thanks for signing up!</h2>
            <p class="lead">Check your email so we can get started.<p>

            <p>Still no email? We can <a href="#" id="resend_email_link">resend it</a>.<br/>
            <small>(Just in case, take a look at your Spam folder.)</small></p>
            <form id="email_signup" action="/accounts/home/" method="post">
                {% csrf_token %}
                <input type="hidden" class="email" id="email" value="{{ email }}" name="email"/>&nbsp;
            </form>
{% endblock %}

{% block customhead %}
{{ block.super }}
<script type="text/javascript">
$(function() {
    $("#resend_email_link").click(function () { $('#email_signup').submit(); });
});
</script>
{% endblock %}
