{% extends "zephyr/portico_signup.html" %}

{# Home page for not logged-in users. #}

{# This is where we pitch the app and solicit signups. #}

{% block portico_content %}
<script type="text/javascript">
autofocus('#email');
</script>

        <div class="pitch">
            <p>You’re not using your Zip drive anymore.</p>
            <p>You’re not calling your parents from the pay phone at school, asking
            to be picked up because you stayed late to go to the computer club
            meeting.</p>
            <p>You haven’t watched Saved by the Bell in a while.</p>
            <p>So why are you still using IRC?</p>
            <br/>
            <p>Discover a better alternative for group communication at work.</p>
        </div>
        <div class="signup">
            <p class="lead">Get started now, for free</p>
            <form class="form-inline" id="email_signup" action="/accounts/home/" method="post">
                {% csrf_token %}
                <input type="text" class="email required" placeholder="Enter your work email address"
                       id="email" name="email"/>&nbsp;
                <input type="submit" class="btn btn-primary btn-large" value="Sign up"/>
                <span class="or">- or -</span>
                <button type="submit" class="btn">Connect with Google Apps</button>
            </form>
            <div id="errors"></div>

            <div class="alert alert-pitch" id="company-email">Please use your
            company email address to sign up. Otherwise, we won’t be able to
            connect you with your coworkers.</div>
        </div>
{% endblock %}
