{% extends "zephyr/base.html" %}

{# User Activity. #}

{% block customhead %}
{{ block.super }}
<script type="text/javascript" src="/static/third/sorttable/sorttable.js"></script>
<link href='{{ static_hidden }}styles/activity.css?dummy_time={% now "U" %}' rel='stylesheet'>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
{% for name, activity in data.iteritems %}
    <li {% if activity.default_tab %} class="active" {% endif %}>
        <a href="#{{ name }}" data-toggle="tab">{{ name }}</a>
    </li>
{% endfor %}
</ul>

<div class="tab-content">

{% for name, activity in data.iteritems %}

    <div class="tab-pane {% if activity.default_tab %} active {% endif %}" id="{{ name }}">
    <h2>{{ name }} usage</h2>
    <table class="table sortable table-striped table-bordered">
    <thead class="activity_head">
    <tr>
    <th>User</th>
    <th>Realm</th>
    <th>Last get_updates</th>
    <th>Last send_message</th>
    {% if activity.has_pointer %}
    <th>Last update_pointer</th>
    <th>Pointer updates</th>
    {% endif %}
    <th>Messages sent</th>
    </tr>
    </thead>
    <tbody>
    {% for email, row in activity.sorted_rows %}
        <tr class="{{ row.class }}">
        <td><strong>{{ email }}</strong></td>
        <td><strong>{{ row.realm }}</strong></td>
        <td sorttable_customkey="{{ row.get_updates_last|date:'YmdHi' }}">{{ row.get_updates_last }}</td>
        <td sorttable_customkey="{{ row.send_message_last|date:'YmdHi' }}">{{ row.send_message_last }}</td>
        {% if activity.has_pointer %}
        <td sorttable_customkey="{{ row.update_pointer_last|date:'YmdHi' }}">{{ row.update_pointer_last }}</td>
        <td class="number">{{ row.update_pointer_count }}</td>
        {% endif %}
        <td class="number">{{ row.send_message_count }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

{% endfor %}

</div>

{% endblock %}
