{% extends "zephyr/portico.html" %}

{# API information page #}

{% block portico_content %}
<div class="row-fluid">
  <div class="span8">
    <h1>Do we have apps? App-solutely.</h1>
    <p class="muted"><small>Ok, I take it back, I'm sorry, please don't go.</small></p>
    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider">/</span></li>
      <li class="active">Apps</li>
    </ul>

    <h3>Installation instructions</h3>
    <ul class="nav nav-tabs" id="apps-tabs">
      <li class="active"><a href="#android" data-toggle="tab">Android</a></li>
      <li><a href="#iphone" data-toggle="tab">iPhone</a></li>
      <li><a href="#mac" data-toggle="tab">Mac</a></li>
      <li><a href="#linux" data-toggle="tab">Linux</a></li>
      <li><a href="#windows" data-toggle="tab">Windows</a></li>
      <li><a href="#plan9" data-toggle="tab">Plan 9</a></li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="android">
        <img class="screenshot pull-left" src="/static/images/app-screenshots/humbug-android.png">

        <p><em>Note: The Android app is currently in alpha.</em></p>
        <p>Zulip has a <strong>100% native app</strong> for Android,
          and you can easily grab it from
          the <a href="https://play.google.com/store/apps/details?id=com.humbughq.mobile">Google
          Play Store</a>.</p>

        <a href="https://play.google.com/store/apps/details?id=com.humbughq.mobile">
          <img alt="Get it on Google Play"
               src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
        </a>
      </div>

      <div class="tab-pane" id="iphone">
        <img class="screenshot pull-left" src="/static/images/app-screenshots/humbug-iphone.png" style="margin: 0px 32px;">

        <p><em>Note: The iPhone app is currently in alpha.</em></p>
        <p>Zulip has a <strong>100% native app</strong> for iPhone,
          and we're in the process of getting it into the App Store.
          For now,
          please <a target="_blank" href="mailto:support@humbughq.com?subject=Request%20for%20Zulip%20iPhone%20app&amp;body=Hi%20Zulip,%20can%20you%20send%20me%20a%20link%20to%20the%20iPhone%20app%20alpha?%20I%20have%20an%20iPhone%20__.">email
          us to request access</a>.</p>
      </div>

      <div class="tab-pane" id="mac">
        <p>You love your Mac. And you love Zulip. So what could be
        better than a Zulip app for Mac? Enjoy notifications for
        messages and PMs in your dock whether you're in Sublime,
        emacs, or Photoshop.</p>

        <p style="text-align: center">
          <a href="https://humbughq.com/dist/apps/mac/Zulip-latest.dmg" class="btn btn-large btn-primary"><i class="icon-download icon-white"></i> Download Zulip for Mac</a>
        </p>

        <img class="screenshot" src="/static/images/app-screenshots/humbug-desktop-mac.png">
      </div>

      <div class="tab-pane" id="linux">
        <p>Zulip provides a native Linux app that runs standalone
        outside of your browser. How you install it depends on what
        you're running:</p>

        <h3>Debian and Ubuntu</h3>
        First, run the following:
        <div class="codehilite"><pre>wget https://apt.humbughq.com/user.asc
cat user.asc | sudo apt-key add -</pre></div>

        Then, add the following line to <code>/etc/apt/sources.list</code>:
        <div class="codehilight"><pre>deb https://apt.humbughq.com/user/ <span class="k">your_distro_here</span> main
</pre>
</div>
        <p>(Replace <b>your_distro_here</b> with one of <code>wheezy</code>, <code>precise</code>, <code>quantal</code>, or <code>raring</code>)</p>

        Then run:
<div class="codehilite"><pre>
sudo apt-get update
sudo apt-get install zulip-desktop
</pre></div>



        <h3>Other</h3>
        <p>We provide a <a href="https://humbughq.com/dist/apps/linux/zulip-desktop_latest.bin.tar.gz">binary tarball</a> of the Zulip application, built for 64-bit systems.
        </p>
      </div>

      <div class="tab-pane" id="windows">
        <p>Windows. It's the best OS for your needs: gaming,
        coding, expense reports. But you always felt that something
        was missing... until now.</p>

        <p>We proudly present <b>Zulip for Windows</b>: the second-best app for Windows on the market today (after
        Solitaire, obviously.)</p>

        <p style="text-align: center">
          <a href="https://humbughq.com/dist/apps/win/zulip-latest.exe" class="btn btn-large btn-primary"><i class="icon-download icon-white"></i> Download Zulip for Windows</a>
        </p>

        <img class="screenshot" src="/static/images/app-screenshots/humbug-desktop-windows.png">
      </div>

      <div class="tab-pane" id="plan9">
        <p>First, connect to our hosted 9P filesystem
        at <code>plan9.zulip.com</code> and then... no, we're
        totally kidding. There definitely isn't a version of Zulip
        for Plan 9.</p>
        <p>But if you're the kind of person who would've gotten a kick
        out of that sort of thing, we'd love to talk to you, because
        we're hiring. Please send us a resume and any other relevant
        information (a GitHub account, a portfolio, etc.)
        to <a target="_blank"
        href="mailto:jobs@humbughq.com?subject=Zulip%20for%20Plan%209">jobs@humbughq.com</a>
        and we'll be in touch!</p>
      </div>


    </div>
  </div>
</div>


<script>
$(function () {
    if (navigator.appVersion.indexOf("Win") !== -1) {
        $('#apps-tabs [href=#windows]').tab('show');
    }
    if (navigator.appVersion.indexOf("Mac") !== -1) {
        $('#apps-tabs [href=#mac]').tab('show');
    }
    if (navigator.appVersion.indexOf("Linux") !== -1) {
        $('#apps-tabs [href=#linux]').tab('show');
    }
});
</script>
{% endblock %}
