<!DOCTYPE html>
{% autoescape off %}
<html>

<head>
    <title>Zephyr</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles/zephyr.css" rel="stylesheet">
</head>

<body>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Humbug</a>
            <ul class="nav">
{% block nav %}
{% endblock %}
            </ul>
        </div>
    </div>
</div>

<div class="container">

{% block content %}
{% endblock %}

</div>

</body>

</html>

{% endautoescape %}
