<div class="row-fluid">
  <div class="span12" id="compose">
    <div id="compose_controls">
          <div id="compose_buttons">
            <span class="new_message_button">
              <button type="button" class="btn btn-large compose_stream_button"
                      id="left_bar_compose_stream_button_big" title="New stream message (c)">
                <i class="icon-vector-bullhorn"></i><span class="compose_stream_button_label">&nbsp;&nbsp;New stream message</span>
              </button>
            </span>
            <span class="new_message_button">
              <button type="button" class="btn btn-large compose_private_button"
                      id="left_bar_compose_private_button_big" title="New private message (C)">
                <i class="icon-vector-user"></i><span class="compose_private_button_label">&nbsp;&nbsp;New private message</span>
              </button>
            </span>
          </div>
    </div>
    <div class="message_comp">
      <button type="button" class="close" id='compose_close'>×</button>
      <div class="alert" id="send-status">
        <span class="send-status-close">&times;</span>
        <span id="error-msg"></span>
      </div>
      <form id="send_message_form" action="/json/send_message" method="post">
        {% csrf_token %}
        <table class="compose_table">
          <tbody>
            <tr class="ztable_layout_row">
              <td class="ztable_comp_col1" />
              <td class="ztable_comp_col2" />
            </tr>
            <tr id="stream-message">
              <td class="message_header message_header_stream left_part">
              </td>
              <td class="message_header message_header_stream right_part">
                  <span id="compose-lock-icon">
                    <i class="icon-lock" title="This is an invite-only stream"></i>
                  </span>
                  <input type="text" class="recipient_box" name="stream" id="stream"
                         maxlength="30"
                         value="" placeholder="Stream" autocomplete="off" tabindex="120"/>
                  <i class="icon-vector-narrow icon-vector-small"></i>
                  <input type="text" class="recipient_box" name="subject" id="subject"
                         maxlength="60"
                         value="" placeholder="Subject" autocomplete="off" tabindex="130"/>
              </td>
            </tr>
            <tr id="private-message">
              <td class="message_header_private_message message_header left_part"></td>
              <td class="message_header_private_message message_header right_part dark_background">
                You and <input type="text" class="recipient_box" name="recipient" id="private_message_recipient"
                               value="" placeholder="one or more people..." autocomplete="off" tabindex="130"/>
              </td>
            </tr>
            <tr>
              <td id="left-of-compose">
                <div>
                  <input type="file" id="file_input" class="notvisible pull-left" multiple />
                  <a class="message-control-button icon-vector-paper-clip notdisplayed"
                     id="attach_files" href="#" title="Attach files"></a><br />
                  <a class="message-control-button icon-vector-font"
                     href="#markdown-help" title="Formatting" data-toggle="modal"></a>
                </div>
              </td>
              <td class="messagebox">
                <div class="message_content">
                  <textarea class="new_message_textarea" name="content" id="new_message_content"
                            value="" placeholder="Compose your message here..." tabindex="140" maxlength="10000"></textarea>
                  <div id="send_controls">
                    <input type="submit" value="Send" id="compose-send-button" class="btn btn-primary send_message" tabindex="150"/>
                  </div>
                </div>
                <div id="below-compose-content">
                  <a id="restore-draft" onclick="compose.restore_message();">Restore last draft?</a>
                  <span id="sending-indicator">Sending...</span>
                  <input type="checkbox" class="pull-right" id="enter_sends" name="enter_sends" value="ender_sends" />
                  <label id="enter-sends-label" class="pull-right" for="enter_sends">Press Enter to send&nbsp;</label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
