{% extends "zephyr/portico.html" %}

{% block portico_content %}

<div class="container">
  <div class="row">
    <div class="span4 feature-list">
      <div>
        <i class="icon-vector-random icon-vector-2x pull-left"></i>
        <h4>Threaded group conversations</h4>
        <p>Talk about multiple topics at once without getting lost or
        overwhelmed.</p>
      </div>
      <div>
        <i class="icon-vector-comments icon-vector-2x pull-left"></i>
        <h4>One-on-one and group private conversations</h4>
        <p>Have private conversations with one or as many people as you need.</p>
      </div>
      <div>
        <i class="icon-vector-home icon-vector-2x pull-left"></i>
        <h4>Persistence</h4>
        <p>We're always receiving messages for you, even when you're
        logged out.</p>
      </div>
      <div>
        <i class="icon-vector-road icon-vector-2x pull-left"></i>
        <h4>History</h4>
        <p>Join a stream and see its history, so even new team
        members are never out of the loop.</p>
      </div>
      <div>
        <i class="icon-vector-search icon-vector-2x pull-left"></i>
        <h4>Full-history search</h4>
        <p>Search is both snappy and smart, helping you look for text,
        people, and threads of conversation, with advanced search
        operators for fine-grained control.</p>
      </div>
      <div>
        <i class="icon-vector-group icon-vector-2x pull-left"></i>
        <h4>Team presence and buddy list</h4>
        <p>See who is online at a glance.</p>
      </div>
      <div>
        <i class="icon-vector-picture icon-vector-2x pull-left"></i>
        <h4>Inline image, video, and tweet previews</h4>
        <p>Send a link and we'll automatically generate an inline
        preview.</p>
      </div>
      <div>
        <i class="icon-vector-paper-clip icon-vector-2x pull-left"></i>
        <h4>Drag-and-drop file uploads</h4>
        <p>Drag a file into the compose box and we'll upload and
        preview it for you. Sharing and discussing work with team
        mates has never been easier.</p>
      </div>
      <div>
        <i class="icon-vector-user icon-vector-2x pull-left"></i>
        <h4>@-notifications</h4>
        <p>Want someone's attention in a conversation? @-notify them
        and they'll be right over.
      </div>
      <div>
        <i class="icon-vector-bullhorn icon-vector-2x pull-left"></i>
        <h4>Stream-wide announcements</h4>
        <p>Use <code>@all</code> or <code>@everyone</code> to get the
        attention of everyone in a stream.</p>
      </div>
      <div>
        <i class="icon-vector-info-sign icon-vector-2x pull-left"></i>
        <h4>Desktop notifications</h4>
        <p>Configurable for private and stream messages.</p>
      </div>
    </div>
    <div class="span4 feature-list">
      <div>
        <i class="icon-vector-bell icon-vector-2x pull-left"></i>
        <h4>Audible notifications</h4>
        <p>So you don't miss important messages even when your eyes
        are elsewhere.</p>
      </div>
      <div>
        <i class="icon-vector-font icon-vector-2x pull-left"></i>
        <h4>Hotkeys</h4>
        <p>Communicate as efficiently as you use your favorite text editor.</p>
      </div>
      <div>
        <i class="icon-vector-thumbs-up icon-vector-2x pull-left"></i>
        <h4>Emoji</h4>
        <p>Sometimes it's the simple things in life, like being able
        to give a <tt>:thumbsup:</tt> while chatting.</p>
      </div>
      <div>
        <i class="icon-vector-edit icon-vector-2x pull-left"></i>
        <h4>Code</h4>
        <p>Discuss code, even multi-line code, with ease, including
        syntax-highlighting.</p>
      </div>
      <div>
        <i class="icon-vector-quote-left icon-vector-2x pull-left"></i>
        <h4>Lightweight markup</h4>
        <p>Get bulleted lists, clickable links, and nicely-formatted
        e-mail pastes automatically.</p>
      </div>
      <div>
        <i class="icon-vector-lock icon-vector-2x pull-left"></i>
        <h4>Invite-only streams</h4>
        <p>Enjoy the benefits of threaded conversations while
        controlling your audience and privacy.</p>
      </div>
      <div>
        <i class="icon-vector-star-empty icon-vector-2x pull-left"></i>
        <h4>Starred messages</h4>
        <p>Keep a todo list or keep track of interesting
        conversations.</p>
      </div>
      <div>
        <i class="icon-vector-github icon-vector-2x pull-left"></i>
        <h4>Integrations</h4>
        <p>Get alerts and updates from your favorite services with
        off-the-shelf <a href="/integrations">integrations</a> for
        Trac, Nagios, Github, Jenkins, and more.</p>
      </div>
      <div>
        <i class="icon-vector-sitemap icon-vector-2x pull-left"></i>
        <h4>API</h4>
        <p>Want to roll your own notifications? We've got a
        dead-simple RESTful <a href="/api">API and Python bindings</a>
        that will make integrations&mdash;both sending and
        receiving&mdash;a snap!</p>
      </div>
      <div>
        <i class="icon-vector-mobile-phone icon-vector-2x pull-left"></i>
        <h4>Mobile apps</h4>
        <p>Check Humbug on the go with native <a href="/apps">iOS and
        Android apps</a>.</p>
      </div>
      <div>
        <i class="icon-vector-desktop icon-vector-2x pull-left"></i>
        <h4>OSX desktop app</h4>
        <p>Prefer Humbug in its own window with its own Dock icon?
        Enjoy <a href="/apps">Humbug for Mac</a>.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
