<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
            <div id="wrapper">
                <div class="zephyr_list scrolling-tab" id="main_div">
                    <br/><br/>
                    <table class="zephyr_table focused_table" id="zhome">
                        <tbody>
                        </tbody>
                    </table>
                    <table class="zephyr_table" id="zfilt">
                      <tbody>
                      </tbody>
                    </table>
                    <br/><br/>
                    <div class="row" id="narrowbox">
                        <div class="input-prepend input-append pull-left">
                            <button id="show_all_messages" class="btn" disabled=disabled onclick="show_all_messages()"><i class="icon-arrow-left"></i></button>
                            <span class="add-on"><span class="badge"><span id="currently_narrowed_to"></span><i class="badge_close_button icon-remove-sign icon-white" onclick="show_all_messages()"></i></span></span>
                        </div>
                    </div>
                    <div id="bottom_whitespace"></div>
                </div>
            </div>

                <div class="tabbable container zephyr_compose" id="zephyr_compose">
                    <ul class="nav nav-tabs" id="zephyr-type-tabs">
                        <li class="active"><a href="#class-message" data-toggle="tab">Stream</a></li>
                        <li><a href="#personal-message" data-toggle="tab">Huddle</a></li>
                        <li class="alert" id="send-status"></li>
                        <li class="pull-right"><button type="button" class="close" onclick="hide_compose()">×</button></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="class-message">
                            <div class="zephyr_comp">
                                <br/>
                                <form action="/zephyr/" method="post" class="zephyr">
                                    <input type="hidden" name="type" value="class" />
                                    {% csrf_token %}
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="pointer"></td>
                                                <td class="zephyr_recipient">
                                                    <p>
                                                        <span class="zephyr_label_clickable zephyr_class">
                                                            <input type="text" class="zephyr_recipient_box" name="class" id="class" value="" placeholder="Stream" autocomplete="off"/>
                                                        </span>
                                                        <br/>
                                                        <span class="zephyr_label_clickable zephyr_instance">
                                                            <input type="text" class="zephyr_recipient_box" name="instance" id="instance" value="" placeholder="Topic" autocomplete="off"/>
                                                        </span>
                                                    </p>
                                                </td>
                                                <td class="messagebox compose">
                                                    <img class="profile_picture" src="https://secure.gravatar.com/avatar/{{ email_hash }}?d=identicon&s=30"/>
                                                    <div class="zephyr_content">
                                                        <textarea class="zephyr_message" name="new_zephyr" id="new_zephyr" value="" placeholder="Compose your message here..."/></textarea>
                                                        <input type="submit" value="Send" class="btn send_zephyr"/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane" id="personal-message">
                            <div class="zephyr_comp">
                                <br/>
                                <form action="/zephyr/" method="post" class="zephyr form-inline">
                                    <input type="hidden" name="type" value="personal" />
                                    {% csrf_token %}
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="pointer"></td>
                                                <td><label class="pull-right">Huddle with</label></td>
                                                <td><input class="input-xlarge" type="text" name="recipient" id="recipient" value="" placeholder="one or more of your friends"  autocomplete="off"/></td>
                                            </tr>
                                            <tr>
                                                <td class="pointer"></td>
                                                <td class="zephyr_recipient"></td>
                                                <td class="messagebox compose">
                                                    <img class="profile_picture" src="https://secure.gravatar.com/avatar/{{ email_hash }}?d=identicon&s=30"/>
                                                    <div class="zephyr_content">
                                                        <textarea class="zephyr_message" name="new_zephyr" id="new_personal_zephyr" value="" placeholder="Compose your message here..."/></textarea>
                                                        <input type="submit" name="personal_zephyr" value="Send" class="btn send_zephyr"/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

    <div class="span1" id="nav-indicators">
      <div id="top-nav">
        <i class="icon-arrow-up" onclick="simulate_keypress(33);"></i>
      </div>
      <div id="bottom-nav">
          <i class="icon-fast-forward"></i>
          <br />
          <i class="icon-arrow-down" onclick="simulate_keypress(34);"></i>
      </div>
    </div>

  </div>
</div>
