{% extends "zephyr/base.html" %}

{# The app itself. #}

{# Includes some other templates as tabs. #}
{% load jstemplate %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script id="template_message" type="text/x-handlebars-template">
{% rawjstemplate "message" %}
</script>

<script id="template_subscription" type="text/x-handlebars-template">
{% rawjstemplate "subscription" %}
</script>

<script id="template_userinfo_popover_title" type="text/x-handlebars-template">
{% rawjstemplate "userinfo_popover_title" %}
</script>
<script id="template_userinfo_popover_content" type="text/x-handlebars-template">
{% rawjstemplate "userinfo_popover_content" %}
</script>

<link href="{{ static_hidden }}styles/zephyr.css?dummy_time={% now "U" %}" rel="stylesheet">
<link href="{{ static_hidden }}styles/pygments.css" rel="stylesheet">
<script type="text/javascript" src="{{ static_third  }}jquery/jquery.form.js"></script>
<script type="text/javascript" src="{{ static_third  }}xdate/xdate.js"></script>
<script type="text/javascript" src="{{ static_third  }}handlebars/handlebars-1.0.rc.1.js"></script>
<script type="text/javascript" src="{{ static_third  }}spin/spin.min.js"></script>
<script type="text/javascript" src="{{ static_third  }}jquery-mousewheel/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{{ static_third  }}jquery-throttle-debounce/jquery.ba-throttle-debounce.min.js"></script>
<script type="text/javascript" src="{{ static_third  }}jquery.idle/jquery.idle.js"></script>
<script type="text/javascript" src="{{ static_third  }}jquery-autosize/jquery.autosize.js"></script>
<script type="text/javascript" src="{{ static_hidden }}js/setup.js"></script>
<script type="text/javascript" src="{{ static_hidden }}js/rows.js"></script>
<script type="text/javascript" src="{{ static_hidden }}js/narrow.js"></script>
<script type="text/javascript" src="{{ static_hidden }}js/compose.js"></script>
<script type="text/javascript" src="{{ static_hidden }}js/subs.js"></script>
<script type="text/javascript" src="{{ static_hidden }}js/ui.js"></script>
<script type="text/javascript" src="{{ static_hidden }}js/hotkey.js"></script>
<script type="text/javascript" src="{{ static_hidden }}js/zephyr.js"></script>

{% if debug %}
<script type="text/javascript" src="{{ static_hidden }}js/debug.js"></script>
{% endif %}

<script type="text/javascript">
{% autoescape off %}

{# Not escaped, because it's guaranteed by the model to be an integer. #}
var initial_pointer = {{ user_profile.pointer }};

var email = "{{ user_profile.user.email|escapejs }}";
var have_initial_messages = {{ have_initial_messages|escapejs }};

var stream_list = [
{% for stream in streams %}
    "{{ stream|escapejs }}",
{% endfor %}
];

var people_list = [
{% for person in people %}
    { 'email': "{{ person.email|escapejs }}",
      'full_name': "{{ person.full_name|escapejs }}" },
{% endfor %}
];

{% endautoescape %}
</script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="span3">
          <div class="row">
            <div class="span3 sidebar-nav affix">
              <span>
                <img class="img-rounded hidden-phone" src="https://secure.gravatar.com/avatar/{{ email_hash }}?d=identicon&s=60" />
                <img class="img-rounded visible-phone" src="https://secure.gravatar.com/avatar/{{ email_hash }}?d=identicon&s=30" />
              </span>
              <span class="my_fullname">{{ user_profile.full_name }}</span>
              <span class="my_email">{{ user_profile.user.email }}</span>
              <span class="logout">(<a href="/accounts/logout?next=/accounts/login">not you?</a>)</span>
              <ul class="nav nav-pills nav-stacked nav-zephyr" id="sidebar">
                <li title="Home" class="active">
                  <a href="#home" data-toggle="pill" onclick="narrow.show_all_messages()">
                    <i class="icon-home"></i>
                    <span class="hidden-phone">  Home</span>
                  </a>
                </li>
                <li title="Subscriptions">
                  <a href="#subscriptions" data-toggle="pill">
                    <i class="icon-globe"></i>
                    <span class="hidden-phone">  Subscriptions</span>
                  </a>
                </li>
                <li title="Settings">
                  <a href="#settings" data-toggle="pill">
                    <i class="icon-wrench"></i>
                    <span class="hidden-phone"> Settings</span>
                  </a>
                </li>
                <li title="Keyboard shortcuts">
                  <a href="#keyboard-shortcuts" role="button" data-toggle="modal">
                    <i class="icon-info-sign"></i>
                    <span class="hidden-phone"> Keyboard shortcuts</span>
                  </a>
                </li>
                {% if show_debug %}
                <li title="Debug">
                  <a href="#debug" data-toggle="pill">
                    <i class="icon-barcode"></i>
                    <span class="hidden-phone">  Debug</span>
                  </a>
                </li>
                {% endif %}

                <button type="button" class="visible-phone btn btn-small phone_new_message_button" onclick="compose.start('stream');">New Message</button>
              </ul>
              <div class="hidden-phone new_message_button">
                <button type="button" class="btn btn-large btn-block" id="new_message_button" onclick="compose.start('stream');">New Message</button>
              </div>

                <div class="alert alert_sidebar alert-error home-error-bar" id="connection-error">
                  <strong>Can't receive messages</strong> &mdash; try reloading the page.
                </div>
                <div class="alert alert_sidebar alert-error home-error-bar" id="reloading-application">
                </div>
                <div class="alert alert_sidebar" id="home-error"></div>
                <div class="alert alert_sidebar" id="stream-dne">
                  <p>The stream <span class="streamname" id="stream-dne-name"></span> does not exist.</p>
                  <button type="button" id="create-it" class="btn btn-primary">Create and send</button>
                  <button type="button" class="btn" onClick="$('#stream-dne').stop(true).fadeOut(500);">Cancel message</button>
                </div>
                <div class="alert alert_sidebar" id="stream-nosub">
                  <p>You're not subscribed to the stream <span class="streamname" id="stream-nosub-name"></span>.</p>
                  <button type="button" id="sub-it" class="btn btn-primary">Subscribe and send</button>
                  <button type="button" class="btn" onClick="$('#stream-nosub').stop(true).fadeOut(500);">Cancel message</button>
                </div>
            </div>
          </div>
        </div><!--/sidebar-->
        <div class="span9 tab-content" id="application_area">
            <div class="visible-phone" id="nav_whitespace"></div>
            <div class="tab-pane active" id="home">
                {% include "zephyr/home.html" %}
            </div>
            <div class="tab-pane" id="subscriptions">
                {% include "zephyr/subscriptions.html" %}
            </div>
            <div class="tab-pane" id="settings">
                {% include "zephyr/settings.html" %}
            </div>

            {% if show_debug %}
            <div class="tab-pane" id="debug">
                {% include "zephyr/debug.html" %}
            </div>
            {% endif %}

        </div><!--/tab-content-->
    </div><!--/row-->
    {% include "zephyr/keyboard_shortcuts.html" %}

{% endblock %}
