{% extends "zephyr/portico.html" %}

{# API information page #}

{% block customhead %}
{{ block.super }}
<link rel="stylesheet" href="/static/styles/pygments.css" />
{% endblock %}

{% block portico_content %}
<div class="row-fluid">
  <div class="span8">
    <h2>Integrations</h2>

    <h3>Getting started</h3>
    <p>Many of these integrations are available in
    our <a href="/api">API download</a>. They also require a
    registered Humbug user to send as. You can use your existing
    account, or
    <a href="{% url zephyr.views.accounts_home %}">register</a> a new
    one for them. (If new email addresses are hard to come by, you can
    use something like <code>wdaher+github@example.com</code>.)</p>

    <h3 id="services">Services with integrations</h3>
    <ul>
      {% comment %}
      <li><a href="#git">Git</a></li>
      {% endcomment %}
      <li><a href="#github">GitHub</a></li>
      {% comment %}
      <li><a href="#jenkins">Jenkins/Hudson</a></li>
      <li><a href="#nagios">Nagios</a></li>
      <li><a href="#pivotal">Pivotal Tracker</a></li>
      <li><a href="#svn">Subversion</a></li>
      {% endcomment %}
      <li><a href="#trac">Trac</a></li>
      {% comment %}
      <li><a href="#trello">Trello</a></li>
      <li><a href="#twitter">Twitter</a></li>
      {% endcomment %}
      <li>...and more coming soon! <a href="mailto:support@humbughq.com?subject=Integration+request">Email us</a> with requests!</li>
    </ul>

    <div id="github" class="integration">
      <h4>GitHub</h4>
      <p>First, go to your repository page and click "Settings":</p>
      <img src="/static/images/integrations/github/001.png">

      <p>From there, select "Service Hooks":</p>
      <img src="/static/images/integrations/github/002.png">

      <p>Select "Humbug" from the list, fill in the API key and email
      address for your bot, check the "active" checkbox, and pick
      "Update settings":</p>
      <img src="/static/images/integrations/github/003.png">

      <p><b>Congratulations! You're done!</b><br /> When people push
to your repository, you'll see a commit message like the
following, to the stream <code>commits</code> with a subject that matches the respository name (in this case "humbug-test"):</p>
      <img class="screenshot" src="/static/images/integrations/github/004.png">

      <p>
        <a href="#services">^ Back to top</a>
      </p>
    </div>

    <div id="trac" class="integration">
      <h4>Trac</h4>
      <p>First, download and install our <a href="/api">Python bindings and example scripts</a>.</p>

      <p>Next, open <code>examples/humbug_trac.py</code> in your
      favorite editor, and change the following lines to specify your
      bot's email address, API key, and where you'd like your
      notification messages to go (by default,
      stream <code>trac</code>):</p>

<div class="codehilite"><pre><span class="n">HUMBUG_USER</span> <span class="o">=</span> <span class="s">"trac-notifications@example.com"</span>
<span class="n">HUMBUG_API_KEY</span> <span class="o">=</span> <span class="s">"0123456789abcdef0123456789abcdef"</span>
<span class="n">STREAM_FOR_NOTIFICATIONS</span> <span class="o">=</span> <span class="s">"trac"</span>
<span class="n">TRAC_BASE_TICKET_URL</span> <span class="o">=</span> <span class="s">"https://trac.example.com/ticket"</span></pre></div>

      <p>Copy the file to your Trac server, placing it in the
      Trac <code>plugins/</code> subdirectory. Once you've done that,
      edit <code>conf/trac.ini</code> to add <code>humbug_trac</code>
      to the <code>[components]</code> section, as follows:</p>

<div class="codehilite"><pre><span class="k">[components]</span>
<span class="na">humbug_trac</span> <span class="o">=</span> <span class="s">enabled</span></pre></div>

      <p>You may then need to restart Trac (or Apache) so that Trac will load our plugin.</p>

      <p><b>Congratulations! You're done!</b><br /> When people open
      new tickets (or edit existing tickets), you'll see a message
      like the following, to the stream <code>trac</code> (or whatever
      you configured above) with a subject that matches the ticket
      name:</p>
      <img class="screenshot" src="/static/images/integrations/trac/001.png">

      <p>
        <a href="#services">^ Back to top</a>
      </p>
    </div>
</div>

<script type="text/javascript">
$(function() {
    $("a.title").addClass("show-integral");
});
</script>
{% endblock %}
