{% extends "zephyr/base.html" %}

{% block content %}

<h1>Log in</h1>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}?next={{ request.get_full_path }}">
{% csrf_token %}

{{ form.username.label_tag }}
{{ form.username }}

{{ form.password.label_tag }}
{{ form.password }}

<input type="submit" value="Log in" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
