{% extends "zephyr/portico.html" %}

{# Login page. #}

{% block portico_content %}

<script type="text/javascript">
autofocus('#id_username');
{% if email %}
autofocus('#id_password');
{% endif %}
</script>

    <h3>You look familiar.</h3>

{% if form.errors %}
<div class="alert alert-error">
    Your email and password didn't match. Please try again.
</div>
{% endif %}

{% if email %}
<div class="alert">
    You've already registered with this email address. Please log in below.
</div>
{% endif %}

<form method="post" class="form-horizontal" action="{% url django.contrib.auth.views.login %}?next={{ request.get_full_path }}">
    {% csrf_token %}
    <div class="control-group">
        <label for="id_username" class="control-label">Email</label>
        <div class="controls">
            <input id="id_username" type="text" name="username" value="{{ email }}" maxlength="30" />
        </div>
    </div>
    <div class="control-group">
        <label for="id_password" class="control-label">Password</label>
        <div class="controls">
            {{ form.password }}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-large btn-primary" value="Log in" />
        </div>
    </div>

    <br />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
