{% extends "zephyr/base.html" %}

{% block content %}

<script type="text/javascript">
autofocus('#id_email');
</script>

<h1>Log in</h1>

{% if form.errors %}
<div class="alert alert-error">
    Your email and password didn't match. Please try again.
</div>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}?next={{ request.get_full_path }}">
{% csrf_token %}

Email <br />
{{ form.username }}

{{ form.password.label_tag }}
{{ form.password }}

<input type="submit" value="Log in" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
