<div class="modal hide" id="markdown-help" tabindex="-1" role="dialog"
     aria-labelledby="markdown-help-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="markdown-help-label">Commonly used Markdown</h3>
  </div>
  <div class="modal-body">
    <div id="markdown-instructions">
      <table class="table table-striped table-condensed table-rounded table-bordered">
        <tr>
          <th>You type</th>
          <th>You get</th>
        </tr>

        <tr>
          <td>*italic*</td>
          <td><i>italic</i></td>
        </tr>
        <tr>
          <td>**bold**</td>
          <td><b>bold</b></td>
        </tr>
        <tr>
          <td>[Bah!](http://humbughq.com)</td>
          <td><a href="http://humbughq.com">Bah!</a></td>
        </tr>
        <tr>
          <td>* a<br/>
            * b<br/>
            * c<br/>
          </td>
          <td>
            <ul>
              <li>a</li>
              <li>b</li>
              <li>c</li>
          </td>
        </tr>
        <tr>
          <td>&gt; Quoted</td>
          <td><blockquote>Quoted</blockquote></td>
        </tr>
        <tr>
          <td>Some inline `code`</td>
          <td>Some inline <code>code</code></td>
        </tr>
        <tr>
          <td>~~~~<br />
            def bah():<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;print "Humbug"<br/>
            ~~~~<br/>
          </td>
          <td><pre>def bah():
    print "Humbug"</pre></td>
        </tr>
        <tr>
          <td>~~~~ .py<br />
            def bah():<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;print "Humbug"<br/>
            ~~~~<br/>
          </td>
          <td>
            <div class="codehilite"><pre><span class="k">def</span> <span class="nf">bah</span><span class="p">():</span>
    <span class="k">print</span> <span class="s">"Humbug"</span></pre></div>
          </td>
        </tr>
        <tr>
          <td colspan="2">(Indenting each line four spaces also creates a code block.)</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
