<div class="navbar navbar-fixed-top" id="top_navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3 hidden-phone">
          <a class="brand" href="#">Humbug</a>
        </div>
        <div class="span7" id="navbar-middle">
          <a class="brand skinny-user-gravatar visible-phone" href="#"
             title="{{user_profile.full_name}} - {{user_profile.email}}">
            <img class="img-rounded gravatar-profile"
                 src="https://secure.gravatar.com/avatar/{{ email_hash }}?d=identicon&s=30" />
          </a>
          <div id="searchbox">
            <form id="searchbox_form" class="form-search navbar-search">
              <div id="search_arrows" class="input-append">
                <input class="search-query input-block-level" id="search_query" type="text" placeholder="Search…"
                       autocomplete="off">
                {# Start the button off disabled since there is no active search #}
                <button class="btn search_button" type="button" id="search_exit" disabled="disabled"><i class="icon-remove"></i></button>
              </div>
            </form>
          </div>{# /searchbox #}

          <div id="navbar-buttons">
            <ul class="nav" role="navigation">
              {# stuff that gets visible in skinny mode #}
              <li class="visible-phone" title="New stream message">
                <a href="#" class="compose_stream_button">
                  <i class="icon-bullhorn"></i>
                </a>
              </li>
              <li class="visible-phone" title="New private message">
                <a href="#" class="compose_private_button">
                  <i class="icon-user"></i>
                </a>
              </li>
              {# /stuff that gets visible in skinny mode #}
              <li class="dropdown" id="gear-menu">
                <a id="settings-dropdown" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-vector-cog"></i></span><b class="caret"></b>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="settings-dropdown">
                  <li title="Messages">
                    <a href="#home" data-toggle="tab">
                      <i class="icon-list"></i> Messages
                    </a>
                  </li>
                  <li title="Streams">
                    <a href="#subscriptions" data-toggle="tab">
                      <i class="icon-globe"></i> Streams
                    </a>
                  </li>
                  <li title="Settings">
                    <a href="#settings" data-toggle="tab">
                      <i class="icon-wrench"></i> Settings
                    </a>
                  </li>
                  <li title="Keyboard shortcuts">
                    <a href="#keyboard-shortcuts" role="button" data-toggle="modal">
                      <i class="icon-info-sign"></i> Keyboard shortcuts
                    </a>
                  </li>
                  <li title="Message formatting">
                    <a href="#markdown-help" role="button" data-toggle="modal">
                      <i class="icon-pencil"></i> Message formatting
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li title="Feedback">
                    <a href="#feedback" class="feedback">
                      <i class="icon-vector-comment"></i> Feedback
                    </a>
                  </li>
                  {% if show_invites %}
                  <li title="Invite users to Humbug">
                    <a href="#invite-user" role="button" data-toggle="modal">
                      <i class="icon-gift"></i> Invite users to Humbug
                    </a>
                  </li>
                  {% endif %}
                  <li class="divider"></li>
                  <li title="Log out">
                    <a href="#logout" class="logout_button">
                      <i class="icon-off"></i> Log out
                    </a>
                  </li>
                  {% if show_debug %}
                  <li title="Debug">
                    <a href="#debug" data-toggle="tab">
                      <i class="icon-barcode"></i> Debug
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="alert alert_sidebar alert-error home-error-bar" id="connection-error">
          <strong>Can't receive messages</strong>
          &mdash; retrying soon. <a class="restart_get_updates_button">Try now</a>.
        </div>
        <div class="alert alert_sidebar alert-error home-error-bar" id="zephyr-mirror-error">
          <strong>Messages you send are not being mirrored to MIT
          zephyr</strong> &mdash; Please check
          that <a href="/zephyr#mirror">you are running the Zephyr mirror
          script</a>. Once you've corrected this
          issue, you can <a class="restart_get_updates_button">click
          here</a> to update this alert.
        </div>
        <div class="alert alert_sidebar alert-error home-error-bar" id="home-error"></div>
        <div class="alert alert_sidebar alert-error home-error-bar" id="reloading-application">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="navbar-spacer"></div>
