{% extends "zephyr/base.html" %}

{% load compressed %}

{% comment %}
A base template for stuff like login, register, etc.

Not inside the app itself, but covered by the same structure,
hence the name.
{% endcomment %}

    {% block customhead %}
    {% compressed_css 'portico' %}
    {% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="content">
        <a class="brand" href="/">Humbug</a>
        <ul class="nav pull-right">
          <li><a href="/accounts/login/?next=/">Log in</a></li>
          {# TODO: Can we make this more buttony? #}
          <li><a href="{% url 'signup' %}">Sign up</a></li>
        </ul>
      </div>
    </div>
  </div>

  {# This lets people override things if they don't want a giant "Humbug" #}
  {% block inner_content %}
  <div class="row-fluid">
    <div class="content">
      <div id="portico-area" class="offset2 span10">
        <div class="title">
          <a class="title" href="/">Humbug</a>
          <span class="for_you">{% block for_you %}{% endblock %}</span>
        </div>
        {% block portico_content %}
        {% endblock %}
      </div>
    </div>
  </div>
  {% endblock %}

  <div class="navbar">
    <div class="content">
      <ul class="nav pull-right">
        <li><span class="navbar-text">Humbug © 2013</span></li>
        <li><span class="navbar-text little-bullet">·</span></li>
        <li><a href="/terms">Legal</a></li>
        <li><span class="navbar-text">·</span></li>
        <li><a href="/accounts/login/?next=/">Log in</a></li>
        <li><span class="navbar-text">·</span></li>
        <li><a href="{% url 'signup' %}">Sign up</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
