{% extends "zephyr/base.html" %}

{% comment %}
A base template for stuff like login, register, etc.

Not inside the app itself, but covered by the same structure,
hence the name.
{% endcomment %}

    {% block customhead %}
    <link href="/static/styles/portico.css?dummy_time={% now "U" %}" rel="stylesheet">
    {% endblock %}

{% block content %}
<div class="navbar">
    <ul class="nav pull-right">
        <li><a href="/accounts/login/?next=/">Log in</a></li>
        <li><a href="{% url zephyr.views.accounts_home %}">Register</a></li>
    </ul>
</div>
<div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span10">
        <div class="title">
            <a class="title" href="/">Humbug</a>
            <span class="for_you">{% block for_you %}{% endblock %}</span>
        </div>
        {% block portico_content %}
        {% endblock %}
    </div>
</div>

{% endblock %}
