{% extends "zephyr/portico.html" %}

{# Privacy policy. #}

{% block portico_content %}

<div class="row">
<div class="span10">

<h1>Privacy Policy</h1>

<p>As you use our services, we want you to be clear how we’re using
information.</p>

<p>Our Privacy Policy explains:</p>

<ul>
    <li>What information we collect and why we collect it.</li>
    <li>How we use that information.</li>
</ul>

<h3>Information we collect</h3>

<p>We collect information to provide better services to all of our users.</p>

<p>We collect information in two ways:</p>

<ul>

<li><p><strong>Information you give us.</strong> For example, many of our
services require you to sign up for a Humbug Account. When you do, we’ll ask
for personal information, like your name, email address, or telephone
number.</p></li>

<li><p><strong>Information we get from your use of our services.</strong> We
may collect information about the services that you use and how you use them,
like when you interact with our content.  This information includes:</p>

<ul>

<li>
<p><strong>Device information</strong></p>
<p>We may collect device-specific information (such as your hardware model,
operating system version, unique device identifiers, and mobile network
information including phone number). Humbug may associate your device
identifiers or phone number with your Humbug Account.</p>
</li>

<li>
<p><strong>Log information</strong></p>

<p>When you use our services or view content provided by Humbug, we may
automatically collect and store certain information in server logs. This may
include:</p>

<ul>

<li><p>details of how you used our service.</p></li>

<li><p>Internet protocol address.</p></li>

<li><p>device event information such as crashes, system activity, hardware
settings, browser type, browser language, the date and time of your request and
referral URL.</p></li>

<li><p>cookies that may uniquely identify your browser or your Humbug
Account.</p></li>

</ul>

</li>

<li>
<p><strong>Unique application numbers</strong></p>
<p>Certain services include a unique application number. This number and
information about your installation (for example, the operating system type and
application version number) may be sent to Humbug when you install or uninstall
that service or when that service periodically contacts our servers, such as
for automatic updates.</p>
</li>

<li>
<p><strong>Local storage</strong></p>
<p>We may collect and store information (including personal information)
locally on your device using mechanisms such as browser web storage (including
HTML 5) and application data caches.</p>
</li>

<li>
<p><strong>Cookies and anonymous identifiers</strong></p>
<p>We use various technologies to collect and store information when you visit
a Humbug service, and this may include sending one or more cookies or anonymous
identifiers to your device. We may also use cookies and anonymous identifiers
when you interact with services we offer to our partners, such as Humbug
features that may appear on other sites.</p>
</li>

</ul>

</li>

</ul>


<h3>How we use information we collect</h3>

<p>We use the information we collect from all of our services to provide,
maintain, protect and improve them, to develop new ones, and to protect Humbug
and our users.</p>

<p>We may use the name you provide for your Humbug Account across all of the
services we offer that require a Humbug Account. In addition, we may replace
past names associated with your Humbug Account so that you are represented
consistently across all our services.  We may show other users your publicly
visible Humbug Account information, such as your name.</p>

<p>When you contact Humbug, we may keep a record of your communication to help
solve any issues you might be facing. We may use your email address to inform
you about our services, such as letting you know about upcoming changes or
improvements.</p>

<p>We use information collected from cookies and other technologies to improve
your user experience and the overall quality of our services.</p>

<p>We may combine personal information from one service with information,
including personal information, from other Humbug services.</p>

<p>Humbug processes personal information on our servers in many countries
around the world. We may process your personal information on a server located
outside the country where you live.</p>


<h3>Accessing and updating your personal information</h3>

<p>Whenever you use our services, we aim to provide you with access to your
personal information. If that information is wrong, we strive to give you ways
to update it quickly or to delete it – unless we have to keep that information
for legitimate business or legal purposes. When updating your personal
information, we may ask you to verify your identity before we can act on your
request.</p>

<p>We may reject requests that are unreasonably repetitive, require
disproportionate technical effort (for example, developing a new system or
fundamentally changing an existing practice), risk the privacy of others, or
would be extremely impractical (for instance, requests concerning information
residing on backup tapes).</p>

<p>Where we can provide information access and correction, we will do so for
free, except where it would require a disproportionate effort. We aim to
maintain our services in a manner that protects information from accidental or
malicious destruction. Because of this, after you delete information from our
services, we may not immediately delete residual copies from our active servers
and may not remove information from our backup systems.</p>


<h3>Information we share</h3>

<p>We do not share personal information with companies, organizations and
individuals outside of Humbug unless one of the following circumstances
apply:</p>

<ul>

<li>
<p><strong>With your consent</strong></p>
<p>We will share personal information with companies, organizations or
individuals outside of Humbug when we have your consent to do so. We require
opt-in consent for the sharing of any sensitive personal information.</p>
</li>

<li>
<p><strong>With domain administrators</strong>

<p>If your Humbug Account is managed for you by a domain administrator then
your domain administrator and resellers who provide user support to your
organization will have access to your Humbug Account information (including
your email and other data). Your domain administrator may be able to:</p>

<ul>

<li><p>view statistics regarding your account.</p></li>

<li><p>change your account password.</p></li>

<li><p>suspend or terminate your account access.</p></li>

<li><p>access or retain information stored as part of your account.</p></li>

<li><p>receive your account information in order to satisfy applicable law,
regulation, legal process or enforceable governmental request.</p></li>

<li><p>restrict your ability to delete or edit information or settings.</p></li>

</ul>

<p>Please refer to your domain administrator’s privacy policy for more
information.</p>

</li>

<li>
<p><strong>For external processing</strong></p>
<p>We provide personal information to our affiliates or other trusted
businesses or persons to process it for us, based on our instructions and in
compliance with our Privacy Policy.</p>
</li>

<li>
<p><strong>For legal reasons</strong></p>

<p>We will share personal information with companies, organizations or
individuals outside of Humbug if we, in our sole discretion, determine that
that access, use, preservation or disclosure of the information is necessary
to:</p>

<ul>

<li><p>meet any applicable law, regulation, legal process or enforceable
governmental request.</p></li>

<li><p>enforce applicable Terms of Service, including investigation of
potential violations.</p></li>

<li><p>detect, prevent, or otherwise address fraud, security or technical
issues.</p></li>

<li><p>protect against harm to the rights, property or safety of Humbug, our
users or the public as required or permitted by law.</p></li>

</ul>

</li>

</ul>

<p>We may share aggregated, non-personally identifiable information publicly
and with our partners.  For example, we may share information publicly to show
trends about the general use of our services.</p>

<p>We may share personal information in connection with an acquisition, merger,
or sale of all or a substantial portion of our business, with or to another
company. In any such event, you will receive notice if your data is transferred
and becomes subject to a substantially different privacy policy.</p>


<h3>Application</h3>

<p>Our Privacy Policy applies to all of the services offered by Humbug, Inc.
and its affiliates, including services offered on other sites, but excludes
services that have separate privacy policies that do not incorporate this
Privacy Policy.</p>

<p>Our Privacy Policy does not apply to services offered by other companies or
individuals, sites that may include Humbug services, or other sites linked from
our services. Our Privacy Policy does not cover the information practices of
other companies and organizations who advertise our services, and who may use
cookies, pixel tags and other technologies to serve and offer relevant ads.</p>


<h3>Changes</h3>

<p>Our Privacy Policy may change from time to time.  We will post the latest
version of our privacy policy on this page.</p>

<br />

<p>Last modified: October 29, 2012</p>

</div>
</div>

{% endblock %}
