{% extends "zephyr/content_base.html" %}

{% block for_you %}for {% if company_name %} {{company_name}} {% else %} __________ {% endif %} {% endblock %}
{% block more_content %}

<p>(Welcome! We think you'll like it here.)</p>

<div class="pitch">
    <hr/>
    <p>You're almost there. We just need you to do one last thing.</p>
    <h3>Tell us a bit about yourself.</h3>
</div>

<form method="post" class="form-horizontal" action="{% url register %}">
{% csrf_token %}
    <div class="control-group">
        <label for="id_email" class="control-label">Email</label>
        <div class="controls">
            <input type='hidden' name='key' value='{{ key }}' />
            <p>{{ email }}<p>
        </div>
    </div>
    <div class="control-group">
        <label for="id_full_name" class="control-label">your name</label>
        <div class="controls">
            {{ form.full_name }}
            {% if form.full_name.errors %}
                <br/>
                <br/>
                {% for error in form.full_name.errors %}
                    <div class="alert alert-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="control-group">
        <label for="id_password" class="control-label">password</label>
        <div class="controls">
            {{ form.password }}
            {% if form.password.errors %}
                <br/>
                <br/>
                {% for error in form.password.errors %}
                    <div class="alert alert-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

<br />
<input type="submit" value="Register" /><br />
<input type="hidden" name="next" value="{{ next }}" />
<input type="hidden" name="domain" value="humbughq.com" />
</form>

<script type="text/javascript">
if ($('#id_email:visible').length) {
    console.log(1);
    autofocus('#id_email');
} else {
    console.log(2);
    autofocus('#id_full_name');
}
</script>

{% endblock %}
