          <div class="row right_sidebar">
            <div class="span2 sidebar-nav affix" id="right-sidebar">
              <div class="alert alert_sidebar alert-error home-error-bar" id="connection-error">
                <strong>Unable to connect to Humbug.</strong>  Updates may be delayed.
                <br /><br /> Retrying soon... <br /><br /> <a class="restart_get_updates_button">Try now</a>.
              </div>
              <div class="alert alert_sidebar alert-error home-error-bar" id="get_old_messages_error">
                <strong>Unable to connect to Humbug.</strong>  Could not fetch messages.
                <br /><br /> Retrying soon... <br /><br />
              </div>
              <div id="feedback_section">
                <button type="button" class="btn btn-large" id="feedback_button">
                  <i class="icon-vector-comment"></i>&nbsp;&nbsp;Send feedback
                </button>
              </div>
              <div id="onboarding">
                <p id="onboarding-header">Get started with Humbug!</p>
                <div id="onboarding-checklist">
                </div>
              </div>
              <ul id="user_presences" class="scrolling_list"></ul>
            </div>
          </div>
