{# Subscriptions management tab of the app. #}

<div class="row">
  <div class="span6">
    <div class="subscriptions">
      <h1>Streams</h1>
      <div class="alert" id="subscriptions-status"></div>
      <div id="subs_page_loading_indicator"></div>
      <table class="table table-condensed table-striped">
        <tbody id="subscriptions_table">
          <tr id="create_stream_row"><td>
              <div class="subscription_table_elem">
                <form id="add_new_subscription" class="form-inline">
                  <input type="text" name="stream_name" id="create_stream_name"
                         placeholder="Stream name" value="" />
                  <input type="submit" class="btn btn-primary"
                         id="create_stream_button" value="Create stream" />
                </form>
              </div>
          </td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% include "zephyr/stream_creation_prompt.html" %}
