{% load jstemplate %}

{% icanhazjs "subscription" %}

<div class="row-fluid">
  <h1>Subscriptions</h1>
  <form id="add_new_subscription" action="/json/subscriptions/add" method="post" class="form-inline">{% csrf_token %}
    <input type="text" name="new_subscription" id="new_subscription" placeholder="Stream name" value="" class="input-xlarge" />
    <input type="submit" name="add_subscription" value="Subscribe" class="btn btn-primary" />
  </form>
  <form id="current_subscriptions" action="/json/subscriptions/remove" method="post" class="subscriptions">{% csrf_token %}
    <table class="table table-condensed" id="subscriptions_table">
      <tr></tr>
    </table>
  </form>

</div>
