{% extends "zephyr/portico.html" %}

{# Terms of service. #}

{% block portico_content %}

<div class="row">
<div class="span10">

<h1>Terms of Service</h1>


<h3>Welcome to Humbug!</h3>

<p>Thanks for using our products and services (“Services”). The Services are
provided by Humbug Inc. (“Humbug”), located at 552 Massachusetts Ave Suite 203,
Cambridge, MA 02139, United States.</p>

<p>By using our Services, you are agreeing to these terms. Please read them
carefully.</p>

<p>The Services are not intended for use by you if you are under 13 years of
age. By agreeing to these terms, you are representing to us that you are over
13.</p>  


<h3>Using our Services</h3>

<p>You must follow any policies made available to you within the Services.</p>

<p>Don’t misuse our Services. For example, don’t interfere with our Services or
try to access them using a method other than the interface and the instructions
that we provide. You may use our Services only as permitted by law, including
applicable export and re-export control laws and regulations. We may suspend or
stop providing our Services to you if you do not comply with our terms or
policies or if we are investigating suspected misconduct.</p>

<p>Using our Services does not give you ownership of any intellectual property
rights in our Services or the content you access. You may not use content from
our Services unless you obtain permission from its owner or are otherwise
permitted by law. These terms do not grant you the right to use any branding or
logos used in our Services. Don’t remove, obscure, or alter any legal notices
displayed in or along with our Services.</p>

<p>Our Services display some content that is not Humbug’s. This content is the
sole responsibility of the entity that makes it available. We may review
content to determine whether it is illegal or violates our policies, and we may
remove or refuse to display content that we reasonably believe violates our
policies or the law. But that does not necessarily mean that we review content,
so please don’t assume that we do.</p>

<p>In connection with your use of the Services, we may send you service
announcements, administrative messages, and other information. You may opt out
of some of those communications.</p>


<h3>Your Humbug Account</h3>

<p>You may need a Humbug Account in order to use some of our Services. You may
create your own Humbug Account, or your Humbug Account may be assigned to you
by an administrator, such as your employer or educational institution. If you
are using a Humbug Account assigned to you by an administrator, different or
additional terms may apply and your administrator may be able to access or
disable your account.</p>

<p>If you learn of any unauthorized use of your password or account, contact <a
href="mailto:support@humbughq.com">support@humbughq.com</a>.</p>


<h3>Privacy and Copyright Protection</h3>

<p>Humbug’s privacy policy explains how we treat your personal data and protect
your privacy when you use our Services. By using our Services, you agree that
Humbug can use such data in accordance with our privacy policy.</p>

<p>We respond to notices of alleged copyright infringement and terminate
accounts of repeat infringers according to the process set out in the U.S.
Digital Millennium Copyright Act.</p>

<p>Our designated agent for notice of alleged copyright infringement on the
Services is:</p>

<blockquote>Copyright Agent<br />
Humbug, Inc.<br />
552 Massachusetts Ave Suite 203<br />
Cambridge, MA 02139<br />
<a href="mailto:copyright@humbughq.com">copyright@humbughq.com</a></blockquote>


<h3>Your Content in our Services</h3>

<p>Some of our Services allow you to submit content. You retain ownership of
any intellectual property rights that you hold in that content. In short, what
belongs to you stays yours.</p>

<p>When you upload or otherwise submit content to our Services, you give Humbug
(and those we work with) a worldwide license to use, host, store, reproduce,
modify, create derivative works (such as those resulting from translations,
adaptations or other changes we make so that your content works better with our
Services), communicate, publish, publicly perform, publicly display and
distribute such content. The rights you grant in this license are for the
limited purpose of operating, promoting, and improving our Services, and to
develop new ones. This license continues even if you stop using our Services
(for example, so that we can deliver a message that you sent to another Humbug
Account before you stopped using our Services). Some Services may offer you
ways to access and remove content that has been provided to that Service. Also,
in some of our Services, there are terms or settings that narrow the scope of
our use of the content submitted in those Services. Make sure you have the
necessary rights to grant us this license for any content that you submit to
our Services.</p>

<p>You can find more information about how Humbug uses and stores content in
the privacy policy or additional terms for particular Services. If you submit
feedback or suggestions about our Services, we may use your feedback or
suggestions without obligation to you.</p>


<h3>About Software in our Services</h3>

<p>When a Service requires or includes downloadable software, this software may
update automatically on your device once a new version or feature is available.
Some Services may let you adjust your automatic update settings.</p>

<p>Humbug gives you a personal, worldwide, royalty-free, revocable,
non-assignable and non-exclusive license to use the software provided to you by
Humbug as part of the Services. This license is for the sole purpose of
enabling you to use and enjoy the benefit of the Services as provided by
Humbug, in the manner permitted by these terms. You may not copy, modify,
distribute, sell, or lease any part of our Services or included software, nor
may you reverse engineer or attempt to extract the source code of that
software, unless laws prohibit those restrictions or you have our written
permission.</p>

<p>Open source software is important to us. Some software used in our Services
may be offered under an open source license that we will make available to you.
There may be provisions in the open source license that expressly override some
of these terms.</p>


<h3>Modifying and Terminating our Services</h3>

<p>We are constantly changing and improving our Services. We may add or remove
functionalities or features, and we may suspend or stop a Service
altogether.</p>

<p>You can stop using our Services at any time, although we’ll be sorry to see
you go. Humbug may also stop providing Services to you, or add or create new
limits to our Services at any time.</p>

<p>We believe that you own your data and preserving your access to such data is
important. If we discontinue a Service, where reasonably possible, we will give
you reasonable advance notice and a chance to get information out of that
Service.</p>


<h3>Our Warranties and Disclaimers</h3>

<p>We hope that you will enjoy using our Services, but there are certain things
that we don’t promise about our Services.</p>

<p>OTHER THAN AS EXPRESSLY SET OUT IN THESE TERMS, NEITHER HUMBUG NOR ITS
SUPPLIERS OR DISTRIBUTORS MAKE ANY SPECIFIC PROMISES ABOUT THE SERVICES.  FOR
EXAMPLE, WE DON’T MAKE ANY COMMITMENTS ABOUT THE CONTENT WITHIN THE SERVICES,
THE SPECIFIC FUNCTION OF THE SERVICES, OR THEIR RELIABILITY, AVAILABILITY, OR
ABILITY TO MEET YOUR NEEDS. WE PROVIDE THE SERVICES “AS IS”.</p>

<p>SOME JURISDICTIONS PROVIDE FOR CERTAIN WARRANTIES, LIKE THE IMPLIED WARRANTY
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. TO
THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES.</p>


<h3>Liability for our Services</h3>

<p>WHEN PERMITTED BY LAW, HUMBUG, AND HUMBUG’S SUPPLIERS AND DISTRIBUTORS, WILL
NOT BE RESPONSIBLE FOR LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES OR
INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES.</p>

<p>TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF HUMBUG, AND ITS
SUPPLIERS AND DISTRIBUTORS, FOR ANY CLAIM UNDER THESE TERMS, INCLUDING FOR ANY
IMPLIED WARRANTIES, IS LIMITED TO THE GREATER OF FIVE DOLLARS ($5) OR THE
AMOUNT PAID BY YOU TO HUMBUG FOR THE PAST THREE MONTHS OF THE SERVICES IN
QUESTION.</p>

<p>IN ALL CASES, HUMBUG, AND ITS SUPPLIERS AND DISTRIBUTORS, WILL NOT BE LIABLE
FOR ANY LOSS OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.</p>


<h3>Business uses of our Services</h3>

<p>If you are using our Services on behalf of a business, that business accepts
these terms. It will hold harmless and indemnify Humbug and its affiliates,
officers, agents, and employees from any claim, suit or action arising from or
related to the use of the Services or violation of these terms, including any
liability or expense arising from claims, losses, damages, suits, judgments,
litigation costs and attorneys’ fees.</p>


<h3>About these Terms</h3>

<p>We may modify these terms to, for example, reflect changes to the law or
changes to our Services. You should look at the terms regularly. We’ll post
notice of modifications to these terms on this page. Changes will not apply
retroactively and will become effective no sooner than fourteen days after they
are posted. However, changes addressing new functions for a Service or changes
made for legal reasons will be effective immediately. If you do not agree to
the modified terms for a Service, you should discontinue your use of that
Service.</p>

<p>These terms control the relationship between Humbug and you. They do not
create any third party beneficiary rights.</p>

<p>If you do not comply with these terms, and we don’t take action right away,
this doesn’t mean that we are giving up any rights that we may have (such as
taking action in the future).</p>

<p>If it turns out that a particular term is not enforceable, this will not
affect any other terms.</p>

<p>The laws of Massachusetts, U.S.A., excluding Massachusetts’s conflict of
laws rules, will apply to any disputes arising out of or relating to these
terms or the Services. All claims arising out of or relating to these terms or
the Services will be litigated exclusively in the applicable federal or state
courts of Massachusetts, and you and Humbug consent to personal jurisdiction in
those courts.</p>

<br />

<p>Last modified: October 24, 2012</p>

</div>
</div>

{% endblock %}
