<div class="modal hide" id="tutorial-finale" tabindex="-1" role="dialog"
     aria-labelledby="tutorial-finale-label" aria-hidden="true">
  <div class="modal-header">
    <h3 id="tutorial-finale-label">Why Humbug?</h3>
  </div>
  <div class="modal-body">
    <b>We make it easy for you to see the things you care about.</b>

    <p>
      Streams, subjects, and narrowing let you zoom in on the things that
      interest you, and quickly ignore the ones that don't.
    </p>
    <p>
      This is critical, because it means you can return to Humbug after being
      away for hours without missing the important stuff.
    </p>
    <p>
      Now go forth and enjoy Humbug!
    </p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="submit" id="tutorial-get-started">Get started</button>
  </div>
</div>
