{% extends "zephyr/portico.html" %}

{# A brief "What is Humbug?" explanation page #}

{% block portico_content %}
<div class="row-fluid">
  <div class="span8">
    <p class="lead">The group communication product you've always wanted.</p>

    <p>Email. We all get too much of it.</p>

    <p>Why? Because there really isn't anything better out there
    today. <em>Maybe</em> you're using a chat system for some
    messages, but by and large, everything else is going to your
    email. And while that may have worked in 1970, email is no longer
    a good catch-all for your communication in this day and age.</p>

    <p>More concerningly, the most important kind of
    communication&mdash;group conversation&mdash;isn't being done
    electronically today at all. Email is neither instantaneous nor
    conversational. Getting a substantive back-and-forth going on
    Twitter or Facebook is an exercise in frustration. And the group
    "chat" products that exist today are a mess&mdash;their model is
    all wrong.</p>

    <p>What would a good system do? Well, for starters, it would:</p>
    <ul>
      <li>Encourage truly conversational interactions (which means that it must support real-time communication), but also</li>
      <li>Work naturally when people aren't online at the same time, and</li>
      <li>Let you easily follow many different conversations</li>
    </ul>

    <p><strong>That's where Humbug comes in</strong>. Based on our
    experience at MIT, Ksplice, and Oracle, we're solving this
    problem, with a webapp and native mobile apps for Android and
    iPhone. We are currently in closed beta.</p>

    <p><strong>Interested?</strong> <a href="/new-user">Learn more</a>.</p>
  </div>
</div>
{% endblock %}
