{% extends "zerver/portico.html" %}

{% block title %}
<title>{{ _("Configuration error") }} | Zulip</title>
{% endblock %}

{% block portico_content %}
    <div class="error_page" style="padding-bottom: 60px;">
        <div class="container">
            <div class="row-fluid">
                <img src="{{ static('images/errors/500art.svg') }}" alt=""/>
                <div class="errorbox config-error">
                    <div class="errorcontent">
                        <h1 class="lead">{{ _("Configuration error") }}</h1>
                        <br />
                        {% block error_content %}
                        {% endblock %}

                        <p>After making your changes, remember to restart
                        the Zulip server.</p>
                        <p><a href=""> Refresh</a> to try again or <a href="/login/">click here</a> to go back to the login page.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
