#!/bin/sh
# include-supported -- include a package in multiple releases
#
# Copyright © 2013 Zulip, Inc. All rights reserved.
# This is an unpublished work of Zulip, Inc.
#
# Copy this to REPOROOT/bin/include-supported, mark it executable, and edit the
# constants below.

# Which distributions do you support?
DISTS="wheezy quantal raring"

# What type of file are we including, most of the time? Possibilities are
# "deb", "dsc", leave blank if "changes".
TYPE=""

# TYPE can be overridden by providing the type as the second parameter.
if [ $# = 2 ]; then
    TYPE=$1
    1=$2
fi

for dist in $DISTS; do
    reprepro --ignore=wrongdistribution "include$TYPE" "$dist" "$1"
done
