<p>
    You are attempting to use the <strong>Apple auth backend</strong>, but it is
    not properly configured. To configure, please check the following:
</p>
<ul>
    <li>
        You have registered
        <code>{{ root_domain_url }}/complete/apple/</code> as the callback URL
        for your Services ID in Apple’s developer console. You can enable “Sign
        in with Apple” for an app at
        <a href="https://developer.apple.com/account/resources/">Certificates,
        Identifiers &amp; Profiles</a>.
    </li>
    <li>
        You have set <code>SOCIAL_AUTH_APPLE_SERVICES_ID</code>,
        <code>SOCIAL_AUTH_APPLE_APP_ID</code>,
        <code>SOCIAL_AUTH_APPLE_TEAM</code>, and
        <code>SOCIAL_AUTH_APPLE_KEY</code> in
        <code>{{ settings_path }}</code>
        and stored the private key provided by Apple at
        <code>/etc/zulip/apple-auth-key.p8</code> on the Zulip server, with
        proper permissions set.
    </li>
    <li>
        Navigate back to the login page and attempt the “Sign in with Apple”
        flow again.
    </li>
</ul>
