<p>
    You attempted to use the <code>DevAuthBackend</code> authentication method,
    which is used for logging in without a password in the Zulip development
    environment.
</p>
<p>This backend is not available for this realm, either because:</p>
<ul>
    <li>This Zulip server is configured as a production server.</li>
    <li>
        <code>DevAuthBackend</code> is disabled in
        <code>AUTHENTICATION_BACKENDS</code> in
        <code>{{ settings_path }}</code>.
    </li>
    <li>
        You disabled this authentication backend in
        <a href="/help/configure-authentication-methods">this realm’s
        authentication settings</a>.
    </li>
</ul>
