<p>
    You are attempting to use the <strong>GitHub auth backend</strong>, but it
    is not properly configured. To configure, please check the following:
</p>
<ul>
    <li>
        You have added
        <code>{{ root_domain_url }}/complete/github/</code> as the callback URL
        in the OAuth application in GitHub. You can create OAuth apps from
        <a href="https://github.com/settings/developers">GitHub’s developer
        site</a>.
    </li>
    <li>
        You have set <code>{{ client_id_key_name }}</code> in
        <code>{{ settings_path }}</code> and
        <code>social_auth_github_secret</code> in
        <code>{{ secrets_path }}</code> with the values from your OAuth
        application.
    </li>
    <li>
        Navigate back to the login page and attempt the GitHub auth flow again.
    </li>
</ul>
