<p>
    You are attempting to use the <strong>Google auth backend</strong>, but it
    is not properly configured. To configure, please check the following:
</p>
<ul>
    <li>
        You have created a Google OAuth2 client and enabled the Identity Toolkit
        API. You can create OAuth2 apps at
        <a href="https://console.developers.google.com">the Google developer
        console</a>.
    </li>
    <li>
        You have configured your OAuth2 client to allow redirects to your
        server’s Google auth URL:
        <code>{{ root_domain_url }}/complete/google/</code>.
    </li>
    <li>
        You have set <code>{{ client_id_key_name }}</code> in
        <code>{{ settings_path }}</code> and
        <code>social_auth_google_secret</code> in
        <code>{{ secrets_path }}</code>.
    </li>
    <li>
        Navigate back to the login page and attempt the Google auth flow again.
    </li>
</ul>
