body {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    line-height: 150%;
}

li {
    line-height: 150%;
}

.title {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 60px;
}

.lead {
    font-weight: bold;
}

.jobs-lead {
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

.pitch {
    width: 600px;
}

.signup {
    width: 650px;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: LightGray;
    border: 1px solid DarkGray;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.for_you {
    font-size: 30px;
    font-style: italic;
}

#company-email {
    display: none;
}

a.title {
    color: black;
}

a.title:hover {
    color: gray;
    text-decoration: none;
}

.login-area {
    /* Often, the form itself overshoots the containing span, which
     is an issue because then it collides with the "Sign in with Google"
     button. This fix, though hackish, makes sure it's big enough at
     all times. */
    min-width: 400px;
}

.fakecontrol {
    padding-top: 5px;
    font-weight: bold;
}

img.screenshot{
    /* This makes it so screenshots are still shown if they are larger than their span.*/
    max-width: 150%;
}

.little-bullet {
    /* In our footer navbar, the · doesn't get appropriate padding without this */
    padding-left: 15px;
}

/* Silly easter egg for /integrations */
.integral {
    font-weight: normal;
    display: none;
}

.show-integral {
    position: relative;
}

.show-integral:hover:after {
    content: "dx";
    font-weight: normal;
    font-style: italic;
    font-size: 70%;
}

.integration {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px dashed black;
}

.integration p {
    margin-top: 2em;
}
