body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.sidebar-nav {
    padding: 9px 0;
}

.my_fullname {
    font-weight: bold;
    font-size: 150%;
}

.my_email {
    color: gray;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.zephyr_well {
    background-color: white;
    border: none;
}

ul.nav-zephyr {
    padding-left:   30px;
    padding-right:  30px;
    padding-top:    60px;
    padding-bottom: 40px;
}

.zephyr_list {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: aliceblue;
    padding-right: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 640px;
}

/* This is a div on top of main_div that hides main_div's scroll bar. */
#wrapper {
    overflow: hidden;
    padding-right: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 620px; /* slightly smaller than main_div */
}

.zephyr_comp {
    border: 1px solid #EEE;
    border-top: 0px;
}

td.pointer {
    vertical-align: top;
    padding-top: 10px;
}

td.zephyr_recipient {
    vertical-align: top;
    text-align:     right;
    overflow-x:     hidden;
    padding-right:   10px;
    padding-top:      5px;
    max-width:      100px;
    min-width:      100px;
    white-space:    nowrap;
}

.zephyr_class {
    font-weight: bold;
    font-size: 120%;
    width: 15px;
}

.zephyr_instance {
    font-size: 120%;
}

.zephyr_sender_name {
    font-weight: bold;
}

.zephyr_sender_email {
    font-size: 80%;
    color: gray;

    /* Use padding, not margin, so that there's a continuous
       region of 'hover-ability' between fullname and email. */
    padding-left: 5px;
}

.zephyr_sender_username {
    display: none;
}

.zephyr_label_clickable:hover {
    cursor: pointer;
    color:  #08C;
}

.zephyr_time {
    color: gray;
    float: right;
    position: relative;
    right: -25px;
    font-size: 90%;
}

table.zephyr_table {
    table-layout: fixed;
    margin-left: auto;
}

.zephyr_content {
    margin-left: 45px;
}

blockquote {
    margin-bottom: 6px;
}

td.messagebox {
    width:     470px;
    max-width: 470px;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid gray;
}

img.profile_picture {
    display: block;
    float: left;
    margin: 0 15px 15px 0;
    max-height: 30px;
    width:  30px;
    height: 30px;
}

.alert {
    max-width: 20%;
}

.zephyr_compose {
    display: none;
    position: fixed;
    bottom: 0px;
    background: white;

    /* = #wrapper width + padding-right */
    width: 650px;
}

/* Like .nav-tabs > li > a */
#send-status {
    padding: 8px 14px 8px 14px;
    line-height: 20px;
}

/* Like .alert .close */
.send-status-close {
    font-size:   17px;
    font-weight: bold;
    color:       black;
    text-shadow: 0 1px 0 white;
    opacity:     .2;
    filter:      alpha(opacity=20);
    margin-left: 5px;
    position:    relative;
    top:         1px;
}

.send-status-close:hover {
    cursor:  pointer;
    opacity: .4;
    filter:  alpha(opacity=40);
}

#connection-error {
    margin-top: 5px;
    display: none;
}

#class-dne {
    display: none;
}

#class-nosub {
    display: none;
}

.classname {
    font-weight: bold;
}

#connection-error .alert {
    margin-bottom: auto;
}

textarea.zephyr_message {
    width: 100%;
    height: 100%;
}

textarea:focus {
    outline: none;
    border: gray;
}

input.zephyr_recipient_box {
    width: 90px;
}

input.send_zephyr {
    float: right;
}

#narrowbox {
    position: fixed;
    display: none;
    padding-left: 2px;
    /* .zephyr_list width + ??? */
    width: 648px;
    margin: 0 auto;
    background-color: #EEE;
    text-decoration: none;
    top: 0px;
}

.narrowed_view {
    background-color: #EEE;
}

.badge_close_button {
    margin-left: 0.3em;
    cursor: pointer;
}

#bottom_whitespace {
  display: block;
  height: 60%;
}

.selected_zephyr .pointer {
    background-color: blue;
    width: 2px;
}

#zephyr-type-tabs {
    margin-top: 10px;
    margin-bottom: 0px;
}
