body {
    /* Make room for the topbar */
    padding-top: 50px;
}

.top-content {
    padding-left: 10px;
    padding-right: 20px;
}

#main_div {
    height: 400px;
    overflow-y: scroll;
}

form.zephyr input {
    width: 95%;
}

form.zephyr textarea {
    width: 95%;
}

#unhide {
    margin-top: 5px;
}
