.activity_head {
    background-color: hsl(208deg 100% 97%);
}

.table-striped {
    & tr.recently_active {
        & td {
            background-color: hsl(120deg 97% 83%);
        }

        &:nth-child(odd) td {
            background-color: hsl(120deg 70% 76%);
        }
    }
}

.summary-table,
.analytics_table {
    border: 1px solid hsl(0deg 0% 87%);
    border-collapse: separate;
    border-left: 0;
    border-radius: 4px;
    border-spacing: 0;
    width: 100%;

    & th,
    td {
        border-left: 1px solid hsl(0deg 0% 87%);
        text-align: left;

        &.number {
            text-align: right;
        }
    }

    th {
        vertical-align: bottom;
        padding: 8px;
    }

    td {
        border-top: 1px solid hsl(0deg 0% 87%);
        white-space: nowrap;
        padding: 2px 8px;
    }

    tbody > tr:nth-child(odd) > td {
        background-color: hsl(0deg 0% 98%);
    }

    thead tr:first-child > th:first-child {
        border-top-left-radius: 4px;
    }

    thead tr:first-child > th:last-child {
        border-top-right-radius: 4px;
    }

    tbody tr:last-child > td:first-child {
        border-bottom-left-radius: 4px;
    }

    tbody tr:last-child > td:last-child {
        border-bottom-right-radius: 4px;
    }

    thead tr:first-child th {
        border-top: 0;
    }
}

.summary-table {
    width: auto;
    margin: 0 auto;
}

tr.admin td:first-child {
    font-weight: bold;
    color: hsl(240deg 100% 50%);
    font-size: 110%;
}

.good {
    font-weight: bold;
    color: hsl(120deg 100% 33%);
}

.bad {
    font-weight: bold;
    color: hsl(0deg 100% 39%);
}

.support-query-result {
    background-color: hsl(210deg 100% 97%);
    padding-left: 15px;
    padding-top: 14px;
    border-radius: 7px;
    box-shadow: 0 10px 7px -6px hsl(0deg 2% 45%);

    & select {
        height: 30px;
        width: 220px;
        padding: 0 6px;
        font-size: 14px;
        color: hsl(0deg 0% 33%);
        border-radius: 4px;
        border: 1px solid hsl(0deg 0% 80%);
        margin-bottom: 10px;
        cursor: pointer;
        background-color: hsl(0deg 0% 100%);
        vertical-align: middle;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        &:focus {
            outline: 1px dotted hsl(0deg 0% 20%);
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }
    }

    & input {
        width: 206px;
        padding: 4px 6px;
        border-radius: 4px;
        border: 1px solid hsl(0deg 0% 80%);
        color: hsl(0deg 0% 33%);
        margin-bottom: 10px;
        transition:
            border linear 0.2s,
            box-shadow linear 0.2s;
        box-shadow: inset 0 1px 1px hsla(0deg 0% 0% / 7.5%);

        &:focus {
            border-color: hsl(206deg 80% 62% / 80%);
            outline: 0;
            box-shadow:
                inset 0 1px 1px hsl(0deg 0% 0% / 7.5%),
                0 0 8px hsl(206.494deg 80% 62% / 60%);
        }
    }

    .label {
        padding: 2px 4px;
        font-size: 11.844px;
        font-weight: bold;
        line-height: 14px;
        color: hsl(0deg 0% 100%);
        text-shadow: 0 -1px 0 hsla(0deg 0% 0% / 25%);
        background-color: hsl(0deg 0% 60%);
        border-radius: 3px;
    }
}

.support-realm-icon {
    max-width: 25px;
    position: relative;
    top: -2px;
}

.support-realm-status-form {
    position: relative;
    top: 20px;
}

.support-discount-form {
    position: relative;
    top: -50px;
}

.support-plan-type-form {
    position: relative;
    top: -10px;
}

.sponsorship-pending-form {
    position: relative;
    top: -25px;
}

.current-plan-details {
    position: relative;
    top: -15px;
}

.approve-sponsorship-form {
    position: relative;
    top: -40px;
}

.billing-method-form {
    position: relative;
    top: -30px;
}

.downgrade-plan-form {
    position: relative;
    top: -75px;
}

.modify-plan-method-select {
    width: auto;
}

.scrub-realm-form {
    position: relative;
    top: -70px;
}

.support-search-button {
    border-color: hsl(0deg 0% 83%);
    border-radius: 2px;
}

.support-submit-button {
    position: relative;
    top: -3px;
    border-color: hsl(0deg 0% 83%);
    border-radius: 2px;
}

.search-query.input-xxlarge {
    width: 530px;
    padding: 4px 14px;
    margin-bottom: 0;
    border-radius: 15px;
    border: 1px solid hsl(0deg 0% 80%);
    box-shadow: inset 0 1px 1px hsl(0deg 0% 0% / 7.5%);
    transition:
        border linear 0.2s,
        box-shadow linear 0.2s;
    color: hsl(0deg 0% 33%);

    &:focus {
        border-color: hsl(206deg 80% 62% / 80%);
        outline: 0;
        box-shadow:
            inset 0 1px 1px hsl(0deg 0% 0% / 7.5%),
            0 0 8px hsl(206.494deg 80% 62% / 60%);
    }
}

@media (width <= 767px) {
    .search-query.input-xxlarge {
        width: 100%;
    }
}
