body {
    --base-font-size-px: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: var(--base-font-size-px);
    /* The line-height used in most of the UI should be at least
       its legacy value, but should expand with larger base
       line-height values. */
    line-height: max(
        var(--legacy-body-line-height-unitless),
        var(--base-line-height-unitless)
    );
    font-family: "Source Sans 3 VF", sans-serif;
    font-weight: unset; /* override value in portico.css */
    color: var(--color-text-default);
    background-color: var(--color-background);
}

.design-testing-wrapper {
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding-bottom: 20px;
}

.design-testing-title {
    font-size: 2em;
    text-align: center;
    padding: 20px 0;
}

.action-button-section {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.design-testing-controls {
    display: grid;
    grid-template-columns: [control-name-start] max-content [control-name-end control-input-start] min-content [control-input-end];
    grid-auto-rows: 1fr;
    gap: 10px;
    background-color: var(--color-background);
    border: solid 1px;
    padding: 10px;
    width: fit-content;
}

.design-testing-control {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: control-name-start / control-input-end;
    gap: 10px;
}

.design-testing-control-element {
    font-size: inherit;
    font-family: inherit;
}

.control-label {
    cursor: pointer;
    grid-column: control-name-start / control-name-end;
    align-self: center;
}

.control-setting {
    grid-column: control-input-start / control-input-end;
}

.control-setting-multiple {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hidden {
    display: none !important;
}

.section-heading {
    font-size: 1.4em;
    font-weight: 600;
}

.dev-buttons-grid {
    display: grid;
    grid-template-areas: "dev-buttons-variant-name dev-action-buttons-group dev-icon-buttons-group";
    grid-template-columns: repeat(3, max-content);
    gap: 15px 30px;
}

.dev-buttons-variant-group {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    place-items: center start;
}

.dev-buttons-variant-label {
    grid-area: dev-buttons-variant-name;
}

.dev-action-buttons-group,
.dev-action-buttons-label {
    grid-area: dev-action-buttons-group;
}

.dev-icon-buttons-group,
.dev-icon-buttons-label {
    grid-area: dev-icon-buttons-group;
}

.dev-action-buttons-group,
.dev-icon-buttons-group {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.dev-buttons-variant-label,
.dev-action-buttons-label,
.dev-icon-buttons-label {
    font-size: 1.1em;
    font-weight: 500;
}
