{% extends "zerver/portico.html" %}

{% block portico_content %}

<div class="pitch">
    <hr/>
    <p class="lead">Whoops. The confirmation link is malformed.</p>

    <p>Make sure you copied the link correctly in to your browser. If you're
    still encountering this page, it's probably our fault. We're sorry.</p>

    <p>
        Anyway, shoot us a line at
        <a href="mailto:{{ support_email }}">{{ support_email }}</a>
        and we'll get this resolved shortly.
    </p>

</div>

{% endblock %}
