{% extends "zerver/portico.html" %}

{% block title %}
<title>{{ _("Confirmation link malformed") }} | Zulip</title>
{% endblock %}

{% block portico_content %}
<div class="error_page">
    <div class="container row-fluid">
        <img src="{{ static('images/errors/500art.svg') }}" alt=""/>
        <div class="errorbox">
            <div class="errorcontent">
                <h1 class="lead">{{ _("Whoops. The confirmation link is malformed.") }}</h1>
                <p>{{ _("Make sure you copied the link correctly in to your browser. If you're still encountering this page, it's probably our fault. We're sorry.") }}</p>
                <p>
                    {% trans %}
                    Anyway, shoot us a line at {{ support_email_html_tag }} and we'll get this resolved shortly.
                    {% endtrans %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
