<div id="add-new-saved-snippet-modal">
    <form id="add-new-saved-snippet-form">
        <label for="title" class="modal-field-label">{{t "Title" }}</label>
        <input id="new-saved-snippet-title" type="text" name="title" class="modal_text_input saved-snippet-title" value="" autocomplete="off" spellcheck="false" autofocus="autofocus"/>
        <div>{{t "Content" }}</div>
        <textarea class="settings_textarea saved-snippet-content" rows="4">
            {{~prepopulated_content~}}
        </textarea>
    </form>
</div>
