<form id="add-poll-form">
    <label class="poll-label">{{t "Question"}}</label>
    <div class="poll-question-input-container">
        <input type="text" id="poll-question-input" autocomplete="off" class="modal_text_input" placeholder="{{t 'Your question'}}" />
    </div>
    <label class="poll-label">{{t "Options"}}</label>
    <p>{{t "Anyone can add more options after the poll is posted."}}</p>
    <ul class="poll-options-list" data-simplebar data-simplebar-tab-index="-1">
        {{> poll_modal_option }}
        {{> poll_modal_option }}
        {{> poll_modal_option }}
    </ul>
</form>
