{{! Explanation of what "announce stream" does when creating a stream }}
<div>

    {{#tr}}
    <p>Stream will be announced in <b>#{notifications_stream}</b>.</p>
    {{/tr}}
    <p>{{t 'Organization administrators can change the announcement stream in the organization settings.' }}</p>

</div>
