<form id="change_email_form">
    <label for="email" class="modal-field-label">
        <span class="modal-field-label-text">{{t "New email" }}</span>
    </label>
    <input type="text" name="email" class="modal_text_input" value="{{delivery_email}}" autocomplete="off" spellcheck="false" autofocus="autofocus"/>
</form>
