<form id="change_email_form" class="new-style">
    <label for="email" class="modal-field-label">{{t "New email" }}</label>
    <input type="text" name="email" class="modal_text_input" value="{{delivery_email}}" autocomplete="off" spellcheck="false" autofocus="autofocus"/>
</form>
