<form id="change_email_form">
    <label for="change-email-form-input-email" class="modal-field-label">{{t "New email" }}</label>
    <input id="change-email-form-input-email" type="text" name="email" class="modal_text_input" value="{{delivery_email}}" autocomplete="off" spellcheck="false" autofocus="autofocus"/>
</form>
