<div id="change_visibility_policy_button_tooltip">
    <strong>{{t 'Configure topic notifications' }}</strong>
    <div class="tooltip-inner-content italic">
        <span>
            {{#if should_render_privacy_icon}}
                {{#tr}}
                    Notifications are based on your configuration for <z-stream-name></z-stream-name>.
                    {{#*inline "z-stream-name"}}<span class="tooltip-privacy-icon">{{> stream_privacy . }}<span class="privacy-tooltip-stream-name">{{name}}</span></span>{{/inline}}
                {{/tr}}
            {{else}}
                {{current_visibility_policy_str}}
            {{/if}}
        </span>
    </div>
</div>
