<div id="change_visibility_policy_button_tooltip">
    <strong>{{t 'Configure topic notifications' }}</strong>
    <div class="tooltip-inner-content italic">{{current_visibility_policy_str}}</div>
</div>
