<form id="change_email_form">
    <div class="tip"> {{t "You will receive a confirmation email at the new address you enter."}} </div>
    <label for="email" class="modal-field-label">{{t "New email" }}</label>
    <input type="text" name="email" class="modal_text_input" value="{{delivery_email}}" autocomplete="off" spellcheck="false" autofocus="autofocus"/>
</form>
