<div id="change_visibility_policy_button_tooltip">
    <strong>{{current_visibility_policy_str}}</strong>
    <div class="tooltip-inner-content italic">{{t 'Click to change notifications for this topic.' }}</div>
</div>
