<div class="code-buttons-container">
    <span class="copy_codeblock copy-btn" data-tippy-content="{{t 'Copy code' }}" aria-label="{{t 'Copy code' }}" role="button">
        <i class="zulip-icon zulip-icon-copy" aria-hidden="true"></i>
    </span>
    {{~#if show_playground_button~}}
    {{~> view_code_in_playground~}}
    {{~/if~}}
</div>
