<button class="btn copy_button_base copy_codeblock" data-tippy-content="{{t 'Copy code' }}" data-tippy-trigger="mouseenter" aria-label="{{t 'Copy code' }}">
    {{> copy_to_clipboard_svg }}
</button>
