{{! Contents of the "drafts sidebar" popup }}
<ul class="nav nav-list">
    <li>
        {{! tabindex="0" Makes anchor tag focusable. Needed for keyboard support. }}
        <a tabindex="0" id="delete_all_drafts_sidebar">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
            {{t "Delete all drafts" }}
        </a>
    </li>
</ul>
