<button id="{{widget_name}}_widget" class="dropdown-widget-button {{#if custom_classes}}{{custom_classes}}{{/if}}" type="button" {{#if is_setting_disabled}}disabled{{/if}} {{#if disable_keyboard_focus}}tabindex="-1"{{/if}} name="{{widget_name}}">
    <span class="dropdown_widget_value">{{#if default_text}}{{default_text}}{{/if}}</span>
    <i class="zulip-icon zulip-icon-chevron-down"></i>
</button>
