<button id="{{widget_name}}-widget" class="dropdown-widget-button" type="button" {{#if disable_keyboard_focus}}tabindex="-1"{{/if}} name="{{widget_name}}">
    <span class="dropdown-widget_value">{{#if default_text}}{{default_text}}{{/if}}</span>
    <i class="zulip-icon zulip-icon-chevron-down"></i>
</button>
