<div class="dropdown-list-container">
    <div class="dropdown-list-search">
        <input class="dropdown-list-search-input filter_text_input" type="text" placeholder="{{t 'Filter' }}" autofocus/>
    </div>
    <div class="dropdown-list-wrapper" data-simplebar>
        <ul class="dropdown-list"></ul>
    </div>
    <div class="no-dropdown-items dropdown-list-item-common-styles">
        {{t 'No matching results'}}
    </div>
</div>
