<form id="edit-invite-form">
    {{> invited_user_configuration_options invite_as_options=invite_as_options is_admin=is_admin is_owner=is_owner show_group_pill_container=show_group_pill_container show_select_default_streams_option=show_select_default_streams_option }}
</form>
