<form id="edit-invite-form">
    {{> invited_user_configuration_options
      invite_as_options=invite_as_options
      show_select_default_streams_option=show_select_default_streams_option
      show_group_pill_container=show_group_pill_container
      is_owner=is_owner
      is_admin=is_admin
      }}
</form>
