<form id="edit-invite-form">
    {{> user_invite_configuration_options
      invite_as_options=invite_as_options
      show_select_default_streams_option=show_select_default_streams_option
      show_group_pill_container=show_group_pill_container
      default_welcome_message_custom_text=default_welcome_message_custom_text
      is_owner=is_owner
      is_admin=is_admin
      }}
</form>
