<div class="edit-notifications"></div>
{{#if modified}}
    {{#if msg/local_edit_timestamp}}
        <div class="message_edit_notice">
            {{t "SAVING"}}
        </div>
    {{else if edited}}
        <div class="message_edit_notice">
            <i class="message-edited-icon zulip-icon zulip-icon-message-edited"></i>
        </div>
    {{else}}
        <div class="message_edit_notice">
            <i class="message-moved-icon zulip-icon zulip-icon-message-moved"></i>
        </div>
    {{/if}}
{{/if}}
