{{! Editing notifications }}
{{#if typing}}
    <div class="typing-animation">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
{{/if}}
