<div class="split_message_fragment">
    <div class="split_message_enumerated">
        {{#tr}}
        Message {message_number}
        {{/tr}}
    </div>
    <div class="split_message_content rendered_markdown">{{{rendered_preview_html}}}</div>
</div>
