<div>
    <div class="split_message_enumerated">
        {{#tr}}
        Message {message_number}
        {{/tr}}
    </div>
    <div class="split_message_part">{{{rendered_preview_html}}}</div>
</div>
