<div class="float-header">
    <h3 class="light no-margin small-line-height float-left feedback_title"></h3>
    <div class="exit-me float-right">&#215;</div>
    <button class="button small rounded float-right feedback_undo" type="button" name="button"></button>
    <div class="float-clear"></div>
</div>
<p class="n-margin feedback_content"></p>
