<div class="float-header">
    <h3 class="light no-margin small-line-height float-left feedback_title"></h3>
    <div class="feedback-button-container">
        {{#if has_undo_button}}
            {{> components/action_button intent="neutral" attention="quiet" custom_classes="feedback_undo"}}
        {{/if}}
        {{> ./components/icon_button intent="neutral" custom_classes="exit-me" icon="close"}}
    </div>
    <div class="float-clear"></div>
</div>
<p class="n-margin feedback_content"></p>
