<div class="input-append topic_search_section filter-topics">
    <input class="topic-list-filter home-page-input filter_text_input" id="filter-topic-input" type="text" autocomplete="off" placeholder="{{t 'Filter topics'}}" />
    <button type="button" class="btn clear_search_button" id="clear_search_topic_button">
        <i class="fa fa-remove" aria-hidden="true"></i>
    </button>
</div>
