<div class="input-append pm_search_section filter-pms">
    <input class="pm-list-filter home-page-input" id="filter-pm-input" type="text" autocomplete="off" placeholder="{{t 'Filter direct messages'}}" />
    <button type="button" class="btn clear_search_button" id="clear_search_pm_button">
        <i class="fa fa-remove" aria-hidden="true"></i>
    </button>
</div>
