<div class="left-sidebar-filter-input-container">
    {{#> input_wrapper input_type="filter-input" custom_classes="topic_search_section filter-topics has-input-pills" icon="search" input_button_icon="close"}}
        <div class="input-element home-page-input pill-container" id="left-sidebar-filter-topic-input">
            <div class="input" contenteditable="true" id="topic_filter_query" data-placeholder="{{t 'Filter topics' }}"></div>
        </div>
    {{/input_wrapper}}
</div>
