<div class="left-sidebar-filter-input-container">
    {{#> input input_type="filter-input" custom_classes="topic_search_section filter-topics" icon="search" input_button_icon="close"}}
        <input type="text" id="left-sidebar-filter-topic-input" class="input-element home-page-input" autocomplete="off" placeholder="{{t 'Filter topics' }}" />
    {{/input}}
</div>
