<div class="flatpickr-extra-button-container">
    {{#if prefix}}
        <div class="flatpickr-extra-button-prefix">{{prefix}}</div>
    {{/if}}
    <button class="flatpickr-extra-button action-button" type="button">{{text}}</button>
</div>
