<div class="flatpickr-extra-button-container">
    {{#if prefix}}
        <div class="flatpickr-extra-button-prefix">{{prefix}}</div>
    {{/if}}
    <button class="flatpickr-extra-button action-button action-button-quiet-brand" type="button">
        <span class="action-button-label">{{text}}</span>
    </button>
</div>
