<div class="forward-message-modal">
    <input
      type="text"
      id="forward-search"
      class="forward-search modal_text_input"
      placeholder="{{t 'Search channels and people' }}"
      autocomplete="off"
    />
    <div id="forward-selected" class="forward-selected"></div>
    <div id="forward-destinations" class="forward-destinations" data-simplebar data-simplebar-tab-index="-1"></div>
    <div class="input-group forward-comment-group">
        <label for="forward-comment" class="modal-field-label">{{t 'Add a comment (optional)' }}</label>
        <textarea id="forward-comment" class="forward-comment modal_text_input" rows="2"></textarea>
    </div>
</div>
