<ul class="nav" role="navigation">
    <li class="dropdown actual-dropdown-menu" id="gear-menu">
        <a id="settings-dropdown" tabindex="0" role="button" class="dropdown-toggle tippy-zulip-delayed-tooltip" data-target="nada" data-toggle="dropdown" data-tooltip-template-id="gear-menu-tooltip-template" aria-label="{{t 'Main menu'}}">
            <i class="fa fa-cog settings-dropdown-cog" aria-hidden="true"></i>
        </a>
        {{> gear_menu_popover}}
    </li>
</ul>
