<div class="gif-grid-in-popover">
    <div class="arrow"></div>
    <div class="popover-inner">
        <div class="popover-filter-input-wrapper">
            <input type="text" id="gif-search-query" class="popover-filter-input filter_text_input" autocomplete="off" autofocus/>
            <button type="button" class="clear-search-button" id="gif-search-clear" tabindex="-1">
                <i class="zulip-icon zulip-icon-close" aria-hidden="true"></i>
            </button>
        </div>
        <div class="gif-scrolling-container" data-simplebar data-simplebar-tab-index="-1"></div>
    </div>
</div>
