<div id="giphy_grid_in_popover">
    <div class="arrow"></div>
    <div class="popover-inner">
        <div class="search-box">
            <input type="text" tabindex=0 id="giphy-search-query" class="search-query" placeholder="{{t 'Search GIFs' }}" />
            <button type="button" class="btn clear_search_button" id="giphy_search_clear">
                <i class="fa fa-remove" aria-hidden="true"></i>
            </button>
        </div>
        <div class="popover-content" data-simplebar>
            {{! We need a container we can replace
            without removing the simplebar wrappers.
            We replace the `giphy-content` when
            searching for GIFs. }}
            <div class="giphy-content"></div>
        </div>
        <div class="popover-footer">
            <img src="../images/giphy/GIPHY_attribution.png" alt="{{t 'GIPHY attribution' }}" />
        </div>
    </div>
</div>
