<p id="guest_visible_users_message">
    {{t 'Guests will be able to see {user_count} users in their channels when they join.'}}
    {{> help_link_widget link="/help/guest-users#configure-whether-guests-can-see-all-other-users" }}
</p>
