{{~!-- --~}}
<div class="hide-preview-overlay">
    <span class="hide-preview-overlay-text">{{t "Remove link preview" }}</span>
</div>
<div class="hide-preview-container">
    <button type="button"
      class="hide-preview-button tippy-zulip-delayed-tooltip"
      data-preview-url="{{preview_url}}"
      data-tippy-content="{{t 'Remove link preview' }}"
      aria-label="{{t 'Remove link preview' }}">
        <i class="zulip-icon zulip-icon-close" aria-hidden="true"></i>
    </button>
</div>
{{~!-- --~}}
