<div class="micromodal" id="uppy-editor" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1">
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="dialog_title">
            <main class="modal__content">
                <div class="loading-placeholder"></div>
            </main>
        </div>
    </div>
</div>
