<div id="information_density_tooltip_template">
    <div class="tooltip-inner-content">
        <span>
            {{tooltip_first_line}}
            {{#if tooltip_second_line}}
            <br />
            <i>{{tooltip_second_line}}</i>
            {{/if}}
        </span>
    </div>
</div>
