<div class='pill {{#if deactivated}} deactivated-pill {{/if}}' tabindex=0>
    {{#if has_image}}
    <img class="pill-image" src="{{img_src}}" />
    {{/if}}
    <span class="pill-value">{{ display_value }}
        {{~#if has_status~}}
        {{~> status_emoji status_emoji_info~}}
        {{~/if~}}
    </span>
    <div class="exit">
        <span aria-hidden="true">&times;</span>
    </div>
</div>
