<div id="introduce-zulip-view-modal">
    <p>
        {{#if (eq zulip_view "inbox")}}
            {{#tr}}You’ll see a list of <b>conversations</b> where you have <b>unread messages</b>, organized by channel.{{/tr}}
        {{else if (eq zulip_view "recent_conversations")}}
            {{#tr}}You’ll see a list of <b>ongoing conversations</b>.{{/tr}}
        {{/if}}
        {{#tr}}Each conversation is <b>labeled with a topic</b> by the person who started it.{{/tr}}
    </p>
    <p>
        {{t 'Click on a conversation to view it. To return here, you can:'}}
        <ul>
            <li>{{#tr}}Use the <b>back</b> button in your browser or desktop app.{{/tr}}</li>
            <li>
                {{#if (eq zulip_view "inbox")}}
                    {{#tr}}
                        Click <z-icon-inbox></z-icon-inbox> <b>Inbox</b> in the left sidebar.
                        {{#*inline "z-icon-inbox"}}<i class="zulip-icon zulip-icon-inbox" aria-hidden="true"></i>{{/inline}}
                    {{/tr}}
                {{else if (eq zulip_view "recent_conversations")}}
                    {{#tr}}
                        Click <z-icon-recent></z-icon-recent> <b>Recent conversations</b> in the left sidebar.
                        {{#*inline "z-icon-recent"}}<i class="zulip-icon zulip-icon-recent" aria-hidden="true"></i>{{/inline}}
                    {{/tr}}
                {{/if}}
            </li>
            {{#if current_home_view_and_escape_navigation_enabled}}
                <li>
                    {{#tr}}
                        Use <z-button>Esc</z-button> to go to your home view.
                        {{#*inline "z-button"}}<span class="keyboard-button">{{> @partial-block}}</span>{{/inline}}
                    {{/tr}}
                </li>
            {{/if}}
        </ul>
    </p>
</div>
