<div id="introduce-zulip-view-modal">
    <p>
        {{#if (eq zulip_view "inbox")}}
            {{#tr}}
                You’ll see a list of <z-bold>conversations</z-bold> where you have <z-bold>unread messages</z-bold>, organized by channel.
                {{#*inline "z-bold"}}<b class="highlighted-element">{{> @partial-block}}</b>{{/inline}}
            {{/tr}}
        {{else if (eq zulip_view "recent_conversations")}}
            {{#tr}}
                You’ll see a list of <z-bold>ongoing conversations</z-bold>.
                {{#*inline "z-bold"}}<b class="highlighted-element">{{> @partial-block}}</b>{{/inline}}
            {{/tr}}
        {{/if}}

        {{#tr}}
            Each conversation is <z-bold>labeled with a topic</z-bold> by the person who started it.
            {{#*inline "z-bold"}}<b class="highlighted-element">{{> @partial-block}}</b>{{/inline}}
        {{/tr}}
    </p>
    <p>
        {{t 'Click on a conversation to view it. To return here, you can:'}}
        <ul>
            <li>
                {{#tr}}
                    Use the <z-bold>back</z-bold> button in your browser or desktop app.
                    {{#*inline "z-bold"}}<b class="highlighted-element">{{> @partial-block}}</b>{{/inline}}
                {{/tr}}
            </li>
            <li>
                {{#if (eq zulip_view "inbox")}}
                    {{#tr}}
                        Click <z-icon-inbox></z-icon-inbox> <z-bold>Inbox</z-bold> in the left sidebar.
                        {{#*inline "z-icon-inbox"}}<i class="zulip-icon zulip-icon-inbox" aria-hidden="true"></i>{{/inline}}
                        {{#*inline "z-bold"}}<b class="highlighted-element">{{> @partial-block}}</b>{{/inline}}
                    {{/tr}}
                {{else if (eq zulip_view "recent_conversations")}}
                    {{#tr}}
                        Click <z-icon-recent></z-icon-recent> <z-bold>Recent conversations</z-bold> in the left sidebar.
                        {{#*inline "z-icon-recent"}}<i class="zulip-icon zulip-icon-recent" aria-hidden="true"></i>{{/inline}}
                        {{#*inline "z-bold"}}<b class="highlighted-element">{{> @partial-block}}</b>{{/inline}}
                    {{/tr}}
                {{/if}}
            </li>
            {{#if current_home_view_and_escape_navigation_enabled}}
                <li>
                    {{#tr}}
                        Use <z-button>Esc</z-button> to go to your home view.
                        {{#*inline "z-button"}}<span class="keyboard-button">{{> @partial-block}}</span>{{/inline}}
                    {{/tr}}
                </li>
            {{/if}}
        </ul>
    </p>
</div>
