<div id="views-label-container" class="showing-expanded-navigation{{#if is_spectator}} remove-pointer-for-spectator{{/if}}{{#if auto_collapse_views}} auto-collapse-enabled{{/if}}">
    <i id="toggle-top-left-navigation-area-icon" class="zulip-icon zulip-icon-heading-triangle-right sidebar-heading-icon rotate-icon-down views-tooltip-target hidden-for-spectators" aria-hidden="true" tabindex="0" role="button"></i>
    {{~!-- squash whitespace --~}}
    <h4 class="left-sidebar-title"><span class="views-tooltip-target">{{ LEFT_SIDEBAR_NAVIGATION_AREA_TITLE }}</span></h4>
    <ul id="left-sidebar-navigation-list-condensed" class="filters">
        {{#each primary_condensed_views}}
            {{> left_sidebar_primary_condensed_view_item . }}
        {{/each}}
        <li class="top_left_condensed_unread_marker left-sidebar-navigation-condensed-item">
            <span class="unread_count normal-count"></span>
        </li>
    </ul>
    <div class="left-sidebar-navigation-menu-icon">
        <i class="zulip-icon zulip-icon-more-vertical" aria-label="{{t 'Other views'}}"></i>
    </div>
</div>
<ul id="left-sidebar-navigation-list" class="left-sidebar-navigation-list filters">
    {{> left_sidebar_expanded_view_items_list expanded_views=expanded_views}}
</ul>
