{{! Contents of the "starred messages sidebar" popup }}
<ul class="nav nav-list">
    {{! tabindex="0" Makes anchor tag focusable. Needed for keyboard support. }}
    <li>
        <a tabindex="0" id="alert_words_settings" href="#settings/alert-words">
            <i class="fa fa-cog" aria-hidden="true"></i>
            {{t "Alert words settings"}}
        </a>
    </li>
</ul>
