{{! Contents of the "all messages sidebar" popup }}
<ul class="nav nav-list">
    <li>
        {{! tabindex="0" Makes anchor tag focusable. Needed for keyboard support. }}
        <a tabindex="0" id="mark_all_messages_as_read">
            <i class="fa fa-book" aria-hidden="true"></i>
            {{t "Mark all messages as read" }}
        </a>
    </li>
</ul>
