<div class="spectator_login_for_image_button">
    <a class="login_button color_animated_button" href="/login/">
        <i class='zulip-icon zulip-icon-log-in'></i>
        <span class="color-animated-button-text">{{t "Log in to view image" }}</span>
    </a>
</div>
