<p class="muted-message-notice-container">
    <span class="muted-message-notice">
        {{t "Message from a muted user." }}
    </span>
    <button class="action-button action-button-text-neutral reveal-hidden-message reveal-button" tabindex="0" aria-label="{{t 'Reveal message from muted user' }}">
        <i class="zulip-icon zulip-icon-eye"></i>
        <span class="action-button-label">{{t 'Reveal'}}</span>
    </button>
</p>
