<div class="history-limited-box">
    <p>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        {{#tr}}
        Some older messages are unavailable.
        <z-link>Upgrade your organization</z-link>
        to access your full message history.
        {{#*inline "z-link"}}<a href="/plans/" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
    </p>
</div>
<div class="all-messages-search-caution hidden-for-spectators hidden">
    <p>
        {{#tr}}
        End of results from
        <z-link>your message history</z-link>.
        {{#*inline "z-link"}}<a href="/help/search-for-messages#searching-shared-history"
          target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
    </p>
    <a class="search-shared-history" href="">
        <button
          class="action-button action-button-quiet-neutral"
          type="button">
            {{t 'Search all public channels'}}
        </button>
    </a>
</div>
<div class="combined-feed-notice hidden-for-spectators hidden">
    <p>
        {{#tr}}
        End of messages in your
        <z-link>combined feed</z-link>.
        {{#*inline "z-link"}}<a href="/help/combined-feed"
          target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
    </p>
    <a class="search-shared-history" href="#narrow/channels/public">
        <button
          class="action-button action-button-quiet-neutral"
          type="button">
            {{t 'Search all public channels'}}
        </button>
    </a>
</div>
<div class="empty_feed_notice_main"></div>
