{{! Client-side Handlebars template for rendering messages. }}

{{#each message_groups}}
    {{#if bookend_top}}
    {{> bookend .}}
    {{/if}}

    <div class="recipient_row" id="{{message_group_id}}">
        {{> recipient_row . use_match_properties=../use_match_properties}}
        {{#each message_containers}}
            {{> single_message . use_match_properties=../../use_match_properties message_list_id=../../message_list_id is_archived=../is_archived}}
        {{/each}}
    </div>
{{/each}}
