<div class="message_control_button failed_message_action" data-tippy-content="{{t 'Retry' }}">
    {{> components/icon_button icon="refresh-cw" intent="neutral" custom_classes="message-controls-icon refresh-failed-message" aria-label=(t "Retry")}}
</div>

<div class="message_control_button failed_message_action" data-tooltip-template-id="dismiss-failed-send-button-tooltip-template">
    {{> components/icon_button icon="circle-x" intent="neutral" custom_classes="message-controls-icon remove-failed-message" aria-label=(t "Dismiss")}}
</div>
