<div class="history-limited-box">
    <p>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        {{#tr}}
        Some older messages are unavailable.
        <z-link>Upgrade your organization</z-link>
        to access your full message history.
        {{#*inline "z-link"}}<a href="/plans/" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
    </p>
</div>
<div class="all-messages-search-caution hidden-for-spectators" hidden>
    <p>
        <span>
            {{#tr}}
            End of results from
            <z-link> your message history</z-link>.
            {{#*inline "z-link"}}<a href="/help/search-for-messages#searching-shared-history"
        target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
            {{/tr}}
        </span>
        &nbsp;
        <span class="search-all-channels-button banner-action-buttons">
            <a class="search-shared-history">
                <button class="action-button action-button-quiet-neutral">
                    <span class="action-button-label">{{t "Search all public channels" }}</span>
                </button>
            </a>
        </span>
    </p>
</div>
<div class="end-of-combined-feed hidden-for-spectators" hidden>
    <p>
        <span>
            {{#tr}}
            End of messages in your
            <z-link>combined feed</z-link>.
            {{#*inline "z-link"}}<a href="/help/combined-feed"
            target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
            {{/tr}}
        </span>
        &nbsp;
        <span class="search-all-channels-button banner-action-buttons">
            <a href="#narrow/channels/public">
                <button class="action-button action-button-quiet-neutral">
                    <span class="action-button-label">{{t "View all messages in public channels" }}</span>
                </button>
            </a>
        </span>
    </p>
</div>
<div class="empty_feed_notice_main"></div>
