<div class="u-{{msg/sender_id}} inline_profile_picture {{#sender_is_guest}} guest-avatar{{/sender_is_guest}} tippy-zulip-delayed-tooltip" data-tippy-placement="top" aria-hidden="true" data-tooltip-template-id="view-user-card-tooltip-template">
    <img src="{{small_avatar_url}}" alt="" class="no-drag"/>
</div>
{{~! remove whitespace ~}}
