<div class="message-reminders">
    {{#each this/msg/reminders}}
        <p class="message-reminder">
            {{#tr}}
                <z-link></z-link> scheduled for {formatted_delivery_time}.
                {{#*inline "z-link"~}}
                    <a href="#reminders">Reminder</a>
                {{~/inline}}
            {{/tr}}
        </p>
    {{/each}}
</div>
