<div class="message_control_button failed_message_action" data-tippy-content="{{t 'Retry' }}">
    <button type="button" class="message-controls-icon refresh-failed-message" aria-label="{{t 'Retry'}}"><i class="zulip-icon zulip-icon-refresh-cw" aria-hidden="true"></i></button>
</div>

<div class="message_control_button failed_message_action" data-tooltip-template-id="dismiss-failed-send-button-tooltip-template">
    <button type="button" class="message-controls-icon remove-failed-message" aria-label="{{t 'Dismiss'}}"><i class="zulip-icon zulip-icon-circle-x" aria-hidden="true"></i></button>
</div>
