<div class="message-link-tooltip">
    <img class="message-link-tooltip-avatar" src="{{avatar_url}}" />
    <div class="message-link-tooltip-body">
        <strong>{{sender_name}}</strong><span class="message-link-tooltip-preview">: {{content_preview}}</span>
    </div>
</div>
