<div>
    {{#tr}}
        Message moved to <z-link></z-link>.
        {{#*inline "z-link"~}}
            <a class="white-space-preserve-wrap" href="{{new_location_url}}">
                {{~!-- squash whitespace --~}}
                #{{new_stream_name}} &gt; <span {{#if is_empty_string_topic}}class="empty-topic-display"{{/if}}>{{new_topic_display_name}}</span>
                {{~!-- squash whitespace --~}}
            </a>
        {{~/inline}}
    {{/tr}}
</div>
