<div id="message-list-navigation-buttons-wrapper">
    <button id="message-list-navigation-mark-as-read" class="message-list-navigation-button">
        <i class="zulip-icon zulip-icon-mark-as-read" aria-hidden="true"></i>
    </button>
    <button id="message-list-navigation-home-view" class="message-list-navigation-button" data-tooltip-template-id="message-list-{{home_view_code}}-button-template">
        <i class="zulip-icon zulip-icon-house" aria-hidden="true"></i>
    </button>
    <button id="message-list-navigation-next-unread-conversation" class="message-list-navigation-button">
        <i class="zulip-icon zulip-icon-arrow-right" aria-hidden="true"></i>
    </button>
</div>
