<div class="u-{{msg/sender_id}} inline_profile_picture {{#sender_is_guest}} guest-avatar{{/sender_is_guest}} view_user_card_tooltip" aria-hidden="true">
    <img src="{{small_avatar_url}}" alt="" class="no-drag"/>
</div>
{{~! remove whitespace ~}}
