<div class="history-limited-box">
    <p>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        {{#tr}}
        Some older messages are unavailable.
        <z-link>Upgrade your organization</z-link>
        to access your full message history.
        {{#*inline "z-link"}}<a href="/plans/" target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
    </p>
</div>
<div class="all-messages-search-caution banner-wrapper hidden-for-spectators" hidden>
    <div class="banner banner-neutral">
        <span class="banner-label">
            {{#tr}}
            End of results from
            <z-link>your message history</z-link>.
            {{#*inline "z-link"}}<a href="/help/search-for-messages#searching-shared-history"
            target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
            {{/tr}}
            &nbsp;
        </span>
        <span class="banner-action-buttons">
            {{#if is_guest}}
            <a class="search-shared-history" href="">
                <button class="action-button action-button-quiet-neutral">
                    <span class="action-button-label">
                        {{#tr}}Search all public channels that you can view{{/tr}}
                    </span>
                </button>
            </a>
            {{else}}
            <a class="search-shared-history" href="">
                <button class="action-button action-button-quiet-neutral">
                    <span class="action-button-label">
                        {{#tr}}Search all public channels{{/tr}}
                    </span>
                </button>
            </a>
            {{/if}}
        </span>
    </div>
</div>

<div class="end-of-combined-feed banner-wrapper hidden-for-spectators" hidden>
    <div class="banner banner-neutral">
        <span class="banner-label">
            {{#tr}}
            End of messages in your
            <z-link>combined feed</z-link>.
            {{#*inline "z-link"}}<a href="/help/combined-feed"
            target="_blank" rel="noopener noreferrer">{{> @partial-block}}</a>{{/inline}}
            {{/tr}}
            &nbsp;
        </span>
        <span class="banner-action-buttons">
            <a href="/#narrow/channels/public">
                <button class="action-button action-button-quiet-neutral">
                    <span class="action-button-label">
                        {{#tr}}View all messages in public channels{{/tr}}
                    </span>
                </button>
            </a>
        </span>
    </div>
</div>
<div class="empty_feed_notice_main"></div>
