
<div class="message-hidden-avatar">
    <div class="inline_profile_picture">
        <img src="../images/muted-user-avatar/muted_sender.png" style="opacity: 50%; cursor: default;" />
    </div>
</div>
{{~! remove whitespace ~}}
