<div class="message_link_tooltip">
    <div class="inline_profile_picture">
        <img class="avatar" src="{{avatar_url}}">
    </div>
    <span class="username">{{username}}</span>
    <div class="message_content rendered_markdown">
        {{rendered_markdown raw_content}}
    </div>
</div>
