<li class="topic-list-item show-more-topics bottom_left_row
  {{#unless more_topics_unreads}}zero-topic-unreads{{/unless}}
  {{#if more_topics_unread_count_muted}}more_topic_unreads_muted_only{{/if}}">
    <div class="topic-box">
        <a class="sidebar-topic-action-heading" tabindex="0">{{t "Show all topics" }}</a>
        <div class="topic-markers-and-unreads">
            {{#if more_topics_have_unread_mention_messages}}
                <span class="unread_mention_info">
                    @
                </span>
            {{/if}}
            <span class="unread_count {{#unless more_topics_unreads}}zero_count{{/unless}}">
                {{more_topics_unreads}}
            </span>
        </div>
    </div>
</li>
