<li id="show_more_private_messages" class="pm-list-item bottom_left_row {{#unless more_conversations_unread_count}}zero-pm-unreads{{/unless}}">
    <span>
        <a class="pm-name" tabindex="0">{{t "more conversations" }}</a>
        <span class="unread_count {{#unless more_conversations_unread_count}}zero_count{{/unless}}">
            {{more_conversations_unread_count}}
        </span>
    </span>
</li>
