<div>
    <span>{{t 'Go to conversation' }}</span>
    {{#if display_current_view}}
    <p class="narrow_to_compose_recipient_current_view_help tooltip-inner-content italic">{{display_current_view}}</p>
    {{/if}}
</div>
{{tooltip_hotkey_hints "Ctrl" "."}}
