<div>
    <div>{{t "Go to conversation"}}</div>
    {{#if display_current_view}}
        <div class="tooltip-inner-content italic">{{display_current_view}}</div>
    {{/if}}
</div>
{{tooltip_hotkey_hints "Ctrl" "."}}
