<p>{{t "Learn where to find everything you need to get started with this 2-minute video tour."}}</p>
<div id="navigation-tour-video-wrapper">
    <video id="navigation-tour-video" controls poster="{{poster_src}}">
        <source src="{{video_src}}" type="video/mp4"/>
    </video>
    <div id="navigation-tour-video-ended-button-wrapper">
        <button id="navigation-tour-video-ended-button" class="action-button-primary-brand">{{t "Let's go!"}}</button>
    </div>
</div>
