<li class="option-row">
    <i class="zulip-icon zulip-icon-grip-vertical drag-icon"></i>
    <input type="text" class="poll-option-input modal_text_input" placeholder="{{t 'New option' }}" />
    {{> ./components/icon_button intent="danger" custom_classes="delete-option" icon="trash" }}
</li>
