<li class="option-row">
    <i class="zulip-icon zulip-icon-grip-vertical drag-icon"></i>
    <input type="text" class="poll-option-input modal_text_input" placeholder="{{t 'New option' }}" />
    <button type="button" class="button rounded small delete-option" title="{{t 'Delete' }}">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
</li>
