<div class="previewable-url-tooltip-container">
    <img src="{{ hover_preview_icon_path }}"/>
    <div>
        <div class="previewable-url-tooltip-title">{{ hover_preview_title }}</div>
        <span class="previewable-url-tooltip-details">{{ hover_preview_details }}</span>
    </div>
</div>
