<div class="popover-menu" id="read-receipts-popover" data-simplebar data-simplebar-tab-index="-1" data-message-id="{{message_id}}">
    <button type="button" class="read-receipts-header tippy-zulip-delayed-tooltip" data-tippy-content="{{t 'Back to message menu' }}" aria-label="{{t 'Read receipts, back to message menu' }}">
        <i class="zulip-icon zulip-icon-arrow-left" aria-hidden="true"></i>
        <span class="popover-header-name">{{t "Read receipts" }}</span>
    </button>
    <div class="read-receipt-container">
        <div role="none" class="popover-menu-list-item read_receipts_info_container text-item">
            <span class="read_receipts_info"></span>
        </div>
        <div class="read-receipt-content">
            <div class="alert" id="read_receipts_error"></div>
            <div class="loading_indicator"></div>
            <div class="read_receipts_list"></div>
        </div>
    </div>
</div>
