<div class="popover-menu" id="read-receipts-popover" data-simplebar data-simplebar-tab-index="-1" data-message-id="{{message_id}}">
    <div class="read-receipt-container">
        <div class="popover-group-menu-name-container">
            <span class="popover-group-menu-name">{{t "Read receipts" }}</span>
        </div>
        <div role="none" class="popover-menu-list-item read_receipts_info_container text-item" id="read_recepients_info_container">
            <span class="read_receipts_info"></span>
        </div>
        <div class="read-receipt-content">
            <div class="alert" id="read_receipts_error"></div>
            <div class="loading_indicator"></div>
            <div class="read_receipts_list"></div>
        </div>
    </div>
</div>
