<ul id="read_receipts_list">
    {{#each users}}
        <li class="view_user_profile" data-user-id="{{user_id}}" tabindex="0" role="button">
            <img class="read_receipts_user_avatar" src="{{avatar_url}}" />
            <span>{{full_name}}</span>
        </li>
    {{/each}}
</ul>
