<tr>
    <td class="empty-table-message" colspan="{{column_count}}">
        {{empty_list_message}}
        <div class="recent-view-empty-load-more notvisible">
            <p class="last-fetched-message"></p>
            <button class="fetch-messages-button action-button action-button-subtle-brand notvisible">
                <span class="loading-indicator"></span>
                <span class="button-label">{{load_more_button_text}}</span>
            </button>
        </div>
    </td>
</tr>
