<div id="reminders-overlay" class="overlay" data-overlay="reminders">
    <div class="flex overlay-content">
        <div class="overlay-messages-container overlay-container reminders-container">
            <div class="overlay-messages-header">
                <h1>{{t 'Scheduled reminders' }}</h1>
                <div class="exit">
                    <span class="exit-sign">&times;</span>
                </div>
            </div>
            <div class="reminders-list overlay-messages-list">
                <div class="no-overlay-messages">
                    {{t 'No reminders scheduled.'}}
                </div>
            </div>
        </div>
    </div>
</div>
