<p>
    {{resolve_topic_time_limit_error_string}}
    {{#if topic_is_resolved}}
        {{t "Contact a moderator to unresolve this topic."}}
    {{else}}
        {{t "Contact a moderator to resolve this topic." }}
    {{/if}}
</p>
