<div id="scheduled_messages_overlay" class="overlay" data-overlay="scheduled">
    <div class="flex overlay-content">
        <div class="overlay-messages-container overlay-container scheduled-messages-container">
            <div class="overlay-messages-header">
                <h1>{{t 'Scheduled messages' }}</h1>
                <div class="exit">
                    <span class="exit-sign">&times;</span>
                </div>
                <div class="removed-drafts">
                    <div class="overlay-keyboard-shortcuts">
                        {{#tr}}
                            To edit or reschedule a message, click on it or press <z-shortcut></z-shortcut>.
                            {{#*inline "z-shortcut"}}{{popover_hotkey_hints "Enter"}}{{/inline}}
                        {{/tr}}
                    </div>
                </div>
            </div>
            <div class="scheduled-messages-list overlay-messages-list">
                <div class="no-overlay-messages">
                    {{t 'No scheduled messages.'}}
                </div>
            </div>
        </div>
    </div>
</div>
