
<div class="scheduled_message_indicator">
    {{#tr}}
    You have <z-link>{scheduled_message_count, plural, =1 {1 scheduled message} other {# scheduled messages}}</z-link> for this conversation.
    {{#*inline "z-link"}}<a href='/#scheduled'>{{> @partial-block}}</a>{{/inline}}
    {{/tr}}
</div>
