<div class="search_list_item">
    <span>{{{ description_html }}}</span>
    {{#if is_people}}
    {{#each users}}
        <span class="pill-container">
            {{> input_pill user_pill_context}}
        </span>
    {{/each}}
    {{/if}}
</div>
