<div class="search_list_item">
    {{#each pills}}
        <span class="pill-container">
            {{#if (eq this.type "search_user")}}
                {{> search_user_pill this}}
            {{else if (eq this.operator "search")}}
                {{{this.description_html}}}
            {{else}}
                {{> input_pill this}}
            {{/if}}
        </span>
    {{/each}}
    {{#if description_html}}<div class="description">{{{description_html}}}</div>{{/if}}
</div>
