<div class="search_list_item">
    {{~#each suggestion_parts ~}}
        <span>{{~#if (not @first)~}}, {{/if~}}{{{ this.description_html }}}</span>
        {{#if this.is_person}}
        <span class="pill-container pill-container-btn">
            {{> input_pill this.user_pill_context}}
        </span>
        {{/if}}
    {{~/each~}}
</div>
