<div class="search_list_item">
    <span>{{{ description_html }}}</span>
    {{#if is_person}}
    <span class="pill-container pill-container-btn">
        {{> input_pill user_pill_context}}
    </span>
    {{/if}}
</div>
