<div class="search_list_item">
    {{#each suggestion_parts}}
        <span>
            {{#if (not @first)}}, {{/if}}
            {{{ this.description_html }}}
        </span>
        {{#if this.is_person}}
            {{#each this.user_pill_context}}
                {{#if (eq this.id -1) }}
                    <span>{{this.display_value}}</span>
                {{else}}
                    <span class="pill-container pill-container-btn">
                        {{> input_pill this}}
                    </span>
                {{/if}}
            {{/each}}
        {{/if}}
    {{/each}}
</div>
