<div class="selection-mode-banner main-view-banner error">
    <div class="selection-mode-banner-inner main-view-banner-elements-wrapper">
        <p class="banner_content selection-mode-banner-text">{{banner_text}}</p>
        <div class="selection-mode-banner-actions">
            <button type="button" class="selection-mode-delete-button main-view-banner-action-button"{{#if delete_disabled}} disabled{{/if}}>{{delete_button_text}}</button>
            <button type="button" class="selection-mode-cancel-button main-view-banner-action-button right_edge">{{cancel_button_text}}</button>
        </div>
    </div>
</div>
