<ul id="send_later_popover" class="nav nav-list">
    <li>
        <a class="open_send_later_modal" tabindex="0">{{t "Schedule message" }}</a>
    </li>
    <hr />
    <li>
        <a href="#scheduled" tabindex="0">{{t "View scheduled messages" }}</a>
    </li>
</ul>
