<div id="service_bot_triggers_field" class="input-group">
    <label for="service_bot_triggers" class="modal-field-label">
        {{t "Bot triggers"}}
        {{> ./help_link_widget link="/help/bots-overview#outgoing-webhook-bot-triggers" }}
    </label>
    <div id="bot_triggers_checkbox_container">
        {{!-- Checkboxes for the service bots triggers --}}
    </div>
</div>
