<div id="settings-change-box" class="new-style">
    {{> settings/profile_settings }}

    {{> settings/account_settings }}

    {{> settings/user_display_settings }}

    {{> settings/user_notification_settings }}

    {{> settings/bot_settings }}

    {{> settings/alert_word_settings }}

    {{> settings/attachments_settings }}

    {{> settings/user_topics_settings }}

    {{> settings/muted_users_settings }}
</div>
