<div class="stream-list-toggle-inactive-channels bottom_left_row">
    <span class="show-inactive-channels sidebar-topic-action-heading">
        {{#tr}}
        + {inactive_count, plural, =1 {# inactive channel} other {# inactive channels}}
        {{/tr}}
    </span>
    <span class="hide-inactive-channels sidebar-topic-action-heading">{{t "Hide inactive channels"}}</span>
</div>
