<div class="empty-view-placeholder">
    <p>
        {{t 'Starring messages is a good way to keep track of important messages, such as tasks you need to go back to, or useful references. To star a message, click the'}}

        <i role="button" tabindex="0" class="star zulip-icon zulip-icon-star"></i>
        {{t 'in its upper right.' }}

        <a target="_blank" rel="noopener noreferrer" href="/help/star-a-message">{{t 'Learn more'}}</a>
    </p>
</div>
