{{! Contents of the "starred messages sidebar" popup }}
<ul class="nav nav-list">
    {{! tabindex="0" Makes anchor tag focusable. Needed for keyboard support. }}
    {{#if show_unstar_all_button}}
    <li>
        <a tabindex="0" id="unstar_all_messages">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            {{t "Unstar all messages" }}
        </a>
    </li>
    {{/if}}
    <li>
        <a tabindex="0" id="toggle_display_starred_msg_count">
            {{#if starred_message_counts}}
                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                {{t "Hide starred message count" }}
            {{else}}
                <i class="fa fa-eye" aria-hidden="true"></i>
                {{t "Show starred message count" }}
            {{/if}}
        </a>
    </li>
</ul>
