{{‾#if . ‾}}
{{‾#if emoji_alt_code ‾}}
<span class="emoji_alt_code">&nbsp;:{{emoji_name}}:</span>
{{‾else if url ‾}}
{{‾> realm_emoji url=url still_url=still_url emoji_animation_setting=emoji_animation_setting custom_classes="status-emoji status-emoji-name" tippy_emoji_name=emoji_name ‾}}
{{‾else if emoji_name ‾}}
<span class="emoji status-emoji status-emoji-name emoji-{{emoji_code}}" data-tippy-content=":{{emoji_name}}:"></span>
{{‾/if ‾}}
{{‾/if ‾}}
