<div class="input-group">
    <label>{{t "Channels they should join" }}</label>
    <div id="streams_to_add">
        {{#if show_select_default_streams_option}}
        <div class="select_default_streams">
            <label class="checkbox display-block modal-field-label">
                <input type="checkbox" id="invite_select_default_streams" checked="checked" />
                <span class="rendered-checkbox"></span>
                {{t 'Default channels for this organization'}}
            </label>
        </div>
        {{/if}}
        <div id="invite_streams_container" class="add_streams_container">
            <div class="pill-container stream_picker">
                <div class="input" contenteditable="true"
                  data-placeholder="{{t 'Add channels' }}">
                    {{~! Squash whitespace so that placeholder is displayed when empty. ~}}
                </div>
            </div>
        </div>
    </div>
</div>
