<strong>
    <span class="stream">{{stream_name}}</span> &gt; <span class="topic white-space-preserve-wrap {{#if is_empty_string_topic}}empty-topic-display{{/if}}">{{topic_display_name}}</span>
</strong>
