<div id="stream-list-{{id}}-container" class="stream-list-section-container">
    <div class="stream-list-subsection-header zoom-in-hide">
        <i class="stream-list-section-toggle zulip-icon zulip-icon-heading-triangle-right rotate-icon-down" aria-hidden="true"></i>
        <h4 class="left-sidebar-title">
            {{section_title}}
        </h4>
    </div>
    <ul id="stream-list-{{id}}" class="stream-list-section"></ul>
</div>
