<ul class="nav nav-tabs" id="stream_settings_tabs">
  <li class="nav-item"><a class="nav-link active" data-tab-name="general">General</a></li>
  <li class="nav-item"><a class="nav-link" data-tab-name="subscribers">Subscribers</a></li>
  <li class="nav-item"><a class="nav-link" data-tab-name="advanced">Advanced</a></li>
  <li class="nav-item">
  <a class="nav-link" data-tab-name="permissions">{{t "Permissions" }}</a>
</li>

</ul>
