<li class="option-row">
    <i class="zulip-icon zulip-icon-grip-vertical drag-icon"></i>
    <input type="text" class="todo-input modal_text_input" placeholder="{{t 'New task'}}" />
    <div class="todo-description-container">
        <input type="text" class="todo-description-input modal_text_input" disabled="true" placeholder="{{t 'Task description (optional)'}}" />
    </div>
    {{> ./components/icon_button intent="danger" custom_classes="delete-option" icon="trash" aria-label=(t "Delete") }}
</li>
