<li class="option-row">
    <i class="zulip-icon zulip-icon-grip-vertical drag-icon"></i>
    <input type="text" class="todo-option-input modal_text_input" placeholder="{{t 'New task' }}" />
    <input type="text" class="todo-option-description modal_text_input" placeholder="{{t 'Description'}}" />
    <button type="button" class="button rounded small btn-secondary delete-option" title="{{t 'Delete' }}">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
</li>
