{{! Client-side Handlebars template for rendering the topic edit form. }}

<form class="topic_edit_form">
    <span class="topic_value_mirror hide"></span>
    <input type="text" value="" autocomplete="off" maxlength="{{ max_topic_length }}" class="inline_topic_edit header-v"/>
    {{#unless is_mandatory_topics}}
        <span class="inline-topic-edit-placeholder placeholder">
            {{> topic_not_mandatory_placeholder_text empty_string_topic_display_name=empty_string_topic_display_name}}
        </span>
    {{/unless}}
    <button type="button" class="message-actions-button topic_edit_save tippy-zulip-delayed-tooltip" data-tooltip-template-id="save-button-tooltip-template">
        <span>{{t "Save" }}</span>
    </button>
    <button type="button" class="message-actions-button topic_edit_cancel tippy-zulip-delayed-tooltip" data-tooltip-template-id="cancel-button-tooltip-template">
        <span>{{t "Cancel" }}</span>
    </button>
    <div class="topic_edit_spinner"></div>
</form>
