{{! Client-side Handlebars template for rendering the topic edit form. }}

<form class="topic_edit_form">
    <span class="topic_value_mirror hide"></span>
    <input type="text" value="" autocomplete="off" maxlength="{{ max_topic_length }}" class="inline_topic_edit header-v"/>
    {{#unless is_mandatory_topics}}
        <span class="inline-topic-edit-placeholder placeholder">
            {{> topic_not_mandatory_placeholder_text empty_string_topic_display_name=empty_string_topic_display_name}}
        </span>
    {{/unless}}
    <span class="topic-edit-save-wrapper">
        {{> components/action_button custom_classes="topic_edit_save tippy-zulip-delayed-tooltip" icon="check" attention="quiet" intent="neutral" data-tooltip-template-id="save-button-tooltip-template" }}
    </span>
    {{> components/action_button custom_classes="topic_edit_cancel tippy-zulip-delayed-tooltip" icon="circle-x" attention="borderless" intent="neutral" data-tooltip-template-id="cancel-button-tooltip-template" }}
    <div class="topic_edit_spinner"></div>
</form>
