<li class="bottom_left_row topic-list-item">
    <a class="zoomed-new-topic" data-stream-id="{{stream_id}}" href="">
        <i class="topic-list-new-topic-icon zulip-icon zulip-icon-square-plus" aria-hidden="true"></i>
        <span class="new-topic-label">{{~t "NEW TOPIC" ~}}</span>
    </a>
</li>
