{{#tr}}
    Only the <z-empty-string-topic-display-name></z-empty-string-topic-display-name> topic is allowed in this channel.
    {{#*inline "z-empty-string-topic-display-name"}}<span class="empty-topic-display">{{empty_string_topic_display_name}}</span>{{/inline}}
{{/tr}}
