{{! Client-side Handlebars template for rendering the topic edit form. }}

<form id="topic_edit_form">
    <input type="text" value="" class="inline_topic_edit" autocomplete="off" maxlength="{{ max_topic_length }}" />
    {{> components/icon_button squared=true custom_classes="topic_edit_save tippy-zulip-delayed-tooltip" icon="check" intent="brand" data-tooltip-template-id="save-button-tooltip-template" }}
    {{> components/icon_button squared=true custom_classes="topic_edit_cancel tippy-zulip-delayed-tooltip" icon="circle-x" intent="neutral" data-tooltip-template-id="cancel-button-tooltip-template" }}
    <div class="alert alert-error edit_error" style="display: none"></div>
    <div class="topic_edit_spinner"></div>
</form>
