<p>
    {{t "Explore how hundreds of community participants use Zulip to brainstorm ideas, discuss technical challenges, ask questions, and give feedback:" }}
</p>

<ul>
    <li>
        {{#tr}}
        You'll see a list of <z-highlight>recent conversations</z-highlight>, where each conversation is
        labeled with a topic by the person who started it. Click on a conversation to
        view it. You can always get back to recent conversations from the left sidebar.
        {{#*inline "z-highlight"}}<b class="highlighted-element">{{> @partial-block}}</b>{{/inline}}
        {{/tr}}
    </li>
    <li>
        {{#tr}}
        Click the name of a channel in the left sidebar, and click on any topic underneath
        to view one conversation at a time. You can explore discussions of changes to the
        design of the Zulip app in <z-highlight>#design</z-highlight>, or see ongoing issue
        investigations in <z-highlight>#issues</z-highlight>.
        {{#*inline "z-highlight"}}<b class="highlighted-element">{{> @partial-block}}</b>{{/inline}}
        {{/tr}}
    </li>
</ul>

<p>
    {{#tr}}
    If you have any questions, please post in the <z-highlight>#user questions</z-highlight> channel, and we'll be happy to help.
    {{#*inline "z-highlight"}}<b class="highlighted-element">{{> @partial-block}}</b>{{/inline}}
    {{/tr}}
</p>
