<p>
    {{t "Explore how hundreds of community participants use Zulip to brainstorm ideas, discuss technical challenges, ask questions, and give feedback:" }}

    <ul>
        <li>
            {{#tr}}
            You'll see a list of <b>recent conversations</b>, where each conversation is
            labeled with a topic by the person who started it. Click on a conversation to
            view it. You can always get back to recent conversations from the left sidebar.
            {{/tr}}
        </li>
        <li>
            {{#tr}}
            Click the name of a channel in the left sidebar, and click on any topic underneath
            to view one conversation at a time. You can explore discussions of changes to the
            design of the Zulip app in <b>#design</b>, or see ongoing issue investigations in <b>#issues</b>.
            {{/tr}}
        </li>
    </ul>

    {{#tr}}
    If you have any questions, please post in the <b>#user questions</b> channel, and we'll be happy to help.
    {{/tr}}
</p>
