<div class="url-preview-tooltip-container">
    <img class="url-preview-tooltip-icon" src="{{icon_path}}" alt="" />
    <div class="url-preview-tooltip-text">
        <div class="url-preview-tooltip-title">{{title}}</div>
        <span class="url-preview-tooltip-details">{{details}}</span>
    </div>
</div>
