<div class="user_profile_subscribe_widget">
    {{> dropdown_widget widget_name="user_profile_subscribe"}}
    {{> components/action_button label=(t "Subscribe") custom_classes="add-subscription-button" attention="quiet" intent="brand" aria-label=(t "Subscribe") }}
</div>
