<span class="pill-container display_only_group_pill">
    <a data-user-group-id="{{group_id}}" class="view_user_group pill" tabindex="0">
        <i class="zulip-icon zulip-icon-user-group no-presence-circle" aria-hidden="true"></i>
        <span class="pill-label {{#if strikethrough}} strikethrough {{/if}}" >
            <span class="pill-value">{{display_value}}</span>
        </span>
    </a>
</span>
