<span class="user_status_icon_wrapper">
    <span class="user-status-microlayout">
        <span class="user-name">{{name}}</span>
        {{~!-- --~}}
        {{~> status_emoji status_emoji_info ~}}
    </span>
    {{~!-- --~}}
</span>
{{~!-- --~}}
