<div class="popover-avatar{{#if user_is_guest}} guest-avatar{{/if}}" style="background-image: url('{{user_avatar}}');" >
    <div class="popover-avatar-background"></div>
    <span class="exit_user_info_popover">&times;</span>
</div>
