<div class="user_profile_subscribe_widget">
    {{> dropdown_widget widget_name="user_profile_subscribe"}}
    <div class="add-subscription-button-wrapper">
        <button type="button" name="subscribe" class="add-subscription-button button small rounded btn-success">
            {{t 'Subscribe' }}
        </button>
    </div>
</div>
