{% extends "zerver/portico.html" %}

{# Terms of service. #}

{% block portico_content %}

<div class="app terms-page">
  <div class="app-main terms-page-container">

<h1>Zulip Enterprise License Agreement</h1>
<p><small>(Annual Subscription)</small></p>

<p>NOTICE:  IN ORDER TO DOWNLOAD AND USE THE SOFTWARE, YOU MUST AGREE TO THIS
ZULIP ENTERPRISE LICENSE AGREEMENT (THIS “AGREEMENT”).  READ THIS AGREEMENT
CAREFULLY AND CLICK THE “AGREE” BUTTON BEFORE DOWNLOADING OR USING THE
SOFTWARE.  BY CLICKING THE “AGREE” BUTTON OR, IF YOU HAVE ALREADY CLICKED THE
“AGREE” BUTTON, BY CONTINUING TO ACCESS OR USE THE SOFTWARE, YOU AGREE TO THIS
AGREEMENT.  IF YOU DO NOT AGREE TO THIS AGREEMENT, DO NOT CLICK THE “AGREE”
BUTTON AND YOU MUST NOT, AND MAY NOT, DOWNLOAD OR USE THE SOFTWARE.  THIS
AGREEMENT IS A LEGAL AGREEMENT BETWEEN ZULIP AND YOU STATING THE TERMS AND
CONDITIONS THAT GOVERN YOUR USE OF THE SOFTWARE.  IF YOU ARE ENTERING INTO THIS
AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT AND
WARRANT THAT YOU HAVE THE AUTHORITY TO BIND SUCH ENTITY AND ITS AFFILIATES TO
THIS AGREEMENT, IN WHICH CASE THE TERMS “YOU” AND “YOUR” SHALL REFER TO SUCH
ENTITY AND ITS AFFILIATES.</p>

<p>This agreement is effective between You and Zulip as of the date of Your
accepting this Agreement (the “Effective Date”).</p>

<p>1. <strong>DEFINITIONS.</strong>  The following terms will have the
following meanings:  <strong><em>“Affiliate”</em></strong> means any entity
that directly or indirectly owns or controls, is owned or controlled by, or is
under the common ownership or control with a party, where ownership or control
is denoted by having more than fifty percent (50%) of the voting power (or
equivalent ownership interest) of the applicable entity.
<strong><em>“Zulip”</em></strong> means Zulip, Inc., a Delaware corporation.
<strong><em>“Online Registration Form”</em></strong> means the Online
Registration Form agreed to and submitted by You when requesting the Software
that, when approved by Zulip, is automatically incorporated into this Agreement
by reference.  <strong><em>“Seats”</em></strong> means the number of user
accounts for the Software that You are authorized to create as specified in the
Online Registration Form.  <strong><em>“Software”</em></strong> means Zulip's
proprietary Zulip Enterprise software application, and any Updates and Upgrades
that are provided to You by Zulip, and any related documentation made available
to You by Zulip (<strong><em>“Documentation”</em></strong>).
<strong><em>“Updates”</em></strong> means a Software release containing error
corrections, in object code form, which is made commercially available by Zulip
and generally indicated by a change in the digit to the right of the second
decimal point (e.g., a change from version x.x.x to x.x.y) and any
corresponding changes to Documentation.  <strong><em>“Upgrades”</em></strong>
means a Software release containing new enhancements, features, or
functionality, in object code form, which is made commercially available by
Zulip and generally indicated by a change in the digit to the right of the
first decimal point or a change in the digit to the left of the first decimal
point (e.g., a change from version x.x.x to x.y.x or a change from version
x.x.x to y.x.x) and any corresponding changes to Documentation.
<strong><em>“You”</em></strong> or <strong><em>“Your”</em></strong> means the
company or other legal entity for which You are accepting this Agreement as set
forth on the Online Registration Form, and any Affiliates of that company or
entity.</p>

<p>2. <strong>LICENSE.</strong>  Subject to the terms of this Agreement and
Your payment of all applicable Subscription Fees (defined below), during the
Subscription Term (defined below), Zulip hereby grants to You a revocable,
non-exclusive, non-transferable, non-assignable (except as provided in Section
13.1) right and license (a) to download and install the Software on Your
servers for the number of Seats specified in the Online Registration Form; (b)
to use the Software solely for Your internal operation and use; and (c) to use
 the Documentation solely for Your internal operation and use.</p>

<h4>3. RESTRICTIONS.</h4>

<p>3.1 <strong>GENERAL.</strong>  The license granted to You under this
Agreement is granted solely to You and any of Your Affiliates.  You may not
assign, sell, rent, lease, sublicense, lend, transfer, resell, or distribute
the Software to any third party or use the Software on behalf of any third
party unless otherwise agreed to in writing by Zulip in its sole discretion.
You agree not to copy the Software, in whole or in part, except that You may
make copies of the Software and Documentation for backup and archival purposes
only.  You agree not to modify, obscure, or delete any proprietary rights
notices included in or on the Software or Documentation and You agree to
include all such notices on all copies.  You may not modify the Software, make
derivative works based on the Software, or merge the Software into any other
computer programs.  You may not reverse engineer, disassemble, or decompile the
Software, in whole or in part, or otherwise attempt to derive its source code.
You agree to use the Software in compliance with all applicable laws and
regulations, including, without limitation, applicable export control laws and
regulations of the United States and other jurisdictions.</p>

<p>3.2 <strong>SEATS.</strong>  The license granted to You under this Agreement
is limited to the number of Seats set forth in the Online Registration Form.
Only one user account may be associated with a particular Seat.  Only one
person may use a user account; two or more people may not share a user account.
If a user account is deleted, You may create a new user account associated with
the corresponding Seat.  If You desire to use the Software in excess of the
Seats specified in the Online Registration Form, You may request such increase
by submitting a new Online Registration Form through zulip.com.  If and when
additional Seats are added to Your subscription:  (a) You will pay to Zulip the
Subscription Fees for such additional Seats at the then-current price, which
amount will be prorated for the balance of the then-current Subscription Term;
and (b) the Subscription Fees for all Seats will adjust to the then-current
price for any renewal Subscription Term.  Upon Zulip's request (such request
not to be made more than once during any 12 month period without good cause),
You agree to promptly deliver to Zulip (a) any usage files and reports
generated by the Software to permit Zulip to verify the number of Seats
actually used by You during the applicable Subscription Term; and/or (b) a
certification signed by one of Your officers regarding the number of Seats
actually used by You during the applicable Subscription Term.  Notwithstanding
the foregoing, You agree to reasonably cooperate with Zulip to verify the
number of Seats actually used by You during the applicable Subscription Term.
If Zulip confirms that You have exceeded the number of Seats for the applicable
Subscription Term, in addition to any other remedies available under this
Agreement or applicable law, You agree to pay to Zulip the then-current
Subscription Fees for the additional Seats used by You.</p>

<p>4. <strong>TITLE.</strong>  Zulip and its licensors own all rights, title,
and interest in and to the Software. Your rights to the Software are limited to
the license expressly granted to You in this Agreement.  Zulip reserves all
rights not expressly granted in this Agreement.</p>

<h4>5. TERM AND TERMINATION. </h4>

<p>5.1 <strong>TERM.</strong>  This Agreement is effective as of the Effective
Date and will continue in force for a period of time (the “Subscription Term”)
until the earliest of (a) the one year anniversary of the Effective Date, (b) the
expiration date set forth in the Online Registration Form, or (c) when the
Agreement is terminated as provided herein.  Upon expiration of the
then-current Subscription Term, Zulip will deliver to You a notice or invoice
(depending on the original method of payment) by e-mail for Subscription Fees
for an additional one year renewal Subscription Term.  You may cancel Your
subscription by either providing written notice of non-renewal to Zulip at
any time during the Subscription Term or within 30 days after the
notice/invoice date or by not paying the invoice within 30 days of the
invoice date, and this Agreement will automatically terminate at the end of
the then-current Subscription Term.  The amount of Subscription Fees during
any renewal Subscription Term will be the same as that during the prior
Subscription Term for as long as You use the same number of licensed Seats.
If, at any time, You increase or decrease the number of licensed Seats as
set forth in Section 3.2 above, the Subscription Fees for all licensed
Seats will adjust to the then-current Subscription Fees.  In addition,
Zulip reserves the right to change its prices by giving You written notice
of such change and You will have 30 days to cancel Your subscription before
such change becomes effective for the renewal Subscription Term.</p>

<p>5.2 <strong>TERMINATION BY ZULIP.</strong>  Zulip may immediately terminate
this Agreement if You breach any material term of this Agreement and, if such
breach is capable of cure, You fail to cure such breach within 20 days of
written notice thereof.</p>

<p>5.3 <strong>TERMINATION BY YOU.</strong>  You may immediately terminate this
Agreement at any time and for any reason by providing written notice to
Zulip.</p>

<p>5.4 <strong>EFFECT OF TERMINATION.</strong>  Upon termination or expiration
of this Agreement (a) the Subscription Term shall end; (b) all licenses and
rights to use the Software granted to You hereunder shall immediately
terminate; and (c) Zulip may disable the Software, although You will continue
to have access to Your data.  Those provisions of this Agreement that by their
terms or sense are intended to survive termination or expiration of this
Agreement will survive and remain in full force and effect, including, without
limitation, Sections 4, 5.4, 7, 9, 10, 11, 12, and 13.</p>

<p>6. <strong>UPDATES; UPGRADES.</strong>  Throughout the Subscription Term,
Zulip will make any Updates and Upgrades available for download through
zulip.com.</p>

<p>7. <strong>PAYMENT.</strong>  You agree to pay to Zulip the subscription
fees set forth in the Online Registration Form (“Subscription Fees”).  You will
pay all amounts due to Zulip in full either (a) within 30 days from the date of
each invoice or (b) if You pay by credit card, at the time of submitting the
Online Registration Form for the initial Subscription Term and within 30 days
of each notice of any renewal Subscription Term.  All amounts payable under
this Agreement are denominated in and shall be payable in United States
Dollars.  Any undisputed amounts remaining unpaid following the payment due
date, and all disputed payments that are paid following the resolution of such
dispute, will bear interest accruing from the original payment due date through
the date that such amounts are paid at the lower interest rate of (i) 1.0% per
month and (ii) the highest interest rate allowed by law.  You are solely
responsible for all taxes, fees, duties and governmental assessments (except
for taxes based on Zulip's net income) that are imposed or become due in
connection with the subject matter of this Agreement.  Subscription Fees
are non-refundable except as expressly provided in this Agreement or as
otherwise agreed to in writing by Zulip in its sole discretion.</p>

<p>8. <strong>DELIVERY.</strong>  Promptly following Your payment of the
initial Subscription Fees, Zulip shall make the Software available on a secure,
password-protected website for You to access and download.  The password
provided to You for this purpose shall be considered Confidential Information
protected under the terms of this Agreement.</p>

<p>9. <strong>CONFIDENTIALITY.</strong>  Each party (a <strong>“Receiving
Party”</strong>) understands that the other party (the <strong>“Disclosing
Party”</strong>) may share certain information of a confidential nature during
the Subscription Term.  <strong>“Confidential Information”</strong> means any
information disclosed by the Disclosing Party to the Receiving Party, either
directly or indirectly, in writing, orally or by inspection of tangible
objects, that should reasonably have been understood by the Receiving Party due
to legends or other markings, the circumstances of disclosure, or the nature of
the information itself, to be proprietary and confidential to the Disclosing
Party, including, without limitation, source code for the Software; any other
non-public source code of either party; and any non-public product, service,
technical, marketing, business, financial, or other information.  The Receiving
Party agrees, for itself and any Affiliate, agents, and employees, that it will
not publish, disclose, or otherwise divulge or use (other than as expressly
permitted under this Agreement) any Confidential Information of the Disclosing
Party without the prior written consent of the Disclosing Party in each
instance.  Each party will use at least the same level of care to maintain the
confidentiality of the other party's Confidential Information as it uses to
maintain the confidentiality of its own non-public information, and in no event
less than a reasonable degree of care.  Without granting any right or license,
the Disclosing Party agrees that the foregoing will not apply with respect to
information that the Receiving Party can document (a) is in the public domain
and is available at the time of disclosure or which thereafter enters the
public domain and is available, through no improper action or inaction by the
Receiving Party or any Affiliate, agent, or employee (provided, however, that
an item of Confidential Information shall not be considered in the public
domain due to the fact that the individual elements that comprise that item can
be found in the public domain); (b) was in its possession or known by it prior
to receipt from the Disclosing Party; (c) was rightfully disclosed to it by a
third party without violating any obligations to the Disclosing Party; (d) is
independently developed by the Receiving Party without reference to such
Confidential Information; or (e) is compelled to be disclosed pursuant to any
statutory or regulatory authority, court order, or legal process, provided the
Disclosing Party is given prompt notice of such requirement and the scope of
such disclosure is limited to the extent possible.</p>

<h4>10. DISCLAIMER.</h4>

<p>The Software and all content, materials, and information are provided on an
“as is” and “as available” basis. Your use of the Software is at your own risk.
Zulip makes no warranties or representations, express or implied, as to the
functionality or usefulness of the Software or any content. Zulip disclaims all
warranties, express or implied, including without limitation warranties of
merchantability and fitness for a particular purpose. Zulip disclaims liability
for any direct, indirect, incidental, consequential, special, exemplary,
punitive or other damages, or lost profits, that may result, directly or
indirectly, from your use of the Software or any content, including without
limitation any damage to computer systems, hardware or software, loss of
data, or any other performance failures, or any errors, bugs, viruses or
other defects that result from or are associated with use of the Software
or any content.</p>

<p>Zulip makes no warranty that (i) the Software or its operation will be
uninterrupted, timely, secure, or error-free, (ii) the results that may be
obtained from the use of the Software will be accurate or reliable, (iii) the
quality of any service, software, or content, information, or other materials
purchased or obtained by you from Zulip or through the Software will meet your
expectations, (iv) any errors in the Software will be corrected, or that the
Software, its content, and any servers on which the Software and content are
available are free of viruses or other harmful components.</p>

<p>Any material (including content) downloaded or obtained through the use of
the Software is done at your own risk and you will be solely responsible for
any damage to your computer system or loss of data that results from the
download of any material.</p>

<p>Information created by third parties that you may access on or through the
Software or through links is not adopted or endorsed by and remains the
responsibility of the third party.</p>

<h4>11. LIMITATION OF LIABILITY.</h4>

<p>11.1 <strong>NO CONSEQUENTIAL OR RELATED DAMAGES.</strong> TO THE MAXIMUM
EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL ZULIP BE LIABLE TO YOU
FOR ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES
(INCLUDING FOR LOSS OF PROFIT, REVENUE, OR DATA) ARISING OUT OF OR IN
CONNECTION WITH THIS AGREEMENT, HOWEVER CAUSED, AND UNDER WHATEVER CAUSE OF
ACTION OR THEORY OF LIABILITY BROUGHT (INCLUDING UNDER ANY CONTRACT,
NEGLIGENCE, OR OTHER TORT THEORY OF LIABILITY) EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGES.</p>

<p>11.2 <strong>LIMITATION OF DAMAGES.</strong> TO THE MAXIMUM EXTENT PERMITTED
BY APPLICABLE LAW, ZULIP'S TOTAL CUMULATIVE LIABILITY UNDER THIS AGREEMENT WILL
NOT EXCEED THE GREATER OF FIVE DOLLARS ($5) OR THE AMOUNT PAID BY YOU TO ZULIP
DURING THE 12 MONTHS PRECEDING THE CLAIM GIVING RISE TO SUCH LIABILITY.</p>

<p>12. <strong>GOVERNING LAW AND JURISDICTION.</strong>  This Agreement will be
governed by and interpreted in accordance with the laws of Massachusetts,
U.S.A., without giving effect to any principles of conflict of laws.  The
parties expressly agree that the United Nations Convention on Contracts for the
International Sale of Goods and the Uniform Computer Information Transactions
Act will not apply to this Agreement.  Any legal action or proceeding arising
under this Agreement will be brought exclusively in the federal or state courts
located in Massachusetts, U.S.A. and the parties irrevocably consent to
personal jurisdiction and venue therein.</p>

<h4>13. MISCELLANEOUS.</h4>

<p>13.1 <strong>ASSIGNMENT.</strong>  Neither party may assign any of its
rights or obligations hereunder, whether by operation of law or otherwise,
without the prior written consent of the other party (not to be unreasonably
withheld).  Notwithstanding the foregoing, either party may assign this
Agreement in its entirety, without consent of the other party, in connection
with a merger, acquisition, corporate reorganization, or sale of all or
substantially all of its assets or equity.  Subject to the foregoing, this
Agreement shall bind and inure to the benefit of the parties, their respective
successors and permitted assigns.</p>

<p>13.2 <strong>SEVERABILITY.</strong>  In the event that any provision of this
Agreement is deemed by a court of competent jurisdiction to be illegal,
invalid, or unenforceable, the court will modify or reform this Agreement to
give as much effect as possible to such provision.  Any provision which cannot
be so modified or reformed will be deleted and the remaining provisions of this
Agreement will continue in full force and effect.</p>

<p>13.3 <strong>NOTICES.</strong>  All notices provided hereunder will be in
writing, delivered personally, by e-mail or sent by overnight courier,
registered or certified mail to the addresses specified in the Online
Registration Form or such other address as may be specified in writing by
notice given in accordance with this Section 13.3.  All such notices will be
deemed to have been given: (a) upon receipt when delivered personally; (b) upon
receipt when delivered by e-mail; or (c) in the case of overnight courier, one
weekday after delivery to the overnight courier.</p>

<p>13.4 <strong>WAIVER. </strong> Performance of any obligations required by a
party hereunder may be waived only by a written waiver signed by an authorized
representative of the other party, which waiver will be effective only with
respect to the specific obligation described therein.  Any waiver or failure to
enforce any provision of this Agreement on one occasion will not be deemed a
waiver of any other provision or of such provision on any other occasion.</p>

<p>13.5 <strong>FORCE MAJEURE. </strong> Neither party will be responsible for
any failure or delay in its performance under this Agreement (except for any
payment obligations) due to causes beyond its reasonable control, including,
without limitation, acts of God, strikes, lockouts, riots, acts of war,
epidemics, communication line failure, and power failures.</p>

<p>13.6 <strong>INDEPENDENT CONTRACTORS. </strong> Zulip and You are, and will
be deemed to be, independent contractors with respect to the subject matter of
this Agreement, and nothing contained in this Agreement will be deemed or
construed in any manner whatsoever as creating any partnership, joint venture,
employment, agency, fiduciary, or other similar relationship between Zulip and
You. </p>

<p>13.7 <strong>COUNTERPARTS.</strong>  This Agreement may be executed in any
number of counterparts, each of which when so executed will be deemed an
original, and all of which together will constitute one and the same
agreement.</p>

<p>13.8 <strong>AMENDMENTS; ENTIRE AGREEMENT.</strong>  No modification,
change, or amendment of this Agreement shall be binding upon the parties,
except by mutual express consent in writing of subsequent date duly signed by
the authorized representatives of each of the parties.  This Agreement,
including properly incorporated Online Registration Form(s), constitutes the
entire agreement and understanding of the parties with respect to the subject
matter of this Agreement, and supersedes any and all prior understandings and
agreements, whether oral or written, between the parties with respect to the
subject matter of this Agreement.</p>

<p>13.9 <strong>EXPORT COMPLIANCE</strong> If you are located outside of the
United States or are not a U.S. person, you certify that you do not reside in
Cuba, Iran, North Korea, Sudan, or Syria, and you certify the following: “We
certify that this beta test software will only be used for beta testing
purposes, and will not be rented, leased, sold, sublicensed, assigned, or
otherwise transferred. Further, we certify that we will not transfer or export
any product, process, or service that is the direct product of the beta test
software.”</p>

<p>BY CLICKING THE “AGREE” BUTTON OR, IF YOU HAVE ALREADY CLICKED THE “AGREE”
BUTTON, BY CONTINUING TO ACCESS OR USE THE SOFTWARE, YOU ACKNOWLEDGE AND AGREE
THAT (a) YOU HAVE READ THIS AGREEMENT IN ITS ENTIRETY, (b) YOU AGREE TO BE
BOUND BY THE TERMS OF THIS AGREEMENT, AND (c) YOUR OBLIGATIONS UNDER THIS
AGREEMENT ARE BINDING AND ENFORCEABLE.</p>

<br />

<p>Last modified: November 7, 2013</p>

</div>
</div>

{% endblock %}
