<p>
    {{#tr}}
        Archiving channel <z-stream></z-stream> will immediately unsubscribe everyone. This action cannot be undone.
        {{#*inline "z-stream"}}<strong>{{{stream_name_with_privacy_symbol_html}}}</strong>{{/inline}}
    {{/tr}}
</p>
{{#if is_announcement_stream}}
<p class="notification_stream_archive_warning">{{#tr}}Archiving this channel will also disable settings that were configured to use this channel:{{/tr}}</p>
<ul>
    {{#if is_new_stream_announcements_stream}}
        <li>{{#tr}}New channel notifications{{/tr}}</li>
    {{/if}}
    {{#if is_signup_announcements_stream}}
        <li>{{#tr}}New user notifications{{/tr}}</li>
    {{/if}}
    {{#if is_zulip_update_announcements_stream}}
        <li>{{#tr}}Zulip update announcements{{/tr}}</li>
    {{/if}}
</ul>
{{/if}}
