<p>
    {{#if show_message_count}}
        {{t "Are you sure you want to mark {count} messages as unread? Messages in multiple conversations may be affected."}}
    {{else}}
        {{t "Are you sure you want to mark messages as unread? Messages in multiple conversations may be affected."}}
    {{/if}}
</p>
