<p>
    {{#tr}}Archiving this channel will:{{/tr}}
</p>
<p>
    <ul>
        <li>{{#tr}}Remove it from the left sidebar for all users.{{/tr}}</li>
        <li>{{#tr}}Prevent new messages from being sent to this channel.{{/tr}}</li>
        <li>{{#tr}}Prevent messages in this channel from being edited, deleted, or moved.{{/tr}}</li>
    </ul>
    {{#tr}}
        Users can still search for messages in archived channels.<br/>
        This action cannot be undone.
    {{/tr}}
</p>
{{#if is_announcement_stream}}
<p class="notification_stream_archive_warning">{{#tr}}Archiving this channel will also disable settings that were configured to use this channel:{{/tr}}</p>
<ul>
    {{#if is_new_stream_announcements_stream}}
        <li>{{#tr}}New channel notifications{{/tr}}</li>
    {{/if}}
    {{#if is_signup_announcements_stream}}
        <li>{{#tr}}New user notifications{{/tr}}</li>
    {{/if}}
    {{#if is_zulip_update_announcements_stream}}
        <li>{{#tr}}Zulip update announcements{{/tr}}</li>
    {{/if}}
</ul>
{{/if}}
