<p>
    {{#tr}}
    <z-user></z-user> will have the same properties as it did prior to deactivation,
    including role, owner and stream subscriptions.
    {{#*inline "z-user"}}<strong>{{username}}</strong>{{/inline}}
    {{/tr}}
</p>
