<p>
    {{#if is_count_too_low}}
        {{t "Are you sure you want to mark messages as unread? Messages in multiple conversations may be affected."}}
    {{else}}
        {{t "Are you sure you want to mark {N} messages as unread? Messages in multiple conversations may be affected."}}
    {{/if}}
</p>
