<p>
    {{t
      "Which messages do you want to mark as read? This action cannot be undone."
      }}
</p>
<div class="new-style settings-section show">
    <div class="input-group">
        {{> ../settings/settings_checkbox
          setting_name="muted_topics"
          is_checked=1
          label="Muted topics"
          }}
        {{> ../settings/settings_checkbox
          setting_name="topics_not_followed"
          is_checked=0
          label="Topics I don't follow"
          }}
        {{> ../settings/settings_checkbox
          setting_name="all_messages"
          is_checked=0
          label="All messages"
          }}
    </div>
</div>
