<div class="rendered_markdown">
    <p>
        {{#tr}}
        There is a default emoji with this name. Do you want to override it with a custom emoji?
        The name <code>:{emoji_name}:</code> will no longer work to access the default emoji.
        {{/tr}}
    </p>
</div>
