<p>
    {{#tr}}Unarchiving this channel will:{{/tr}}
</p>
<p>
    <ul>
        <li>{{#tr}}Make it appear in the left sidebar for all subscribers.{{/tr}}</li>
        <li>{{#tr}}Allow sending new messages to this channel.{{/tr}}</li>
        <li>{{#tr}}Allow messages in this channel to be edited, deleted, or moved.{{/tr}}</li>
    </ul>
</p>
