<p>
    {{#tr}}
    <z-user></z-user> will have the same role, channel subscriptions,
    user group memberships, and other settings and permissions as they did
    prior to deactivation.
    {{#*inline "z-user"}}<strong>{{username}}</strong>{{/inline}}
    {{/tr}}
</p>
