<p>{{t "You do not have permission to move some of the messages in this topic. Contact a moderator to move all messages."}}
</p>
<p>
    {{messages_allowed_to_move_text}}
    {{messages_not_allowed_to_move_text}}
</p>
