<p>
    {{#tr}}
    Are you sure you want to reset notifications for <z-stream></z-stream>?
    {{#*inline "z-stream"}}{{> ../inline_decorated_channel_name stream=sub show_colored_icon=false}}{{/inline}}
    {{/tr}}
</p>
