<p>
    {{#tr}}
    You are about to disable all notifications for direct messages,
    @&#8209;mentions and alerts, which may cause you to miss messages
    that require your timely attention.
    If you would like to temporarily disable all desktop notifications,
    consider <z-link>turning on "Do not disturb"</z-link> instead.
    {{#*inline "z-link"}}<a target="_blank" rel="noopener noreferrer" href="/help/do-not-disturb">{{> @partial-block}}</a>{{/inline}}
    {{/tr}}
</p>

<p>{{t "Are you sure you want to continue?"}}</p>
