<p>
    {{t "You are already a member of this group because you are a member of a subgroup"}} (<b>{{associated_subgroup_names}}</b>).
    {{t "Are you sure you want to join it directly as well?" }}
</p>
