<p>
    {{#tr}}
    Are you sure you want to reset notifications for <z-stream></z-stream> ?
    {{#*inline "z-stream"}}{{> ../inline_decorated_stream_name stream=sub show_colored_icon=true}}{{/inline}}
    {{/tr}}
</p>
