{{#tr}}
    You're locking the topic <b>{topic_name}</b>. Only authorized users will be allowed to post messages to this topic. The topic can be unlocked to allow everyone to post again. <z-link>Learn more</z-link>
    {{#*inline "z-link"}}<a target="_blank" rel="noopener noreferrer" href="/help/lock-a-topic">{{>
      @partial-block}}</a>{{/inline}}
{{/tr}}
