{% extends "zerver/portico.html" %}

{% block customhead %}
{{ super() }}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% stylesheet 'portico' %}
{% stylesheet 'landing-page' %}
{{ minified_js('landing-page')|safe }}

{% endblock %}

{% block hello_page_container %} hello-main{% endblock %}
{% block hello_page_footer %} hello-footer{% endblock %}

{% block os_announcement %}
  {% if show_oss_announcement %}
  <div class="os-headline-container">
    <img src="/static/images/logo/zballoon.png" class="os-illustration" alt="Zulip balloon" />
    <div class="main-headline-text">
      <span class="tagline os-tagline">
         {{ _('Zulip has been released as open source software!') }}
      </span>
      <span class="footnote os-footnote">
         {% trans %}Read the <a href="https://blogs.dropbox.com/tech/2015/09/open-sourcing-zulip-a-dropbox-hack-week-project" target="_blank">announcement</a> or go to <a href="https://www.zulip.org" target="_blank">the Zulip open source project website</a>.{% endtrans %}
      </span>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}

<div class="portico-landing integrations">
    <div class="main">
        <div class="padded-content">
            <div class="inner-content">
    <div class="portico-page-header"><a href="#" class="no-style"><i class="icon-vector-gears portico-page-header-icon"></i>Integrations</a></div>

    <div id="integration-main-text">
      <p>With Zulip integrations, your team
        can stay up-to-date on code changes, issue tickets, build system
        results, tweets about your project, and much more.</p>

      <p>Many of these integrations require creating a Zulip bot. You
        can do so on your {{ settings_html|safe }}. Be
        sure to note its username and API key.</p>

      <p>If an integration you want isn't available yet, you
        can <a href="http://zulip.readthedocs.io/en/latest/integration-guide.html">contribute
        an integration</a>
        or <a href="https://github.com/zulip/zulip/issues/new">open an
        issue on GitHub</a> and tag it with the "integrations" label
        (so you can get notified when that integration becomes
        available).</p>
    </div>

    <div id="integration-instruction-block" class="integration-instruction-block">
       <a href="#" id="integration-list-link"><i class="icon-vector-circle-arrow-left"></i><span>Back to list</span></a>
    </div>

    <div class="integration-lozenges">
      {% for integration in integrations_dict.values() %}
        {% if integration.is_enabled() %}
          <div class="integration-lozenge integration-{{ integration.name }}">
             <a class="integration-link integration-{{ integration.name }}" href="#{{ integration.name }}">
                <img class="integration-logo" src="/{{ integration.logo }}" alt="{{ integration.display_name }} logo" />
               {% if integration.secondary_line_text %}
                 <span class="integration-label" style="padding-top: 0px; padding-bottom: 0px;">{{ integration.display_name }}</span>
                 <span class="integration-label-secondary">{{ integration.secondary_line_text }}</span>
               {% else %}
                 <span class="integration-label">{{ integration.display_name}}</span>
               {% endif %}
             </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="portico-page-header extra" id="hubot-integrations"><a href="#" class="no-style"><i class="icon-vector-gears portico-page-header-icon"></i>Integrations available via Hubot</a></div>
    <p class="extra">The official <a class="integration-link integration-hubot" href="#hubot"><span class="integration-label">Hubot</span></a>
    integration provides an extension point for additional Zulip integrations. </p><p class="extra"> A non-comprehensive list of integrations available through
    <a class="integration-link integration-hubot" href="#hubot"><span class="integration-label">Hubot</span></a> follows below:</p>

    <div class="integration-lozenges">
    {% for integration in hubot_lozenges_dict.values() %}
        <div class="integration-lozenge integration-{{ integration.name }}">
           <a class="integration-link integration-{{ integration.name }}" href="{{ integration.git_url }}">
              <img class="integration-logo" src="/{{ integration.logo }}" alt="{{ integration.logo_alt }} logo" />
               <span class="integration-label">{{ integration.display_name}}</span>
           </a>
        </div>
      {% endfor %}
    </div>

<div id="integration-instructions-group">
    {% for integration in integrations_dict.values() %}
        {% if integration.is_enabled() %}
            {% if integration.doc %}
                <div id={{ integration.name }} class="integration-instructions">
                    {% include integration.doc %}
                    <p style="font-size:11px; font-style:italic;">
                        Logos are trademarks of their respective owners.
                        None of the integrations on this page are created by,
                        affiliated with, or supported by the companies
                        represented by the logos.
                    </p>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if email_integration_enabled %}
        {% include 'zerver/integrations/email.html' %}
    {% endif %}

    <div id="openshift" class="integration-instructions">

      <p>Ths integration sends a notification every time a deployment is
      made in an OpenShift instance.</p>

      <p>First, download our <a href="/api">Python
      bindings and example scripts</a>, and move it to your local copy of
      the application's repository.</p>

      <p>Then, create a new commit including all the changes made to the
      repository, and push it to your app.</p>

      <p>After that, connect to the application through SSH. If you don't know
      how to do this, log in to your OpenShift Online account, go to your
      application's dashboard, and click "Want to log in to your application?".
      <br />There you'll find the app's SSH user, address, and further
      information on SSH, in case you need it.</p>

      <img class="screenshot" src="/static/images/integrations/openshift/002.png" />

      <p>Once you have connected, install the Python bindings by running:</p>

      <div class="codehilite"><pre>
<span class="s">$</span> cd ~/app-root/repo/&lt;python_bindings_path&gt;
<span class="s">$</span> python setup.py install</pre>
      </div>

      <p>Where <code>&lt;python_bindings_path&gt;</code> is the path where you
      saved the bindings in the first step.</p>

      <p>Next, open <code>integrations/openshift/zulip_openshift_config.py</code>
      inside the SSH terminal with your favorite editor, and change the
      following lines to specify the email address and API key for your
      OpenShift integration:</p>


      <div class="codehilite">
<pre><span class="n">ZULIP_USER</span> <span class="o">=</span> <span class="s">"openshift-bot@example.com"</span>
<span class="n">ZULIP_API_KEY</span> <span class="o">=</span> <span class="s">"0123456789abcdef0123456789abcdef"</span>
{% if api_site_required %}<span class="n">ZULIP_SITE</span> <span class="o">=</span> <span class="s">"{{ external_api_uri_subdomain }}"</span>{% endif %}</pre>
      </div>

      <p>You can also specify which pushes will result in
      notifications and to what stream the notifications will be sent
      by modifying the <code>deployment_notice_destination</code> function
      in <code>zulip_openshift_config.py</code>. By default, deployments
      triggered by commits pushed to the <code>master</code> and
      <code>test-post-receive</code> branches will result in a notification
      to stream <code>deployments</code>.</p>

      <p>Save the file, and symlink
      <code>$OPENSHIFT_PYTHON_DIR/virtenv/share/zulip/integrations/openshift/post-receive</code>
      into the <code>~/app-root/repo/.openshift/action_hooks</code>
      directory.</p>

      <p>Next, create the stream you'd like to use for OpenShift notifications,
      and subscribe all interested parties to this stream. The integration will
      use the default stream <code>deployments</code> if no stream is supplied
      in the hook; you still need to create the stream even if you are using
      this default.</p>

      <p><b>Congratulations! You're done!</b><br /> Whenever you make
      a push to the <code>master</code> branch of your application's repository
      (or whichever branch you configured above), or if you force a deployment,
      the Zulip OpenShift plugin will send an automated notification that
      looks like this:</p>

      <img class="screenshot" src="/static/images/integrations/openshift/001.png" />

      <p><b>Testing</b><br />You can test the plugin without changing
      your <code>master</code> branch by pushing to
      the <code>test-post-receive</code> branch.</p>

      <p style="font-size:11px; font-style:italic;">
        Logos are trademarks of their respective owners.
        None of the integrations on this page are created by,
        affiliated with, or supported by the companies
        represented by the logos.
      </p>
    </div>

    <div id="perforce" class="integration-instructions">


     <p>Zulip supports integration with Perforce as a
     <a href="http://www.perforce.com/perforce/doc.current/manuals/p4sag/chapter.scripting.html">trigger</a>
     that fires once a changelist is submitted and committed.  To do this:</p>

      <ol>
        <li>Download and install our <a href="/api">Python bindings</a> on the
        server that hosts your Perforce depot. The Perforce trigger will be
        installed to a location like
        <code>/usr/local/share/zulip/integrations/perforce</code></li>

        <li>Open <code>integrations/perforce/zulip_perforce_config.py</code> in
        your favorite editor, change the <code>ZULIP_USER</code> and
        <code>ZULIP_API_KEY</code> variables at the top of the file to the
        credentials for the bot you'd like to use for this integration.</li>

        <li>You should also change <code>ZULIP_SITE</code> to {{ external_api_path_subdomain }}</li>

        <li>Edit your
        <a href="http://www.perforce.com/perforce/doc.current/manuals/p4sag/chapter.scripting.html#d0e14583">trigger table</a>
        with <code>p4 triggers</code> and add an entry something like the
        following:

        <pre>notify_zulip change-commit //depot/... "/usr/local/share/zulip/integrations/perforce/zulip_change-commit.py %change% %changeroot%"</pre>
        </li>

        <li>By default, this hook will send to streams of the form
        <code>depot_subdirectory-commits</code>. So, a changelist that modifies
        files in <code>//depot/foo/bar/baz</code> will result in a message to
        stream <code>foo-commits</code>. Messages about changelists that modify
        files in the depot root or files in multiple direct subdirectories of
        the depot root will be sent to <code>depot-commits</code>. If you'd
        prefer different behavior, such as all commits across your depot going
        to one stream, change it now in <code>zulip_perforce_config.py</code>.
        Make sure that everyone interested in getting these post-commit Zulips
        is subscribed to the relevant streams!</li>
      </ol>

      <p><b>Congratulations! You're done!</b><br /> When you commit to your
      Perforce depot the team can see updates in real time in
      Zulip:</p>

      <img class="screenshot" src="/static/images/integrations/perforce/001.png" />

      <p style="font-size:11px; font-style:italic;">
        Logos are trademarks of their respective owners.
        None of the integrations on this page are created by,
        affiliated with, or supported by the companies
        represented by the logos.
      </p>
    </div>

    <div id="phabricator" class="integration-instructions">


      <p>Zulip supports integration with Phabricator and can notify you of the
      latest items in your Phabricator feed.</p>

      <p>You can follow the instructions at
          <a href="https://github.com/zulip/phabricator-to-zulip">
           https://github.com/zulip/phabricator-to-zulip
          </a>
        to get it set up.
      </p>

      <p style="font-size:11px; font-style:italic;">
        Logos are trademarks of their respective owners.
        None of the integrations on this page are created by,
        affiliated with, or supported by the companies
        represented by the logos.
      </p>

    </div>

    <div id="puppet" class="integration-instructions">
      <p>Zulip supports Puppet integration and can notify you when Puppet runs fail (or when they happen at all).</p>

      <p>You can follow the instructions at
          <a href="https://forge.puppetlabs.com/mbarr/puppet_zulip">
           https://forge.puppetlabs.com/mbarr/puppet_zulip
          </a>
        to get it set up.
      </p>

      <p><small>Thanks to Matt from Kensho for submitting this integration!</small></p>

      <p style="font-size:11px; font-style:italic;">
        Logos are trademarks of their respective owners.
        None of the integrations on this page are created by,
        affiliated with, or supported by the companies
        represented by the logos.
       </p>

    </div>

    <div id="redmine" class="integration-instructions">


      <p>Get information on new or updated Redmine issues right in
      Zulip with our Zulip Redmine plugin! Note: this setup must be
      done by a Redmine Administrator.</p>

      <p>First, create the stream you'd like to use for Redmine notifications,
      and subscribe all interested parties to this stream. We recommend the
      name <code>redmine</code>.</p>

      <p>Then:</p>

      <ol>
        <li>
          <p>Clone
          the <a href="https://github.com/zulip/zulip-redmine-plugin">Zulip
          Redmine plugin repository</a> by running:</p>
          <pre>git clone https://github.com/zulip/zulip-redmine-plugin</pre>
        </li>
        <li>
          <p>Follow
          the <a href="http://www.redmine.org/projects/redmine/wiki/Plugins">Redmine
          plugin installation guide</a> to install
          the <code>zulip_redmine</code> plugin directory, which is a
          subdirectory of the <code>zulip-redmine-plugin</code> repository
          directory. In a nutshell, the steps are:</p>
          <ol type="A">
            <li>
              <p>Copy the <code>zulip_redmine</code> directory to
              the <code>plugins</code> directory of your Redmine
              instance.</p></li>
            <li>
              <p>Update the Redmine database by running (for Rake 2.X, see the
              guide for instructions for older versions):</p>
              <pre>rake redmine:plugins:migrate RAILS_ENV=production</pre>
            </li>
            <li>
              <p>Restart your Redmine instance.</p>
            </li>
          </ol>
          <p>The Zulip plugin is now registered with Redmine!</p>
        </li>
        <li>
          <p>On your {{ settings_html|safe }}, create a new Redmine bot.</p>
        </li>
        <li>
          <p>To configure Zulip notification settings that apply to many
            projects in one go, in Redmine click the "Administration" link in
            the top left. Click the "Plugins" link on the Administration page,
            and click the "Configure" link to the right of the Zulip plugin
            description. In the "Projects" section, select all projects to which
            you want these settings to apply.</p>
          <p>To configure Zulip notifications for a particular Redmine project,
            visit the project's Settings page.</p>
          <p>
            In either case, fill out zulip server by <code>{{ external_api_path_subdomain }}</code>,
            the bot email address, and API key, and the
            Zulip stream that should receive notifications. Apply your changes.
          </p>
        </li>
        <li>
          <p>To test the plugin, create an issue or update an existing issue in
          a Redmine project that has Zulip notifications configured (any
          project, if you've configured global settings).</p>
        </li>
      </ol>

      <p><b>Congratulations! You're done!</b><br /> When you update issues in
      Redmine, the team can see these updates in real time in Zulip:</p>

      <img class="screenshot" src="/static/images/integrations/redmine/001.png" />

      <p style="font-size:11px; font-style:italic;">
        Logos are trademarks of their respective owners.
        None of the integrations on this page are created by,
        affiliated with, or supported by the companies
        represented by the logos.
      </p>
    </div>

    <div id="rss" class="integration-instructions">
      <h4>RSS</h4>

      <p>Get service alerts, news, and new blog posts right in Zulip with our
      RSS integration!</p>

      <p>First, create the stream you'd like to use for RSS notifications, and
      subscribe all interested parties to this stream. We recommend the
      name <code>rss</code>.</p>

      <p>Next, on your {{ settings_html|safe }}, create an RSS bot.</p>

      <p>Then, download and install our <a href="/api">Python bindings</a> on
      the server where the RSS bot will live. The RSS integration will be
      installed to a location
      like <code>/usr/local/share/zulip/integrations/rss/rss-bot</code>.</p>

      <p>Follow the instructions in the <code>rss-bot</code> script for
      configuring the bot, adding your subscriptions, and setting up a cron job
      to run the bot.</p>

      <p><b>Congratulations! You're done!</b><br /> When new items appear in
      your feeds, the team can see these updates in real time in Zulip:</p>

      <img class="screenshot" src="/static/images/integrations/rss/001.png" />

      <p style="font-size:11px; font-style:italic;">
        Logos are trademarks of their respective owners.
        None of the integrations on this page are created by,
        affiliated with, or supported by the companies
        represented by the logos.
      </p>
    </div>

    <div id="subversion" class="integration-instructions">


      <p>It is easy to send Zulips on SVN commits, by configuring a post-commit
      hook. To do this:</p>

      <p>First, create the stream you'd like to use for SVN commit
      notifications, and subscribe all interested parties to this stream. The
      integration will use the default stream <code>commits</code> if no stream
      is supplied in the hook; you still need to create the stream even if you
      are using this default.</p>

      <p>Then:</p>

      <ol>
        <li>Download and install our <a href="/api">Python bindings</a> on the
        server where the SVN repository lives.</li>
        <li>Install <code>pysvn</code>. On Linux, you can install
        the <code>python-svn</code> package. On other platforms, you can install
        a binary or from source following
        the <a href="http://pysvn.tigris.org/project_downloads.html">instructions
        on the pysvn website</a>.</li>
        <li>Copy <code>integrations/svn/zulip_svn_config.py</code>
        and <code>integrations/svn/post-commit</code> from the API bindings
        directory to the <code>hooks</code> subdirectory of your SVN
        repository.</li>

        <li><p>Next, open <code>integrations/git/zulip_svn_config.py</code>
          in your favorite editor, and change the following lines to
          configure your SVN integration:</p>

        <div class="codehilite"><pre><span class="n">ZULIP_USER</span> <span class="o">=</span> <span class="s">"svn-bot@example.com"</span>
<span class="n">ZULIP_API_KEY</span> <span class="o">=</span> <span class="s">"0123456789abcdef0123456789abcdef"</span>
{% if api_site_required %}<span class="n">ZULIP_SITE</span> <span class="o">=</span> <span class="s">"{{ external_api_uri_subdomain }}"</span>{% endif %}</pre></div>
        </li>

        <li>The default stream used by this post-commit hook
        is <code>commits</code>; if you'd prefer a different stream, change it
        now in <code>zulip_svn_config.py</code>. Make sure that everyone
        interested in getting these post-commit Zulips is subscribed to that
        stream!</li>
      </ol>

      <p><b>Congratulations! You're done!</b><br /> When you commit to this SVN
      repository, the team can see these updates in real time in Zulip:</p>

      <img class="screenshot" src="/static/images/integrations/svn/001.png" />

      <p style="font-size:11px; font-style:italic;">
        Logos are trademarks of their respective owners.
        None of the integrations on this page are created by,
        affiliated with, or supported by the companies
        represented by the logos.
      </p>
    </div>

    <div id="trac" class="integration-instructions">


      <p>First, create the stream you'd like to use for Trac notifications, and
      subscribe all interested parties to this stream. The integration will use
      the default stream <code>trac</code> if no stream is supplied in the
      hook; you still need to create the stream even if you are using this
      default.</p>

      <p>Next, download and install our <a href="/api">Python
      bindings and example scripts</a> on your Trac server.</p>

      <p>Next, open <code>integrations/trac/zulip_trac_config.py</code> in
      your favorite editor, and change the following lines to specify
      your bot's email address, API key, and where you'd like your
      notification messages to go (by default,
      stream <code>trac</code>):</p>

<div class="codehilite"><pre><span class="n">ZULIP_USER</span> <span class="o">=</span> <span class="s">"trac-notifications-bot@example.com"</span>
<span class="n">ZULIP_API_KEY</span> <span class="o">=</span> <span class="s">"0123456789abcdef0123456789abcdef"</span>
<span class="n">STREAM_FOR_NOTIFICATIONS</span> <span class="o">=</span> <span class="s">"trac"</span>
<span class="n">TRAC_BASE_TICKET_URL</span> <span class="o">=</span> <span class="s">"https://trac.example.com/ticket"</span>
{% if api_site_required %}<span class="n">ZULIP_SITE</span> <span class="o">=</span> <span class="s">"{{ external_api_uri_subdomain }}"</span>{% endif %}</pre></div>

      <p>Copy <code>integrations/trac/zulip_trac.py</code>
      and <code>integrations/trac/zulip_trac_config.py</code> into
      your Trac installation's <code>plugins/</code>
      subdirectory. Once you've done that, edit your Trac
      installation's <code>conf/trac.ini</code> to
      add <code>zulip_trac</code> to the <code>[components]</code>
      section, as follows:</p>

<div class="codehilite"><pre><span class="k">[components]</span>
<span class="na">zulip_trac</span> <span class="o">=</span> <span class="s">enabled</span></pre></div>

      <p>You may then need to restart Trac (or Apache) so that Trac will load our plugin.</p>

      <p><b>Congratulations! You're done!</b><br /> When people open
      new tickets (or edit existing tickets), you'll see a message
      like the following, to the stream <code>trac</code> (or whatever
      you configured above) with a topic that matches the ticket
      name:</p>
      <img class="screenshot" src="/static/images/integrations/trac/001.png" />

      <p><b>Additional trac configuration</b><br /> After using the plugin
      for a while, you may want to customize which changes to tickets
      result in a Zulip notification using
      the <code>TRAC_NOTIFY_FIELDS</code> setting
      in <code>zulip_trac_config.py</code>.</p>

      <p style="font-size:11px; font-style:italic;">
        Logos are trademarks of their respective owners.
        None of the integrations on this page are created by,
        affiliated with, or supported by the companies
        represented by the logos.
      </p>

    </div>

    <div id="trello-plugin" class="integration-instructions">
      <p>
        This legacy integration for Trello works by running a script
        that communicates with the Trello API in a cron job. We
        recommend <a href="#trello">the new Trello webhook
        integration</a> (which will eventually replace this entirely).
        Please <a href="https://github.com/zulip/zulip/issues/new">report
        any issues</a> which cause you to prefer this integration over
        the webhook integration.
      </p>

      <p>First, create the stream you'd like to use for Trello notifications,
      and subscribe all interested parties to this stream. We recommend the
      name <code>trello</code>.</p>

      <p>Next, download a copy
      of <a href="https://github.com/zulip/trello-to-zulip">trello-to-zulip</a>
      and follow the instructions in <code>README.md</code>. When you
      make changes in Trello, they will be reflected in Zulip:
      </p>

      <img class="screenshot" src="/static/images/integrations/trello/002.png" />
      <p><small>Thanks to Nathan from FoundationDB for submitting this integration!</small></p>

      <p style="font-size:11px; font-style:italic;">
        Logos are trademarks of their respective owners.
        None of the integrations on this page are created by,
        affiliated with, or supported by the companies
        represented by the logos.
      </p>
    </div>

    <div id="twitter" class="integration-instructions">


      <p>See Twitter search results in Zulip! This is great for seeing and
      discussing who is talking about you, friends, competitors, or important
      topics in real time.</p>

      <p>First, create the stream you'd like to use for tweets, and subscribe
      all interested parties to this stream. We recommend the
      name <code>twitter</code>.</p>

      <p>Next, download and install our <a href="/api">Python bindings and
      example scripts</a>. This bot should be set up on a trusted machine,
      because your API key is visible to local users through the command line or
      config file.</p>

      <p>Next, install <b>version 1.0 or later</b> of
      the <code>twitter-python</code> library. If your operating system
      distribution doesn't package a new enough version, you can install the
      library from source
      from <a href="https://github.com/bear/python-twitter">the GitHub
      repository</a>.</p>

      <p>Next, set up Twitter authentication. This bot uses OAuth to
      authenticate with Twitter, and in order to obtain a consumer key & secret,
      you must register a new application under your Twitter account:</p>

      <ol>
        <li>
          Log in to <a href="http://dev.twitter.com">http://dev.twitter.com</a>.
        </li>
        <li>
          In the menu under your username,
          click <a href="https://dev.twitter.com/apps">My Applications</a>. From
          this page, create a new application.
        </li>
        <li>
          Click on the application you created and click "create my access
          token". Fill in the requested values.
        </li>
      </ol>

      <p>To configure and deploy this bot:</p>

      <ol>
        <li>
          Create a <code>~/.zulip_twitterrc</code> with the following
          contents:

<pre>[twitter]
consumer_key =
consumer_secret =
access_token_key =
access_token_secret =</pre>
        </li>
        <li>
          Test the script by running it manually:

          <pre>
            /usr/local/share/zulip/integrations/twitter/twitter-search-bot --search="@nprnews,quantum physics" --site={{ external_api_uri_subdomain }}

          </pre>

          Note: <code>twitter-search-bot</code> may install to a different
          location on your operating system distribution.
        </li>
        <li>
          Configure a crontab entry for this script. A sample crontab entry that
          will process tweets every minute is:

          <pre>
            * * * * * /usr/local/share/zulip/integrations/twitter/twitter-search-bot --search="@nprnews,quantum physics" --site={{ external_api_uri_subdomain }}
          </pre>
        </li>
      </ol>

      <p><b>Congratulations! You're done!</b><br /> When someone tweets a
      message containing one of your search terms, you'll get a Zulip on your
      specified stream, with the search term as the topic.</p>

      <img class="screenshot" src="/static/images/integrations/twitter/001.png" />

      <p>Note that the twitter search bot integration <b>just sends
      links to tweets</b>; the pretty inline previews of tweets are
      generated by the Twitter card rendering integration configured
      in <code>/etc/zulip/settings.py</code> on the Zulip server.</p>

      <p style="font-size:11px; font-style:italic;">
        Logos are trademarks of their respective owners.
        None of the integrations on this page are created by,
        affiliated with, or supported by the companies
        represented by the logos.
      </p>

    </div>
</div>
            </div> <!-- .inner-content -->
        </div> <!-- .padded-content -->
    </div> <!-- .main -->
</div> <!-- .portico-landing -->

{% endblock %}
