<div>
    <label for="change_stream_name">
        {{t 'Stream name' }}
    </label>
    <input type="text" id="change_stream_name" value="{{ stream_name }}" />
</div>
<div>
    <label for="change_stream_description">
        {{t 'Description' }}
    </label>
    <textarea id="change_stream_description" maxlength="1000">{{ stream_description }}</textarea>
</div>
