<div class="subscriber_list_add float-left">
    {{> add_subscribers_form}}
</div>
<br />

<input class="add-user-list-filter" name="user_list_filter" type="text"
  autocomplete="off" placeholder="{{t 'Filter' }}" />


<div>
    <a draggable="false" class="subs_set_all_users" tabindex="0">{{t "Check all" }}</a> |
    <a draggable="false" class="subs_unset_all_users" tabindex="0">{{t "Uncheck all" }}</a>
</div>

<div id="user-checkboxes-simplebar-wrapper" data-simplebar>
    <div id="user-checkboxes"></div>
</div>
