<i class="fa fa-user-o" aria-hidden="true"></i>
{{#if can_access_subscribers}}
<span class="subscriber-count-text">{{numberFormat subscriber_count}}</span>
{{else}}
<i class="subscriber-count-lock fa fa-lock" aria-hidden="true"></i>
{{/if}}
