body.theme-vscode {
  $light: #333842;
  $dark: #21252b;
  $darker: #1b1d20;
  $text: #cccccc;
  $item-highlight: #252931;
  $item-selected: #2c313a;

  ::-webkit-scrollbar {
    width: auto;
  }

  ::-webkit-scrollbar-track {
    background: $darker;
    border-left: 1px solid $light;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $dark;
    margin: 2px;
    border-left: 1px solid $light;
  }

  // Body color resets
  & {
    background: $light;

    .app-main,
    .modal-bg,
    .header-main,
    #tab_bar_underpadding,
    .floating_recipient .message-header-wrapper,
    .column-middle,
    .column-left .left-sidebar,
    .column-right .right-sidebar,
    #subscription_overlay .right,
    #settings_page .form-sidebar,
    #settings_page .right {
      background: $light;
    }

    #compose-container {
      background: $light;
    }

    #compose {
      background: transparent;
      a.button,
      button {
        background-color: $dark !important;
        font-weight: 600 !important;
        border-color: $darker;
        border-radius: 0;
      }
    }

    #add-stream-link a,
    #invite-user-link {
      color: #3fa4ea;
    }
    #invite-user-link {
      margin-left: 6px;
    }

    .dropdown .dropdown-menu,
    .popover-content {
      background: $dark;
    }

    font-family: Lato, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
      sans-serif;

    /* Reset the background color */
    #compose,
    .app-main,
    .column-left .left-sidebar,
    .column-middle,
    .column-right .right-sidebar,
    .header-main {
      background-color: transparent;
    }

    #compose_controls {
      border-color: $dark;
      border-top-width: 0px;
    }

    .app-main > .column-middle {
      background: $darker;
    }

    #streams_header {
      margin-top: 0;
    }

    @media screen and (max-width: 768px) {
      #left-sidebar {
        padding-top: 0;
        padding-left: 0;
      }

      #right-sidebar {
        padding: 0;
        margin-right: 15px;
      }

      #right-sidebar,
      #left-sidebar {
        background: $light;
        margin-top: 40px !important;
      }
    }

    #right-sidebar,
    #left-sidebar {
      padding: 0;
      background: $light;
    }

    @media screen and (max-width: 500px) {
      #right-sidebar,
      #left-sidebar {
        background: $light;
        margin-top: 30px !important;
      }
    }

    @media screen and (min-width: 768px) {
      .app-main > .column-middle {
        margin-left: 250px;
        padding: 0 15px;
      }
      .app-main .column-left .left-sidebar {
        margin-top: 41px;
        width: 250px;
      }

      #right-sidebar {
        width: 251px !important;
        margin-top: 42px !important;
      }
    }

    #userlist-header,
    #group-pm-header {
      margin-right: 0;
    }

    #floating_recipient_bar {
      top: 40px !important;
      left: -23px !important;
    }

    #user_presences {
      max-width: 100%;
      margin: 0;

      .user_sidebar_entry {
        padding: 1px 6px;
        border-radius: 0;
        &:hover {
          background-color: $item-highlight;
        }
      }
    }

    .group-pms-sidebar-entry {
      padding: 1px 6px;
      border-radius: 0;
      &:hover {
        background-color: $item-highlight;
      }
    }

    .private-message .messagebox {
      background: $dark;
    }
  }

  .column-middle.recipient-bar-main {
    margin-left: 273px !important;
    margin-right: 242px !important;
  }

  #tab_bar_underpadding {
    display: none;
  }

  .header {
    padding-bottom: 0px;
  }

  #streams_header,
  #userlist-header,
  #group-pm-header {
    background: $light;
    padding-top: 3px;
    padding-bottom: 3px;
    h4.sidebar-title {
      font-size: 12px;
      font-weight: bold;
      opacity: 1;
      color: $text;
    }
  }

  #group-pm-title,
  #userlist-header {
    margin: 0;
    padding-left: 6px;
  }

  ul.filters {
    background-color: $dark;
    li,
    .top_left_row {
      border-radius: 0 !important;
    }
  }

  .user-mention {
    background-color: #4b86f9 !important;
    font-weight: bold;
  }

  #global_filters {
    margin-bottom: 0;
  }

  .top_left_row:hover,
  .bottom_left_row:hover {
    background: $item-highlight;
  }

  .active-filter {
    background-color: $item-selected !important;
  }

  .messagebox-content {
    margin-left: 2px;
  }

  /* Less obnoxious selected message */
  & .selected_message .messagebox-content {
    box-shadow: none;
    background-color: $item-selected;
  }

  .message_row {
    border-left-width: 0px;
    border-right-width: 0px;
  }

  /* Better typography for messages */
  .message_content {
    font-size: 15px;
    line-height: 1.45;
  }

  /* Inline images bigger */
  .message_inline_image {
    height: auto;
  }

  .message-header-contents {
    background: $item-highlight !important;
  }

  .message_inline_image img {
    max-height: 250px;
    float: none;
  }

  /* Cleaner spacing for topic bars */
  .stream_topic {
    padding-left: 13px;
  }

  .stream-privacy {
    padding-top: 3px;
    padding-right: 5px;
    font-size: 17px;
  }

  .stream-name {
    font-size: 16px;
    opacity: 0.6;
    padding: 3px 0 !important;
    display: block;
  }

  // Highlight streams with activity
  .stream-with-count .stream-name {
    font-weight: bold;
    opacity: 1;
  }

  .show-all-streams {
    display: block;
  }

  li.show-more-topics a {
    margin-left: 10px;
    opacity: 0.7;
  }

  .message_controls {
    right: -48px;
  }

  // Lighten the unread message background, rather than using the green left marker
  .unread_marker {
    display: none;
  }

  .message_row.unread .messagebox {
    background-color: rgba(255, 255, 255, 0.08);
  }

  #user_presences {
    display: flex;
    flex-direction: column;
    li {
      order: 1;
      &.user-fade {
        order: 2;
      }
    }
  }
}

.message_list .recipient_row {
  margin-bottom: 30px;
}
