{{#with emoji_dict}}
<div class="emoji-showcase emoji-animation-hover-area">
    {{#if is_realm_emoji}}
    {{> ../../realm_emoji url=url still_url=still_url emoji_animation_setting=../emoji_animation_setting custom_classes="emoji-preview" }}
    {{else}}
    <div class="emoji emoji-preview emoji-{{emoji_code}}"></div>
    {{/if}}
    <div class="emoji-canonical-name" title="{{name}}">{{name}}</div>
</div>
{{/with}}
