{% extends "oauth2_provider/base.html" %}


{% block content %}
    <div class="block-center">
        <form class="form-horizontal" method="post" action="{% block app_form_action_url %}{{ url('oauth2_provider:update', args=[application.id])}}{% endblock %}">
            <h3 class="block-center-heading">
                {% block app_form_title %}
                    {{ _("Edit application") }} {{ application.name }}
                {% endblock %}
            </h3>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            {% for field in form %}
                <div class="control-group {% if field.errors %}error{% endif %}">
                    <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="help-inline">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}


            <div class="control-group">
                <div class="controls">
                    <a class="btn" href="{% block app_form_back_url %}{{ url('oauth2_provider:detail', args=[application.id])}}{% endblock %}">
                        {{ _("Go back") }}
                    </a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
