<div class="popover-menu" id="stream-actions-menu-popover" data-simplebar data-simplebar-tab-index="-1">
    <ul role="menu" class="popover-menu-list">
        <li role="none" class="link-item">
            <a class="invite-user-link popover-menu-link" role="button">
            <i class="popover-menu-icon zulip-icon zulip-icon-user-plus" aria-hidden="true"></i>
            <span class="popover-menu-label">
                {{t 'Invite users to organization' }}
            </span>
            </a>
        </li>
    </ul>
</div>
