<div class="enter_sends_choices grey-box">
    <label class="enter_sends_choice">
        <input type="radio" class="prop-element" value="true"{{#if enter_sends_true }} checked{{/if}} />
        <div class="enter_sends_choice_text">
            <span>
                {{#tr}}
                    <z-shortcut></z-shortcut> to send
                    {{#*inline "z-shortcut"}}<kbd>Enter</kbd>{{/inline}}
                {{/tr}}
            </span>
            <span class="enter_sends_minor">
                {{#tr}}
                    <z-shortcut></z-shortcut> to add a new line
                    {{#*inline "z-shortcut"}}<kbd>Ctrl</kbd>+<kbd>Enter</kbd>{{/inline}}
                {{/tr}}
            </span>
        </div>
    </label>
    <label class="enter_sends_choice">
        <input type="radio" class="prop-element" value="false"{{#unless enter_sends_true }} checked{{/unless}} />
        <div class="enter_sends_choice_text">
            <span>
                {{#tr}}
                    <z-shortcut></z-shortcut> to send
                    {{#*inline "z-shortcut"}}<kbd>Ctrl</kbd>+<kbd>Enter</kbd>{{/inline}}
                {{/tr}}
            </span>
            <span class="enter_sends_minor">
                {{#tr}}
                    <z-shortcut></z-shortcut> to add a new line
                    {{#*inline "z-shortcut"}}<kbd>Enter</kbd>{{/inline}}
                {{/tr}}
            </span>
        </div>
    </label>
</div>
