<ul class="nav nav-list">
    <li>
        <a tabindex="0" class="set-default-view" data-view-code="{{view_code}}">
            <i class="fa fa-home" aria-hidden="true"></i>
            {{#tr}}
                Make <b>recent conversation</b> my home view
            {{/tr}}
        </a>
    </li>
</ul>
