<ul class="nav nav-list">
    <li>
        <a href="#channels/all" class="navigate_and_close_popover">
            {{t "Browse channels" }}
        </a>
    </li>
    <li>
        <a href="#channels/new" class="navigate_and_close_popover">
            {{t "Create a channel" }}
        </a>
    </li>
</ul>
