{{! Contents of "view code in playground" popover for code blocks}}
<ul class="nav nav-list">
    {{#each playground_info}}
        <li>
            <a href="{{this/playground_url}}" target="_blank" rel="noopener noreferrer" class="popover_playground_link">
                {{t "View in {name}" }}
            </a>
        </li>
    {{/each}}
</ul>

