<div id="stream-settings-archived-channels-label-container" class="popover-menu {{#if archived_channels_visible}}showing{{else}}hiding{{/if}}-archived-channels" data-simplebar data-simplebar-tab-index="-1">
    <ul role="menu" class="popover-menu-list">
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" class="popover-menu-link" tabindex="0" id="option-link">
                <span class="popover-menu-label archived-channels-show-label">
                    Show archived channels
                </span>
                <span class="popover-menu-label archived-channels-hide-label">
                    Hide archived channels
                </span>
            </a>
        </li>
    </ul>
</div>
