<div class="popover-menu" id="stream-card-popover" data-simplebar data-simplebar-tab-index="-1">
    <ul role="menu" class="popover-menu-list">
        <li role="none" class="popover-stream-header text-item popover-menu-list-item">
            <span class="stream-privacy-original-color-{{stream.stream_id}} stream-privacy filter-icon" style="color: {{stream.color}}">
                {{> ../stream_privacy
                  invite_only=stream.invite_only
                  is_web_public=stream.is_web_public
                  is_archived=stream.is_archived }}
            </span>
            <span class="popover-stream-name">{{stream.name}}</span>
        </li>
        <li role="none" class="popover-stream-info-menu-description text-item popover-menu-list-item">
            {{> ../stream_settings/stream_description
              rendered_description=stream.rendered_description}}
        </li>
        <li role="none" class="popover-menu-list-item text-item italic">
            {{#tr}}
            {subscribers_count, plural, =0 {No subscribers} =1 {1 subscriber} other {# subscribers}}
            {{/tr}}
        </li>
        <li role="separator" class="popover-menu-separator hidden-for-spectators"></li>
        <li role="none" class="link-item popover-menu-list-item hidden-for-spectators">
            <a role="menuitem" class="open_stream_settings popover-menu-link" tabindex="0">
                <i class="popover-menu-icon zulip-icon zulip-icon-gear" aria-hidden="true"></i>
                <span class="popover-menu-label">{{t "Channel settings" }}</span>
            </a>
        </li>
    </ul>
</div>
