<div id="user-group-settings-deactivated-groups-label-container" class="popover-menu" data-simplebar data-simplebar-tab-index="-1">
    <ul role="menu" class="popover-menu-list">
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" class="popover-menu-link" tabindex="0" id="option-link">
                {{#if show_deactivated_user_groups}}
                <span class="popover-menu-label">
                    Show deactivated user groups
                </span>
                {{else}}
                <span class="popover-menu-label">
                    Hide deactivated user groups
                </span>
                {{/if}}
            </a>
        </li>
    </ul>
</div>