<p>
    {{#tr}}
        Are you sure you want to unstar all messages in <stream-topic></stream-topic>?  This action cannot be undone.
        {{#*inline "stream-topic"}}{{> ../stream_topic_widget}}{{/inline}}
    {{/tr}}
</p>
