Archiving stream <strong>{{stream_name}}</strong> <span>will immediately unsubscribe everyone. This action cannot be undone.</span>
<p><strong>{{t "Are you sure you want to archive this stream?" }}</strong></p>
