<p>
    {{#tr}}
        When you deactivate <z-user></z-user>.
        {{#*inline "z-user"}}<strong>{{username}}</strong>{{#if email}} &lt;{{email}}&gt;{{/if}}{{/inline}}
    {{/tr}}
</p>
<p>{{t "A deactivated bot cannot send messages, access data, or take any other action." }}</p>
