{{#tr}}
    Archiving stream <z-stream></z-stream> will immediately unsubscribe everyone. This action cannot be undone.
    {{#*inline "z-stream"}}<strong>{{stream_name}}</strong>{{/inline}}
{{/tr}}
<p><strong>{{t "Are you sure you want to archive this stream?" }}</strong></p>
