# Code
/webpack-bundles

# Generated static files

# Copied zulip_bots package
/generated/bots/
# From emoji
/generated/emoji
/generated/emoji-styles
# From passing pygments data to the frontend
/generated/pygments_data.json
# From passing timezones data to the frontend
/generated/timezones.json
# Legacy emoji data directory
/third/emoji-data
