# Code
/min/
/source-map/
/webpack-bundles

# Generated static files

# Copied zulip_bots package
/generated/bots/
# From emoji
/generated/emoji
# From passing pygments data to the frontend
/generated/pygments_data.js
# From `tools/update-authors-json`
/generated/github-contributors.json

# Generated i18n data
/locale/en
/locale/language_options.json
/locale/language_name_map.json

# Legacy emoji data directory
/third/emoji-data
