# Code
/min/
/source-map/
/webpack-bundles

# Other
/generated/emoji
/generated/pygments_data.js
/generated/github-contributors.json
/locale/en
/locale/language_options.json
/locale/language_name_map.json
/third/emoji-data

# Static files from the zulip_bots package
/generated/bots/
