{% extends "zerver/portico.html" %}

{% block portico_class_name %}error{% endblock %}

{% block portico_content %}
<div class="error_page">
    <div class="container">
        <div class="row-fluid">
            <img src="/static/images/400art.svg" alt=""/>
            <div class="errorbox">
                <div class="errorcontent">
                    {% if status_code == 405 %}
                    <h1 class="lead">Method not allowed (405)</h1>
                    {% else %}
                    <h1 class="lead">Page not found (404)</h1>
                    {% endif %}
                    <p>If this error is unexpected, you can <a href="mailto:{{ support_email }}">contact
                    support</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
