{{> inbox_folder_row .}}
<div id="inbox-direct-messages-container">
    {{#each dms_dict}}
        {{> inbox_row this.[1]}}
    {{/each}}
</div>

<div id="inbox-streams-container">
    {{> inbox_stream_container . }}
</div>
