<div id="inbox-empty-without-search"  class="inbox-empty-text">
    <div class="inbox-empty-illustration"></div>
    <div class="inbox-empty-title">
        {{t "There are no unread messages in your inbox."}}
    </div>
    <div class="inbox-empty-action">
        {{#tr}}
            You might be interested in <z-link>recent conversations</z-link>.
            {{#*inline "z-link"}}<a class="inbox-empty-action-link" href="#recent">{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
    </div>
</div>
