{% extends "zerver/portico_signup.html" %}
{# Displayed after a user attempts to sign up. #}

{% block portico_content %}
<div class="app portico-page">
    <div class="app-main portico-page-container center-block flex full-page account-creation new-style">
        <div class="inline-block">

            <div class="get-started">
                <h1>{{ _("Thanks for signing up!") }}</h1>
            </div>

            <div class="white-box">
                <p>{{ _("Check your email so we can get started.") }}</p>

                {% include 'zerver/dev_env_email_access_details.html' %}

                <p>{% trans %}Still no email? We can <a href="#" id="resend_email_link">resend it</a>.{% endtrans %}
                <i class="grey">({{ _("Just in case, take a look at your Spam folder.") }})</i></p>
                {% if realm_creation %}
                <form class="resend_confirm" action="/new/" method="post" style="position: absolute;">
                    {{ csrf_input }}
                    <input type="hidden" class="email" id="email" value="{{ email }}" name="email"/>&nbsp;
                </form>
                {% else %}
                <form class="resend_confirm" action="/accounts/home/" method="post" style="position: absolute;">
                    {{ csrf_input }}
                    <input type="hidden" class="email" id="email" value="{{ email }}" name="email"/>&nbsp;
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customhead %}
{{ super() }}
<script>
$(function() {
    $("#resend_email_link").click(function () {
        $('.resend_confirm').submit();
    });
});
</script>
{% endblock %}
