{% extends "zerver/portico_signup.html" %}
{# Home page for not logged-in users. #}

{% block title %}
<title>{{ _("Sign up") }} | Zulip</title>
{% endblock %}

{# This is where we pitch the app and solicit signups. #}

{% block portico_content %}

<!-- The following empty tag has unique data-page-id so that this
page can be easily identified in it's respective JavaScript file -->
<div data-page-id="accounts-home"></div>
<div class="app register-page split-view new-style flex full-page">
    <div class="app-main register-page-container white-box {% if realm_invite_required and not from_multiuse_invite %}closed-realm{% endif %}">
        <div class="left-side">
            <div class="login__header">
                <img class="logo" src="/static/images/logo/white-zulip-logo-without-text.svg" alt="">
                <h1 class="get-started">{{ _("Sign up for Zulip") }}</h1>
            </div>
            {% if realm_name %}
            <article class="org-info-card">
                <img class="org-info-card__avatar" src="{{ realm_icon }}" alt="" />
                <div class="org-info-card__info">
                    <h3 class="org-info-card__name">{{ realm_name }}</h3>
                    <p class="org-info-card__path">{{ realm_uri }}</p>
                </div>
                <div class="org-info-card__description">{{ realm_description|safe }}</div>
            </article>

            <div class="invite-required">
                <hr />
                <i class="fa fa-lock"></i>{{ _("You need an invitation to join this organization.") }}
            </div>
            {% endif %}
        </div>

        <div class="right-side">
            {% if no_auth_enabled %}
            <div class="alert">
                <p>No authentication backends are enabled on this
                    server yet, so it is impossible to register!</p>

                <p>
                    See
                    the <a href="https://zulip.readthedocs.io/en/latest/production/install.html#step-3-configure-zulip">Zulip
                        authentication documentation</a> to learn how to
                    configure authentication backends.
                </p>
            </div>
            {% else %}
            {% if password_auth_enabled %}
            <form class="form-inline" id="send_confirm" name="email_form" action="{{ current_url() }}" method="post">
                {{ csrf_input }}

                <div class="input-box no-validate">
                    <input type="email" id="email" class="email" name="email" value="" autofocus required />
                    <label for="email">Email</label>
                    <div class="alert alert-error email-frontend-error"></div>
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                    <div class="email-backend-error alert alert-error">{{ error }}</div>
                    {% endfor %}
                    {% endif %}
                </div>

                <button class="full-width" type="submit">{{ _('Sign up') }}</button>
            </form>

            {% if page_params.external_authentication_methods|length > 0 %}
            <div class="or"><span>{{ _('OR') }}</span></div>
            {% endif %}
            {% endif %}

            <div class="login-social-wrap">
                {% for backend in page_params.external_authentication_methods %}
                <div class="login-social">
                    <form class="form-inline" action="{{ backend.signup_url }}" method="get">
                        <input type='hidden' name='multiuse_object_key' value='{{ multiuse_object_key }}' />
                        <button id="register_{{ backend.button_id_suffix }}" class="login-social-button">
                            {% if backend.display_icon %}
                            <span style="background-image:url('{{ backend.display_icon }}')"></span>
                            {% endif %}
                            {{ _('%(identity_provider)s', identity_provider=backend.display_name) }}
                        </button>
                    </form>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
