{% extends "zerver/base.html" %}

{% load compressed %}
{% load minified_js %}

{# User Activity. #}

{% block title %}
<title>{{ title }}</title>
{% endblock %}


{% block customhead %}
{{ block.super }}
{% minified_js 'activity' %}
{% compressed_css 'activity' %}
{% endblock %}

{% block content %}

{% if realm %}
<a class="show-all" href="?">Home</a>
<h4>{{ realm}}</h4>
<br />
{% endif %}


<ul class="nav nav-tabs">
{% for name, activity in data %}
    <li {% if forloop.first %} class="active" {% endif %}>
        <a href="#{{ name }}" data-toggle="tab">{{ name }}</a>
    </li>
{% endfor %}
</ul>

<div class="tab-content">

{% for name, activity in data %}

    <div class="tab-pane {% if forloop.first %} active {% endif %}" id="{{ name }}">
        {{ activity.content }}
    </div>

{% endfor %}

</div>

{% endblock %}
