{% extends "zerver/base.html" %}

{% load compressed %}
{% load minified_js %}


{% block customhead %}
{{ block.super }}
{% minified_js 'activity' %}
{% compressed_css 'activity' %}
{% endblock %}

{% block content %}

    {% for query in queries %}
        <h3>{{ query.title }}</h3>

        <table class="table sortable table-striped table-bordered">

            <thead class="activity_head">
                <tr>
                {% for col in query.cols %}
                    <th>{{ col }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in query.rows %}
                    <tr>
                        {% for field in row %}
                            <td sortable>{{ field }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

{% endblock %}
