{# Administration panel #}

<div class="row-fluid">
  <div class="span12">
      <div class="administration">
      <div class="alert" id="administration-status"></div>
      <h1>Administration</h1>
      <h2>Users</h2>
      <table class="table table-condensed table-striped">
        <tbody id="admin_users_table" class="admin_user_table">
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tbody>
      </table>
      <div id="admin_page_users_loading_indicator"></div>
      <h2>Bots</h2>
      <table class="table table-condensed table-striped">
        <tbody id="admin_bots_table" class="admin_user_table">
          <th>Name</th>
          <th>Email</th>
          <th>Owner</th>
          <th>Actions</th>
        </tbody>
      </table>
      <div id="admin_page_bots_loading_indicator"></div>
      <h2>Streams</h2>
      <table class="table table-condensed table-striped">
        <tbody id="admin_streams_table" class="admin_stream_table">
          <th>Name</th>
          <th>Actions</th>
        </tbody>
      </table>
      <div id="admin_page_streams_loading_indicator"></div>
      <h2>Deactivated Users</h2>
      <table class="table table-condensed table-striped">
        <tbody id="admin_deactivated_users_table" class="admin_user_table">
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tbody>
      </table>
      <div id="admin_page_deactivated_users_loading_indicator"></div>
      <div id="deactivation_user_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deactivation_user_modal_label" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="deactivation_user_modal_label">Deactivate <span class="email"></span></h3>
        </div>
        <div class="modal-body">
          <p>By deactivating <strong><span class="user_name"></span></strong> &lt;<span class="email"></span>&gt;, they will be logged out of Zulip immediately.</p>
          <p>Their password will be cleared from our systems, and any bots they maintain will be disabled.</p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button class="btn btn-danger" id="do_deactivate_user_button">Deactivate now</button>
        </div>
      </div>
      <div id="deactivation_stream_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deactivation_stream_modal_label" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="deactivation_stream_modal_label">Unsubscribe all from <span class="stream_name"></span></h3>
        </div>
        <div class="modal-body">
          <p>Unsubscribing everyone from this stream will also remove the stream from the streams list.</p>
          <p>Unlike user deactivation, this cannot be undone, so please exercise <strong>extreme caution</strong>.</p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button class="btn btn-danger" id="do_deactivate_stream_button">I have read the above, unsubscribe everyone</button>
        </div>
      </div>
    </div>
  </div>
</div>

