{% extends "zerver/portico.html" %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style media="screen">
    .app.portico-page {
        padding-bottom: 0px;
    }
</style>
{% stylesheet 'portico' %}
{% stylesheet 'landing-page' %}
{{ render_bundle('landing-page') }}

{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}
{% include 'zerver/gradients.html' %}

<div class="portico-landing apps no-slide">
    <div class="hero">
        <div id="waves"></div>
        <div class="info">
            <div class="flex">
                <div class="cta">
                    <h1>Zulip for <span class="platform"></span></h1>
                    <p><span class="description"></span></p>
                    <a class="link no-style no-action" href="">
                        <button type="button" name="button">Download Zulip for <span class="platform"></span></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="image">
            <div class="flex">
                <img src="" />
            </div>
        </div>
    </div>

    <div class="other-apps">
        <h2>Apps for every platform.</h2>

        <div class="apps">
            <a class="icon fa fa-apple no-style" href="/apps/#mac" data-label="MacOS"></a>
            <a class="icon fa fa-windows no-style" href="/apps/#windows" data-label="Windows"></a>
            <a class="icon fa fa-linux no-style" href="/apps/#linux" data-label="Linux"></a>
            <a class="icon fa fa-android no-style" href="/apps/#android" data-label="Android"></a>
            <a class="icon fa fa-mobile-phone no-style" href="/apps/#ios" data-label="iOS"></a>
        </div>
    </div>
</div>
{% endblock %}
