<div class="modal hide" id="bankruptcy" tabindex="-1" role="dialog"
     aria-labelledby="bankruptcy-label" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="bankruptcy-label">Welcome back</h3>
    </div>

    <div id="bankruptcy-unread-count"></div>

    <div class="modal-footer">
        <button id="yes-bankrupt" class="btn btn-primary" aria-hidden="true">Yes, please!</button>
        <button id="no-bankrupt" class="btn" data-dismiss="modal" aria-hidden="true">No, I'll catch up.</button>
    </div>
</div>
