<!DOCTYPE html>
<html lang='{{LANGUAGE_CODE}}'>

    {# Base template for the whole site. #}

    <head>
        <meta charset="UTF-8">
        {% block title %}
            {% if user_profile and user_profile.realm.name %}
                <title>{{user_profile.realm.name}} - Zulip</title>
            {% else %}
                {% if OPEN_GRAPH_TITLE %}
                <title>{{ OPEN_GRAPH_TITLE }}</title>
                {% else %}
                <title>Zulip</title>
                {% endif %}
            {% endif %}
        {% endblock %}
        <link id="favicon" rel="icon" href="/static/images/favicon.svg?v=4">
        <link rel="alternate icon" href="/static/images/favicon.png?v=4">
        {% block meta_viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        {% if not user_profile %}
        {% include 'zerver/meta_tags.html' %}
        {% endif %}

        {% block webpack %}
        {{ render_entrypoint(entrypoint, 'css', attrs='nonce="%s"' % (csp_nonce,) if csp_nonce else '') }}
        {{ render_entrypoint(entrypoint, 'js', attrs='defer nonce="%s"' % (csp_nonce,) if csp_nonce else 'defer') }}
        {% endblock %}

        {% block customhead %}
        {% endblock %}
    </head>

    <body {% if color_scheme == 1 %} class="color-scheme-automatic" {% elif color_scheme == 2 %} class="night-mode" {% endif %}>
        {% block content %}
        {% endblock %}

        {% set all_page_params = default_page_params.copy() %}
        {% set _ = all_page_params.update(page_params|default({})) %}
        <div hidden id="page-params" data-params='{{ all_page_params|tojson }}'></div>
    </body>

</html>

{% set entrypoint = entrypoint|default("common") %}
