<!DOCTYPE html>
<html lang='{{LANGUAGE_CODE}}'>

    {# Base template for the whole site. #}

    <head>
        <meta charset="UTF-8">
        {% block title %}
            {% if user_profile and user_profile.realm.name %}
            <title>{{user_profile.realm.name}} - Zulip</title>
            {% else %}
            <title>Zulip</title>
            {% endif %}
        {% endblock %}
        <link href="/static/favicon.ico?v=2" rel="shortcut icon">
        {% block meta_viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        {% if not user_profile %}
        {% include 'zerver/meta_tags.html' %}
        {% endif %}

        {% macro bundle(name) %}
        {{ render_bundle(name, 'css', attrs='nonce="%s"' % (csp_nonce,) if csp_nonce else '') }}
        {{ render_bundle(name, 'js', attrs='defer nonce="%s"' % (csp_nonce,) if csp_nonce else 'defer') }}
        {% endmacro %}

        <!-- This is a temporary block to enable webpack transition
        This allows pages requiring common files via webpack to override
        this block -->
        {% block commonjs %}
        {{ bundle('common') }}
        {% endblock %}
        {% block customhead %}
        {% endblock %}

        {# this is required because we want to put a custom head in
        `zerver/portico.html` that isn't overwritten like the
        `customhead` #}
        {% block porticocustomhead %}
        {% endblock %}
    </head>

    <body {% if night_mode %}class="night-mode"{% endif %}
      data-params='{{ page_params|default({"debug_mode": false})|tojson }}'
      >
        {% block content %}
        {% endblock %}
    </body>

</html>
