<div class="compare">
    <div class="padded-content">
        <div class="text-header">
            <div class="text-content">
                <h1 class="center"><span>Zulip: The most complete team chat solution.</span></h1>
            </div>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th class="uniform">Zulip</th>
                        <th class="normal uniform">Slack</th>
                        <th class="normal uniform">Mattermost</th>
                        <th class="normal uniform">Discord</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Apps for every platform</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td>Hundreds of integrations</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="no"></td>
                    </tr>
                    <tr>
                        <td>Self hosting available</td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="yes"></td>
                        <td class="no"></td>
                    </tr>
                    <tr>
                        <td>Emoji reactions</td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td>Markdown formatting</td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="yes"></td>
                        <td class="yes"></td>
                    </tr>
                    <tr>
                        <td>Topic-based threading</td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                    </tr>
                    <tr>
                        <td>Lightning-fast search</td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                        <td class="no"></td>
                    </tr>
                    <tr>
                        <td>Free and open source</td>
                        <td class="yes"></td>
                        <td class="no"></td>
                        <td>Open core *</td>
                        <td class="no"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="terms">
            <span class="term">
                * Mattermost Team is open source, but many features
                are only available in their proprietary version,
                Mattermost Enterprise.
            </span>
        </p>
    </div>
</div>
