<div class="compare">
    <div class="padded-content">
        <div class="text-header">
            <div class="text-content">
                <h1><span>Compare</span></h1>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Feature</th>
                    <th class="uniform">Zulip</th>
                    <th class="normal uniform">Slack</th>
                    <th class="normal uniform">Mattermost</th>
                    <th class="normal uniform">Discord</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Apps for every platform</td>
                    <td class="yes"></td>
                    <td class="yes"></td>
                    <td class="yes"></td>
                    <td class="yes"></td>
                </tr>
                <tr>
                    <td>Hundreds of integrations</td>
                    <td class="yes"></td>
                    <td class="yes"></td>
                    <td class="yes"></td>
                    <td class="no"></td>
                </tr>
                <tr>
                    <td>Hosting available</td>
                    <td class="yes"></td>
                    <td class="yes"></td>
                    <td class="no"></td>
                    <td class="yes"></td>
                </tr>
                <tr>
                    <td>Emoji reactions</td>
                    <td class="yes"></td>
                    <td class="yes"></td>
                    <td class="yes"></td>
                    <td class="yes"></td>
                </tr>
                <tr>
                    <td>Markdown formatting</td>
                    <td class="yes"></td>
                    <td class="no"></td>
                    <td class="yes"></td>
                    <td class="yes"></td>
                </tr>
                <tr>
                    <td>Topic-based threading</td>
                    <td class="yes"></td>
                    <td class="no"></td>
                    <td class="no"></td>
                    <td class="no"></td>
                </tr>
                <tr>
                    <td>Lightning-fast search</td>
                    <td class="yes"></td>
                    <td class="no"></td>
                    <td class="no"></td>
                    <td class="no"></td>
                </tr>
                <tr>
                    <td>Free and open source</td>
                    <td class="yes"></td>
                    <td class="no"></td>
                    <td>See below*</td>
                    <td class="no"></td>
                </tr>
            </tbody>
        </table>
        <p class="terms">
            <span class="term">
                * On Mattermost's licensing: Mattermost Team is open source,
                but most enterprise-grade features are in Mattermost
                Enterprise, which is not.
            </span>
        </p>
    </div>
</div>
