{% extends "zerver/portico.html" %}

{% block portico_content %}

<div class="error_page" style="padding-bottom: 60px;">
    <div class="container">
        <div class="row-fluid">
            <img src="/static/images/500art.svg" alt=""/>
            <div class="errorbox config-error">
                <div class="errorcontent">
                    <h1 class="lead">Configuration error</h1>
                    <br/>
                    {% if smtp_error %}
                    <p>
                        It appears there are problems with the
                        email configuration.
                    </p>
                    <p>
                        See <code>/var/log/zulip/errors.log</code> for more
                        details on the error.
                    </p>
                    <p>
                        You may also want to test your email configuration,
                        as described in the
                        <a href="https://zulip.readthedocs.io/en/latest/prod-email.html">
                        Production installation docs</a>.
                    </p>
                    {% endif %}

                    {% if google_error %}
                    {{ render_markdown_path('zerver/google-error.md', {"root_domain_uri": root_domain_uri, "settings_path": settings_path, "secrets_path": secrets_path}) }}
                    {% endif %}

                    {% if github_error %}
                    {{ render_markdown_path('zerver/github-error.md', {"root_domain_uri": root_domain_uri, "settings_path": settings_path, "secrets_path": secrets_path}) }}
                    {% endif %}

                    <p>After making your changes, remember to restart
                    the Zulip server.</p>

                    {% if development %}
                    <p>
                        For more information, have a look at
                        the <a href="http://zulip.readthedocs.io/en/latest/settings.html#testing-google-github-authentication">authentication
                        setup guide</a> for the development environment.
                    </p>
                    {% else %}
                    <p>
                        For more information, have a look at
                        our <a href="http://zulip.readthedocs.io/en/latest/prod-authentication-methods.html">authentication
                        setup guide</a> and the comments in <code>{{ settings_comments_path }}</code>.
                    </p>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
