{% extends "zerver/portico_signup.html" %}
{# Home page for not logged-in users. #}

{% block title %}
<title>{{ _("Create a new organization") }} | Zulip</title>
{% endblock %}

{# This is where we pitch the app and solicit signups. #}

{% block portico_content %}
<div class="app register-page">
    <div class="app-main register-page-container new-style flex full-page center">

        <div class="register-form left" id="new-realm-creation">
            <div class="lead">
                <h1 class="get-started">{{ _("Create a new Zulip organization") }}</h1>
            </div>
            <div class="white-box">
                <form class="form-inline" id="create_realm" name="email_form"
                  action="{{ current_url() }}" method="post">
                    {{ csrf_input }}

                    {% include 'zerver/realm_creation_form.html' %}

                    <div class="input-box horizontal">
                        <div class="inline-block relative">
                            <input type="text" class="email required" placeholder="{{ _("Enter your email address") }}"
                              id="email" name="email" required />
                            <label for="email">{{ _('Your email') }}</label>
                        </div>
                        {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <div class="alert alert-error">{{ error }}</div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-box">
                        <button type="submit" class="new-organization-button register-button">{{ _("Create organization") }}</button>
                    </div>
                </form>
            </div>
            <div class="bottom-text">
                {% trans %}
                Or import
                from <a href="/help/import-from-slack">Slack</a>, <a href="/help/import-from-mattermost">Mattermost</a>,
                or <a href="/help/import-from-rocketchat">Rocket.Chat</a>.
                {% endtrans %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
