{% extends "zerver/portico_signup.html" %}
{# Home page for not logged-in users. #}

{# This is where we pitch the app and solicit signups. #}

{% block portico_content %}
<script type="text/javascript">
$(function () {
    var timer;

    common.autofocus('#email');

    $('#email').on("keydown", function () {
        clearTimeout(timer);
    });
    $('#email').on("keyup", function () {
        clearTimeout(timer);
        timer = setTimeout(checkRealm, 1000, $('#email').val());
    });

    function checkRealm (email_value) {
        $.ajax({
          url: "/json/check_realm/" + email_value,
          dataType: "json",
        }).done(function (data) {
            if (data.message === "OK") {
                $("#message_error").removeClass("alert-error").addClass("alert-info");
                $("#message_error").html("The organization name is valid.");
            } else {
                $("#message_error").removeClass("alert-info").addClass("alert-error");
                $("#message_error").html(data['message']);
            }
        });
    }
});
</script>

<div class="app register-page">
    <div class="app-main register-page-container new-style flex full-page center">

        <div class="register-form left">
            <div class="lead">
                <h1 class="get-started">{{ _("Create a new Zulip organization") }}</h1>
            </div>
            <form class="form-inline" id="send_confirm" name="email_form"
                action="{{ current_url() }}" method="post">
                {{ csrf_input }}
                <div class="input-box horizontal">
                    <div class="inline-block relative">
                        <input type="text" class="email required" placeholder="{{ _("Enter your email address") }}"
                               id="email" name="email" required />
                        <label for="id_username">{{ _('Email') }}</label>
                    </div>

                    <button type="submit" class="new-organization-button register-button">{{ _("Create organization") }}</button>
                </div>
            </form>
            <div class="alert alert-error" id="message_error"></div>
        </div>
    </div>
</div>
{% endblock %}
