{% extends "zerver/portico_signup.html" %}
{# Home page for not logged-in users. #}

{% block title %}
<title>{{ _("Create a new organization") }} | Zulip</title>
{% endblock %}

{# This is where we pitch the app and solicit signups. #}

{% block portico_content %}
<div class="app register-page split-view new-style flex full-page">
    <div class="app-main register-page-container white-box">
        <div class="register-form left-side">
            <div class="login__header">
                <img class="logo" src="/static/images/logo/white-zulip-logo-without-text.svg" alt="">
                <h1 class="get-started">{{ _("Create a new Zulip organization") }}</h1>
            </div>
        </div>
        <div class="right-side">
            <form class="form-inline" id="send_confirm" name="email_form" action="{{ current_url() }}" method="post">
                {{ csrf_input }}
                <div class="input-box">
                    <input type="text" class="email required" placeholder="{{ _(" Enter your email address") }}" id="email" name="email" autofocus required />
                    <label for="email">{{ _('Email') }}</label>
                </div>
                <div class="alert alert-error email-frontend-error"></div>
                {% if form.email.errors %}
                {% for error in form.email.errors %}
                <div class="alert alert-error">{{ error }}</div>
                {% endfor %}
                {% endif %}
                <button type="submit" class="full-width">{{ _("Create organization") }}</button>
            </form>
            <div class="bottom-text">
                Or import
                from <a href="/help/import-from-slack">Slack</a>, <a href="/help/import-from-mattermost">Mattermost</a>,
                <a href="/help/import-from-gitter">Gitter</a>, or <a href="/help/import-from-rocketchat">Rocket.Chat</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}
