{% extends "zerver/portico.html" %}
{% set entrypoint = "landing-page" %}

{% set OPEN_GRAPH_TITLE = 'The Zulip development community' %}
{% set OPEN_GRAPH_DESCRIPTION = 'Join the Zulip community to contribute, ask questions, or provide feedback to the creators of Zulip.' %}

{% block title %}
<title>The Zulip development community</title>
{% endblock %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}


<div class="portico-landing why-page no-slide solutions-page">
    <div class="hero bg-pycon">
        <div class="bg-dimmer"></div>
        <div class="content">
            <h1 class="center">{% trans %}The Zulip development community{% endtrans %}</h1>
        </div>
        <div class="hero-text">
            Join today! The buttons below provide customized stream subscriptions.
        </div>
        <div class="hero-buttons center">
            <a href="https://chat.zulip.org/join/t5crtoe62bpcxyisiyglmtvb/" class="button">
                {{ _('Join as a user') }}
            </a>
            <a href="https://chat.zulip.org/join/wnhv3jzm6afa4raenedanfno/" class="button">
                {{ _('Join as a self-hoster') }}
            </a>
            <a href="https://chat.zulip.org/join/npzwak7vpmaknrhxthna3c7p/" class="button">
                {{ _('Join as a contributor') }}
            </a>
        </div>
    </div>
    <div class="main">
        <div class="padded-content">
            <div class="inner-content markdown">
                {{ render_markdown_path('zerver/development-community.md') }}
            </div>
        </div>
    </div>

    <div class="feature-end">
        <div class="bottom-register-buttons">
            <h1>
                Join today!
            </h1>
            <div class="hero-buttons center">
                <a href="https://chat.zulip.org/join/t5crtoe62bpcxyisiyglmtvb/" class="button">
                    {{ _('Join as a user') }}
                </a>
                <a href="https://chat.zulip.org/join/wnhv3jzm6afa4raenedanfno/" class="button">
                    {{ _('Join as a self-hoster') }}
                </a>
                <a href="https://chat.zulip.org/join/npzwak7vpmaknrhxthna3c7p/" class="button">
                    {{ _('Join as a contributor') }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
