{% extends "zerver/base.html" %}

{% block porticocustomhead %}
{{ render_bundle('portico') }}
{% endblock %}

{% block content %}
<body style="background-color:hsl(165, 25%, 97%);"> 
    <div class="modal hide fade" id="digest-alert">
        <div class="modal-body" style="text-align: center;">
                Want to catch up on all the conversations and updates<br>
                since you last visited us?<br> <br>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" style="font-size: 1.2em" data-dismiss="modal">Yes</a>
            <a href={{ realm_uri }} class="btn" style="font-size: 1.2em">No! Skip These</a>
        </div>
    </div>
    <div class="portico-wrap">
        {% include 'zerver/portico-header.html' %}
    </div>    
    <div class="container" style="padding-top:100px;">
        <div class="email-container" style="display:block; margin: 0 auto !important; max-width:500px; padding-bottom: 30px">
            <div class="portico-page" style="text-align: center;"> 
                <h1> Zulip Digest </h1>
            </div>
            <img id="digest-logo" src="/static/images/emails/digest.png" style="-ms-interpolation-mode:bicubic; border:none;" />
            <div class="email-html" style="padding:20px; background-color: hsl(0,0%,100%); border-radius:5px;">
                    {% include 'zerver/emails/compiled/digest.html' %}
                    <img id="digest-logo" src="/static/images/emails/footer.png" style="padding-top: 20px; -ms-interpolation-mode:bicubic; border:none;" />
            </div> 
            <div class="apple-link" style="margin-top:10px; color:#999; font-size:12px; text-align:center"> {{physical_address}}</div>           
        </div>           
        {% include 'zerver/footer.html' %}
    </div>    
</body> 

<script type="text/javascript">
    $(window).on('load',function(){
        $('#digest-alert').modal('show');
    });
    $()
</script>
{% endblock %}