<div class="faqs">
    <div class="padded-content">
        <header>
            <h1>Frequently asked questions</h1>
        </header>
        <div class="faq-box">
            <div class="faq">
                <div class="question">
                    Does the Zulip SaaS service provide free hosting for
                    open source projects and other worthy causes?
                </div>
                <div class="answer">
                    Yes, the Zulip SaaS service is free for open source
                    projects and various other worthy causes.  Contact
                    support with details on your organization to request
                    a sponsorship.  We also have
                    a <a href="/for/open-source">detailed guide on Zulip
                    for open source projects</a>.
                </div>
            </div>
            <div class="faq">
                <div class="question">
                    If I start out on the Zulip SaaS service, and a few
                    years down the line want to move to running my own
                    server, can I later export my data?
                </div>
                <div class="answer">
                    Yes!  Zulip supports exporting your organization's
                    data and then importing it into another Zulip
                    server.
                </div>
            </div>
            <div class="faq">
                <div class="question">
                    How can I see what Zulip looks like in a busy organization?
                </div>
                <div class="answer">
                    You can join a public Zulip organization like
                    <a href="https://zulip.readthedocs.io/en/latest/chat-zulip-org.html">the
                    Zulip development community</a>, browse the message
                    history, and chat with the development community.
                    That server has several thousand user accounts and
                    hundreds of active users.
                </div>
            </div>
        </div>
    </div>
</div>
