<div class="faqs">
    <div class="padded-content">
        <header>
            <h1>Frequently asked questions</h1>
        </header>
        <div class="faq-box">
            <div class="faq">
                <div class="question">
                    Do you have special plans for open source projects,
                    non-profits, groups of friends, and other non-commercial
                    entities?
                </div>
                <p class="answer">
                    Yes! Zulip Cloud Premium is free for open source
                    projects and a wide variety of non-commercial
                    entities. We also often offer steep discounts to
                    educational institutions, and in other scenarios where
                    users are not being paid a salary. Just contact
                    sales@zulipchat.com and we'd be happy to discuss your
                    situation!

                    You may also be interested in
                    <a href="/for/open-source">Zulip for open source
                    projects</a> or
                    <a href="/for/working-groups-and-communities">Zulip
                    for working groups and other part-time communities</a>.
                </p>
            </div>
            <div class="faq">
                <div class="question">
                    Does Zulip scale to a large number of users?
                </div>
                <p class="answer">
                    Yes! Some of our biggest fans have hundreds or thousands
                    of users, including Fortune 500 companies like Akamai,
                    and open source communities like
                    <a href="https://www.recurse.com/blog/112-how-rc-uses-zulip">The
                    Recurse Center</a>.  If you'd like to see a large Zulip
                    in action, the
                    <a href="https://chat.zulip.org">Zulip
                    community server</a> has thousands of accounts and hundreds of
                    weekly active users, and is run on a single machine with 8GB of RAM.
                </p>
            </div>
            <div class="faq">
                <div class="question">
                    Can I pay by credit card and/or invoice?
                </div>
                <p class="answer">
                    You can always use a credit card to pay, and we can bill
                    by invoice for amounts over $1000.
                </p>
            </div>
            <div class="faq">
                <div class="question">
                    Do you prorate accounts that aren't being actively used?
                </div>
                <p class="answer">
                    Yes! We don't want to charge you for a service you
                    aren't actually using. We prorate by the day, and only
                    charge for a user if they have logged on in the last two
                    weeks, even if they haven't explictly been deactivated.

                    If you start on the Premium plan and drop to Free, we
                    will credit your account for the time you have left,
                    that you can use when reactivating your Premium plan in
                    the future.
                </p>
            </div>
        </div>
    </div>
</div>
