<div class="faqs">
    <div class="padded-content">
        <header>
            <h1>Frequently asked questions</h1>
        </header>
        <div class="faq-box">
            <div class="faq">
                <div class="question">
                    Does Zulip scale to a large number of users?
                </div>
                <div class="answer">
                    Yes! Some of our biggest fans have hundreds or thousands
                    of users, including Fortune 500 companies like Akamai,
                    and open source communities like
                    <a href="https://www.recurse.com/blog/112-how-rc-uses-zulip">The
                    Recurse Center</a>.  If you'd like to see a large Zulip
                    in action, the
                    <a href="https://chat.zulip.org">Zulip development
                    community server</a> has thousands of accounts and hundreds of
                    weekly active users, and is run on a single machine with 8GB of RAM.
                </div>
            </div>
            <div class="faq">
                <div class="question">
                    If I start out on the Zulip hosted cloud service,
                    can I later switch to running my own server?
                </div>
                <div class="answer">
                    Yes!  Zulip supports exporting your organization's
                    data and then importing it into another Zulip
                    server.
                </div>
            </div>
            <div class="faq">
                <div class="question">
                    Can I use your free hosting service just to hang
                    out with my friends?
                </div>
                <div class="answer">
                    Yes!  Our "non-commercial use with less than 100
                    users" offering is for you in addition to
                    non-profits and other worthy causes!
                </div>
            </div>
            <div class="faq">
                <div class="question">
                    My organization isn't obviously eligible for your free
                    hosting plan, but we have a lot of users and can't
                    afford to pay for all of them.  Do you offer discounts
                    for this sort of situation?
                </div>
                <div class="answer">
                    Yes!  Our pricing is designed to be affordable for
                    companies that are paying their users a salary.
                    If your organization is an educational institution
                    or otherwise has a lot of non-salaried
                    participants we can likely offer your organization
                    free or highly discounted
                    hosting.  <a href="mailto:support@zulipchat.com"
                    target="_blank">Contact us</a> with your
                    organization's story and we'd be happy to discuss.
                    You may also be interested in
                    <a href="/for/open-source">Zulip for open source
                    projects</a> or
                    <a href="/for/working-groups-and-communities">Zulip
                    for working groups and other part-time communities</a>.
                </div>
            </div>
        </div>
    </div>
</div>
