{% extends "zerver/portico.html" %}
{% set entrypoint = "landing-page" %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    .portico-page {
        padding-bottom: 0px;
    }

    .landing-footer .row {
        border-top: 4px solid hsl(238, 86%, 71%);
    }
</style>
{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}

<div class="features portico-landing hello show">
    <div class="hero d-lg-flex position-relative">
        <div class="container display-lg-flex">
            <div class="w-100">
                <div class="row">
                    <div class="hero-content col-lg-5">
                        <h1>Powerful group chat</h1>
                        <p>
                            Everything you could want from real-time chat - including first-class threading.
                        </p>
                        <div class="mt-5">
                            <a href="" class="btn btn-secondary text-uppercase big-try-now">Learn More</a>
                        </div>
                    </div>
                    <img class="homepage_hero_img col-lg-7" src="/static/images/landing-page/FeaturesPage_Hero.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="message-formatting green-bg-feature purple-bg-feature feature-section d-lg-flex position-relative">
        <div class="row">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/images/features/emojis_dark.png" class="d-block" alt="...">
                        <div class="carousel-caption d-block mb-4">
                          <h2>EMOJI AND EMOJI REACTIONS</h2>
                          <p>Have fun expressing yourself with emoji!</p>
                        </div>
                    </div>
                  <div class="carousel-item">
                    <img src="/static/images/features/message_formatting_dark.png" class="d-block" alt="...">
                    <div class="carousel-caption d-block mb-4">
                      <h2>MARKDOWN OPTIMIZED FOR CHAT</h2>
                      <p>Express your ideas clearly with bulleted lists, bold, italics, and much more. Zulip even supports discussing math with LaTeX.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="/static/images/features/syntax_highlight_dark.png" class="d-block" alt="...">
                    <div class="carousel-caption d-block mb-4">
                      <h2>CODE AND QUOTE BLOCKS</h2>
                      <p>Discuss code with ease using Markdown code blocks (and syntax highlighting). And discuss blocks of text with ease with block quotes.</p>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="productivity purple-bg-feature feature-section d-lg-flex position-relative">
        <div class="row">
            <img class="homepage_hero_img mobile-visible col-lg-8" src="/static/images/landing-page/FeaturesPage_Productivity.svg" />
            <div class="content col-lg-4">
                <h1>Productivity</h1>
                <p>
                    Level up your company's ability to get more done.
                </p>
                <div class="mt-5">
                    <a href="" class="btn btn-primary text-uppercase
                    transparent-more-btn">View Features</a>
                </div>
            </div>
            <img class="homepage_hero_img desktop-visible col-lg-8" src="/static/images/landing-page/FeaturesPage_Productivity.svg" />
        </div>
    </div>
    <div class="collaboration d-lg-flex feature-section position-relative">
        <div class="row">
            <img class="threading-1 col-lg-6" src="/static/images/landing-page/FeaturesPage_Collaboration.svg" />
            <div class="content col-lg-6">
                <h1>Collaboration</h1>
                <p>
                    Messaging that supports all kind of teamwork.
                </p>
                <div class="mt-5">
                    <a href="" class="btn btn-primary text-uppercase
                        transparent-more-btn">View Features</a>
                </div>
            </div>
        </div>
    </div>
    <div class="green-bg-feature feature-section d-lg-flex position-relative">
        <div class="row">
            <img class="homepage_hero_img mobile-visible col-lg-8" src="/static/images/landing-page/FeaturesPage_Customization.svg" />
            <div class="content col-lg-4">
                <h1>Customization</h1>
                <p>
                    Tailor Zulip to your org's unique needs
                </p>
                <div class="mt-5">
                    <a href="" class="btn btn-primary text-uppercase
                    transparent-more-btn">View Features</a>
                </div>
            </div>
            <img class="homepage_hero_img desktop-visible col-lg-8" src="/static/images/landing-page/FeaturesPage_Customization.svg" />
        </div>
    </div>
    <div class="security feature-section d-lg-flex position-relative">
        <div class="row">
            <img class="homepage_hero_img mobile-visible col-lg-8" src="/static/images/landing-page/FeaturesPage_Security.svg" />
            <div class="content col-lg-4">
                <h1>Security</h1>
                <p>
                    Keep hackers out and keep data private.
                </p>
                <div class="mt-5">
                    <a href="" class="btn btn-primary text-uppercase
                    transparent-more-btn">View Features</a>
                </div>
            </div>
            <img class="homepage_hero_img desktop-visible col-lg-8" src="/static/images/landing-page/FeaturesPage_Security.svg" />
        </div>
    </div>
    <div class="management purple-bg-feature feature-section d-lg-flex position-relative">
        <div class="row">
            <img class="homepage_hero_img mobile-visible col-lg-8" src="/static/images/landing-page/FeaturesPage_Management.svg" />
            <div class="content col-lg-4">
                <h1>Management</h1>
                <p>
                    Tools you need to keep your team on track.
                </p>
                <div class="mt-5">
                    <a href="" class="btn btn-primary text-uppercase
                    transparent-more-btn">View Features</a>
                </div>
            </div>
            <img class="homepage_hero_img desktop-visible col-lg-8" src="/static/images/landing-page/FeaturesPage_Management.svg" />
        </div>
    </div>
    <div class="apps-section">
        <div class="container align-center">
            <h1>Ready to get started?</h1>
            <h2>Apps for every platform</h2>
            <div class="mt-5">
                <a href="" class="btn btn-secondary text-uppercase apps-try-now">Try now</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
