<!DOCTYPE html>
{% extends "zerver/portico.html" %}

{% block title %}
<title>{{ _("Find your accounts") }} | Zulip</title>
{% endblock %}

{% block portico_content %}

<div class="app find-account-page flex full-page">
    <div class="inline-block new-style">
        <div class="lead">
            <h1 class="get-started">{{ _("Find your Zulip accounts") }}…</h1>
        </div>

        <div class="app-main find-account-page-container white-box">
            {% if emails %}
            <div id="results">
                <p>
                    Emails sent! You will only receive emails at addresses associated
                    with Zulip organizations. The addresses entered on the previous page
                    are listed below:
                </p>

                <ul>
                    {% for email in emails %}
                    <li>{{ email }}</li>
                    {% endfor %}
                </ul>

                {% include 'zerver/dev_env_email_access_details.html' %}

            </div>
            {% else %}
            <div class="find-account-form">
                <p>
                    We will send you an email with the sign-in information for
                    any Zulip organization(s) associated with the addresses you enter below.
                </p>
                <form class="form-inline" id="find_account" name="email_form"
                  action="{{ current_url() }}" method="post">
                    {{ csrf_input }}
                    <div class="input-box moving-label horizontal">
                        <div class="inline-block relative">
                            <input type="text" autofocus id="emails" name="emails" required onKeyUp="checkInput()"/>
                            <label for="emails">{{ _('Email addresses') }}</label>
                        </div>
                        <button type="submit" id="submit_button">{{ _('Find accounts') }}</button>
                        
                    </div>
                    <div><i>{{ form.emails.help_text }}</i></div>
                </form>
                <div id="errors"></div>
                {% if form.emails.errors %}
                    {% for error in form.emails.errors %}
                    <div class="alert alert-error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                <script>
                    var inputEmails = document.getElementById('emails');
                    var findAccountButton = document.getElementById('submit_button');
                    var warningMessage = document.getElementById('errors');
                    var originalBackgroundColor = findAccountButton.style.backgroundColor;
                    function validEmails(val) {
                        var emails = val.replace(/\s/g,'').split(",");
                        var valid = true;
                        var regex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                        for (var i = 0; i < emails.length; i++) {
                            if( emails[i] == "" || ! regex.test(emails[i])){
                                valid = false;
                            }
                        }
                        return valid
                    }
                    function checkInput() {
                        var emailList = inputEmails.value;
                        if (validEmails(emailList)){
                            findAccountButton.disabled = false;
                            findAccountButton.style.backgroundColor = originalBackgroundColor;
                            findAccountButton.style.cursor = "pointer";
                            findAccountButton.style["pointer-events"] = "auto";
                            warningMessage.innerHTML = ""
                        } else {
                            findAccountButton.disabled = true;
                            findAccountButton.style.backgroundColor = 'grey';
                            findAccountButton.style.cursor = "not-allowed";
                            findAccountButton.style["pointer-events"] = "none";
                            warningMessage.innerHTML = "<div class='alert alert-error'>Enter a valid email address</div>"
                        }
                    }
                </script>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
