<footer id="footer">
    <div class="footer__legal footer__legal_description">
        <span>Axe Software Builds Dental Software that Optimizes and Streamlines Dental Practices</span>
    </div>
    <div class="divider">
    </div>
    <div class="footer__legal footer__legal_not_corporate">
        <div class="footer__legal-container">
            <a class="footer__legal_home_link" href="{{ root_domain_url }}/policies/privacy"><img src="{{ static('images/logo/axe-org-logo-v2.svg') }}" alt="" />{{ _("Axe.Software") }}</a>
            <a href="{{ root_domain_url }}/policies/privacy">{{ _("Privacy") }}</a>
            <a href="{{ root_domain_url }}/policies/privacy">{{ _("Terms") }}</a>
            <a href="{{ root_domain_url }}/policies/privacy">{{ _("About Axe Software") }}</a>
            <a href="{{ root_domain_url }}/policies/privacy">{{ _("Axe Products") }}</a>
            <a href="{{ root_domain_url }}/policies/privacy">{{ _("Axe Blog") }}</a>
            <div class="footer__legal-spacer"></div>
            <a href="{{ root_domain_url }}/policies/privacy">{{ _("Axe Software 2022 | Built in NYC & Remote") }}</a>
        </div>
    </div>
</footer>
