{% extends "zerver/portico.html" %}
{% set entrypoint = "landing-page" %}

{% set OPEN_GRAPH_TITLE = 'Modern chat for open source' %}
{% set OPEN_GRAPH_DESCRIPTION = 'No message limits, rich moderation features, Markdown support, and a conversation model that scales to thousands of users.' %}

{% block title %}
<title>Zulip: the best group chat for open source projects</title>
{% endblock %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

nav.navbar {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 10;
    background: transparent;
}


.landing-footer .row {
        border-top: 4px solid hsl(238, 86%, 71%);
}

</style>
{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}

<div class="portico-landing why-page no-slide">
    <div class="hero bg-pycon">
        <div class="bg-dimmer"></div>
        <div class="content">
            <h1 class="center">{% trans %}Zulip for open source.{% endtrans %}</h1>
            <p>Grow your community with fun, thoughtful, and inclusive discussion.</p>
        </div>
    </div>
    <div class="main">
        <div class="padded-content">
            <div class="inner-content markdown">
                {{ render_markdown_path('zerver/for/open-source.md') }}
            </div>
        </div>
    </div>

    <div id="testimonials" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#testimonials" data-slide-to="0" class="active"></li>
            <li data-target="#testimonials" data-slide-to="1"></li>
            <li data-target="#testimonials" data-slide-to="2"></li>
            <li data-target="#testimonials" data-slide-to="3"></li>
          </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="quote d-flex flex-column m-auto">
                    <blockquote>
                        Zulip helped the FHIR community grow from a
                        tiny group of dreamers to 500 active users
                        sending 6000 messages per month, all driving
                        the creation of better healthcare
                        standards. Zulip’s topic-based threading
                        helps us manage simultaneous discussions
                        with clarity, ensuring the right people can
                        pay attention to the right messages. This
                        makes our large-group discussion far more
                        manageable than what we’ve experienced with
                        Skype and Slack.”
                    </blockquote>
                    <cite>Grahame Grieve, founder, FHIR health care standards body</cite>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000">
                <div class="quote d-flex flex-column m-auto">
                    <blockquote>
                        Choosing Zulip over Slack as our group chat is one
                        of the best decisions we’ve ever made. Zulip makes
                        it easy for our community of 1000 Recursers around
                        the world to stay involved, even years after their
                        batches finish. No other tool has a user
                        experience that scales to a community of our
                        size.
                    </blockquote>
                    <cite>Nick Bergson-Shilcock, founder and CEO, Recurse Center</cite>
                </div>
            </div>
            <div class="carousel-item">
                <div class="quote d-flex flex-column m-auto">
                    <blockquote>
                        Wikimedia uses Zulip for its participation
                        in open source mentoring programs. Zulip’s
                        threaded discussions help busy organization
                        administrators and mentors stay in close
                        communication with students during all
                        phases of the programs.
                    </blockquote>
                    <cite>Srishti Sethi, Developer Advocate, Wikimedia Foundation</cite>
                </div>
            </div>
            <div class="carousel-item">
                <div class="quote d-flex flex-column m-auto">
                    <blockquote>
                        I highly recommend Zulip to other communities.
                        We’re coming from Freenode as our only
                        real-time communication so the difference is
                        night and day. Slack is a no-go for many due
                        to not being FLOSS, and I’m concerned about
                        vendor lock-in if they were to stop being so
                        generous.

                        Slack’s threading model is much worse than
                        Zulip’s IMO. The streams/topics flow is an
                        incredibly intuitive way to keep track of
                        everything that is going on.
                    </blockquote>
                    <cite>RJ Ryan, Mixxx Developer</cite>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#testimonials"
            role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#testimonials"
            role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class='company-logos container'>
        <header>
            <h1 class='text-uppercase'>Trusted by</h1>
        </header>
        <div class="company-box">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="company wikimedia-outreach"></div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="company wildfly"></div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="company mariadb"></div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="company hail"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 col-6">
                    <div class="company infinispan"></div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="company inspire-hep"></div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="company mixxx"></div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="company fhir"></div>
                </div>
              </div>
        </div>
    </div>
</div>

{% endblock %}
