{% extends "zerver/portico.html" %}
{% set entrypoint = "landing-page" %}

{% block title %}
<title>Zulip: The best group chat for your business.</title>
{% endblock %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}

<div class="portico-landing why-page solutions-page">
    <div class="hero bg-education">
        <div class="bg-dimmer"></div>
        <h1 class="center">The best group chat for your business.</h1>
        <p>Make better use of managers’ time, integrate remote workers, and replace low-content meetings.</p>
        <div class="hero-text">
            Zulip is free for light use. Get started today!
        </div>
        <div class="hero-buttons center">
            <a href="/new/" class="button">
                {{ _('Create organization') }}
            </a>
            <a href="/plans/" class="button">
                {{ _('View pricing') }}
            </a>
            <a href="https://zulip.readthedocs.io/en/stable/production/install.html" class="button">
                {{ _('Self-host Zulip') }}
            </a>
        </div>
    </div>
    <div class="main">
        <div class="padded-content">
            <div class="inner-content markdown">
                {{ render_markdown_path('zerver/for/companies.md') }}
            </div>
        </div>
    </div>
    <div class="bottom-register-buttons">
        <h1>
            Zulip is free for light use. Get started today!
        </h1>
        <div class="hero-buttons center">
            <a href="/new/" class="button">
                {{ _('Create organization') }}
            </a>
            <a href="/plans/" class="button">
                {{ _('View pricing') }}
            </a>
            <a href="https://zulip.readthedocs.io/en/stable/production/install.html" class="button">
                {{ _('Self-host Zulip') }}
            </a>
        </div>
    </div>
</div>

{% endblock %}
