{% extends "zerver/portico.html" %}
{% set entrypoint = "landing-page" %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    .portico-page {
        padding-bottom: 0px;
    }

    .landing-footer .row {
        border-top: 4px solid hsl(238, 86%, 71%);
    }
</style>
{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}

<div class="portico-landing hello show">
    <div class="hero d-lg-flex position-relative">
        <div class="container display-lg-flex">
            <div class="w-100">
                <div class="row">
                    <div class="hero-content col-lg-5">
                        <h1>Productive chat for remote teams</h1>
                        <p>The immediacy of real-time chat. The time savings of
                            email threading.
                            Zulip lets you catch up on important conversations
                            while ignoring irrelevant ones.
                        </p>
                        <div class="mt-5">
                            <a href="" class="btn btn-secondary text-uppercase big-try-now">Try now</a>
                            <a href="" class="btn btn-primary text-uppercase watch-video-btn">
                                <i class="fa fa-play"></i>
                                Watch Video
                            </a>
                        </div>
                    </div>
                    <img class="homepage_hero_img col-lg-7" src="/static/images/landing-page/Homepage_Hero.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="introduction-video-section">
        <img class="introduction-video" src="/static/images/landing-page/landing-video.png">
    </div>
    <div class="no-buried-messages feature-section d-lg-flex position-relative">
        <div class="row">
            <img class="threading-1 col-lg-6" src="/static/images/landing-page/Homepage_Threading1.svg" />
            <div class="content col-lg-6">
                <h1>No more buried messages</h1>
                <p>
                    Zulip's “threaded” model arranges your messages by specific conversations and topics, saving you time and helping you focus.
                </p>
                <div class="mt-5">
                    <a href="" class="btn btn-primary text-uppercase
                        transparent-more-btn">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="asynchronous-conversations feature-section d-lg-flex position-relative">
        <div class="row">
            <img class="homepage_hero_img mobile-visible col-lg-8" src="/static/images/landing-page/Homepage_AsynchronousConvo.svg" />
            <div class="content col-lg-4">
                <h1>Truly asynchronous conversations</h1>
                <p>
                    Using Zulip makes organizations more productive.
                </p>
                <div class="mt-5">
                    <a href="" class="btn btn-primary text-uppercase
                    transparent-more-btn">See more</a>
                </div>
            </div>
            <img class="homepage_hero_img desktop-visible col-lg-8" src="/static/images/landing-page/Homepage_AsynchronousConvo.svg" />
        </div>
    </div>
    <div class="open-source d-lg-flex feature-section position-relative">
        <div class="row">
            <img class="threading-1 col-lg-6" src="/static/images/landing-page/Homepage_OpenSource.svg" />
            <div class="content col-lg-6">
                <h1>Open source — not open core</h1>
                <p>
                    Zulip is 100% open-source software.
                </p>
                <div class="mt-5">
                    <a href="" class="btn btn-primary text-uppercase
                        transparent-more-btn">Join Community</a>
                </div>
            </div>
        </div>
    </div>
    <div class="apps-section bg-purple">
        <div class="container align-center">
            <h1>Ready to get started?</h1>
            <h2>Apps for every platform</h2>
            <div class="mt-5">
                <a href="" class="btn btn-secondary text-uppercase apps-try-now">Try now</a>
            </div>
        </div>
    </div>
    <div class="integrations-section d-lg-flex">
        <div class="row">
            <div class="content col-lg-6">
                <h1>Seamless integration with everything you use</h1>
                <p>
                    Zulip provides over 90 native integrations. Hundreds more are available through Hubot, Zapier, and IFTTT.
                </p>
                <div class="mt-4">
                    <a href="/integrations" class="btn btn-secondary text-uppercase big-try-now apps-try-now">See all integrations</a>
                </div>
            </div>
        </div>
    </div>
    <div id="testimonials" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#testimonials" data-slide-to="0" class="active"></li>
            <li data-target="#testimonials" data-slide-to="1"></li>
            <li data-target="#testimonials" data-slide-to="2"></li>
          </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="quote d-flex flex-column m-auto">
                    <blockquote>
                        Zulip&rsquo;s unique threading saves me well
                        over an hour a day in working with our
                        distributed team of engineers and PMs
                        across 7+ time zones. We tried Slack,
                        Mattermost, and other team chat
                        products that claim to support
                        threading, and nothing handles
                        synchronous and asynchronous
                        communication so intuitively.
                    </blockquote>
                    <cite>Jacinda Shelly, CTO, Doctor on Demand</cite>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000">
                <div class="quote d-flex flex-column m-auto">
                    <blockquote>
                        Akamai’s Zulip Enterprise deployment
                        connects over 2000 users around the planet.
                        The threading model of conversations
                        provides a large number of participants the
                        ability to engage in real, ongoing, and
                        substantive discussions, without the
                        overwhelming experience of many other chat
                        systems. This coordination across far-flung
                        teams has had a significant, positive impact
                        on the happiness and productivity of our
                        personnel, regardless of location or
                        seniority.
                    </blockquote>
                    <cite>Andy Ellis, Chief Security Officer, Akamai</cite>
                </div>
            </div>
            <div class="carousel-item">
                <div class="quote d-flex flex-column m-auto">
                    <blockquote>
                        Choosing Zulip over Slack as our group chat is one
                        of the best decisions we’ve ever made. Zulip makes
                        it easy for our community of 1000 Recursers around
                        the world to stay involved, even years after their
                        batches finish. No other tool has a user
                        experience that scales to a community of our
                        size.
                    </blockquote>
                    <cite>Nick Bergson-Shilcock, founder and CEO, Recurse Center</cite>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#testimonials"
            role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#testimonials"
            role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class='company-logos container'>
        <header>
            <h1 class='text-uppercase'>Trusted by</h1>
        </header>
        <div class="company-box">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="company akamai"></div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="company wikimedia-outreach"></div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="company doctorondemand"></div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="company mariadb"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 col-6">
                    <div class="company levelup"></div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="company recurse"></div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="company cmt"></div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="company layershift"></div>
                </div>
              </div>
        </div>
    </div>
    <div class="apps-section">
        <div class="container align-center">
            <h1>Ready to get started?</h1>
            <h2>Apps for every platform</h2>
            <div class="mt-5">
                <a href="" class="btn btn-secondary text-uppercase apps-try-now">Try now</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
