{% extends "zerver/portico.html" %}

{% block title %}
<title>Zulip: the best group chat for open source projects</title>
{% endblock %}

{% block customhead %}
{{ super() }}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% stylesheet 'portico' %}
{% stylesheet 'landing-page' %}
{{ render_bundle('landing-page') }}

{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}

<div class="portico-landing page">
    <div class="hero bg-pycon">
        <div class="bg-dimmer"></div>
        <div class="content">
            <h1>About the Zulip project</h1>
            <p>Learn about the history of the Zulip project and community!</p>
        </div>
    </div>
    <div class="main">
        <div class="photo-description">
            Developers contributing to Zulip at the PyCon 2017
            sprints in Portland, Oregon.  Over 75 people
            sprinted on Zulip during the 4-day event!
        </div>
        {{ render_markdown_path('zerver/history.md', {"zulip_version": zulip_version}) }}
    </div>
</div>

{% endblock %}
