<div id="overlay">
  <div class="image-preview">
    <div class="exit">x</div>
  </div>
  <div class="image-description">
    <div class="title"></div>
    <div class="user"></div>
  </div>
  <div class="image-actions">
    <a class="button sea-green small-flex open icon" target="_blank">
      <span class="text">Open</span> <span class="icon-vector-external-link"></span>
    </a>
    <a class="button sea-green small-flex download icon" download>
      <span class="text">Download</span> <span class="icon-vector-download"></span>
    </a>
  </div>
</div>
