{% extends "zerver/base.html" %}
{# The app itself. #}
{# Includes some other templates as tabs. #}

{% block page_params %}
{# Insert parameters, which have been encoded with JSONEncoderForHTML. #}
<script type="text/javascript">
{% autoescape off %}
var page_params = {{ page_params }};
{% endautoescape %}
</script>
{% endblock %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<link href="/static/images/logo/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
<style type="text/css">

#css-loading {
    background: white;
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 10px;
    top: 0px;
    left: 0px;
}

</style>

{% if nofontface %}
{# We can't use @font-face on qtwebkit, so use differently minified CSS #}
{% stylesheet 'app-fontcompat' %}
{% else %}
{% stylesheet 'app' %}
{% endif %}
{{ minified_js('app')|safe }}

{% if not pipeline %}
<script type="text/javascript" src="/webpack/bundle.js"></script>
{% endif %}

{% if debug %}
{{ minified_js('app_debug')|safe }}
{% endif %}

{% endblock %}
{% block content %}
<div id="css-loading">
    <h3>{{ _('Loading') }}...</h3>
    <p>{{ _('If this message does not go away, please wait a couple seconds and') }} <a href="javascript:location.reload(true)">{{ _('reload') }}</a> {{ _('the page') }}.</p>
</div>

<div id="top-screen" class="screen"></div>
<div id="bottom-screen" class="screen"></div>
<div id="left-screen" class="screen"></div>
<div id="right-screen" class="screen"></div>
<div id="clear-screen" class="screen"></div>

{% include "zerver/navbar.html" %}

<div class="fixed-app">
  <div class="app-main">
    <div class="column-middle column-overlay">
        <div id="tab_bar_underpadding"></div>
    </div>
  </div>
</div>

<div class="app">
<div class="app-main">
    <div class="column-left">
          {% include "zerver/left-sidebar.html" %}
    </div>
    <div class="column-middle">
        <div class="column-middle-inner tab-content">
            <div class="tab-pane active" id="home">
            <div class="fixed-app" id="floating_recipient_bar">
              <div class="app-main recipient_bar_content">
                <div class="column-middle column-overlay recipient-bar-main">
                    <div class="floating_recipient">
                      <div style="display: none;" id="current_label_stream" class="recipient_row">
                       <div class="message_label_clickable message_header message_header_stream right_part"></div>
                      </div>
                      <div style="display: none;" id="current_label_private_message" class="recipient_row">
                        <div class="message_label_clickable message_header message_header_private_message right_part"></div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div id="alert-bar-container" class="alert-bar-container" style='display: none;'>
              <div id="alert-bar" class="alert-bar">
                <div id="alert-bar-contents" class="alert-bar-contents">
                  <div id="custom-alert-bar-content"></div>
                  <i class="icon-vector-remove close-alert-icon"></i>
                </div>
              </div>
            </div>
                {% include "zerver/home.html" %}
            </div>
            <div class="tab-pane" id="subscriptions">
                {% include "zerver/subscriptions.html" %}
            </div>
            <div class="tab-pane" id="administration">
            </div>
            <div class="tab-pane" id="settings">
            </div>

            {% if show_debug %}
            <div class="tab-pane" id="debug">
                {% include "zerver/debug.html" %}
            </div>
            {% endif %}
        </div><!--/tab-content-->
    </div>
    <div class="column-right">
          {% include "zerver/right-sidebar.html" %}
    </div><!--/right sidebar-->
</div><!--/row-->
    {% include "zerver/keyboard_shortcuts.html" %}
    {% include "zerver/search_operators.html" %}
    {% include "zerver/markdown_help.html" %}
    {% include "zerver/invite_user.html" %}
    {% include "zerver/bankruptcy.html" %}
    {% include "zerver/logout.html" %}
    {% include "zerver/tutorial_finale.html" %}
    <div class='notifications top-right'></div>
</div>
{% endblock %}
