{% extends "zerver/portico.html" %}

{# A landing page for the first user in a realm, prompting her to invite her colleages. #}

{% block for_you %}for {{company_name}} {% endblock %}

{% block customhead %}
    {{ super() }}
    {{ minified_js('initial_invite')|safe }}

        <script type="text/javascript">
        var invite_suffix = "{{invite_suffix}}";
        </script>

{% endblock %}

{% block portico_content %}

<h1 style="margin-top:30px;">{{ _("You're the first one here!")|safe }}</h1>
<p>
  {{ _("Let's invite some folks for you to chat with") }}:
</p>
{% if development_environment %}
    <div class="alert alert-info" style="display:inline-block;">{{ _("In the Zulip development environment, outgoing emails are printed to the run-dev.py console") }}</div>
{% endif %}
<div id="invite_rows">
    <form id="invite_form">
    {{ csrf_input }}
    <div class="invite_row"><input name="email_1" class="invite_email" type={% if not invite_suffix %}"email"{% else %}"text"{% endif %} /> {% if invite_suffix %}@{{invite_suffix}}{% endif %}</div>
        <p id="invite_blurb">({{ _("We'll email invitations to them") }})</p>
    <div class="alert" id="invite_error" style="display: none;">
    </div>
    <button id="submit_invitation" class="btn btn-primary" data-loading-text="Next">{{ _('Next') }} »</button>
    </form>
</div>
{% endblock %}
