{% extends "zerver/portico.html" %}

{% block title %}
<title>{{ _("Invalid email") }} | Zulip</title>
{% endblock %}

{% block portico_content %}
<div class="app portico-page">
    <div class="app-main portico-page-container center-block flex full-page account-creation new-style">
        <div class="inline-block">
            <div class="get-started">
                {% if invalid_email %}
                <h1>{{ _("Invalid email") }}</h1>
                {% else %}
                <h1>{{ _("Email not allowed") }}</h1>
                {% endif %}
            </div>
            <div class="white-box">
                <p>
                    {% if invalid_email %}
                        {{ _("The email address you are trying to sign up with is not valid.") }}
                    {% endif %}
                    {% if closed_domain %}
                        {% trans %}The organization you are trying to join, <a href="{{ realm_uri }}">{{ realm_name }}</a>, does not allow signups using emails with your email domain.{% endtrans %}
                    {% endif %}
                    {% if disposable_emails_not_allowed %}
                        {% trans %}The organization you are trying to join, <a href="{{ realm_uri }}">{{ realm_name }}</a>, does not allow signups using disposable email addresses.{% endtrans %}
                    {% endif %}
                    {% if email_contains_plus %}
                        {% trans %}The organization you are trying to join, <a href="{{ realm_uri }}">{{ realm_name }}</a>, does not allow signups using emails that contain "+".{% endtrans %}
                    {% endif %}
                    {% if invalid_email %}
                    {{ _("Please sign up using a valid email address.") }}
                    {% else %}
                    {{ _("Please sign up using an allowed email address.") }}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
