<nav>
    <div class="clear-float"></div>
    <div class="stripes"></div>
    <div class="faded"></div>
    <div class="faded-light"></div>
    <div class="content">
        <a class="brand logo" href="{{ server_uri }}">
            <svg class="brand-logo" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 40 40" version="1.1">
                <g transform="translate(-297.14285,-466.64792)">
                <circle cx="317.14285" cy="486.64792" r="19.030317" style="fill:#fff;stroke-width:1.93936479;stroke:transparent"></circle>
                <path d="m309.24286 477.14791 14.2 0 1.6 3.9-11.2 11.9 9.6 0 1.6 3.2-14.2 0-1.6-3.9 11.2-11.9-9.6 0z" style="fill:#52c2af;stroke:#52c2af"></path>
                </g>
            </svg>
            <span>Zulip</span>
        </a>
        <ul>
            <li on-page="hello">
                <a class="no-style" href="/hello/">Home</a>
            </li>
            <li on-page="features">
                <a class="no-style" href="/features/">Features</a>
            </li>
            <li on-page="apps">
                <a class="no-style" href="/apps/">Apps</a>
            </li>
            <li on-page="integrations">
                <a class="no-style" href="/integrations/">Integrations</a>
            </li>
            <li on-page="help">
                <a class="no-style" href="/help/">Help Center</a>
            </li>
            <li>
                <a class="no-style" href="/login/">Login</a>
            </li>
            <li>
                <a class="no-style" href="/register/">Register</a>
            </li>
        </ul>
        <div class="clear-float"></div>
    </div>
    <svg height="32px" id="hamburger" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
</nav>
