{% if not isolated_page %}
{% if landing_page_navbar_message %}
<div id="navbar-custom-message">
    {{ landing_page_navbar_message |safe }}
</div>
{% endif %}
{% endif %}

{% if not isolated_page %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/static/images/logo/zulip-org-logo.svg" alt="zulip-org-logo" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Features</a>
              <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Overview</a>
                <a class="dropdown-item" href="#">Integrations</a>
                <a class="dropdown-item" href="#">Rest API</a>
                <a class="dropdown-item" href="#">Security</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solutions</a>
                <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/for/open-source/">OS Communities</a>
                    <a class="dropdown-item" href="/for/companies/">Enterprise</a>
                    <a class="dropdown-item" href="/for/working-groups-and-communities/">Working Groups</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/plans" id="navbarDropdown" role="button" aria-expanded="false">Pricing</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community</a>
                <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/community">Get Involved</a>
                  <a class="dropdown-item" href="#">Help Center</a>
                  <a class="dropdown-item" href="#">API</a>
                  <a class="dropdown-item" href="#">Forums</a>
                  <a class="dropdown-item" href="#">Github</a>
                  <a class="dropdown-item" href="#">Support</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/apps" id="navbarDropdown" role="button" aria-expanded="false">Apps</a>
              </li>
          </ul>
          <a class="btn btn-sm btn-secondary mt-3 mt-lg-0 d-block d-lg-inline-block try-now-nav" href="#">Try now</a>
        </div>
    </div>
</nav>
{% endif %}
