          <div class="row-fluid">
            <div class="span2 sidebar-nav affix" id="left-sidebar">
              <div class="upper_sidebar">
                <div class="brand">
                  <div class="gravatar-profile"
                       style="background-image: url('{{ avatar_url }}&s=70');"></div>
                    <span id="my_information">
                      <span class="my_fullname">{{ user_profile.full_name }}</span><br />
                      <span class="my_email">{{ user_profile.email }}</span>
                    </span>
                  </div>
              </div>
              <div class="bottom_sidebar">
                      <ul id="global_filters" class="filters">
                          {# Special-case this link so we don't actually go to page top. #}
                          <li data-name="home"
                          class="active-filter"><i class="icon-vector-home"></i> <a href="#">Home <span class="count">(<span class="value"></span>)</span></a></li>
                          <li data-name="all" class="hidden-filter"><i class="icon-vector-list"></i> <a href="#narrow/in/all">All messages <span class="count">(<span class="value"></span>)</span></a></li>
                          <li data-name="private"><i class="icon-vector-user"></i> <a href="#narrow/is/private">Private messages <span class="count">(<span class="value"></span>)</span></a></li>
                          <li data-name="starred"><i class="icon-vector-star"></i> <a href="#narrow/is/starred">Starred messages</a></li>
                          <li data-name="mentioned"><i class="icon-vector-tag"></i> <a href="#narrow/is/mentioned">@-mentions<span class="count">(<span class="value"></span>)</span></a></li>
                      </ul>
                      <div id="streams_list">
                        <div id="streams_header"><h4 class="streams_title">STREAMS</h4>
                          <a href=""><i id="streams_inline_cog" class='icon-vector-cog' data-toggle="tooltip" title="Subscribe, add, or configure streams"></i></a>
                        </div>
                        <ul id="stream_filters" class="filters scrolling_list"></ul>
                      </div>
              </div>
            </div>
          </div>
