{% load i18n %}
          <div class="left-sidebar" id="left-sidebar">
              <div class="bottom_sidebar">
                      <ul id="global_filters" class="filters">
                          {# Special-case this link so we don't actually go to page top. #}
                          <li data-name="home"
                          class="global-filter active-filter"><span class="filter-icon"><i class="icon-vector-home"></i></span><a href="#">{% trans 'Home' %} <span class="count"><span class="value"></span></span></a></li>
                          <li data-name="private" class="global-filter"><span class="filter-icon"><i class="icon-vector-user"></i></span><a href="#narrow/is/private">{% trans 'Private messages' %} <span class="count"><span class="value"></span></span></a></li>
                          <li data-name="starred" class="global-filter"><span class="filter-icon"><i class="icon-vector-star"></i></span><a href="#narrow/is/starred">{% trans 'Starred messages' %}</a></li>
                          <li data-name="mentioned" class="global-filter"><span class="filter-icon"><i class="icon-vector-tag"></i></span><a href="#narrow/is/mentioned">{% trans '@-mentions' %}<span class="count"><span class="value"></span></span></a></li>
                      </ul>
                      <div id="streams_list" class="zoom-out">
                        <div id="streams_header" class="zoom-in-hide"><h4 class="sidebar-title">{% trans 'STREAMS' %}</h4>
                          <a href=""><i id="streams_inline_cog" class='icon-vector-cog' data-toggle="tooltip" title="Subscribe, add, or configure streams"></i></a>
                        </div>
                        <div id="topics_header">
                          <div class="all-streams-padding">
                            <ul class="filters">
                              <li data-name="all-streams">
                                <i class="icon-vector-chevron-left"></i> <a href="" class="show-all-streams">{% trans 'All streams' %}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div id="stream-filters-container" class="scrolling_list">
                           <ul id="stream_filters" class="filters"></ul>
                        </div>
                      </div>
                      <div id="share-the-love">
                        <div id="share-the-love-expand-collapse">
                          <i class="toggle icon-vector-caret-right"></i><div id="sharethelove-header"><h4 class="share-the-love-title">{% trans 'SHARE THE LOVE' %}<span class="still-have-invites"> (<span class="invite-count">0</span>)</span></h4></div>
                        </div>
                        <div id="share-the-love-contents">
                          <div id="tell-a-friend-success" class="alert alert-success">
                            <strong>{% trans 'Thanks!' %}</strong> {% trans 'A hand-crafted, artisanal invite is on the way' %}.
                          </div>
                          <div class="still-have-invites" id="encouraging-invite-message">
                            <p>
                              {% trans "Know someone who would love Zulip for their company or group? Invite 'em!" %}
                            </p>
                          </div>
                          <div class="no-more-invites">
                            <p>
                              {% blocktrans %}We'll have more invites for you soon, but
                              for now, enjoy this <a target="_blank"
                                                     href="http://www.youtube.com/watch?v=PW71En5Pa5s#t=2m01s">song
                                that expresses how we feel when you're
                                logged out</a>.{% endblocktrans %}
                            </p>
                          </div>
                          <div class="still-have-invites">
                            {#  Many of these values are set by the initialization code in referral.js  #}
                            <form id="referral-form">
                              <input class="input-block-level required" type="email" name="email" />
                              <label for="email" generated="true" class="text-error"></label>
                            </form>
                          </div>
                          <div class="invite-count-area">
                            <span id="invite-hearts"></span>
                            <small class="pull-right"><span class="invite-count">0</span> {% trans 'invite' %}<span class="invite-count-is-plural">s</span> {% trans 'remaining' %}</small>
                          </div>
                        </div>
                      </div>
              </div>
          </div>
