<div class="left-sidebar" id="left-sidebar">
    <div class="bottom_sidebar">
        <ul id="global_filters" class="filters">
            {# Special-case this link so we don't actually go to page top. #}
            <li data-name="home" class="global-filter active-filter home-link" title="{{ _('Home') }} (Esc)">
                <a href="#">
                    <span class="filter-icon">
                        <i class="icon-vector-home"></i>
                    </span>
                    {{ _('Home') }}
                    <span class="count">
                        <span class="value"></span>
                    </span>
                </a>
            </li>
            <li data-name="private" class="global-filter" title="{{ _('Private messages') }} (P)">
                <a href="#narrow/is/private">
                    <span class="filter-icon">
                        <i class="icon-vector-envelope"></i>
                    </span>
                    <span>{{ _('Private messages') }}</span>
                    <span class="count">
                        <span class="value"></span>
                    </span>
                </a>
            </li>
            <li data-name="starred" class="global-filter">
                <a href="#narrow/is/starred">
                    <span class="filter-icon">
                        <i class="icon-vector-star"></i>
                    </span>
                    {{ _('Starred messages') }}
                </a>
            </li>
            <li data-name="mentioned" class="global-filter">
                <a href="#narrow/is/mentioned">
                    <span class="filter-icon">
                        <i class="fa fa-at"></i>
                    </span>
                    {{ _('Mentions') }}
                    <span class="count">
                        <span class="value"></span>
                    </span>
                </a>
            </li>
        </ul>
        <div id="streams_list" class="zoom-out">
            <div id="streams_header" class="zoom-in-hide"><h4 class="sidebar-title" data-toggle="tooltip" title="{{ _('Subscribed streams') }}"><a href="">{{ _('STREAMS') }}</a></h4>
                <i id="streams_inline_cog" class='icon-vector-cog' data-toggle="tooltip" title="{{ _('Subscribe, add, or configure streams') }}"></i>
                <i id="streams_filter_icon" class='icon-vector-search' data-toggle="tooltip" title="{{ _('Filter streams') }} (w)"></i>
                <i id="join_unsub_stream" class="icon-vector-plus" data-toggle="tooltip" title="{{ _('Join stream')}}" ></i>
            </div>
            <div id="topics_header">
                <div class="all-streams-padding">
                    <ul class="filters">
                        <li data-name="all-streams">
                            <a href="" class="show-all-streams"> <i class="icon-vector-chevron-left"></i>{{ _('All streams') }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="stream-filters-container" class="scrolling_list">
                <div class="input-append notdisplayed">
                    <input class="stream-list-filter" type="text" placeholder="{{ _('Search streams') }}" />
                    <button type="button" class="btn clear_search_button" id="clear_search_stream_button" disabled="disabled">
                        <i class="icon-vector-remove"></i>
                    </button>
                </div>
                <ul id="stream_filters" class="filters"></ul>
            </div>
        </div>
    </div>
</div>
