          <div class="row-fluid">
            <div class="span2 sidebar-nav affix" id="left-sidebar">
              <div class="upper_sidebar">
                <div class="brand">
                  <div class="gravatar-profile"
                       style="background-image: url('{{ avatar_url }}&s=70');"></div>
                    <span id="my_information">
                      <span class="my_fullname">{{ user_profile.full_name }}</span><br />
                      <span class="my_email">{{ user_profile.email }}</span>
                    </span>
                  </div>
              </div>
              <div class="bottom_sidebar">
                      <ul id="global_filters" class="filters">
                          {# Special-case this link so we don't actually go to page top. #}
                          <li data-name="home"
                          class="active-filter"><i class="icon-vector-home"></i> <a href="#">Home <span class="count">(<span class="value"></span>)</span></a></li>
                          <li data-name="all" class="hidden-filter"><i class="icon-vector-list"></i> <a href="#narrow/in/all">All messages <span class="count">(<span class="value"></span>)</span></a></li>
                          <li data-name="private"><i class="icon-vector-user"></i> <a href="#narrow/is/private">Private messages <span class="count">(<span class="value"></span>)</span></a></li>
                          <li data-name="starred"><i class="icon-vector-star"></i> <a href="#narrow/is/starred">Starred messages</a></li>
                          <li data-name="mentioned"><i class="icon-vector-tag"></i> <a href="#narrow/is/mentioned">@-mentions<span class="count">(<span class="value"></span>)</span></a></li>
                      </ul>
                      <div id="streams_list">
                        <div id="streams_header"><h4 class="streams_title">STREAMS</h4>
                          <a href=""><i id="streams_inline_cog" class='icon-vector-cog' data-toggle="tooltip" title="Subscribe, add, or configure streams"></i></a>
                        </div>
                        <ul id="stream_filters" class="filters scrolling_list"></ul>
                      </div>
                      <div id="share-the-love">
                        <div>
                          <h4 class="streams_title">SHARE THE LOVE</h4>
                        </div>
                        <div id="tell-a-friend-success" class="alert alert-success">
                          <strong>Thanks!</strong>
                          <p>Our engineers will artisanally handcraft
                          and send them an invitation.</p>
                        </div>
                        <div id="tell-a-friend-error" class="alert alert-error">
                          Oops.  Something went wrong.  Don't worry,
                          we won't charge you an invite for our mistake.
                        </div>
                        <div class="still-have-invites">
                          {#  Many of these values are set by the initialization code in referral.js  #}
                          <form id="referral-form">
                            <input class="input-block-level" type="email" name="email" />
                          </form>
                        </div>
                        <div class="invite-count-area">
                          <span id="invite-hearts"></span>
                          <small class="pull-right"><span class="invite-count">0</span> invite<span class="invite-count-is-plural">s</span> remaining</small>
                        </div>
                        <div class="still-have-invites" id="encouraging-invite-message">
                          <p>
                            Know someone who would love Zulip for their company or group? Invite 'em!
                          </p>
                        </div>
                        <div class="no-more-invites">
                          <p>
                            We'll have more invites for you soon, but
                            for now, enjoy this <a target="_blank"
                            href="http://www.youtube.com/watch?v=PW71En5Pa5s#t=2m01s">song
                            that expresses how we feel when you're
                            logged out</a>.
                          </p>
                        </div>
                      </div>
              </div>
            </div>
          </div>
