<div id="lightbox_overlay" class="overlay new-style" data-overlay="lightbox">
    <div class="image-info-wrapper">
        <div class="image-description">
            <div class="title"></div>
            <div class="user"></div>
        </div>
        <div class="exit">x</div>
        <div class="image-actions">
            <a class="button small open icon" target="_blank">
                <span class="text">Open</span>
            </a>
            <a class="button small download icon" download>
                <span class="text">Download</span>
            </a>
        </div>
        <div class="clear-float"></div>
    </div>

    <div class="image-preview overlay-content"></div>
    <div class="player-container"></div>
    <div class="center">
        <div class="arrow no-select" data-direction="prev">&lt;</div>
        <div class="image-list"></div>
        <div class="arrow no-select" data-direction="next">&gt;</div>
    </div>
</div>
