<div class="modal hide" id="message-edit-history" tabindex="-1" role="dialog"
    aria-labelledby="message-history-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="message-history-label">{{ _('Message edit history') }}</h3>
    </div>
    <div class="modal-body">
        <div id="message-history-error"></div>
        <div class="controls" id="message-history"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" id="message-history-cancel" data-dismiss="modal" aria-hidden="true">{{ _("Close") }}</button>
    </div>
</div>
