<!-- Google / Search Engine Tags -->
{% if allow_search_engine_indexing %}
<meta name="description" content="Zulip combines the immediacy of real-time chat with an email threading model. With Zulip, you can catch up on important conversations while ignoring irrelevant ones.">
{% else %}
<meta name="robots" content="noindex,nofollow">
{% endif %}

<!-- Open Graph / Facebook Meta Tags -->
<meta property="og:url" content="{{ realm_uri }}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Zulip">
{% if OPEN_GRAPH_TITLE %}
<meta property="og:title" content="{{ OPEN_GRAPH_TITLE }}">
<meta property="og:description" content="{{ OPEN_GRAPH_DESCRIPTION }}">
{% else %}
<meta property="og:title" content="The world's most productive team chat">
<meta property="og:description" content="Zulip combines the immediacy of real-time chat with an email threading model. With Zulip, you can catch up on important conversations while ignoring irrelevant ones.">
{% endif %}
<meta property="og:image" content="{{ realm_uri }}/static/images/logo/zulip-icon-128x128.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary">
{% if OPEN_GRAPH_TITLE %}
<meta property="twitter:title" content="{{ OPEN_GRAPH_TITLE }}">
<meta name="twitter:description" content="{{ OPEN_GRAPH_DESCRIPTION }}">
{% else %}
<meta property="twitter:title" content="The world's most productive team chat">
<meta name="twitter:description" content="Zulip combines the immediacy of real-time chat with an email threading model. With Zulip, you can catch up on important conversations while ignoring irrelevant ones.">
{% endif %}

<meta name="twitter:image" content="{{ realm_uri }}/static/images/logo/zulip-icon-128x128.png">
