<p id="new-user-email-address-visibility">
    <input type="hidden" name="email_address_visibility" id="email_address_visibility"/>
    <span class="current-selected-option">
        {% if default_email_address_visibility == email_address_visibility_admins_only %}
            {% trans %}Administrators will be able to see this email address.
            {% endtrans %}
        {% elif default_email_address_visibility == email_address_visibility_moderators %}
            {% trans %}Administrators and moderators will be able to see this email address.
            {% endtrans %}
        {% elif default_email_address_visibility == email_address_visibility_nobody %}
            {% trans %}Nobody will be able to see this email address.
            {% endtrans %}
        {% else %}
            {% trans %}Other users will be able to see this email address.
            {% endtrans %}
        {% endif %}
    </span>
    <a target="_blank" class="change_email_address_visibility" rel="noopener noreferrer">{{ _('Change') }}</a>
</p>
