{% extends "zerver/portico.html" %}
{% set entrypoint = "landing-page" %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block portico_content %}

{% include 'zerver/gradients.html' %}
{% include 'zerver/landing_nav.html' %}

<div class="portico-landing plans">
    <div class="main">
        {% include "zerver/pricing_model.html" %}
    </div>

    <div class="discounts-section">
        <header>
            <h1>Special Zulip Cloud Standard pricing</h1>
        </header>
        <div class="register-buttons">
            <a href="/for/open-source" class="register-now button">Open source <p>Free</p></a>
            <a href="/for/education" class="register-now button">Education <p>85%+ OFF</p></a>
            <a href="/for/research" class="register-now button">Research <p>Free</p></a>
            <a href="/for/events" class="register-now button">Academic conferences<p>Free</p></a>
            <a href="/for/communities" class="register-now button">Non-profits and communities <p>85%+ OFF</p></a>
        </div>
    </div>
    {% include "zerver/faq.html" %}
    {% include "zerver/compare.html" %}
</div>
{% endblock %}
