{% extends "zerver/base.html" %}

{% load compressed %}

{% comment %}
A base template for stuff like login, register, etc.

Not inside the app itself, but covered by the same structure,
hence the name.
{% endcomment %}

    {% block customhead %}
    {% compressed_css 'portico' %}
    {% endblock %}

{% block content %}
<div class="header">
<div class="header-main" id="top_navbar">
  <div class="column-left">
        <div>
          <a class="brand logo" href="/"><img src="/static/images/logo/zulip-dropbox.png" class="portico-logo" alt="Zulip" content="Zulip" /></a>
        </div>
  </div>

  <div class="column-right top-links">
          {% if not only_sso %}
          <a href="{{login_url}}">Log in</a>
          {% endif %}

          {% if not_enterprise %}
          <a href="{% url 'signup' %}">Sign up</a>
          {% elif only_sso %}
          <a href="{% url 'login-sso' %}">Log In</a>
          {% else %}
          <a href="{% url 'register' %}">Register</a>
          {% endif %}
  </div>
</div>
</div>

<div class="app portico-page">
  <div class="app-main portico-page-container{% block hello_page_container %}{% endblock %}">
  {% block portico_content %}
  {% endblock %}
  </div>
  <div class="footer-padder{% block hello_page_footer %}{% endblock %}"></div>
</div>

<div class="footer">
  <div class="footer-main">
    <ul class="footer-navigation">
      <li>© 2013-2014 Zulip, Inc.</li>
      {% if not_enterpise %}
      <li><span class="little-bullet">·</span></li>
      <li><a href="/terms">Legal</a></li>
      {% endif %}
      <li><span class="little-bullet">·</span></li>
      <li><a href="{{login_url}}">Log in</a></li>
      {% if not only_sso %}
      <li><span class="little-bullet">·</span></li>
      <li>
          {% if not_enterprise %}
          <a href="{% url 'signup' %}">Sign up</a>
          {% else %}
          <a href="{% url 'register' %}">Sign up</a>
          {% endif %}
      </li>
      {% endif %}
      {# We only want the mixpanel badge on the front page #}
      {% block mixpanel_badge %}
      {% endblock %}
    </ul>
  </div>
</div>
{% endblock %}
