{% extends "zerver/base.html" %}
{% set entrypoint = entrypoint|default("portico") %}

{# A base template for stuff like login, register, etc.

Not inside the app itself, but covered by the same structure,
hence the name.
#}

{% block content %}
<div class="portico-container" data-platform="{{ platform }}">
    <div class="portico-wrap">
        {% if not isolated_page %}
        {% include 'zerver/portico-header.html' %}
        {% endif %}
        <div class="app portico-page {% block portico_class_name %}{% endblock %}">
            <div class="app-main portico-page-container{% block hello_page_container %}{% endblock %}">
                {% block portico_content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="blueslip-error-container"></div>
    {% if not isolated_page and not skip_footer %}
    {% include 'zerver/footer.html' %}
    {% endif %}
</div>
{% endblock %}
