<div class="dropdown">
    <img class="header-realm-icon" src="{{ realm_icon }}" alt="{{ _('Go to Zulip') }}"/>
    <ul>
        <li>
            <a class="no-style" href="/">
                <i class="icon-vector-home"></i>
                Go home
            </a>
        </li>
        <li>
            {% include 'zerver/logout.html' %}
            <a class="no-style" href="#logout">
                <span class="logout">
                    <i class="icon-vector-off"></i>
                    Log out
                </span>
            </a>
        </li>
    </ul>
</div>
