<div class="dropdown">
    <div class="dropdown-pill">
        <img class="header-realm-icon" src="{{ realm_icon }}" alt="{{ _('Go to Zulip') }}"/>
        <div class="realm-name">{{ realm_name }}<i class="fa fa-chevron-down"></i></div>
    </div>
    <ul>
        <li>
            <a href="/">
                <i class="icon-vector-home"></i>
                Go home
            </a>
        </li>
        <li>
            {% include 'zerver/logout.html' %}
            <a href="#logout">
                <span class="logout">
                    <i class="icon-vector-off"></i>
                    Log out
                </span>
            </a>
        </li>
    </ul>
</div>
