{% extends "zerver/portico.html" %}

{# Privacy policy. #}

{% block portico_content %}

<div class="app terms-page">
    <div class="app-main terms-page-container">

        {% if privacy_policy %}
            {{ privacy_policy|render_markdown_path }}
        {% else %}
            {% trans %}This Zulip server does not have a configured <strong>privacy policy</strong>.
            Contact administrator <a href="mailto:{{ zulip_admin }}">{{ zulip_admin }}</a>
            for information.
            {% endtrans %}
        {% endif %}
    </div>
</div>

{% endblock %}
