{% extends "zerver/portico.html" %}

{% block title %}
<title>{{ _("Rate limit exceeded") }} | Zulip</title>
{% endblock %}

{% block portico_content %}

<div class="error_page">
    <div class="container">
        <div class="row-fluid">
            <img src="{{ static('images/errors/500art.svg') }}" alt=""/>
            <div class="errorbox">
                <div class="errorcontent">
                    <h1 class="lead">{{ _("Rate limit exceeded.") }}</h1>
                    <p>
                        {% trans %}You have exceeded the limit for how
                        often a user can perform this action.{% endtrans %}
                        {% trans %}You can try again in {{retry_after}} seconds.{% endtrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
