{% extends "zerver/portico.html" %}

{% block title %}
<title>{{ _("Organization creation link expired or invalid") }} | Zulip</title>
{% endblock %}

{% block portico_content %}
<div class="error_page">
    <div class="container">
        <div class="row-fluid">
            <img class="hourglass-img" src="{{ static('images/errors/timeout_hourglass.png') }}" alt=""/>
            <div class="errorbox">
                <div class="errorcontent">
                    <h1 class="lead">{{ _("Organization creation link expired or invalid") }}</h1>
                    <p>
                        {% trans %}
                        Unfortunately, this is not a valid link for creating an organization. Please <a href="/new/">obtain a new link</a> and try again.
                        {% endtrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
