{% extends "zerver/portico.html" %}

{% block title %}
<title>{{ _("Organization creation link required") }} | Zulip</title>
{% endblock %}

{% block portico_content %}
<div class="error_page">
    <div class="container row-fluid">
        <img src="{{ static('images/errors/500art.svg') }}" alt=""/>
        <div class="errorbox">
            <div class="errorcontent">
                <h1 class="lead">{{ _("Organization creation link required") }}</h1>
                <p>
                    {% trans %}
                    Creating a new organization on this server requires a valid organization creation link.
                    Please see <a href="https://zulip.readthedocs.io/en/stable/production/multiple-organizations.html">documentation</a> on creating a new organization for more information.
                    {% endtrans %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
