{% extends "zerver/portico.html" %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ render_bundle('landing-page') }}

{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}

<div class="portico-landing why-page">
    <div class="hero small-hero">
        <h1 class="center">{{ message }}</h1>
    </div>
    <div class="main">
        <div class="padded-content">
            <div class="inner-content">
                <p>{{ _('This server does not allow members of the public to create new organizations.') }}</p>
                <p>
                    {% trans %}
                    Zulip is open source, so you
                    can <a href="https://zulip.readthedocs.io/en/stable/production/install.html">install
                    your own Zulip server</a> or create a new
                    organization on
                    <a href="https://zulipchat.com">Zulip Cloud</a>
                    {% endtrans %}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
