{% extends "zerver/portico_signup.html" %}
{#
Gather other user information, after having confirmed
their email address.

Form is validated both client-side using jquery-validate (see signup.js) and server-side.
#}

{% block customhead %}
{{ super() }}
{{ minified_js('zxcvbn')|safe }}
{% endblock %}

{% block portico_content %}
<div class="center-container">
  <div class="center-block" style="padding: 20px 0px">
    <div class="pitch">
        {% trans %}
        <h1>You're almost there.</h1>
        <p>
          We just need you to do one last thing.
        </p>
        {% endtrans %}
    </div>

    <form method="post" class="form-horizontal" id="registration" action="{{ url('zerver.views.registration.accounts_register') }}">
    {{ csrf_input }}
        <div class="input-group grid">
            <label for="id_email" class="inline-block label-title">{{ _('Email') }}</label>
            <input type='hidden' name='key' value='{{ key }}' />
            <input id="id_email" type='text' disabled="true" placeholder="{{ email }}" />
        </div>

        <div class="input-group grid">
            <label for="id_full_name" class="inline-block label-title">{{ _('Full name') }}</label>
            {% if lock_name %}
                <p class="fakecontrol">{{ full_name }}</p>
            {% else %}
                <input id="id_full_name" class="required" type="text" name="full_name" placeholder='{{ "Wile E. Coyote" }}'
                value="{% if full_name %}{{ full_name }}{% elif form.full_name.value() %}{{ form.full_name.value() }}{% endif %}"
                    maxlength="100" />
                {% if form.full_name.errors %}
                    {% for error in form.full_name.errors %}
                        <div class="help-inline text-error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>


        {% if password_auth_enabled %}
        <div class="input-group grid">
            <label for="id_password" class="inline-block">{{ _('Password') }}</label>
            <input id="id_password" class="required" type="password" name="password"
                   value="{% if form.password.value() %}{{ form.password.value() }}{% endif %}"
                   maxlength="100"
                   data-min-length="{{password_min_length}}"
                   data-min-quality="{{password_min_quality}}"/>
            {% if full_name %}
            <span class="help-inline">
              {{ _('This is used for mobile applications and other tools that require a password.') }}
            </span>
            {% endif %}
            {% if form.password.errors %}
            {% for error in form.password.errors %}
            <div class="help-inline text-error">{{ error }}</div>
            {% endfor %}
            {% endif %}
            <br />
            <label class="inline-block"></label>
            <div class="progress" id="pw_strength" title="{{ _('Password strength') }}">
                <div class="bar bar-danger" style="width: 10%;"></div>
            </div>
        </div>
        {% endif %}

        {% if creating_new_team %}
        <div class="input-group grid">
            <label for="id_team_name" class="inline-block label-title">{{ _('Organization name') }}</label>
            <input id="id_team_name" class="required" type="text"
                placeholder="Acme"
                value="{% if form.realm_name.value() %}{{ form.realm_name.value() }}{% endif %}"
                name="realm_name" maxlength="100" />
                {% if form.realm_name.errors %}
                    {% for error in form.realm_name.errors %}
                        <div class="help-inline text-error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            <div class="help-box">
                {{ _('This can be changed later on the settings page.') }}
            </div>
        </div>

        <div class="input-group grid">
            <label for="id_team_subdomain" class="inline-block label-title">
                {% if realms_have_subdomains %}
                    {{ _('Subdomain') }}
                {% else %}
                    {{ _('Short name') }}
                {% endif %}
            </label>
            <div class="breakpoint">
                <input id="id_team_subdomain" class="required" type="text"
                    placeholder="acme"
                    value="{% if form.realm_subdomain.value() %}{{ form.realm_subdomain.value() }}{% endif %}"
                    name="realm_subdomain" maxlength="40" />
                {% if realms_have_subdomains %}
                <b> .{{ external_host }}</b>
                {% endif %}
                    {% if form.realm_subdomain.errors %}
                        {% for error in form.realm_subdomain.errors %}
                            <div class="help-inline text-error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
            </div>
            <div class="help-box">
                {% if realms_have_subdomains %}
                    {{ _("The address you'll use to sign in to your organization.") }}
                {% else %}
                    {{ _("A short, unique name for your organization, with no spaces.") }}
                {% endif %}
            </div>
        </div>

        <div class="m-v-20">
          <label for="id_org_type" class="label-title">{{ _('Organization type') }}</label>

          {% for org_type_value, org_type_text in form.realm_org_type.field.choices %}
          <div class="input-group radio">
            <input id="id_radio_{{ org_type_value }}" class="required inline-block" type="radio"
                name="realm_org_type" value="{{ org_type_value }}"
                {% if org_type_value|string == form.realm_org_type.value()|string %} checked {% endif %} />
            <label for="id_radio_{{ org_type_value }}" class="inline-block">{{ org_type_text }}</label>
          </div>
          {% endfor %}
        </div>
        <div class="m-v-20">
          <div class="help-box">
            <div id="org_type_blob_1" class="blob display-none">
              {% trans %}
              Create a corporate organization if your users will be members of the
              same company, where the privacy expectation is that the company's
              organization administrators may need to have access to your users'
              private message history. Zulip features that allow organization
              administrators to take control of accounts or access private message
              history for other users are only available to corporate organizations.
              {% endtrans %}
            </div>
            <div id="org_type_blob_2" class="blob">
              {% trans %}
              Create a community organization for an open source project, social
              group, or other community where the privacy expectation is that you
              and other organization administrators won't have access to your users'
              private message history. Zulip features that allow organization
              administrators to take control of accounts or access private message
              history for other users are disabled in community organizations.
              {% endtrans %}
            </div>
          </div>
        </div>
        {% endif %}

        <div class="input-group margin">
            {% if terms_of_service %}
            <div class="float-left">
                {#
                This is somewhat subtle.
                Checkboxes have a name and value, and when the checkbox is ticked, the form posts
                with name=value. If the checkbox is unticked, the field just isn't present at all.

                This is distinct from 'checked', which determines whether the checkbox appears
                at all. (So, it's not symmetric to the code above.)
                #}
                <input id="id_terms" class="required" type="checkbox" name="terms"
                       {% if form.terms.value() %}checked="checked"{% endif %} />
                <label for="id_terms" class="inline-block">
                  {% trans %}I agree to the <a href="{{ server_uri }}/terms" target="_blank">Terms of Service</a>.{% endtrans %}
                </label>
                {% if form.terms.errors %}
                    {% for error in form.terms.errors %}
                        <div class="help-inline text-error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            {% endif %}
            <div class="submit-button-box float-right">
                <input type="submit" class="button-new sea-green"
                       value="{{ _('Register') }}" /><br />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
    </form>
  </div>
</div>

<script type="text/javascript">
if ($('#id_email:visible').length) {
    autofocus('#id_email');
} else if ($('#id_full_name:visible').length) {
    autofocus('#id_full_name');
}

$("[name=realm_org_type]").on("change", function () {
    $(".blob").hide();
    $("#org_type_blob_" + this.value).show();
});
</script>

{% endblock %}
