{% extends "zerver/portico_signup.html" %}

{% block title %}
<title>{{ _("Password reset email sent") }} | Zulip</title>
{% endblock %}

{% block portico_content %}
<div class="app portico-page new-style full-page split-view flex">
    <div class="app-main portico-page-container account-creation white-box">
        <div class="left-side">
            <div class="login__header">
                <h1 class="get-started">{{ _("Password reset sent!") }}</h1>
                <p>{{ _('Check your email in a few minutes to finish the process.') }}</p>
            </div>
        </div>
        <div class="right-side">
            {% include 'zerver/dev_env_email_access_details.html' %}
            {% include 'zerver/include/back_to_login_component.html' %}
        </div>
    </div>
</div>
{% endblock %}
