          <div class="right-sidebar" id="right-sidebar">
              <div class="alert alert_sidebar alert-error home-error-bar" id="connection-error">
                <strong>Unable to connect to Zulip.</strong>  Updates may be delayed.
                <br /><br /> Retrying soon... <br /><br /> <a class="restart_get_updates_button">Try now</a>.
              </div>
              <div class="alert alert_sidebar alert-error home-error-bar" id="get_old_messages_error">
                <strong>Unable to connect to Zulip.</strong>  Could not fetch messages.
                <br /><br /> Retrying soon... <br /><br />
              </div>
              <div class="alert alert_sidebar alert-error home-error-bar" id="zephyr-mirror-error">
                <strong>Your Zephyr mirror is not working.</strong>
                  <span id="normal-zephyr-mirror-error-text">We
                  recommend that you <a class="webathena_login">give
                  Zulip the ability to mirror the messages for you via
                  WebAthena</a>.  If you'd prefer, you can instead
                  <a href="/zephyr-mirror" target="_blank">run the Zephyr mirror script yourself</a>
                  in a screen session.</span>
                  <span id="desktop-zephyr-mirror-error-text" class="notdisplayed">To fix
                  this, you'll need
                  to use <a href="https://zephyr.zulip.com">the web interface</a></span>
              </div>
              <div class="alert alert_sidebar alert-error home-error-bar" id="home-error"></div>
              {% if send_to_staging %}
              <div id="staging-warning"class="alert alert_sidebar alert-error">
                <p>This realm uses staging. Please login into
                <a href="https://staging.zulip.com/">staging.zulip.com</a>
                to be part of the conversation.</p>
              </div>
              <script>
              $(function () {
                  if (window.bridge !== undefined) {
                      // Desktop app only supports "prompt", not "alert" or "confirm" :/
                      if (window.prompt("You're currently on the production Zulip server, but everyone else is on the staging server.\n\nPress OK to be redirected there now.\n\nGoing forward, please run Zulip with the following flag to use the staging server:", "--site https://staging.zulip.com") !== null) {
                          window.location.assign("https://staging.zulip.com");
                      }
                  } else {
                      if (window.confirm("You're currently on the production Zulip server, but everyone else is on the staging server. Please use https://staging.zulip.com to use Zulip.\n\nPress OK to be redirected there now.")) {
                        window.location.assign("https://staging.zulip.com");
                      }
                  }
              });
              </script>
              {% endif %}
              <div class="alert alert_sidebar alert-error home-error-bar" id="reloading-application"></div>
              {% if enable_feedback %}
              <div id="feedback_section">
                <button type="button" class="btn btn-default btn-large" id="feedback_button">
                  <i class="icon-vector-comment"></i>&nbsp;&nbsp;Send feedback
                </button>
              </div>
              {% endif %}
              <div id="user-list">
                <div id="userlist-header">
                  <h4 class='sidebar-title' id='userlist-title'>USERS</h4>
                </div>
                 <input class="user-list-filter" type="text" placeholder="Search people" />
                 <ul id="user_presences" class="filters scrolling_list"></ul>
              {% if show_invites %}
                 <a id="invite-user-link" href="#invite-user" data-toggle="modal"><i class="icon-vector-plus-sign"></i>Invite coworkers</a>
              {% endif %}
              </div>
              <div id="group-pm-list">
                <div id="group-pm-header">
                  <h4 class='sidebar-title' id='group-pm-title'>GROUP PMs</h4>
                </div>
                <ul id="group-pms" class="filters scrolling_list">
                </ul>
              </div>
          </div>
