          <div class="right-sidebar" id="right-sidebar">
              <div class="alert alert_sidebar alert-error home-error-bar" id="connection-error">
                <strong>Unable to connect to Zulip.</strong>  Updates may be delayed.
                <br /><br /> Retrying soon... <br /><br /> <a class="restart_get_updates_button">Try now</a>.
              </div>
              <div class="alert alert_sidebar alert-error home-error-bar" id="get_old_messages_error">
                <strong>Unable to connect to Zulip.</strong>  Could not fetch messages.
                <br /><br /> Retrying soon... <br /><br />
              </div>
              <div class="alert alert_sidebar alert-error home-error-bar" id="zephyr-mirror-error">
                <strong>Messages you send are not being mirrored to MIT
                  zephyr</strong> &mdash; Please check
                that <a href="/zephyr#mirror">you are running the Zephyr mirror
                  script</a>. Once you've corrected this
                issue, you can <a class="restart_get_updates_button">click
                  here</a> to update this alert.
              </div>
              <div class="alert alert_sidebar alert-error home-error-bar" id="home-error"></div>
              <div class="alert alert_sidebar alert-error home-error-bar" id="reloading-application"></div>
              <div id="feedback_section">
                <button type="button" class="btn btn-large" id="feedback_button">
                  <i class="icon-vector-comment"></i>&nbsp;&nbsp;Send feedback
                </button>
              </div>
              <div id="onboarding">
                <p id="onboarding-header">Get started with Zulip!</p>
                <div id="onboarding-checklist">
                </div>
              </div>
              <ul id="user_presences" class="filters scrolling_list"></ul>
              {% if show_invites %}
              <a id="invite-user-link" href="#invite-user" data-toggle="modal"><i class="icon-vector-plus-sign"></i>Invite coworkers</a>
              {% endif %}
          </div>
