<div class="modal hide" id="search-operators" tabindex="-1" role="dialog"
     aria-labelledby="search-operators-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="search-operators-label">{{ _('Search help') }}</h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-condensed table-rounded table-bordered" id="fmt_help_table">
      <thead>
        <tr>
          <th>{{ _('Operator') }}</th>
          <th>{{ _('Effect') }}</th>
        </tr>
      </thead>
      <tr>
        <td class="operator">stream:<span class="operator_value">stream</span></td>
        <td class="definition">{{ _('Narrow to messages on stream') }} <span class="operator_value">stream</span></td>
      </tr>
      <tr>
        <td class="operator">topic:<span class="operator_value">topic</span></td>
        <td class="definition">{{ _('Narrow to messages with topic') }} <span class="operator_value">topic</span></td>
      </tr>
      <tr>
        <td class="operator">pm-with:<span class="operator_value">email</span></td>
        <td class="definition">{{ _('Narrow to private messages with') }} <span class="operator_value">email</span></td>
      </tr>
      <tr>
        <td class="operator">sender:<span class="operator_value">email</span></td>
        <td class="definition">{{ _('Narrow to messages sent by') }} <span class="operator_value">email</span></td>
      </tr>
      <tr>
        <td class="operator">sender:me</td>
        <td class="definition">{{ _('Narrow to messages sent by you') }}.</td>
      </tr>
      <tr>
        <td class="operator">near:<span class="operator_value">id</span></td>
        <td class="definition">{{ _('Center the view around message ID') }} <span class="operator_value">id</span></td>
      </tr>
      <tr>
        <td class="operator">id:<span class="operator_value">id</span></td>
        <td class="definition">{{ _('Narrow to just message ID') }} <span class="operator_value">id</span></td>
      </tr>
      <tr>
      <tr>
        <td class="operator">is:alerted</td>
        <td class="definition">{{ _('Narrow to messages with alert words') }}.</td>
      </tr>
        <td class="operator">is:mentioned</td>
        <td class="definition">{{ _('Narrow to messages that mention you') }}.</td>
      </tr>
      <tr>
        <td class="operator">is:private</td>
        <td class="definition">{{ _('Narrow to private messages') }}.</td>
      </tr>
      <tr>
        <td class="operator">is:starred</td>
        <td class="definition">{{ _('Narrow to starred messages') }}.</td>
      </tr>
      <tr>
        <td class="operator"><span class="operator_value">keyword</span></td>
        <td class="definition">{{ _('Search for') }} <span class="operator_value">{{ _('keyword') }}</span> {{ _('in the topic or message content') }}</td>
      </tr>
      <tr>
        <td class="operator">-topic:<span class="operator_value">topic</span></td>
        <td class="definition">{{ _('Exclude messages with topic') }} <span class="operator_value">topic</span></td>
      </tr>
    </table>
    <p>{{ _('You can use any combination of these search operators in a single query') }}.  {{ _('For example') }}:</p>

    <p>&nbsp; <span class="operator">stream:<span class="operator_value">streamname</span>
          sender:<span class="operator_value">user@example.com</span>
            <span class="operator_value">keyword</span></span></p>

    <p>{{ _('would search for messages sent by') }} <span class="operator_value">user@example.com</span> {{ _('to stream') }}
    <span class="operator_value">streamname</span>
    {{ _('containing the keyword') }} <span class="operator_value">keyword</span>.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</button>
  </div>
</div>
