<div class="form-sidebar">
    <div class="title">
        <h1></h1>
        <div class="exit">&times;</div>
    </div>

    <div class="content">
        <div class='edit_bot'>
            <form class="edit_bot_form form-horizontal" data-target="edit-bot" data-title="{{ _('Edit bot') }}">
                <div class="bot_edit_errors alert alert-error hide"></div>
                <div class="">
                    <label>{{ _("Bot email") }}</label>
                    <div class="edit_bot_email"></div>
                </div>
                <div class="edit-bot-form-box">
                    <div class="">
                        <label for="edit_bot_name">{{ _("Full name") }}</label>
                        <input type="text" name="bot_name" class="edit_bot_name required" maxlength=50 />
                        <div><label for="edit_bot_name" generated="true" class="text-error"></label></div>
                    </div>
                    <div class="edit-bot-owner">
                        <label for="bot_owner_select">{{ _("Owner") }}</label>
                        <div class="select-form"></div>
                    </div>
                    <div class=" new-bot-ui">
                        <label for="edit_bot_default_sending_stream">{{ _("Send to stream") }}</label>
                        <select name="bot_default_sending_stream" class="edit_bot_default_sending_stream"></select>
                    </div>
                    <div class=" new-bot-ui">
                        <label for="edit_bot_default_events_register_stream">{{ _("Listen on") }}</label>
                        <select name="bot_default_events_register_stream" class="edit_bot_default_events_register_stream"></select>
                    </div>
                    <div class="avatar-section">
                        <label for="bot_avatar_file_input">Avatar</label>
                        <input type="file" name="bot_avatar_file_input" class="notvisible edit_bot_avatar_file_input" value="{{ _('Upload avatar') }}" />
                        <div class="edit_bot_avatar_file"></div>
                        <button type="button" class="btn btn-default edit_bot_avatar_upload_button">{{ _("Choose avatar") }}</button>
                        <button type="button" class="btn btn-default edit_bot_avatar_clear_button display-none">{{ _("Clear avatar") }}</button>
                        <div><label for="edit_bot_avatar_file" generated="true" class="edit_bot_avatar_error text-error"></label></div>
                    </div>
                    <div class="buttons">
                        <input type="submit" class="btn btn-primary edit_bot_button" value="{{ _('Save') }}" />
                        <button type="button" class="btn btn-default reset_edit_bot" data-sidebar-form-close>Cancel</button>
                        <div class="edit_bot_spinner"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
