<div id="settings_page" class="new-style overlay-content modal-bg">
    <div class="settings-header mobile">
        <div class="icon-vector-chevron-left"></div>
        <h1>{{ _('Settings') }}<span class="section"></span></h1>
        <div class="exit">
            <span class="exit-sign">&times;</span>
        </div>
        <div class="clear-float"></div>
    </div>
    <div class="sidebar left">
        <div class="sidebar-list dark-grey small-text">
            <div class="center tab-container"></div>
            <ul class="settings-list">
                <li tabindex="0" class="active" data-section="your-account">
                    <div class="icon icon-vector-user"></div>
                    <div class="text">{{ _('Your account') }}</div>
                </li>
                <li tabindex="0" data-section="display-settings">
                    <div class="icon icon-vector-time"></div>
                    <div class="text">{{ _('Display settings') }}</div>
                </li>
                <li tabindex="0" data-section="notifications">
                    <div class="icon icon-vector-warning-sign"></div>
                    <div class="text">{{ _('Notifications') }}</div>
                </li>
                <li tabindex="0" data-section="your-bots">
                    <div class="icon icon-vector-github"></div>
                    <div class="text">{{ _('Your bots') }}</div>
                </li>
                <li tabindex="0" data-section="alert-words">
                    <div class="icon icon-vector-book"></div>
                    <div class="text">{{ _('Alert words') }}</div>
                </li>
                <li tabindex="0" data-section="uploaded-files">
                    <div class="icon icon-vector-paper-clip"></div>
                    <div class="text">{{ _('Uploaded files') }}</div>
                </li>
                <li tabindex="0" data-section="muted-topics">
                    <div class="icon icon-vector-eye-close"></div>
                    <div class="text">{{ _('Muted topics') }}</div>
                </li>
                <li tabindex="0" data-section="zulip-labs">
                    <i class="icon icon-vector-beaker"></i>
                    <div class="text">{{ _('Zulip labs') }}</div>
                </li>

                <li class="admin" tabindex="0" data-section="organization-profile">
                    <i class="icon icon-vector-lock"></i>
                    <div class="text">{{ _('Organization profile') }}</div>
                </li>
                <li class="admin" tabindex="0" data-section="organization-settings">
                    <i class="icon icon-vector-beaker"></i>
                    <div class="text">{{ _('Organization settings') }}</div>
                </li>
                <li class="admin" tabindex="0" data-section="organization-permissions">
                    <i class="icon icon-vector-lock"></i>
                    <div class="text">{{ _('Organization permissions') }}</div>
                </li>
                <li class="admin" tabindex="0" data-section="emoji-settings">
                    <i class="icon icon-vector-smile"></i>
                    <div class="text">{{ _('Custom emoji') }}</div>
                </li>
                <li class="admin" tabindex="0" data-section="user-groups-admin">
                    <i class="icon icon-vector-group"></i>
                    <div class="text">{{ _('User groups') }}</div>
                </li>
                <li class="admin" tabindex="0" data-section="auth-methods">
                    <i class="icon icon-vector-lock"></i>
                    <div class="text">{{ _('Authentication methods') }}</div>
                </li>
                <li class="admin" tabindex="0" data-section="user-list-admin">
                    <i class="icon icon-vector-user"></i>
                    <div class="text">{{ _('Users') }}</div>
                </li>
                {% if is_admin %}
                <li class="admin" tabindex="0" data-section="deactivated-users-admin">
                    <i class="icon icon-vector-trash"></i>
                    <div class="text">{{ _('Deactivated users') }}</div>
                </li>
                {% endif %}
                <li class="admin" tabindex="0" data-section="bot-list-admin">
                    <i class="icon icon-vector-github"></i>
                    <div class="text">{{ _('Bots') }}</div>
                </li>
                {% if is_admin %}
                <li class="admin" tabindex="0" data-section="streams-list-admin">
                    <i class="icon icon-vector-exchange"></i>
                    <div class="text">{{ _('Delete streams') }}</div>
                </li>
                {% endif %}
                <li class="admin" tabindex="0" data-section="default-streams-list">
                    <i class="icon icon-vector-exchange"></i>
                    <div class="text">{{ _('Default streams') }}</div>
                </li>
                <li class="admin" tabindex="0" data-section="filter-settings">
                    <i class="icon icon-vector-font"></i>
                    <div class="text">{{ _('Filter settings') }}</div>
                </li>
                {% if development_environment %}
                <li class="admin" tabindex="0" data-section="profile-field-settings">
                    <i class="icon icon-vector-user"></i>
                    <div class="text">{{ _('Custom profile fields') }}</div>
                </li>
                {% endif %}
                {% if is_admin %}
                <li class="admin" tabindex="0" data-section="invites-list-admin">
                    <i class="icon icon-vector-user"></i>
                    <div class="text">{{ _('Invitations') }}</div>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="sidebar-bottom-anchor dark-grey small-text">
            <ul>
                <li class="border-top">
                    <div class="icon icon-vector-off"></div>
                    <a href="#logout" class="no-style logout_button"><div class="text">{{ _('Log out') }}</div></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-wrapper right">
        <div class="settings-header">
            <h1>{{ _('Settings') }}<span class="section"></span></h1>
            <div class="exit">
                <span class="exit-sign">&times;</span>
            </div>
        </div>
        <div id="settings_content">
            <div class="organization-box organization">

            </div>
            <div class="settings-box">

            </div>
        </div>

        {% include "zerver/settings_sidebar.html" %}
    </div>
</div>
