{% extends "zerver/portico_signup.html" %}

{% block title %}
<title>{{ _("Select account for authentication") }} | Zulip</title>
{% endblock %}

{% block portico_content %}
<div class="register-account flex full-page new-style" id="choose_email">
    <div class="lead">
        {% trans %}
        <h1 class="get-started">Select account</h1>
        {% endtrans %}
    </div>

    <div class="white-box">
        <form method="post" class="select-email-form" action="/complete/{{ backend }}/">
            <div class="choose-email-box">
                <input type="hidden" name="email" value="{{ primary_email }}" />
                {% if avatar_urls[primary_email] %}
                <img src="{{ avatar_urls[primary_email] }}" alt=""/>
                {% else %}
                <i class="fa fa-plus" aria-hidden="true"></i>
                {% endif %}
                <div>
                    <p class="email">
                        {{ primary_email }}
                    </p>
                    <p>
                        GitHub primary
                        {% if avatar_urls[primary_email] %}
                        - Log in
                        {% else %}
                        - Create new account
                        {% endif %}
                    </p>
                </div>
            </div>
        </form>
        {% for email in verified_non_primary_emails %}
        <form method="post" class="select-email-form" action="/complete/{{ backend }}/">
            <div class="choose-email-box">
                <input type="hidden" name="email" value="{{ email }}" />
                {% if avatar_urls[email] %}
                <img src="{{ avatar_urls[email] }}" alt="" class="no-drag"/>
                {% else %}
                <i class="fa fa-plus" aria-hidden="true"></i>
                {% endif %}
                <div>
                    <p class="email">
                        {{ email }}
                    </p>
                    <p>
                        {% if avatar_urls[email] %}
                        Log in
                        {% else %}
                        Create new account
                        {% endif %}
                    </p>
                </div>
            </div>
        </form>
        {% endfor %}
    </div>
    {% if unverified_emails %}
    <div class="bottom-text">
        <p>
            {% trans %}
            Your GitHub account also has unverified email addresses
            associated with it.
            {% endtrans %}
        </p>
        <p>
            {% trans %}
            To use one of these to log in to Zulip, you must first
            <a href="https://github.com/settings/emails">verify it with GitHub.</a>
            {% endtrans %}
        </p>
    </div>
    {% endif %}
</div>
{% endblock %}
