{% extends "zerver/portico_signup.html" %}

{% block portico_content %}
<div class="register-account flex full-page new-style" id="choose_email">
    <div class="lead">
        {% trans %}
        <h1 class="get-started">Select account</h1>
        {% endtrans %}
    </div>

    <div>
        <form method="post" class="form-horizontal" action="/complete/{{ backend }}/">
            <div class='choose-email-box'>
                <input type="hidden" name="email" value="{{ primary_email }}" />
                <button type="submit" >
                    {{ primary_email }}
                </button>
            </div>
        </form>
        {% for email in verified_non_primary_emails %}
        <form method="post" class="form-horizontal" action="/complete/{{ backend }}/">
            <div class='choose-email-box'>
                <input type="hidden" name="email" value="{{ email }}" />
                <button type="submit" >
                    {{ email }}
                </button>
            </div>
        </form>
        {% endfor %}
    </div>
    <div class="bottom-text">
        Only verified GitHub email addresses are listed.
    </div>
</div>
{% endblock %}
