<div class="team">
    <h1>The Team</h1>
    <p>Over 300 people have contributed to the Zulip codebase, from high school students to 30 year industry veterans, from people launching new careers to people looking for community. Meet the leadership below.</p>
    <div class="team-profiles">
        <!-- Tim -->
        <div class="profile bdfl">
            <img class="profile-picture" src="/static/images/team/tim.png" alt="" />
            <div class="profile-information">
                <div class="profile-name">Tim Abbott</div>
                <div class="profile-role">Founder of Zulip</div>
                <div class="profile-description">
                    <p>
                        Before Zulip, Tim was a founder and CTO of Ksplice, which provided rebootless linux kernel updates (a feat many previously thought impossible) to over 100,000 production servers. He was also the youngest ever Architect at Oracle, one of the most senior engineers at Dropbox, and has been involved in the open source community for over a decade. Tim has three degrees from MIT, and lives in San Francisco with his wife and daughter.
                    </p>

                </div>
            </div>
        </div>
        <!-- Rishi -->
        <div class="profile">
            <img class="profile-picture" src="/static/images/team/rishi.png" alt="" />
            <div class="profile-name">Rishi Gupta</div>
            <div class="profile-role">Software Engineer</div>
        </div>
        <!-- Brock -->
        <div class="profile">
            <img class="profile-picture" src="/static/images/team/brock.jpg" alt="" />
            <div class="profile-name">Brock Whittaker</div>
            <div class="profile-role">Software Engineer</div>
        </div>
        <!-- Steve -->
        <div class="profile">
            <img class="profile-picture" src="/static/images/team/steve.png" alt="" />
            <div class="profile-name">Steve Howell</div>
            <div class="profile-role">Software Engineer</div>
        </div>
        <!-- Greg -->
        <div class="profile">
            <img class="profile-picture" src="/static/images/team/greg.png" alt="" />
            <div class="profile-name">Greg Price</div>
            <div class="profile-role">Software Engineer</div>
        </div>
        <!-- Boris -->
        <div class="profile">
            <img class="profile-picture" src="/static/images/team/boris.jpeg" alt="" />
            <div class="profile-name">Boris Yankov</div>
            <div class="profile-role">iOS Engineer</div>
        </div>
    </div>
</div>
