{% extends "zerver/base.html" %}

{% block content %}
<div class="container">
    {% for email in emails %}
        <h3>Test for {{email.template}}</h3>
        {% if email.failed %}
            <p>Email failed to render: {{ email.reason }}</p>
        {% else %}
            <h4>Subject: {{email.subject}}</h4>
            {% autoescape off %}
            {{ email.html_message }}
            {% endautoescape %}
            <pre>{{ email.body }}</pre>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
