<div id="unmute_muted_topic_notification" class="new-style">
    <div class="float-header">
        <h3 class="light no-margin small-line-height float-left">Topic Muted</h3>
        <div class="exit-me float-right">&#215;</div>
        <button class="button small rounded float-right" id="unmute" type="button" name="button">Unmute</button>
        <div class="float-clear"></div>
    </div>
    <p class="n-margin">You have muted the topic <span class="topic"></span> under the <span class="stream"></span> stream.</p>
</div>
