{% extends "zerver/portico.html" %}
{% block portico_content %}


<h3>{{ _('Zulip is moving! &nbsp;&#128666;') }}</h3>


<p>
This server is being shut down as a part of the transition from the Dropbox Zulip service to the Kandra Labs Zulip service. Your account should be active on <a href="http://zulipchat.com">zulipchat.com</a> by Sunday, August 14, San Francisco time (UTC -7).
</p>

<p>
If it's past August 14 and that isn't working, please contact the zulipchat.com administrators at <a href="mailto:support@zulip.com">support@zulip.com</a>.
</p>

{% endblock %}
