{% extends "zerver/portico.html" %}
{% set entrypoint = "landing-page" %}

{% block title %}
<title>Case study: Zulip at University of California San Diego</title>
{% endblock %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}

<div class="portico-landing why-page">
    <div class="hero empty-hero">
    </div>
    <div class="main">
        <div class="padded-content">
            <div class="inner-content markdown">
                {{ render_markdown_path('zerver/for/ucsd-case-study.md') }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
