{% extends "zerver/portico.html" %}

{% block portico_content %}

<div class="app portico-page">
    <div class="app-main portico-page-container center-block flex full-page new-style">
        <div class="inline-block">

            <div class="get-started">
                <h1>{{ _("Email settings updated") }}</h1>
            </div>

            <div class="white-box">
                <p>
                    {% trans %}
                    You've successfully unsubscribed from Zulip {{ subscription_type }} emails.
                    {% endtrans %}
                </p>

                <p>
                    {% trans %}
                    You can undo this change or review your
                    preferences in your
                    <a href="{{ realm_uri }}/#settings/notifications">Zulip notification
                    settings</a>.
                    {% endtrans %}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
