{% extends "zerver/portico.html" %}

{% block title %}
<title>{{ _("Unsupported browser") }} | Zulip</title>
{% endblock %}

{% block portico_content %}

<div class="error_page unsupported_browser_page">
    <div class="container">
        <div class="row-fluid">
            <img src="{{ static('images/errors/400art.svg') }}" alt=""/>
            <div class="errorbox config-error">
                <div class="errorcontent">
                    <h1 class="lead">{{ _('Unsupported browser') }}</h1>
                    <p>
                        {% trans %}
                        {{ browser_name }} is not supported by Zulip.
                        {% endtrans %}
                    </p>
                    <p>
                        {% trans supported_browsers_page_link="/help/supported-browsers" %}
                        Zulip supports <a href="{{ supported_browsers_page_link }}">modern browsers</a>
                        like Firefox, Chrome, and Edge.
                        {% endtrans %}
                    </p>
                    <p>
                        {% trans apps_page_link="https://zulip.com/apps/" %}
                        You can also use the <a href="{{ apps_page_link }}">Zulip desktop app</a>.
                        {% endtrans %}
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
