{% extends "zerver/portico.html" %}

{% block title %}
<title>The best group chat</title>
{% endblock %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ render_bundle('landing-page') }}

{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}

<div class="portico-landing why-page">
    <div class="hero bg-pycon why-zulip">
        <div class="bg-dimmer"></div>
        <div class="content">
            <h1 class="center">Why Zulip?</h1>
            <p></p>
        </div>
    </div>

    <div class="main">
        <div class="padded-content">
            <div class="inner-content">
                {{ render_markdown_path('zerver/why-zulip.md') }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
