<button b-template=".button" class="button">
  Submit
</button>

<label b-template="label" for="input">
  Full Name
</label>

<input b-template="input" type="text" placeholder="John Doe" />

<select b-template="select">
  <option value="Antarctica">Antarctica</option>
  <option value="Greenland">Greenland</option>
  <option value="Faroe Islands">Faroe Islands</option>
  <option value="Svalbard">Svalbard</option>
  <option value="Finnmark">Finnmark</option>
</select>

<a b-template="a" href="#" target="_blank">
  Click Me!
</a>

<h1 b-template="h1">
  Header
</h1>

<h2 b-template="h2">
  Sub-Header
</h2>

<label b-template="label.checkbox" class="checkbox">
  <input type="checkbox" checked="checked">
  <span></span>
</label>