<div class="popover-menu user-card-popover-actions no-auto-hide-right-sidebar-overlay" id="user_card_popover" data-simplebar data-simplebar-tab-index="-1">
    <div class="popover-menu-user-header">
        <div class="popover-menu-user-avatar-container">
            <img class="popover-menu-user-avatar" src="{{user_avatar}}" />
        </div>
        <div class="popover-menu-user-info">
            <div class="popover-menu-user-full-name" data-tippy-content="{{user_full_name}}">
                {{> ../../user_full_name name=user_full_name}}
                {{#if is_bot}}
                    <i class="zulip-icon zulip-icon-bot" aria-hidden="true"></i>
                {{/if}}
            </div>
            <div role="none" class="popover-menu-user-type half-opacity italic hidden-for-spectators">
                <span class="popover-menu-label">{{t "This user has been deleted." }}</span>
            </div>
        </div>
    </div>
</div>
