{% extends "zerver/portico.html" %}
{% set entrypoint = "landing-page-with-pricing" %}

{% set PAGE_TITLE = "Zulip for business" %}

{% set PAGE_DESCRIPTION = "Zulip offers efficient communication for your
  business. Learn how organized team chat will make your team more productive." %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}

<div class="portico-landing plans why-page solutions-page for-companies">
    <div class="hero bg-companies">
        <div class="bg-dimmer"></div>
        <h1 class="center">Efficient communication for your business.</h1>
        <p>Learn how organized team chat will <br/>make your team more productive.</p>
        <div class="hero-buttons center">
            <a href="/new/" class="button">
                {{ _('Create organization') }}
            </a>
            <a href="#plans-and-pricing" class="button">
                {{ _('Plans & pricing') }}
            </a>
            <a href="/self-hosting/" class="button">
                {{ _('Self-host Zulip') }}
            </a>
        </div>
    </div>


    <div class="feature-intro">
        <h1 class="center">Communication efficiency represents <br /> a massive opportunity.</h1>
        <p>
            Communication consumes a <a href="https://blog.rescuetime.com/slack-and-email-cost/">huge fraction of time</a> for managers and knowledge workers, and the workplace chat revolution has done nothing to reduce communication load.
        </p>
        <div class="intro_quote">
            <blockquote>
                Ironically, for some, email has now become the place for well-thought-out communications while workplace [chat] software has been inundated by thoughtless meme and emoji sharing.
                <div class="author">
                    &mdash; “<a href="https://www.vox.com/recode/2019/5/1/18511575/productivity-slack-google-microsoft-facebook">The productivity pit: how Slack is ruining work</a>” by <a href="https://www.vox.com/recode"><em>Recode</em> (Vox)</a>
                </div>
            </blockquote>
        </div>
        <p>Worse, chat communication on Slack or Microsoft Teams is disruptive, chaotic, and ephemeral.</p>
        <div class="intro_quote">
            <blockquote>
                The [chat] software goes from helping you work to making it impossible to get work done.
                <div class="author">
                    &mdash; “<a href="https://www.vox.com/recode/2019/5/1/18511575/productivity-slack-google-microsoft-facebook">The productivity pit: how Slack is ruining work</a>” by <a href="https://www.vox.com/recode"><em>Recode</em> (Vox)</a>
                </div>
            </blockquote>
        </div>
        <p>Zulip’s unique topic-based threading combines the best of email and chat to finally make efficient communication possible.
        </p>
        <div class="intro_quote">
            <blockquote>
                Akamai’s Zulip Enterprise deployment connects over 2000 users around the planet. The threading model of conversations provides a large number of participants the ability to engage in real, ongoing, and substantive discussions, without the overwhelming experience of many other chat systems. This coordination across far-flung teams has had a significant, positive impact on the happiness and productivity of our personnel, regardless of location or seniority.
                <div class="author">
                    &mdash; Andy Ellis, Chief Security Officer, <a href="https://www.akamai.com/">Akamai</a>
                </div>
            </blockquote>
        </div>
    </div>

    <div class="feature-container">
        <div class="feature-half">
            <div class="feature-text">
                <h1>
                    Use topics to organize the discussion
                </h1>
                <ul>
                    <li>
                        <div class="list-content">
                            Like email threads, <a href="/help/introduction-to-topics">Zulip topics</a> create a separate space for each discussion, so different conversations will never get in each other’s way.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Save time by reading the topics you care
                            about, and skimming or skipping the rest.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            See each message in context — no more scrolling up and down through dozens of messages to track down the topic of conversation.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Important messages won’t be missed, no matter what else is happening, and whether the thread is old or new.
                        </div>
                    </li>
                </ul>
                <div class="quote">
                    <blockquote>
                        In fact now it seems strange to me to just fire off messages in Slack with no subject – that's chaos, madness. The genius of subject lines is that you can quickly and easily catch up on the messages you missed in your off-hours... This feature alone saves me hours a week.
                    </blockquote>
                    <div class="author">
                        &mdash; <a href="https://www.theregister.com/2021/07/28/zulip_open_source_chat_collaboration_software/">Zulip review in <em>The Register</em></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-half">
            <div class="feature-image topics-image">
                <img alt="" src="{{ static('images/story-tutorial/zulip-streams-unreads-arrows.png') }}" />
            </div>
        </div>
    </div>


    <div class="feature-container alternate-grid">
        <div class="feature-half md-hide">
            <div class="feature-image">
                <img alt="" src="{{ static('images/landing-page/companies/software-engineer.svg') }}" />
            </div>
        </div>
        <div class="feature-half">
            <div class="feature-text">
                <h1>
                    Focus work without disruptions
                </h1>
                <ul>
                    <li>
                        <div class="list-content">
                            Maintain focus, pay attention in meetings,
                            or work from another time zone. You can
                            always reply in context even if you've
                            been away from the conversation for hours
                            or days.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Busy leaders and experts can participate on their
                            own time, without incessant @-mentions
                            clamoring for their attention.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Let others know whether you're around with <a
                            href="/help/status-and-availability#statuses">emoji
                            statuses</a> and <a href="/help/status-and-availability#availability">availability</a>.
                        </div>
                    </li>
                </ul>
                <div class="quote">
                    <blockquote>
                        Zulip’s threading model makes it so much easier to
                        manage my team. As a leader, in just a few minutes I can
                        get an overview over what's going on and see where my
                        attention is needed.
                    </blockquote>
                    <div class="author">
                        &mdash; Gaute Lund, co-founder and owner of iDrift AS
                    </div>
                    <a class="case-study-link" href="/case-studies/idrift/"
                      target="_blank">Learn more about how the iDrift AS company uses Zulip
                    ↗</a>
                </div>
            </div>
        </div>
        <div class="feature-half md-display">
            <div class="feature-image">
                <img alt="" src="{{ static('images/landing-page/companies/software-engineer.svg') }}" />
            </div>
        </div>
    </div>

    <div class="feature-container">
        <div class="feature-half">
            <div class="feature-text">
                <h1>
                    Chat as a knowledge repository
                </h1>
                <ul>
                    <li>
                        <div class="list-content">
                            With conversations organized by topic, you
                            can review old discussions to
                            understand past work, explanations, and decisions.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            <a href="/help/link-to-a-message-or-conversation#link-to-zulip-from-anywhere">Link
                            to a Zulip conversation</a> from emails,
                            docs, issue trackers, code comments, or anywhere else.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Topics make it easy to find the right conversation with Zulip's <a href="/help/search-for-messages">powerful full-text search</a>.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Topic auto-complete lets you know when your idea or question has been discussed in the past.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Keep discussions organized by <a href="/help/rename-a-topic">moving</a> or <a href="/help/move-content-to-another-topic">splitting</a> topics when conversations digress.
                        </div>
                    </li>
                </ul>
                <div class="quote">
                    <blockquote>
                        We’ve been working remotely since 2016 and have learned a lot since we started. You can read about why <a href="https://twitter.com/zulip">@zulip</a> is the most important communication and knowledge management tool in our company: <a href="https://monadical.com/posts/how-to-make-remote-work-part-two-zulip.html">https://monadical.com/posts/how-to-make-remote-work-part-two-zulip.html</a><br /><br /><a href="https://twitter.com/hashtag/remote?src=hash">#remote</a> <a href="https://twitter.com/hashtag/Monadical?src=hash">#Monadical</a> <a href="https://twitter.com/hashtag/remotework?src=hash">#remotework</a> <a href="https://twitter.com/hashtag/communication?src=hash">#communication</a> <a href="https://twitter.com/hashtag/knowledgebase?src=hash">#knowledgebase</a>
                    </blockquote>
                    <div class="author">
                        &mdash; Monadical (@MonadicalSAS), <a href="https://twitter.com/MonadicalSAS/status/1298355525093134338">August 25, 2020</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-half">
            <div class="feature-image">
                <img alt="" src="{{ static('images/landing-page/education/knowledge-repository.svg') }}" />
            </div>
        </div>
    </div>

    <div class="feature-container alternate-grid">
        <div class="feature-half md-hide">
            <div class="feature-image">
                <img alt="" src="{{ static('images/landing-page/companies/integrations_with_border.png') }}" />
            </div>
        </div>
        <div class="feature-half">
            <div class="feature-text">
                <h1>
                    Effective workflows with integrations
                </h1>
                <ul>
                    <li>
                        <div class="list-content">
                            Native integrations for GitHub, Jira,
                            PagerDuty, Sentry
                            and <a href="/integrations/">hundreds of
                            other tools</a> can initiate new topics,
                            creating lightweight discussion spaces for
                            each issue.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Bots can also use a dedicated topic to avoid
                            crowding out conversations.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Use topics to manage support workflows, answer questions, and collaborate to investigate issues. <a href="/help/resolve-a-topic">Mark the topic ✓ resolved</a> when done!
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            <a href="/help/add-a-custom-linkifier">Customize
                            Zulip’s markup with linkifiers</a>, so that
                            “JIRA-1234” and “ZD-1234” automatically
                            link to issues or tickets in the tools you use.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Connect to thousands of other products
                            using <a href="https://zapier.com/apps/zulip/integrations">Zapier</a>.
                            Integrations written for Slack can post
                            into Zulip via
                            the <a href="https://zulip.com/integrations/doc/slack_incoming">Slack
                            compatible webhook</a>.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Build your own integrations with Zulip’s
                            easy-to-use <a href="/api/">RESTful
                            API</a>, <a href="/api/installation-instructions">client
                            bindings</a>, <a href="/api/incoming-webhooks-overview">incoming
                            webhooks</a>, <a href="/api/outgoing-webhooks">outgoing
                            webhooks</a>
                            and <a href="/api/running-bots">interactive
                            bot framework</a>.
                        </div>
                    </li>
                </ul>
                <div class="quote">
                    <blockquote>
                        Zulip’s unique threading saves me well over an hour a day in working with our distributed team of engineers and PMs across 7+ time zones. We tried Slack, Mattermost, and other team chat products that claim to support threading, and nothing handles synchronous and asynchronous communication so intuitively.
                    </blockquote>
                    <div class="author">
                        &mdash; Jacinda Shelly, CTO, <a href="https://www.doctorondemand.com/">Doctor on Demand</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-half md-display">
            <div class="feature-image">
                <img alt="" src="{{ static('images/landing-page/companies/integrations_with_border.png') }}" />
            </div>
        </div>
    </div>


    <div class="feature-container">
        <div class="feature-half">
            <div class="feature-text">
                <h1>
                    Powerful formatting
                </h1>
                <ul>
                    <li>
                        <div class="list-content">
                            <a href="/help/code-blocks">Zulip code blocks</a>
                            come with syntax highlighting for over 250 languages, and integrated <a href="/help/code-blocks#code-playgrounds">code playgrounds.</a>
                        </div>
                    </li>
                    <li>
                        <div class="list-content"><a href="/help/format-your-message-using-markdown#latex">Type LaTeX</a> directly into your Zulip message, and see it beautifully rendered.</div>
                    </li>
                    <li>
                        <div class="list-content">Enjoy inline image, video and Tweet previews.</div>
                    </li>
                    <li>
                        <div class="list-content">
                            If you made a mistake, no worries! You
                            can <a href="/help/edit-a-message">edit your
                            message</a>, or move it to a
                            different <a href="/help/move-content-to-another-topic">topic</a>
                            or <a href="/help/move-content-to-another-channel">channel</a>.
                        </div>
                    </li>
                </ul>
                <div class="quote">
                    <blockquote>
                        It’s so refreshing to see and use <a href="https://twitter.com/zulip">@zulip</a> Another level of product design. Which really delights. A singular experience, unfortunately, in years. <br /><br />Congrats and keep up the good work!
                    </blockquote>
                    <div class="author">
                        &mdash; metamn (@metamn), <a href="https://twitter.com/metamn/status/1385684113097691141">April 23, 2021</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-half">
            <div class="feature-image">
                <img alt="" src="{{ static('images/landing-page/companies/message-formatting-top.png') }}" />
            </div>
        </div>
    </div>

    <div class="feature-container alternate-grid">
        <div class="feature-half md-hide">
            <div class="feature-image">
                <img alt="" src="{{ static('images/landing-page/companies/message-formatting-bottom.png') }}" />
            </div>
        </div>
        <div class="feature-half">
            <div class="feature-text">
                <h1>
                    Interactive messaging
                </h1>
                <ul>
                    <li>
                        <div class="list-content">
                            Start a <a href="/help/start-a-call">video
                            call</a> with the click of a button, or
                            make plans for later without worrying
                            about time zones
                            using <a href="/help/format-your-message-using-markdown#global-times">global times</a>.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Use <a href="/help/emoji-reactions">emoji
                            reactions</a> for lightweight
                            interactions. Have fun
                            with <a href="/help/custom-emoji">custom
                            emoji</a> and gather feedback
                            with <a href="/help/create-a-poll">polls</a>.
                        </div>
                    </li>
                    <li><div class="list-content">Share files or images with <a href="/help/share-and-upload-files">drag-and-drop uploads</a>.</div></li>
                    <li><div class="list-content">Enjoy animated GIFs with Zulip's native <a href="/help/animated-gifs-from-giphy">GIPHY integration</a>.</div></li>
                </ul>
                <div class="quote">
                    <blockquote>
                        <a href="https://twitter.com/hashtag/Zulip?src=hash">#Zulip</a> <a href="https://twitter.com/zulip">@zulip</a> is truly a bastion of hope and joy in the chat-software space. <a href="https://twitter.com/hashtag/FOSS?src=hash">#FOSS</a>, better than <a href="https://twitter.com/hashtag/Slack?src=hash">#Slack</a> in multiple ways, and just all around a joy to use. Their threading model is awesome. 4.0 was just released: <a href="https://news.ycombinator.com/item?id=27149123">https://news.ycombinator.com/item?id=27149123</a>
                    </blockquote>
                    <div class="author">
                        &mdash; Stephen Gutekanst (@slimsag), <a href="https://twitter.com/slimsag/status/1393024983023034371">May 14, 2021</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-half md-display">
            <div class="feature-image">
                <img alt="" src="{{ static('images/landing-page/companies/message-formatting-bottom.png') }}" />
            </div>
        </div>
    </div>

    <div class="feature-container">
        <div class="feature-half">
            <div class="feature-text">
                <h1>
                    Flexible administration and permissions
                </h1>
                <ul>
                    <li>
                        <div class="list-content">
                            Restrict sign-up by email domain, use a
                            single sign-on solution, or send
                            invitations by
                            email. <a href="https://zulip.readthedocs.io/en/latest/production/authentication-methods.html">Supported
                            authentication providers</a> include LDAP,
                            SAML, OIDC, Google, GitHub, GitLab, Apple,
                            and more.
                        </div>
                    </li>
                    <li><div class="list-content">Automatically subscribe users to channels <a href="/help/set-default-channels-for-new-users">when they join</a>, subscribe a <a href="/help/user-groups">group of users</a>, or copy membership from another channel. Add users to the right channels for their team and role with <a href="/help/invite-new-users#create-a-reusable-invitation-link">custom invitation links</a>.</div></li>
                    <li><div class="list-content">Manage your organization with <a href="/help/channel-permissions#detailed-permissions">fine-grained permission settings</a> for <a href="/help/roles-and-permissions">administrators and moderators</a>, and custom <a href="/help/channel-permissions">viewing</a> and <a href="/help/channel-permissions#public-channels">posting</a> permissions for channels.</div></li>
                    <li>
                        <div class="list-content">
                            Add partners, vendors and temporary contractors as <a href="/help/roles-and-permissions">guest users</a> in your organization.
                        </div>
                    </li>
                    <li><div class="list-content">Use Zulip as your employee directory. Sync names, <a href="/help/roles-and-permissions">roles</a>, avatars, and <a href="/help/custom-profile-fields">custom profile fields</a> from LDAP or SAML.</div></li>
                    <li><div class="list-content">Set a <a href="/help/message-retention-policy">message retention policy</a> that fits your needs.</div></li>
                </ul>
            </div>
        </div>
        <div class="feature-half">
            <div class="feature-image">
                <img alt="" src="{{ static('images/landing-page/education/flexible-administration.svg') }}" />
            </div>
        </div>
    </div>


    <div class="feature-container alternate-grid">
        <div class="feature-half md-hide">
            <div class="feature-image">
                <img class="mirror-image" alt="" src="{{ static('images/landing-page/education/privacy.svg') }}" />
            </div>
        </div>
        <div class="feature-half">
            <div class="feature-text">
                <h1>
                    Enterprise grade security, reliability and control
                </h1>
                <ul>
                    <li>
                        <div class="list-content">
                            Zulip Cloud is built with <a href="/policies/privacy">privacy</a> and <a href="/security/">security</a> in mind, and is used by some of the most security-conscious organizations in the world.
                        </div>
                    </li>
                    <li><div class="list-content">Zulip is <a href="https://github.com/zulip">100% open-source software</a>, with no "open core" catch. We work hard to make it <a href="https://zulip.readthedocs.io/en/latest/production/install.html">easy to set up</a>, <a href="https://zulip.readthedocs.io/en/stable/production/export-and-import.html#backups">back up</a>, and <a href="https://zulip.readthedocs.io/en/stable/production/upgrade.html">maintain</a> a self-hosted Zulip installation, where you have full control of your data.</div></li>
                    <li><div class="list-content">Move your data with our high quality <a href="/help/export-your-organization">export</a> and <a href="https://zulip.readthedocs.io/en/latest/production/export-and-import.html">import</a> tools; you are never locked into a proprietary tool.</div></li>
                    <li><div class="list-content">Zulip is built for scale and works reliably for organizations with thousands of users online at once with <a href="https://zulip.readthedocs.io/en/stable/production/requirements.html#scalability">modest hardware</a>.</div></li>
                    <li>
                        <div class="list-content">
                            Zulip has by far the <a href="/team/">most active open-source
                            development community</a> of any team chat
                            software. The paid team provides
                            leadership, expertise and support for the
                            project in addition to operating the Zulip
                            Cloud service.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Zulip is sustainably funded and designed
                            for maintainability to ensure that we can
                            serve our customers for years to come.
                        </div>
                    </li>
                    <li>
                        <div class="list-content">
                            Customize Zulip with your organization’s branding.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="feature-half md-display">
            <div class="feature-image">
                <img class="mirror-image" alt="" src="{{ static('images/landing-page/education/privacy.svg') }}" />
            </div>
        </div>
    </div>

    <div class="feature-container">
        <div class="feature-half">
            <div class="feature-text">
                <h1>
                    When and how you want it
                </h1>
                <ul>
                    <li>
                        <div class="list-content">
                            With <a href="/apps/">apps for every
                            platform</a>, you can check Zulip at your computer or on your
                            phone. Zulip works great in a browser, so no download is
                            required.
                        </div>
                    </li>
                    <li><div class="list-content">Zulip alerts you about timely messages with <a href="/help/channel-notifications">fully customizable</a> mobile, email and desktop notifications.</div></li>
                    <li>
                        <div class="list-content">
                            Mention <a href="/help/mention-a-user-or-group">users</a>, <a href="/help/user-groups">groups
                            of users</a>
                            or <a href="/help/dm-mention-alert-notifications#wildcard-mentions">everyone</a>
                            when you need their attention.
                        </div>
                    </li>
                    <li><div class="list-content">Use Zulip in your language of choice, with translations into <a href="https://explore.transifex.com/zulip/zulip/">23 languages</a>.</div></li>
                </ul>
                <div class="quote">
                    <blockquote>
                        New version of Zulip ! <a href="https://blog.zulip.com/2021/05/13/zulip-4-0-released/">https://blog.zulip.com/2021/05/13/zulip-4-0-released/</a> <br /><br />Zulip is the only nice project chat I ever used. Discord, slack, etc wasted my productivity for years, zulip actually increases it.
                    </blockquote>
                    <div class="author">
                        &mdash; Bite Cꙮde (@bitecode_dev), <a href="https://twitter.com/bitecode_dev/status/1393111310750076930">May 14, 2021</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-half">
            <div class="feature-image">
                <img class="mirror-image" alt="" src="{{ static('images/landing-page/education/mobile.svg') }}" />
            </div>
        </div>
    </div>

    <div class="feature-end">
        <div class="description">
            <h1>
                Make the move today
            </h1>
            <p>Getting started or moving from another platform is easy! Import your existing organization from <a href="/help/import-from-slack">Slack</a>, <a href="/help/import-from-mattermost">Mattermost</a>, or <a href="/help/import-from-rocketchat">Rocket.Chat</a>.</p>

            <p>To get more insight into how Zulip can help your organization, read how the <a href="/case-studies/idrift/">iDrift AS</a> company, the <a href="/case-studies/gut-contact/">GUT contact</a> support agency, the <a href="/case-studies/end-point/">End Point Dev</a> software consultancy, and the startups <a href="/case-studies/semsee/">Semsee</a> and <a href="/case-studies/atolio/">Atolio</a> are using Zulip.</p>

            <p>If you have any questions, please contact us at <a href="mailto:sales@zulip.com">sales@zulip.com</a>. You can also drop by our <a href="/development-community/">friendly development community at chat.zulip.org</a> to ask for help or suggest improvements!</p>

            <div class="intro_quote">
                <blockquote>
                    Zulip is everything Slack is, but it's smarter and more powerful.
                    <div class="author">
                        &mdash; <a href="https://www.theregister.com/2021/07/28/zulip_open_source_chat_collaboration_software/">Zulip review in <em>The Register</em></a>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="portico-pricing showing-cloud">
        {% include "corporate/pricing_model.html" %}
    </div>

</div>
{% endblock %}
