{{#with user_group}}
<div class="user-group" id="{{id}}">
    <h4>{{name}}<span> — {{description}}</span></h4>
    <div class="pill-container" data-group-pills="{{name}}">
        <div class="input" contenteditable="true"></div>
    </div>
    <button class="button rounded small delete btn-danger">
        <i class="icon-vector-trash" aria-hidden="true"></i>
    </button>
</div>
{{/with}}
