{{#with linkifier}}
<tr class="linkifier_row">
    <td>
        <span class="linkifier_pattern">{{pattern}}</span>
    </td>
    <td>
        <span class="linkifier_url_format_string">{{url_format_string}}</span>
    </td>
    {{#if ../can_modify}}
    <td class="no-select actions">
        <button class="button small delete btn-danger" data-linkifier-id="{{id}}">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </td>
    {{/if}}
</tr>
{{/with}}
