{{ partial "settings/deactivation_user_modal" }}

{{ partial "settings/realm_domains_modal" }}

{{ partial "settings/revoke_invite_modal" }}

{{ partial "settings/resend_invite_modal" }}

<div id="user-info-form-modal-container"></div>
