{{ partial "settings/deactivation-user-modal" }}

{{ partial "settings/realm-domains-modal" }}

{{ partial "settings/revoke-invite-modal" }}

{{ partial "settings/resend-invite-modal" }}

<div id="user-info-form-modal-container"></div>
