{{ partial "deactivation-user-modal" }}

{{ partial "realm-domains-modal" }}

{{ partial "revoke-invite-modal" }}

{{ partial "resend-invite-modal" }}

<div id="user-info-form-modal-container"></div>
