<div class="alert" id="organization-status"></div>
<div id="revoke_invite_modal_holder"></div>

{{> admin_settings_modals}}

{{> settings/organization_profile_admin }}

{{> settings/organization_settings_admin }}

{{> settings/organization_permissions_admin }}

{{> settings/emoji_settings_admin }}

{{> settings/user_list_admin }}

{{> settings/deactivated_users_admin }}

{{> settings/bot_list_admin }}

{{> settings/default_streams_list_admin }}

{{> settings/auth_methods_settings_admin }}

{{> settings/linkifier_settings_admin }}

{{> settings/invites_list_admin }}

{{> user_groups_admin }}

{{> settings/profile_field_settings_admin }}

{{> settings/data_exports_admin }}
