{{! Alert word in the settings page that can be removed }}
<li class="alert-word-item" data-word='{{word}}'>
    {{#if editing}}
        <input class="edit-alert-word input-medium" type="text" placeholder="Alert Word" /><button class="btn btn-default btn-mini add-alert-word" type="button">Add</button>
    {{else}}
        {{word}}<button class="btn btn-default btn-mini remove-alert-word" type="button"><i class="icon-vector-remove"></i></button>
    {{/if}}
</li>
