{{! Contents of the "all messages sidebar" popup }}
<ul class="nav nav-list">
    <li>
        <a id="mark_all_messages_as_read">
            <i class="icon-vector-book"></i>
            {{#tr this}}Mark all messages as read{{/tr}}
        </a>
    </li>
</ul>
