{{! Explanation of what "announce stream" does when creating a stream }}
<div>

    {{#tr this}}
    <p>Stream will be announced in <b>#__notifications_stream__</b>.</p>
    {{/tr}}
    <p>{{t 'Admin can configure where new streams are announced in organization settings.' }}</p>

</div>
