{{! Explanation of what "announce stream" does when creating a stream }}
<div>

    {{#tr this}}
    <p>Lets everyone know about the new stream,<br />
    even if you don't add them.</p>
    {{/tr}}

</div>
