{{! Explanation of what "announce stream" does when creating a stream }}
<div>

    {{#tr this}}
    <p>Stream will be announced in <b>#__notifications_stream__</b>.</p>
    {{/tr}}
    <p>{{t 'Organization administrators can change this in the organization settings.' }}</p>

</div>
