{{#each message_groups}}
    {{#with this}}

        {{#if show_group_date_divider}}
        <div class="date_row no-select">{{{group_date_divider_html}}}</div>
        {{/if}}

        <div class="recipient_row">
            {{partial "archive_recipient_row" }}
            {{#each message_containers}}
            {{{ this }}}
            {{/each}}
        </div>


    {{/with}}
{{/each}}
