{{! The unread count in the bankruptcy modal }}

<div class="modal-body">
    <p>{{#tr this}}It looks like you may have been away for a while.  You have <b>__unread_count__</b> unread messages (including muted topics).{{/tr}}</p>
    <p>{{t "Do you want to mark these messages as read?" }}</p>
</div>
