{{! The unread count in the bankruptcy modal }}

<div class="modal-body">
  <p>It's been a while! Since you were last here, you received <b>{{unread_count}}</b> new messages.</p>
  <p>Do you want to skip to your latest messages?</p>
</div>
