{{! The unread count in the bankruptcy modal }}

<div class="modal-body">
    <p>{{#tr this}}It's been a while! Since you were last here, you received <b>__unread_count__</b> new messages.{{/tr}}</p>
    <p>{{t "Do you want to skip to your latest messages?" }}</p>
</div>
