<div class="buddy_list_tooltip_content">
    <span class="tooltip_inner_content">{{first_line}}</span>
    {{#if second_line}}
    <br><span class="tooltip_inner_content">{{second_line}}</span>
    {{/if}}
    {{#if third_line}}
    <br><span class="tooltip_inner_content">{{third_line}}</span>
    {{/if}}
</div>
