{{#if can_make_public}}
  <button class="btn btn-primary make-stream-public-button" data-stream-name="{{name}}" tabindex="-1">
    {{t "Make stream public" }}
  </button>
{{/if}}
{{#if can_make_private}}
  <button class="btn btn-danger make-stream-private-button" data-stream-name="{{name}}" tabindex="-1">
    {{t "Make stream private" }}
  </button>
{{/if}}
<div class="change-stream-privacy-feedback"></div>
