<form id="change_email_container" class="new-style">
    <label for="email">{{t "New email" }}</label>
    <input type="text" name="email" value="{{ page_params.delivery_email }}" autocomplete="off" spellcheck="false" autofocus="autofocus"/>
</form>
