{{! Content of sent-message notifications }}
<div class="compose-notifications-content">
    {{note}} {{#if link_class}}<a href="#" class="{{link_class}}" data-msgid="{{link_msg_id}}">{{link_text}}</a>{{/if}}
    <button type="button" class="out-of-view-notification-close close">&times;</button>
</div>
