<div class="compose_control_buttons_container order-1">
    <div class="compose_controls_show_sm">
        {{> compose_control_buttons_hide_sm}}
    </div>
    {{> compose_control_buttons_hide_lg}}
</div>
