<div class="compose_invite_user" data-useremail="{{email}}">
    {{#tr this}}<strong>__name__</strong> is not subscribed to this stream.{{/tr}}
    <div class="compose_invite_user_controls">
        <span class="compose_invite_user_error alert alert-error" style="display: none;">{{t "Unable to subscribe user" }}</span>
        <button href="" class="btn btn-warning compose_invite_link" >{{t "Subscribe" }}</button><button type="button" class="compose_invite_close close">×</button>
    </div>
</div>
