<div class="compose_invite_user" data-useremail="{{email}}">
    <strong>{{name}}</strong> is not subscribed to this stream.
    <div class="compose_invite_user_controls">
        <span class="compose_invite_user_error alert alert-error" style="display: none;">Unable to subscribe user</span>
        <button href="" class="compose_invite_link btn" >Subscribe</button><button type="button" class="compose_invite_close close">×</button>
    </div>
</div>
