<div class="compose_pm_mentions_user_alert" data-user-id="{{user_id}}" data-full-name="{{full_name}}">
    <p>{{#tr}}To avoid highlighting this message for <b>{full_name}</b>, we have updated it to use a silent mention (@_).{{/tr}}</p>
    <div class="compose_pm_mentions_user_alert_controls">
        <button id="compose_pm_mentions_user_alert_undo" class="btn btn-warning compose_undo" >{{t "Undo" }}</button>
        <button type="button" class="compose_pm_mentions_user_alert_close close">&times;</button>
    </div>
</div>
