<div class="compose-online-here">
    <span class="compose-online-here-msg">
        {{#tr this}}
        Are you sure you want to mention all <strong>__count__</strong> online people?
        <br>
        If you don't want to do that, please edit your message to remove the <strong>@__mention__</strong> mention.
        {{/tr}}
    </span>
    <span class="compose-online-here-controls">
        <button type="button" class="btn btn-warning compose-online-here-confirm">{{t "Yes, send" }}</button>
    </span>
</div>
