<div class="compose-announce">
    <span class="compose-announce-msg">
        {{#tr this}}
        This stream is reserved for <strong>announcements</strong>.
        <br />
        Are you sure you want to message all <strong>__count__</strong> people in this stream?
        {{/tr}}
    </span>
    <span class="compose-announce-controls">
        <button type="button" class="btn btn-warning compose-announce-confirm">{{t "Yes, send" }}</button>
    </span>
</div>
