<div class="compose_warn_one_on_one" data-user-id="{{user_id}}">
    <span>
        {{#tr this}}Mentioning @<strong>{name}</strong> will highlight this message. Did you mean to use a silent mention @_<strong>{name}</strong>{{/tr}}
    </span>
</div>
