{{! Contents of the "compose actions" popover }}
<ul class="nav nav-list">
    <li>
        <a class="compose_stream_button">
            {{stream_button_text}} {{#if stream_name}}<strong>{{stream_name}}</strong>{{/if}} <span class="hotkey-hint">(c)</span>
        </a>
    </li>

    <li>
        <a class="compose_private_button">
            {{t "New private message" }} <span class="hotkey-hint">(x)</span>
        </a>
    </li>
</ul>
