<div class="compose-unsent-message">
    <span class="compose-unsent-message-msg">
        {{#tr}}
        Following message was not sent to the server.
        <br />
        Do you still wish to send this message?
        {{/tr}}
    </span>
    <span class="compose-unsent-message-controls">
        <button type="button" class="btn btn-warning compose-unsent-message-confirm">{{t "Yes, send" }}</button>
        <button type="button" class="btn btn-warning compose-unsent-message-cancel">{{t "No" }}</button>
    </span>
</div>
