<div class="compose_private_stream_alert" data-stream_name="{{stream_name}}">
    <span>{{#tr this}}Warning: <strong>__stream_name__</strong> is a private stream.{{/tr}}</span>
    <div class="compose_private_stream_alert_controls">
        <button type="button" class="compose_private_stream_alert_close close">&times;</button>
    </div>
</div>
