<div class="compose_mention_one_on_one_alert" data-user-id="{{user_id}}">
    <span>{{#tr}}Mentioning @<strong>{name}</strong> will highlight this message. Did you mean to use a silent mention @_<strong>{name}</strong> instead?{{/tr}}</span>
    <div class="compose_mention_one_on_one_alert_controls">
        <button type="button" class="compose_mention_one_on_one_alert_close close">&times;</button>
    </div>
</div>
