<div class="compose-warn-one-on-one" data-user-id="{{user_id}}">
    {{#tr}} Mentioning @<strong>{name}</strong> will highlight this message. Did you mean to use a silent mention @_<strong>{name}</strong>{{/tr}}
</div>
