<div class="compose_resolved_topic" data-stream-id="{{stream_id}}" data-topic-name="{{topic_name}}">
    <p>{{#tr}}You are sending a message to a resolved topic. You can send as-is or unresolve the topic first.{{/tr}}</p>
    <div class="compose_resolved_topic_user_controls">
        {{#if can_move_topic}}
        <button class="btn btn-warning compose_unresolve_topic" >{{t "Unresolve topic" }}</button>
        {{/if}}
        <button type="button" class="compose_resolved_topic_close close">&times;</button>
    </div>
</div>
