<div class="compose-muted-context">
    <span class="compose-muted-context-msg">
        {{#tr this}}You are sending a message in a <strong>muted __context__</strong>. Would you like to unmute it?{{/tr}}
    </span>
    <span class="compose-muted-context-controls">
        <button type="button" class="compose-muted-context-confirm">{{t "YES" }}</button>
        <button type="button" class="compose-muted-context-decline">{{t "NO" }}</button>
    </span>
</div>
