<div class="modal modal-bg hide fade" id="confirm_dialog_modal" tabindex="-1" role="dialog" aria-labelledby="confirm_dialog_modal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{t 'Close' }}"><span aria-hidden="true">&times;</span></button>
        <h3 class="confirm_dialog_heading"></h3>
    </div>
    <div class="modal-body confirm_dialog_body">
    </div>
    <div class="modal-footer">
        <button class="button rounded" data-dismiss="modal">{{t "Cancel" }}</button>
        <button class="button rounded btn-danger confirm_dialog_yes_button"></button>
    </div>
</div>
