<button class="btn pull-right copy_button_base copy_message" data-toggle="tooltip" title="{{t "Copy and close" }}" aria-label="{{t "Copy and close" }}" data-clipboard-target="#message_edit_content_{{message_id}}">
    {{> copy_to_clipboard_svg }}
</button>
