<p>
    {{t "Deleting a topic will immediately remove it and its messages for everyone. Other users may find this confusing, especially if they had received an email or push notification related to the deleted messages." }}
</p>
<p>
    {{#tr}}Are you sure you want to permanently delete <b>{topic_name}</b>?{{/tr}}
</p>
