<div id="draft_overlay" class="overlay new-style" data-overlay="drafts">
    <div class="flex overlay-content">
        <div class="drafts-container modal-bg">
            <div class="drafts-header">
                <h1>{{t 'Drafts' }}</h1>
                <div class="exit">
                    <span class="exit-sign">&times;</span>
                </div>
                <div class="removed-drafts">
                    {{#tr}}Drafts are not synced to other devices and browsers.{{/tr}}
                    <br />
                    {{#tr}}Drafts older than <strong>{draft_lifetime}</strong> days are automatically removed.{{/tr}}
                </div>
            </div>
            <div class="drafts-list">
                <div class="no-drafts">
                    {{t 'No drafts.'}}
                </div>

                {{#each drafts}}
                    {{> draft}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
