<div id="draft_overlay" class="overlay new-style" data-overlay="drafts">
    <div class="flex overlay-content">
        <div class="drafts-container modal-bg">
            <div class="drafts-header">
                <h1>{{t 'Drafts' }}</h1>
                <div class="exit">
                    <span class="exit-sign">&times;</span>
                </div>
                <div class="removed-drafts">
                    {{#tr this}} Drafts older than <strong>__draft_lifetime__</strong> days are automatically removed. {{/tr}}
                </div>
                <div class="draft-hotkey-reminder">
                    {{t "Pro tip: You can use 'd' to open your drafts."}}
                </div>
            </div>
            <div class="drafts-list">
                <div class="no-drafts">
                    {{t 'No drafts.'}}
                </div>

                {{#each drafts}}
                {{partial "draft"}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
