{{! Explanation of the stream email address }}
<div>

<p>{{#tr this}}You can send emails to __page_params.product_name__! Just copy and use this address as an email recipient, and:{{/tr}}</p>

<img class="subscription-email-hint-image" src="/static/images/integrations/zulip_mail.png" />

<ul>
<li>{{t "The email will be forwarded to this stream" }}</li>
<li>{{#tr this}}The email subject will become the __page_params.product_name__ topic{{/tr}}</li>
<li>{{#tr this}}The email body will become the __page_params.product_name__ message{{/tr}}</li>
</ul>

</div>
