{{! Explanation of the stream email address }}
<div>

    <p>{{#tr this}}You can send emails to Zulip! Just copy and use this address as an email recipient, and:{{/tr}}</p>

    <img class="subscription-email-hint-image" src="/static/images/integrations/zulip_mail.png" />

    <ul>
        <li>{{t "The email will be forwarded to this stream" }}</li>
        <li>{{#tr this}}The email subject will become the Zulip topic{{/tr}}</li>
        <li>{{#tr this}}The email body will become the Zulip message{{/tr}}</li>
    </ul>

</div>
