{{! Explanation of the stream email address }}
<div>

<p>You can send emails to {{ page_params.product_name }}! Just copy and use this address as an email recipient, and:</p>

<img class="subscription-email-hint-image" src="static/images/integrations/zulip_mail.png" />

<ul>
<li>The email will be forwarded to this stream</li>
<li>The email subject will become the {{ page_params.product_name }} topic</li>
<li>The email body will become the {{ page_params.product_name }} message</li>
</ul>

</div>
