<div class="extended_narrow_description rendered_markdown" data-toggle="tooltip">
    <a class="hide_extended_narrow_description">{{t "Hide description"}}</a>
    {{rendered_markdown rendered_narrow_description}}
</div>
