<div class="compose_formatting_container">
    <span class="compose_formatting_button">
        <i data-format-type="bold" class="zulip-icon zulip-icon-bold" aria-hidden="true"></i>
    </span>
    <span class="compose_formatting_button">
        <i data-format-type="italic" class="zulip-icon zulip-icon-italic" aria-hidden="true"></i>
    </span>
    <span class="compose_formatting_button">
        <i data-format-type="link" class="zulip-icon zulip-icon-link" aria-hidden="true"></i>
    </span>
</div>
