<div class="popover" id="giphy_grid_in_popover">
    <div class="arrow"></div>
    <div class="popover-inner">
        <div class="search-box">
            <input type="text" tabindex=0 id="giphy-search-query" class="search-query" placeholder="{{t 'Search GIFs' }}">
        </div>
        <div class="popover-content"></div>
        <div class="popover-footer">
            <img src="/static/images/GIPHY_attribution.png" alt="{{t 'GIPHY attribution' }}">
        </div>
    </div>
</div>
