<div id="inbox_main" class="no-select">
    <div class="search_group" id="inbox_filters" role="group" tabindex="0">
        <input type="text" id="inbox_search" value="{{search_val}}" autocomplete="off" placeholder="{{t 'Filter topics' }}" />
        <button type="button" class="btn clear_search_button" id="inbox_search_clear">
            <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <button data-filter="include_muted" id="filter_muted" type="button" class="btn btn-default btn-inbox-filter {{#if is_spectator}}fake_disabled_button{{/if}}" role="checkbox" aria-checked="false">
            <i id="inbox_filter_mute_toggle" class="fa fa-square-o"></i>
            {{t 'Include muted' }}
        </button>
    </div>
</div>
