<div class="trailing_bookend bookend hotspot-message" id="hotspot_intro_reply_icon">
    <span>{{t 'Click anywhere on a message to reply.' }}</span>
    <button class="hotspot-button" type="button">{{t 'Got it' }}</button>
</div>
