<div class="hotspot-inline trailing_bookend bookend hotspot-message" id="hotspot_intro_reply_icon">
    <div class="hotspot-inline-top"><h1 class="hotspot-title">Send a reply</h1></div>
    <div class="hotspot-inline-left">
        <img class="hotspot-img" alt="" src="/static/images/hotspots/whale.svg">
    </div>
    <div class="hotspot-inline-right">
        <p>{{t 'Click anywhere on a message to reply.' }}</p>
        <button class="hotspot-button hotspot-confirm" type="button">{{t 'Got it!' }}</button>
    </div>
</div>
