{{! Client-side Mustache template for rendering subscriptions in the "invite user" form.}}
<a href="#" class="invite_check_all_button">{{t "Check all" }}</a> |
<a href="#" class="invite_uncheck_all_button">{{t "Uncheck all" }}</a>
<div id="invite-stream-checkboxes">
  {{#each streams}}
  <label class="checkbox">
    <input type="checkbox" name="stream" value="{{name}}"
           {{#unless invite_only}}checked="checked"{{/unless}} /> {{name}}
    {{#if invite_only}}<i class="icon-vector-lock"></i>{{/if}}
  </label>
  {{/each}}
</div>
