{{! Client-side Mustache template for rendering subscriptions in the "invite user" form.}}
<div class="invite-stream-controls">
    <a href="#" class="invite_check_all_button">{{t "Check all" }}</a> |
    <a href="#" class="invite_uncheck_all_button">{{t "Uncheck all" }}</a>
</div>
<div id="invite-stream-checkboxes" class="new-style">
    {{#each streams}}

    <label class="checkbox display-block">
        <input type="checkbox" name="stream" value="{{stream_id}}"
          {{#if default_stream}}checked="checked"{{/if}} />
        <span></span>
        {{#if invite_only}}<i class="fa fa-lock" aria-hidden="true"></i>{{/if}}
        {{name}}
    </label>
    {{/each}}
</div>
