{{! Client-side Mustache template for rendering multiuse invite link in the "invite user" form.}}
{{t "Invitation link:" }} <a href="{{invite_link}}" target="_blank" rel="noopener noreferrer">{{invite_link}}</a>
