<ul class="nav nav-list">
    <li>
        <a href="#streams/all" class="navigate_and_close_popover">
            {{t "Browse streams" }}
        </a>
    </li>
    <li>
        <a href="#streams/new" class="navigate_and_close_popover">
            {{t "Create a stream" }}
        </a>
    </li>
</ul>
