<ul class="nav nav-list">
    <li>
        <a href="#streams/all">
            {{t "Browse streams" }}
        </a>
    </li>
    <li>
        <a href="#streams/new">
            {{t "Create a stream" }}
        </a>
    </li>
</ul>
