<div id="lightbox_overlay" class="overlay new-style" data-overlay="lightbox" data-noclose="false">
    <div class="image-info-wrapper">
        <div class="image-description">
            <div class="title"></div>
            <div class="user"></div>
        </div>
        <div class="image-actions">
            <a class="button small lightbox-zoom-reset disabled">{{t "Reset zoom" }}</a>
            <a class="button small open" rel="noopener noreferrer" target="_blank">{{t "Open" }}</a>
            <a class="button small download" download>{{t "Download" }}</a>
        </div>
        <div class="exit" aria-label="{{t 'Close' }}"><span aria-hidden="true">x</span></div>
    </div>

    <div class="image-preview no-select">
        <div class="zoom-element no-select"></div>
    </div>
    <div class="player-container"></div>
    <div class="center">
        <div class="arrow no-select" data-direction="prev">&lt;</div>
        <div class="image-list"></div>
        <div class="arrow no-select" data-direction="next">&gt;</div>
    </div>
</div>
