<div class="spectator_login_for_image_button">
    <a class="login_button color_animated_button" href="/login/">
        <i class='fa fa-sign-in'></i>
        <span>Log in to view image</span>
    </a>
</div>
