<p id="mark_as_unread_fail_banner_content">
    {{t '...' }}
</p>
<div id="mark_as_read_controls">
    <button id="mark_banner_read" class="btn btn-warning" title="{{t 'Mark as read' }}">
        {{t 'Mark as read' }}
    </button>
</div>
<button type="button" id="mark_banner_close" class="close">×</button>
