<p id="mark_as_read_turned_off_content">
    {{t 'To preserve your reading state, this view does not mark messages as read.' }}
</p>
<div id="mark_as_read_controls">
    <button id="mark_view_read" class="btn btn-warning" title="{{t 'Mark as read' }}">
        {{t 'Mark as read' }}
    </button>
    <button type="button" class="mark_as_read_close close">×</button>
</div>
