<span class="sender-status">
    <span class="sender_name-in-status auto-select" role="button" tabindex="0">{{msg/sender_full_name}}</span>
    {{#if sender_is_bot}}
    <i class="zulip-icon bot" aria-label="{{t 'Bot' }}"></i>
    {{/if}}

    <span class="status-message auto-select">
        {{{ status_message }}}
    </span>

    {{#if last_edit_timestr}}
    {{partial "edited_notice"}}
    {{/if}}
</span>
