{{#each this/msg/message_reactions}}
{{partial "message_reaction"}}
{{/each}}
<div class="reaction_button" title="{{t 'Add emoji reaction' }} (:)">
    <i class="fa fa-smile-o" aria-hidden="true"></i>
    <div class="message_reaction_count">+</div>
</div>
