<div class="u-{{msg/sender_id}} inline_profile_picture {{#sender_is_guest}} guest-avatar{{/sender_is_guest}}" aria-hidden="true">
    <img src="{{small_avatar_url}}" alt="" loading="lazy" class="no-drag"/>
</div>
