{{#each this/msg/message_reactions}}
{{partial "message_reaction"}}
{{/each}}
<div class="reaction_button" title="{{t 'Add reaction...' }}">
    <i class="icon-vector-smile"></i>
    <div class="message_reaction_count">+</div>
</div>
