<li class="show-more-topics">
    <a href="#">{{t "more topics" }}</a>
</li>
<li class="searching-for-more-topics">
    <span>
        {{t "Searching..." }}
    </span>
</li>
<li class="no-more-topics-found">
    <span>
        {{t "No more topics were found." }}
    </span>
</li>
