<li class="show-more-topics">
    <a href="#">{{t "more topics" }}</a>
</li>
<li class="searching-for-more-topics">
    <img src="/static/images/loading-ellipsis.svg" alt="" />
</li>
<li class="no-more-topics-found">
    {{t "No more topics." }}
</li>
