<li>
  <div class="muted-topics-conatiner">
  	<div>
  	  <span class="sub-header">Topic - </span> {{topic}}
  	  <br/>
  	  <span class="sub-header">Stream - </span>{{stream}}
  	</div>
  	<div>
  	  <button class="button white">Unmute</button>
  	</div>
  </div>
</li>