<span>{{t 'Go to conversation' }}</span> <span class="hotkey-hint">({{shortcut_html}})</span>
{{#if display_current_view}}
<p class="narrow_to_compose_recipient_current_view_help">{{display_current_view}}</p>
{{/if}}
