<div class="subscriber_list_add float-left">
    <form class="form-inline">
        <div class="add_subscribers_container">
            <div class="pill-container person_picker">
                <div class="input" contenteditable="true"
                  data-placeholder="{{t 'Add people who you think who might be interested in this stream.' }}"></div>
            </div>
        </div>
    </form>
</div>
