{{! Content of in-browser notifications }}
<div class="notification" data-message-id="{{message_id}}">
    <div class="notifications-gravatar">
        <img src="{{gravatar_url}}" />
    </div>
    <div class="notifications-content">
        <div class="title">{{title}}</div>
        {{content}}
    </div>
</div>
