{{#tr}}
    Zulip needs your permission to <z-link> enable desktop notifications. </z-link>
    {{#*inline "z-link"}}<a class="alert-link request-desktop-notifications" role="button" tabindex="0">{{> @partial-block}}</a>{{/inline}}
{{/tr}}
