{{! Explanation of when notifications fire }}
<div>

<p>If enabled, you will get desktop notifications for the following:</p>

<ul>
<li>a private message</li>
<li>a message that @-mentions you</li>
<li>a message to a stream you have configured to show desktop notifications (via the streams page)</li>
{{#if alert_words}}
  <li>any custom word alerts that you have configured</li>
{{/if}}
</ul>
<br />
<p>If the Zulip window is in focus and you can already see the message when it arrives, we won't notify you.</p>

</div>
