{{! User presence rows }}
{{#if users_title}}
<div>
    <h5 id="users_heading" class="buddy_list_heading {{#if users_title_collapsed}} collapsed {{/if}}" role="button"
      data-toggle="collapse" data-target="#users" aria-controls="users" aria-expanded="true">
        <i class="fa fa-chevron-down"aria-hidden="true"></i> {{ users_title }}
    </h5>
    <ul class="collapse {{#unless users_title_collapsed}} in {{/unless}}" id="users">
    </ul>
</div>
{{else}}
{{! "all users" presence rows }}
<ul id="users">
</ul>
{{/if}}

{{! other presence rows }}
{{#if others_title}}
<div>
    <h5 id="others_heading" class="buddy_list_heading {{#if others_title_collapsed}} collapsed {{/if}}" role="button"
      data-toggle="collapse" data-target="#others" aria-controls="others" aria-expanded="true">
        <i class="fa fa-chevron-down" aria-hidden="true"></i> {{ others_title }}
    </h5>
    <ul class="collapse {{#unless others_title_collapsed}} in {{/unless}}" id="others">
    </ul>
</div>
{{/if}}
