<div>
    <p>{{t "Apply this change to all current stream subscriptions?" }}</p>

    <div class="control-group">
        <div class="controls propagate-notifications-controls">
            <button type="button"
              class="yes_propagate_notifications btn btn-primary btn-small">{{t "Yes" }}</button>
            <button type="button"
              class="no_propagate_notifications btn btn-default btn-small">{{t "No" }}</button>
        </div>
    </div>
</div>
