<div class="micromodal" id="read_receipts_modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1">
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="read_receipts_modal_label">
            <header class="modal__header">
                <h1 class="modal__title" id="read_receipts_modal_label">
                    {{t "Read receipts" }}
                </h1>
                <button class="modal__close" aria-label="{{t 'Close modal' }}" data-micromodal-close></button>
            </header>
            <hr/>
            <main class="modal__content">
                <div class="alert" id="read_receipts_error"></div>
                <div class="read_receipts_info">
                </div>
                <div class="loading_indicator"></div>
            </main>
        </div>
    </div>
</div>
