<table>
    {{!-- DO WE NEED HEADERS? (THEY DON'T LOOK BAD :) --}}
    <tr>
        <th>Unread</th>
        <th>Stream</th>
        <th>Topic</th>
        <th>Actions</th>
        <th>Active Users</th>
        <th>Last message</th>
    </tr>
    {{!-- RECENT TOPICS LIST --}}
    {{#each recent_topics}}
    {{> recent}}
    {{/each}}
</table>
