<div class="overlay-reminder-modal" id="reminder-notifications" tabindex="-1" role="dialog"
  aria-label="{{t 'Reminder notifications' }}" style="padding-bottom: 10px;">
  <div class="modal-body" data-simplebar data-simplebar-auto-hide="false" style="height: 70vh;
            text-align: center;
            outline: none;">
    <div>
      <div>
        <table>
          <thead>
            <tr>
              <th style="width: 150px; text-align: center;">Stream</th>
              <th style="width: 250px; text-align: center;">Topic</th>
              <th style="width: 150px; text-align: center;">Unmute date</th>
            </tr>
          </thead>
        </table>
        <table class="remind-topics-list table table-responsive" data-empty="{{t 'No remind topics.'}}">
        </table>
      </div>
    </div>
  </div>