<p>{{#tr}}Rename <strong>{topic_name}</strong>{{/tr}} to:</p>
<form class="new-style" id="rename_topic_form">
    <div id="topic_stream_edit_form_error" class="alert">
        <span class="send-status-close">&times;</span>
        <span class="error-msg"></span>
    </div>
    <div class="topic_stream_edit_header">
        <input name="new_topic_name" type="text" class="inline_topic_edit" id="new_topic_name" value="{{topic_name}}" />
    </div>
</form>
