<div id="scheduled_message_overlay" class="overlay new-style" data-overlay="scheduled_messages">
    <div class="flex overlay-content">
        <div class="scheduled-messages-container modal-bg">
            <div class="scheduled-messages-header">
                <h1>{{t 'scheduled messages' }}</h1>
                <div class="exit">
                    <span class="exit-sign">&times;</span>
                </div>
            </div>
            <div class="scheduled-messages-list">
                <div class="no-scheduled-messages">
                    {{t 'No scheduled_messages.'}}
                </div>

                {{#each scheduled_messages}}
                {{partial "scheduled_message"}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
