{{! Contents of the "starred messages sidebar" popup }}
<ul class="nav nav-list">
    <li>
        <a id="unstar_all_messages">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            {{#tr this}}Unstar all messages{{/tr}}
        </a>
    </li>
</ul>
