<ul class="grey-box">
    <li>
        <label class="radio">
            <input type="radio" name="privacy" value="public" {{#if is_public}}checked{{/if}} />
            {{t '<b>Public:</b> anyone can join; anyone can view complete message history without joining' }}
        </label>
    </li>
    <li>
        <label class="radio">
            <input type="radio" name="privacy" value="invite-only-public-history" {{#if is_private_with_public_history}}checked{{/if}} />
            {{t '<b>Private, shared history:</b> must be invited by a member; new members can view complete message history; hidden from non-administrator users' }}
        </label>
    </li>
    <li>
        <label class="radio">
            <input type="radio" name="privacy" value="invite-only" {{#if is_private}}checked{{/if}} />
            {{t '<b>Private, protected history:</b> must be invited by a member; new members can only see messages sent after they join; hidden from non-administrator users' }}
        </label>
    </li>
    {{#if is_admin}}
    <li>
        <label class="checkbox">
            <input type="checkbox" name="is-announcement-only" value="is-announcement-only" {{#if is_announcement_only}}checked{{/if}}/>
            <span></span>
            {{t 'Restrict posting to organization administrators' }}
        </label>
    </li>
    {{/if}}
</ul>
