{{! Contents of the "stream link description" popup }}
<ul class="nav nav-list streams_popover" data-stream-id="{{ stream.stream_id }}" data-name="{{ stream.name }}">
    <li>
        {{#tr this}} <b>{{trimmed_description}}</b>{{/tr}}
    </li>
</ul>
