<tr data-subscriber-email="{{email}}">
    <td class="subscriber-name">{{name}}</td>
    <td class="subscriber-email">{{email}}</td>
    {{#if displaying_for_admin}}
    <td class="unsubscribe">
        <div class="subscriber_list_remove">
            <form class="form-inline remove-subscriber-form">
                <button type="submit" name="unsubscribe" class="remove-subscriber-button button small rounded btn-danger">
                    {{t 'Unsubscribe' }}
                </button>
            </form>
        </div>
    </td>
    {{/if}}
</tr>
