{{! This controls whether the swatchnext to streams in the left sidebar has a lock icon. }}
{{#if invite_only}}
<i class="fa fa-lock" aria-hidden="true"></i>
{{ else }}
<span class="hashtag"></span>
{{/if}}
