<tr>
    <td class="subscriber-name">{{name}}</td>
    <td class="subscriber-email">{{email}}</td>
    <td class="subscriber-permission">{{permissions}}</td>
    {{#if displaying_for_admin}}
    <td class="unsubscribe">
        <div class="subscriber_list_remove">
            <form class="form-inline remove-subscriber-form">
                    <input type="submit" name="unsubscribe" value="{{t 'Unsubscribe' }}"
                           class="btn btn-danger remove-subscriber-button" />
            </form>
        </div>
    </td>
    {{/if}}
</tr>
