{{#if exactly_one_unsubscribed_stream}}
    <a href="#streams/all" class="subscribe-to-more-streams__link">
        <i aria-hidden="true" class="subscribe-to-more-streams__icon">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.75 14.75L10.2501 10.25M11.75 6.5C11.75 9.3995 9.3995 11.75 6.5 11.75C3.6005 11.75 1.25 9.3995 1.25 6.5C1.25 3.6005 3.6005 1.25 6.5 1.25C9.3995 1.25 11.75 3.6005 11.75 6.5Z" stroke="#175CD3" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </i>
        {{~#tr}}Browse 1 more stream{{/tr~}}
    </a>
{{else if can_subscribe_stream_count}}
    <a href="#streams/all" class="subscribe-to-more-streams__link">
        <i aria-hidden="true" class="subscribe-to-more-streams__icon">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.75 14.75L10.2501 10.25M11.75 6.5C11.75 9.3995 9.3995 11.75 6.5 11.75C3.6005 11.75 1.25 9.3995 1.25 6.5C1.25 3.6005 3.6005 1.25 6.5 1.25C9.3995 1.25 11.75 3.6005 11.75 6.5Z" stroke="#175CD3" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </i>
        {{~#tr}}Browse {can_subscribe_stream_count} more streams{{/tr~}}
    </a>
{{else if can_create_streams}}
    <a href="#streams/new" class="subscribe-to-more-streams__link">
        <i aria-hidden="true" class="subscribe-to-more-streams__icon">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.75 14.75L10.2501 10.25M11.75 6.5C11.75 9.3995 9.3995 11.75 6.5 11.75C3.6005 11.75 1.25 9.3995 1.25 6.5C1.25 3.6005 3.6005 1.25 6.5 1.25C9.3995 1.25 11.75 3.6005 11.75 6.5Z" stroke="#175CD3" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </i>
        {{~t "Create a stream"~}}
    </a>
{{/if}}
