<div class="icon" style="background-color: {{color}}">
    <div class="flex">
        {{#if invite_only}}
        <i class="fa fa-lock" aria-hidden="true"></i>
        {{else}}
        <span class="hashtag">#</span>
        {{/if}}
    </div>
</div>
