  <div id="create_stream_row">
      <div class="subscription_table_elem">
        <form id="add_new_subscription" class="form-inline" action="">
          <input type="text" name="stream_name" id="create_stream_name"
                 placeholder="Stream name" value="" />
          <input type="submit" class="zulip-button blue-button"
                 id="create_stream_button" value="Create new stream" />
        </form>
      </div>
  </div>

{{#each subscriptions}}
{{partial "subscription"}}
{{/each}}
