{{#if invite_only}}
   <span class="subscription_lock"><i class="icon-vector-lock" style="color: {{color}}"></i></span>
{{else}}
 <span class="color_swatch fade {{#subscribed}}in{{/subscribed}}" style="background-color: {{color}}"></span>
{{/if}}
