{{#render_subscribers}}
<div class="subscriber_list_settings_container" {{#unless can_access_subscribers}}style="display: none"{{/unless}}>
    <div class="subscriber_list_settings">
        <label class="sub_settings_title float-left">
            {{t "Stream membership" }}
        </label>
        <div class="subscriber-search float-right">
            <input type="text" class="search" placeholder="{{t 'Search subscribers' }}" />
        </div>
        <div class="subscriber_list_add float-left">
            <form class="form-inline">
                <div class="add_subscribers_container">
                    <div class="pill-container person_picker">
                        <div class="input" contenteditable="true"
                          data-placeholder="{{t 'Add subscribers. Use #streamname to subscribe a whole stream' }}"></div>
                    </div>
                    <div class="add_subscriber_btn_wrapper inline-block">
                        <button type="submit" name="add_subscriber" class="button add-subscriber-button small rounded" tabindex="0">
                            {{t 'Add' }}
                        </button>
                    </div>
                </div>
            </form>
            <div class="stream_subscription_info"></div>
        </div>
        <div class="clear-float"></div>
    </div>
    <div class="subscriber-list-box">
        <div class="subscriber_list_container" data-simplebar>
            <div class="subscriber_list_loading_indicator"></div>
            <table class="subscriber-list"></table>
        </div>
    </div>
</div>
{{/render_subscribers}}
