  <div id="create_or_filter_stream_row">
      <div class="subscription_table_elem">
        <form id="add_new_subscription" class="form-inline" action="">
            <input type="text" name="stream_name" id="search_stream_name"
              placeholder="Filter by stream name" value="" />
            {{#if can_create_streams}}
                <input type="submit" class="btn btn-primary"
                  id="create_stream_button" value="{{t 'Create new stream' }}" />
            {{/if}}
        </form>
      </div>
  </div>

{{#each subscriptions}}
{{partial "subscription"}}
{{/each}}
