{{#if can_create_streams}}
  <div id="create_stream_row">
      <div class="subscription_table_elem">
        <form id="add_new_subscription" class="form-inline" action="">
            {{#if hide_all_streams}}
                <input type="text" name="stream_name" id="create_stream_name"
                       class="something" placeholder="Stream name" value="" />
            {{/if}}
            <input type="submit" class="btn btn-primary"
                   id="create_stream_button" value="Create new stream" />
        </form>
      </div>
  </div>
{{/if}}

{{#each subscriptions}}
{{partial "subscription"}}
{{/each}}
