{{! Client-side Mustache template for rendering the topic edit form. }}

<form id="topic_edit_form" class="form-horizontal">
    <input type="text" value="" class="inline_topic_edit header-v" id="inline_topic_edit"
      autocomplete="off" />
    <button type="button" class="topic_edit_save primary"><i class="fa fa-check" aria-hidden="true"></i></button>
    <button type="button" class="topic_edit_cancel primary"><i class="fa fa-remove" aria-hidden="true"></i></button>
    <div class="topic_edit_spinner"></div>
    <div class="alert alert-error edit_error hide"></div>
</form>
