<ul class="nav nav-list topics_popover">
  <li>
    <a class="narrow_to_topic" data-stream-name="{{ stream_name}}" data-topic-name="{{ topic_name }}">
      <i class="icon-vector-bullhorn"></i>
      Narrow to topic <b>{{ topic_name }}</b>
    </a>
  </li>
</ul>
