<div class="topic_muted" data-stream="{{stream}}" data-topic="{{topic}}">
    {{#tr this}}<strong>__topic__</strong> in <strong>__stream__</strong> is now muted.{{/tr}}
    <div class="topic_muted_controls">
        <span class="topic_muted_error alert alert-error" style="display: none;">{{t "Unable to unmute the topic" }}</span>
        <button href="" class="topic_unmute_link btn" >{{t "Unmute" }}</button><button type="button" class="topic_muted_close close">×</button>
    </div>
</div>
