{{! Contents of the "tutorial private" onboarding popup }}

<div id="tutorial-private">

    <p>
        You can also send private messages to one or more people.
    </p>

    <div class="tutorial-done-button">
      <button class="btn btn-primary" type="submit" id="tutorial-private-next">Next</button>
    </div>
</div>
