{{! Contents of the "tutorial subject" onboarding popup }}

<div class="tutorial-popover popover-{{placement}}" id="tutorial-subject">

    <p>
        The <b>topic</b> of a conversation is one or two words that describe
        what it is about, for example: <b>Bug #345</b>, <b>lunch</b>, or
        <b>logo</b>. Don't overthink it.
    </p>

    <div class="tutorial-done-button">
      <button class="btn btn-primary" type="submit" id="tutorial-subject-next">Next</button>
    </div>
</div>
