{{! Contents of the "tutorial subject" onboarding popup }}

<div class="tutorial-popover popover-{{placement}}" id="tutorial-subject">

    <p>
        {{#tr this}}
        The <b>topic</b> of a conversation is one or two words that describe
        what it is about, for example: <b>Bug #345</b>, <b>lunch</b>, or
        <b>logo</b>. Don't overthink it.
        {{/tr}}
    </p>

    <div class="tutorial-done-button">
        <button class="btn btn-primary" type="submit" id="tutorial-subject-next">{{t "Next" }}</button>
    </div>
</div>
