{{! Contents of the "tutorial stream" onboarding popup }}

<div class="tutorial-popover popover-{{placement}}" id="tutorial-stream">
    <p>
        {{#tr this}}
        <b>Streams</b> are like chat rooms or mailing lists. You can easily
        <b>join</b>, <b>leave</b>, and <b>make</b> them.
        {{/tr}}
    </p>

    <div class="tutorial-done-button">
        <button class="btn btn-primary" type="submit" id="tutorial-stream-next">{{t "Next" }}</button>
    </div>
</div>
