{{! Contents of the "tutorial message" onboarding popup }}

<div class="tutorial-popover popover-{{placement}}" id="tutorial-message">
    <p>
        Messages in Zulip go to a <b>stream</b> and have a <b>topic</b>.
    </p>

    <div class="tutorial-done-button">
      <button class="btn btn-primary" type="submit" id="tutorial-message-next">Next</button>
    </div>
</div>
