{{! Contents of the "tutorial home" onboarding popup }}

<div class="tutorial-popover popover-{{placement}}" id="tutorial-home">

    {{#tr this}}
    <p>You can <b>narrow</b> to a stream or topic by <b>clicking on it</b>, or
       see messages from all streams at once from your Home view.</p>
    {{/tr}}

    <div class="tutorial-done-button">
        <button class="btn btn-primary" type="submit" id="tutorial-home-next">{{t "Next" }}</button>
    </div>
</div>
