{{! Contents of the "tutorial reply" onboarding popup }}

<div class="tutorial-popover popover-{{placement}}" id="tutorial-reply">

    {{#tr this}}
    <p><b>Reply</b> to a message by <b>clicking on it</b>. The stream
        and topic will automatically be filled in.</p>
    {{/tr}}

    <div class="tutorial-done-button">
        <button class="btn btn-primary" type="submit" id="tutorial-reply-next">{{t "Next" }}</button>
    </div>
</div>
