<div class="popover-avatar{{#if user_is_guest}} guest-avatar{{/if}}" style="background-image: url('{{user_avatar}}');" >
    <div class="popover-avatar-background"></div>
    <button class="exit_user_info_popover" role="button" tabindex="0">
        &times;
    </button>
</div>
