{{! Contents of the "user actions" popup }}
<ul class="nav nav-list user_popover" data-user-id="{{user_id}}">
  <li>
    <a class="narrow_to_private_messages">
      <i class="icon-vector-user"></i>
      {{#tr this}}Narrow to private messages with <b>__name__</b>{{/tr}}
    </a>
  </li>
  <li>
    <a class="narrow_to_messages_sent">
      <i class="icon-vector-bullhorn"></i>
      {{#tr this}}Narrow to messages sent by <b>__name__</b>{{/tr}}
    </a>
  </li>
  <li>
    <a class="compose_private_message">
      <i class="icon-vector-edit"></i>
      {{#tr this}}Compose a message to <b>__name__</b>{{/tr}}
    </a>
  </li>
  <li>
    <a class="mention_user">
      {{#tr this}}@ Compose a message @-mentioning <b>__name__</b>{{/tr}}
    </a>
  </li>
</ul>
