<div class="add_subscribers_container {{#unless permission_to_add_user}}no_permission_to_add_user{{/unless}}">
    <div class="pill-container person_picker {{#unless permission_to_add_user}}tippy-zulip-tooltip{{/unless}}" data-tippy-content="You do not have permission to add other users to streams in this organization.">
        <div class="input" {{#if permission_to_add_user}}contenteditable{{/if}}
          data-placeholder="{{t 'Add subscribers. Use usergroup or #streamname to bulk add subscribers.' }}">
            {{~! Squash whitespace so that placeholder is displayed when empty. ~}}
        </div>
    </div>
    <div class="add_subscriber_btn_wrapper inline-block {{#unless permission_to_add_user}}tippy-zulip-tooltip{{/unless}}" data-tippy-content="You do not have permission to add other users to streams in this organization.">
        <button type="submit" name="add_subscriber" class="button add-subscriber-button small rounded sea-green" tabindex="0">
            {{t 'Add' }}
        </button>
    </div>
</div>
