<label class="checkbox" for="id_should_announce_new_stream">
    <input type="checkbox" name="announce" value="announce" checked id="id_should_announce_new_stream"/>
    <span class="rendered-checkbox"></span>
    {{t "Announce new channel in"}}
    {{#if new_stream_announcements_stream_sub}}
        <strong>
            {{> ../inline_decorated_channel_name
              stream=new_stream_announcements_stream_sub
              }}
        </strong>
    {{/if}}
    {{> ../help_link_widget link="/help/configure-automated-notices#new-channel-announcements"}}
</label>
