<label class="checkbox">
    <input type="checkbox" name="announce" value="announce" checked />
    <span></span>
    {{t "Announce new stream in" }} <strong>{{{stream_privacy_symbol_html}}}{{notifications_stream}}</strong>
    {{> ../help_link_widget link="/help/create-a-stream#stream-options"}}
</label>
