<div class="confirm-stream-privacy-modal">
    <div class="new-style">
        <p class="confirm-stream-privacy-info">
            {{t "This change will make this channel's entire message history accessible according to the new configuration."}}
        </p>
    </div>
</div>
