<div class="confirm-stream-privacy-modal">
    <div class="new-style">
        <p class="confirm-stream-privacy-info">
            {{t "Changing the privacy of this stream will make the entire message history accessible according to the new
              privacy configuration."}}
        </p>
    </div>
</div>
