<div>
    <label for="new_channel_folder_name" class="modal-field-label">
        {{t 'Channel folder name' }}
    </label>
    <input type="text" id="new_channel_folder_name" class="modal_text_input" name="channel_folder_name" maxlength="{{ max_channel_folder_name_length }}" />
</div>
<div>
    <label for="new_channel_folder_description" class="modal-field-label">
        {{t 'Description' }}
    </label>
    <textarea id="new_channel_folder_description" class="settings_textarea" name="channel_folder_description" maxlength="{{ max_channel_folder_description_length }}"></textarea>
</div>
