{{#if render_subscribers}}
<div class="subscriber_list_settings_container no-display">
    <h4 class="stream_setting_subsection_title">
        {{t "Add subscribers" }}
    </h4>
    <div class="subscriber_list_settings">
        <div class="subscriber_list_add float-left">
            <div class="stream_subscription_request_result"></div>
            {{> add_subscribers_form .}}
        </div>
        <div class="clear-float"></div>
    </div>
    <div>
        <div class="subsection-parent send_notification_to_new_subscribers_container inline-block">
            {{> ./../settings/settings_checkbox
              setting_name="send_notification_to_new_subscribers"
              is_checked=true
              label=(t "Send notification message to newly subscribed users")
              }}
        </div>
    </div>
    <div>
        <h4 class="inline-block stream_setting_subsection_title">{{t "Subscribers"}}</h4>
        <span class="subscriber-search float-right">
            <input type="text" class="search filter_text_input" placeholder="{{t 'Filter' }}" />
        </span>
    </div>
    <div class="add-subscriber-loading-spinner"></div>
    <div class="subscriber-list-box">
        {{> stream_members_table .}}
    </div>
</div>
<div class="subscriber-list-settings-loading"></div>
{{/if}}
