{{#if rendered_description}}
<div class="sub-stream-description settings-view-only-textarea rendered_markdown">
    {{rendered_markdown rendered_description}}
</div>
{{else}}
<span class="sub-stream-description no-description">
    {{t "No description." }}
</span>
{{/if}}
