{{#> compose_banner }}
    <p>
        {{#tr}}
        The stream <b>#{stream_name}</b> does not exist. Manage your subscriptions
        <z-link>on your Streams page</z-link>.
        {{#*inline "z-link"}}<a href='#streams/all'>{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
    </p>
{{/compose_banner}}
