/* Reusable, object-oriented CSS base components for all Zulip pages
   (both webapp and portico). */

.new-style label.checkbox {
    padding: 0px;
    display: inline-block;
    vertical-align: top;
}

.new-style label.checkbox input[type=checkbox] {
    display: none;
}

.new-style label.checkbox input[type=checkbox] ~ span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;

    padding: 2px;
    margin: 0px 5px 0px 0px;
    height: 10px;
    width: 10px;

    font-weight: 300;
    line-height: 0.8;
    font-size: 1.3rem;
    text-align: center;
    border: 1px solid hsl(0, 0%, 75%);
    color: hsl(0, 0%, 80%);

    border-radius: 4px;
    -webkit-filter: grayscale(1);

    cursor: pointer;
}

.new-style label.checkbox input[type=checkbox]:checked ~ span {
    color: transparent;

    background-image: url(/static/images/checkbox-green.png);
    background-size: 85%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.new-style label.checkbox input[type=checkbox]:disabled ~ span {
    opacity: 0.7;
}

.new-style a.no-style {
    color: inherit;
}

a.no-underline {
    text-decoration: none;
}
