#message-edit-history {
    .message_time {
        position: static;
    }

    .message_author {
        position: relative;
    }

    .author_details {
        display: block;
        font-size: 0.75rem;
        padding: 0.0625rem;
        text-align: right;
    }

    .messagebox-content {
        padding: 0 0.625rem;
    }

    .message_edit_history_content {
        .highlight_text_inserted {
            color: hsl(122, 72%, 30%);
            background-color: hsl(120, 64%, 95%);
        }

        .highlight_text_deleted {
            color: hsl(0, 100%, 50%);
            background-color: hsl(7, 90%, 92%);
            text-decoration: line-through;
            word-break: break-all;
        }
    }
}
