.message_failed .rotating {
    display: inline-block;

    -webkit-animation: rotate 1s infinite linear;
    -moz-animation: rotate 1s infinite linear;
    -ms-animation: rotate 1s infinite linear;
    -o-animation: rotate 1s infinite linear;
    animation: rotate 1s infinite linear;
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes rotate {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(359deg); }
}

@-ms-keyframes rotate {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(359deg); }
}

@-moz-keyframes rotate {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(359deg); }
}

@keyframes rotate {
    from { transform:rotate(0deg); }
    to { transform:rotate(359deg); }
}

.message_failed,
.message_local {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
}

.message_failed {
    font-weight: bold;
    color: red;
    padding: 0px 1px 0px 1px;
}

.message_failed i {
    margin-left: 2px;
    margin-right: 2px;
}

