.modal {
    box-shadow: 0px 0px 75px hsla(0, 0%, 0%, 0.5);
    border: none;
    border-radius: 0px;
    overflow: hidden;
    margin-top: 0;
    top: 5%;
    outline: 10000px solid hsla(0, 0%, 0%, 0.3);

    &.fade {
        /* Ensure the modal is entirely off-screen while we fade the background */
        top: -50%;
        transition: opacity 0.3s linear;
        transform: translateY(-50%);

        &.in {
            top: 50%;
            pointer-events: all;
        }
    }

    form {
        margin-bottom: 0px;
    }
}

.modal-body {
    max-height: 60vh;
}

.modal-backdrop {
    z-index: 102;
}

.modal-bg {
    background-color: hsl(0, 0%, 98%);
}
