.message_reactions {
    padding-left: 46px;
    overflow: hidden;
}

.message_reactions .message_reaction {
    float: left;
    margin: 0.15em;
    padding: 0 2px 0 0;
    height: 19px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #c7dfe6;
    border-radius: 4px;
}

.private-message .message_reactions .message_reaction {
    background-color: #f0f4f5;
}

.message_reactions .message_reaction.reacted {
    background-color: #eef7fa;
}

.private-message .message_reactions .message_reaction.reacted {
    background-color: #e4f2f7;
    border-color: #96c3d0;
}

.message_reaction .emoji {
    display: inline-block;
    vertical-align: top;
    top: 0px;
    margin: 1px 3px;

    height: 17px;
    width: 17px;
    position: relative;
}

.message_reactions .message_reaction_count {
    position: relative;
    top: 4px;
    font-size: 0.8em;
    display: inline-block;
    vertical-align: top;
    color: #0088CC;
    margin: 0px 1px 0px 0px;
    line-height: 1em;
}

.message_reactions .reaction_button .message_reaction_count {
    top: 0.5px;
}

.message_reactions i {
    font-size: 1.3em;
    float: left;
    color: #555;
}

.message_reactions .reaction_button:not(:only-child) {
    margin-bottom: 5px;
}

.message_reactions:hover .message_reaction + .reaction_button {
    visibility: visible;
    pointer-events: all;
    background-color: #fafafa;
    color: #bbb;
}

.message_reactions .reaction_button i {
    font-size: 1em;
    margin-right: 3px;
}

.message_reactions .reaction_button:hover i {
    color: #0088CC;
}

.message_reactions .message_reaction:hover {
    border: 1px solid #0088CC;
}

.message_reactions .reaction_button:only-child {
    display: none;
}

.message_reactions .message_reaction + .reaction_button {
    visibility: hidden;
    pointer-events: none;
    margin: 2px 0.1em 3px 0.1em;
    padding: 3px;
    height: 14px;
    border-radius: 4px;
    padding-left: 0.3em;
    border: 1px solid #bbb;
    padding-right: 0.3em;
    float: left;
}

.message_reactions .reaction_button:hover {
    border: 1px solid #0088CC;
    background-color: #eef7fa;
    cursor: pointer;
    opacity: 1.0;
    color: #0088CC;
}

.message_reactions .reaction_button .message_reaction_count {
    font-size: 1.1em;
    color: #555;
    margin-left: 3px;
}

.message_reactions .reaction_button:hover .message_reaction_count {
    color: #0088CC;
}

.emoji-info-popover {
    padding: 0;
}

.emoji-info-popover .popover-content {
    padding: 0;
}

.emoji-info-popover.bottom .arrow {
    border-bottom-color: #eee;
}

.emoji-info-popover.top .arrow {
    border-top-color: #eee;
}

.emoji-popover {
    display: block;
    width: 240px;
}

.emoji-popover-top {
    position: relative;

    padding: 8px 10px;
    margin-bottom: 0px;

    background-color: #eee;

    border-radius: 5px 5px 0px 0px;
}

.emoji-popover-top .icon-vector-search {
    position: absolute;
    color: #bbb;
    top: 15px;
    left: 17px;
    z-index: 3;
}

.emoji-popover-top .emoji-popover-filter {
    margin: auto;
    padding-left: 22px;
    width: calc(100% - 22px - 8px);
}

.emoji-popover-emoji-map {
    padding: 0px;
    position: relative;
    overflow: hidden;
    display: block;
    height: 250px;
    width: 238px;
    margin-left: 2px;
}

.emoji-popover-subheading {
    font-weight: 600;
    color: #333;
    padding: 5px 3px;
}

.emoji-popover-emoji {
    display: inline-block;
    margin: 0;
    padding: 6px;
    cursor: pointer;
    border-radius: 0.5em;
}

.emoji-popover-emoji.hide {
    display: none;
}

.emoji-popover .reacted {
    background-color: #eef7fa;
    border-color: #add8e6;
}

.emoji_alt_code {
    position: relative;
    top: 4px;
    font-size: 0.8em;
    display: inline-block;
    vertical-align: top;
    color: #333;
    margin: 0px 1px 0px 0px;
    line-height: 1em;
}

.emoji-popover-category-tabs {
    background-color: #eee;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.emoji-popover-category-tabs .emoji-popover-tab-item {
    display: inline-block;
    padding-top: 8px;
    width: 27.5px;
    height: 25px;
    text-align: center;
    color: #515151;
    font-size: 16px;
    cursor: pointer;
}

.emoji-popover-category-tabs .emoji-popover-tab-item.active {
    background: #cecece;
}
