
#settings {
    margin-top: 55px;
    margin-left: 15px;
}

#administration .settings-section,
#settings .settings-section {
    background-color: #f1f1f1;
    border: 1px solid #e3e3e3;
    border-top: 6px solid #e3e3e3;
    padding: 45px 0px 15px 0px;
    margin-right: 5px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

#settings #notify-settings-status,#ui-settings-status,#display-settings-status {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#administration .settings-section .admin-realm-form,
#settings .settings-section .account-settings-form,
#settings .settings-section .new-bot-form,
#settings .settings-section .edit-bot-form-box {
    width: 400px;
    margin: auto;
}

#administration .settings-section .admin-realm-form,
#settings .settings-section .new-bot-form,
#settings .settings-section .new-alert-word-form,
#emoji-settings .new-emoji-form,
#settings .settings-section .edit-bot-form-box {
    margin-top: 35px;
}

#settings .settings-section .new-bot-section-title,
#settings .settings-section .new-alert-word-section-title,
#emoji-settings .new-emoji-section-title {
    top: 20px;
    left: 20px;
}

#settings .settings-section .notification-settings-form,.ui-settings-form,.display-settings-form {
    width: 400px;
    margin: auto;
}


#settings .settings-section .account-settings-form .control-label,
#settings .settings-section .new-bot-form .control-label,
#settings .settings-section .new-alert-word-form .control-label,
#emoji-settings .new-emoji-form .control-label,
#settings .settings-section .edit-bot-form-box .control-label {
    width: 120px;
}

#settings .settings-section .account-settings-form .controls,
#settings .settings-section .new-bot-form .controls,
#settings .settings-section .new-alert-word-form button,
#emoji-settings .new-emoji-form .controls,
#settings .settings-section .edit-bot-form-box .controls  {
    margin-left: 140px;
}

#settings .settings-section .notification-settings-form .controls,
#settings .settings-section .display-settings-form .controls,
#settings .settings-section .ui-settings-form .controls {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    margin-left: 110px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 30px;
    margin-right: 12px;
}

#settings .settings-section .display-settings-form .controls {
    margin-left: 0;
}

#settings .settings-section .notification-settings-form .controls input[type='checkbox'],
#settings .settings-section .display-settings-form .controls input[type='checkbox'],
#settings .settings-section .ui-settings-form .controls input[type='checkbox'] {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

#settings .settings-section .notification-settings-form .control-label,
#settings .settings-section .ui-settings-form .control-label,
#settings .settings-section .display-settings-form .control-label {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    width:  240px;
}

#settings .settings-section .display-settings-form .control-label {
    width:  360px;
}

#settings .settings-section .notification-settings-form .notification-submission,
#administration .settings-section .organization-submission,
#settings .settings-section .ui-settings-form .ui-submission {
    margin-left: 140px;
}

#settings .notification-settings-form .notification-settings-note,
#settings .ui-settings-form .ui-settings-note {
    margin-left: 110px;
    width: 250px;
    font-size: 13px;
    line-height: 14px;
}

#administration .admin-streams-note,
#settings .bot-settings-note,
#settings .alert-word-settings-note {
    margin-left: 38px;
    font-size: 13px;
}

#settings .bot-information-box,
#settings .add-new-bot-box,
#alert_words_list .add-new-alert-word-box,
#alert_words_list .alert-word-information-box,
#emoji-settings .add-new-emoji-box,
#admin-default-streams-list .add-new-default-stream-box{
    background: #e3e3e3;
    padding: 10px;
    margin-left: 38px;
    margin-right: 38px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    position: relative;
    font-size: 14px;
}

#settings .add-new-bot-box,
#settings .add-new-alert-word-box,
#emoji-settings .add-new-emoji-box,
#admin-default-streams-list .add-new-default-stream-box {
    background: #cbe3cb;
}

.new-default-stream-section-title {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 10px;
}

#settings #get_api_key_box,
#settings #show_api_key_box,
#settings #api_key_button_box .control-group {
    text-align: center;
}

#settings #get_api_key_box .control-group {
    margin: 0px;
    width: 100%;
}

#settings #get_api_key_box .control-group .control-label {
    float: none;
    width: auto;
    margin: 0px;
    display: inline-block;
    margin-right: 15px;
}

#settings #get_api_key_box .control-group input {
    width: auto;
    margin: 0px;
    display: inline-block;
}

#settings #get_api_key_box .control-group .btn {
    margin-top: 20px;
}

#settings .bot-information-box .email,
#alert_words_list .alert-word-information-box .alert_word_listing,
#settings .bot-information-box .api_key {
    position: relative;
}

#settings .bot-information-box .image {
    overflow: hidden;
}

#settings .settings-section .api-key-note,
#settings .settings-section .alert-word-note{
    padding: 0px 20px 20px 20px;
}

@media (max-width: 580px) {


#settings .settings-section .new-bot-form .control-label,
#settings .settings-section .new-alert-word-form .control-label,
#emoji-settings .new-emoji-form .control-label,
#settings .settings-section .edit-bot-form-box .control-label {
    float: left;
    width: 120px;
    padding-top: 0;
    text-align: right;
}

#settings .settings-section .new-bot-form .controls,
#settings .settings-section .new-alert-word-form button,
#emoji-settings .new-emoji-form .controls {
    margin-left: 110px;
}

}

@media (max-width: 480px) {

#pw_strength {
    margin: auto;
}

#administration .settings-section .organization-settings .admin-realm-form,
#settings .settings-section .account-settings-form,
#settings .settings-section .new-bot-form,
#settings .settings-section .new-alert-word-form,
#emoji-settings .new-emoji-form,
#settings .settings-section .notification-settings-form,
#settings .settings-section .display-settings-form,
#settings .settings-section .edit-bot-form-box {
    width: 100%;
}

#administration .settings-section .admin-realm-form .control-label,
#settings .settings-section .account-settings-form .control-label,
#settings .settings-section .new-bot-form .control-label,
#settings .settings-section .new-alert-word-form .control-label,
#emoji-settings .new-emoji-form .control-label,
#settings .settings-section .edit-bot-form-box .control-label {
    display: block;
    width: 120px;
    padding: 0px;
    padding-top: 0;
    text-align: center;
    margin: auto;
    float: none;
}

#administration .settings-section .admin-realm-form .controls,
#settings .settings-section .account-settings-form .controls,
#settings .settings-section .new-bot-form .controls,
#settings .settings-section .new-alert-word-form button,
#emoji-settings .new-emoji-form .controls,
#settings .settings-section .edit-bot-form-box .controls {
    margin: auto;
    text-align: center;
}

#administration .settings-section .admin-realm-form .controls button,
#administration .settings-section .admin-realm-form .controls input,
#settings .settings-section .account-settings-form .controls button,
#settings .settings-section .account-settings-form .controls input,
#settings .settings-section .new-bot-form .controls button,
#settings .settings-section .new-alert-word-form button,
#emoji-settings .new-emoji-form .controls button,
#settings .settings-section .edit-bot-form-box .controls button,
#settings .settings-section .new-bot-form .controls input,
#settings .settings-section .new-alert-word-form input,
#emoji-settings .new-emoji-form .controls input,
#settings .settings-section .edit-bot-form-box .controls input {
    margin: auto;
}

#settings .settings-section .new-bot-form,
#settings .settings-section .new-alert-word-form,
#emoji-settings .new-emoji-form {
    padding: 0px;
    width: 100%;
    text-align: center;
}

#settings .settings-section .notification-settings-form .controls,
#settings .notification-settings-form .notification-settings-note {
    margin-left: 80px;
}

#administration .settings-section .organization-submission,
#settings .settings-section .notification-settings-form .notification-submission {
    margin: 0px;
    width: 100%;
    text-align: center;
}

}

#administration .settings-section .settings-section-title,
#settings .settings-section .settings-section-title {
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    left: 12px;
    top: 15px;
}

#administration .settings-section .settings-section-icon,
#settings .settings-section .settings-section-icon {
    margin-right: 8px;
}

#notification-settings .control-group,
#ui-settings .control-group {
    margin-bottom: 5px;
}

#notification-settings .control-label,
#ui-settings .control-label {
    width: 280px;
    text-align: left;
}

form.admin-realm .control-label {
    width: 200px;
    padding-top: 3px;
    padding-right: 20px;
    margin-bottom: -20px;
}

.control-label-disabled {
    color: #d3d3d3;
}

#settings-status {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.admin_emoji_table {
    margin: 20px auto;
}

.emoji_image {
    width: 50px; display: block;
}

.emoji_image img {
    max-width: 100%;
}

#admin-emoji-name-status, #admin-emoji-url-status {
    margin: 20px 0 0 0;
}

.admin-table-wrapper {
    margin: 0 38px;
}

#emoji-settings .new-emoji-form #emoji_url {
    width: 60%;
}
