/* Brighten text because of the dark background */
.dark_background a,
.dark_background a:hover,
a.dark_background:hover,
.dark_background {
    color: #ffffff !important;
}

.dark_background a.message_label_clickable:hover {
    color: hsl(200, 99%, 60%);
}

/* Darken text because of the light background */
.light_background a,
.light_background a:hover,
a.light_background:hover,
.light_background {
    color: #000000 !important;
}

.light_background a.message_label_clickable:hover {
    color: hsl(200, 99%, 40%);
}
