#subs_page_loading_indicator {
    margin: 10px auto;
}

.subscriber_list_loading_indicator {
    margin: 10px auto;
}

.subscription-email-hint-image {
    float: right;
    width: 80px;
    padding-right: 60px;
}

.subscription_header.collapsed {
    background-color: inherit;
}

.subscription_settings,
.subscription_header,
.subscription_header.active {
    background-color: #fefefe;
}

.color_swatch {
    display: inline-block;
    height: 18px;
    width: 18px;
    padding: 0;
    margin: 0 0 0 10px;
    vertical-align: middle;
}

.subscriptions {
    margin-top: 55px;
    padding-left: 15px;
}

#subscriptions_table .subscription_block {
    padding-left: 0.5em;
    vertical-align: middle;
}

.subscription-info-container {
    display: inline-block;
    /* subtract out the width of the subscribe button and arrow. */
    width: calc(100% - 260px);
    /* to center the container vertically. */
    margin-top: 13px;
}

.subscription-setting-icon {
    vertical-align: top;
    display: inline-block;
}

.subscription-info {
    display: inline-block;
    /* to provide space for the setting-icon. */
    max-width: calc(100% - 31px);
    margin-top: 1px;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.subscription-info .light {
    font-weight: 300;
}

#add_new_subscription {
    text-align: left;
}

#create_or_filter_stream_row > .subscription_table_elem {
    text-align: left;
}

#subscriptions-status {
    position: fixed;
    z-index: 999;
    display: block;
    left: 300px;
    right: 300px;
    margin: 0px auto;
    opacity: 0.9 !important;
    top: 55px;
    max-width: 800px;
}

#close-subscriptions-status {
    position: absolute;
    top: 8px;
    cursor: pointer;
    font-size: 17px;
    right: 8px;
}

.subscription_header {
    min-height: 47px;
}

.subscription-name-row {
    display: inline-block;
}

.subscription-name-row,
.subscription-description-row {
    vertical-align: top;
}

.subscription_header .subscription_lock {
    font-size: 23px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    margin-right: 1px;
}

.subscription_settings form {
    text-align: center;
}

.subscription_settings ul {
    list-style-type: none;
}

.subscription-type {
    text-align: center;
    padding: 5px;
    width: 80%;
    margin: auto;
    font-weight: 300;
}

.stream-email {
    width: 80%;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    padding: 5px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.subscription-control-label {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    padding: 5px;
}

.sp-preview {
    width: 20px;
    border: none;
    box-shadow: 0px 0px 1px rgba(0,0,0,1);
}

.sp-replacer {
    margin-right: 12px;
    border: none;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.8);
}

.subscription-config {
    width: 270px;
    margin: auto;
    margin-top: 25px;
}

.stream-email-box,
.subscriber_list_settings,
.rename-stream {
    margin: 20px 15px 20px 15px;
}

.subscription_row {
    position: relative;
    border-top: 1px solid #ddd;
}

.stream-email .email-address {
    width: 90%;
    display: block;
    margin: auto;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.sub_setting_control[type="checkbox"] {
    margin: 0 30px 5px 20px;
}

.muted-sub {
    color: #A3A3A3;
}

.mute-note {
    font-size: 90%;
    font-color: #525252;
}

.hide-mute-note {
    display: none;
}

.sub_setting_control {
    display: inline-block;
    margin-right: 10px;
}

.subscription_row:hover .preview-stream {
    display: inline-block;
}

.preview-stream {
    display: none;
    float: right;
    padding: 3px 10px;
    border: 1px solid #ccc;
    margin: 9px 10px 0px 0px;
    color: #333;
}

.preview-stream:hover {
    color: #333;
    text-decoration: none;
    background-color: #ebebeb;
    border: 1px solid #adadad;
}

.sub_arrow {
    float: right;
    line-height: 47px;
    padding: 0 15px 0 0;
}

#create_or_filter_stream_row td {
    background-color: #f3f3f3;
    border-color: #BBB;
    border-bottom: 1px solid #BBB;
}

#create_or_filter_stream_row input[type="text"] {
    width: 220px;
    margin: 5px 0 20px 38px;
}

form#add_new_subscription {
    display: inline;
}

#create_stream_button {
    min-width: 140px;
    float: right;
    margin-top: 9px;
    /* margin-right: 38px will align with .sub_unsub_button
       10px will align with the right edge of #subscriptions_table */
    margin-right: 38px;
}

#stream_name_error {
    display: none;
    margin-left: 2px;
    color: #FF0000;
}

.sub_settings_title {
    line-height: 30px;
    margin: 10px 0;
    font-weight: 300;
    font-size: 16px;
}

.new-stream-name,
.stream-rename-button {
    margin-top: 10px;
}

.settings_committed {
    margin: 10px;
}

.subscriber-list-box {
    text-align: center;
}

.subscriber_list_container {
    margin-top: 10px;
    display: inline-block;
    margin: auto;
    max-height: 300px;
    overflow: auto;
    text-align: left;
}

.subscriber-list {
    width: auto;
    margin: auto;
    margin-bottom: 20px;
    background: #efefef;
    border-radius: 6px;
}

.subscriber-list tr:nth-child(even) {
   background: #fafafa;
}

.subscriber-name,
.subscriber-email {
    padding: 5px;
}

.subscriber-name {
    padding-left: 8px;
}

.subscriber-email {
    margin-left: 20px;
    padding-right: 8px;
}

.subscriber_list_add {
    margin: auto;
    text-align: center;
}

.add-subscriber-button,
.stream-rename-button {
    margin-left: 5px;
}

.remove-subscriber-form {
    margin: 0px 0px 0px 0px;
}

#subscription-status {
    width: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 30px;
    text-align: center;
    border-radius: 2px;
}

#subscriptions h1 {
    font-size: 25px;
    font-weight: 300;
    padding-top: 40px;
}

#subscriptions .streams-icon {
    margin-right: 10px;
    font-size: 20px;
}

.change-stream-privacy {
    width: 100%;
    text-align: center;
}

.change-stream-privacy-feedback {
    display: none;
}

.subscriptions-overlay-bg {
    font: menu;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(20,20,20,0.7);
    color: #444;
}

.flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscriptions-container {
    position: relative;
    height: 80%;
    background-color: #fff;
    border-radius: 4px;
    padding: 0px;
    width: 900px;
    overflow: hidden;
}

.subscriptions-header {
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid #ddd;
}

.subscriptions-container .exit {
    font-weight: 400;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #AAA;
    cursor: pointer;
}

.subscriptions-container .exit-sign {
    position: relative;
    top: 2px;
    margin-left: 3px;
    font-size: 1.7em;
    font-weight: 300;
}

.subscriptions-container .left,
.subscriptions-container .right {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    height: calc(100% - 39px);
    margin: 0px -2px;
}

.subscriptions-container .left {
    border-right: 1px solid #ddd;
}

.subscriptions-container .left .search-container {
    padding: 6px 8px;
    border-bottom: 1px solid #ddd;
}

.subscriptions-container .right .display-type {
    padding: 6px;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}

.subscriptions-container .display-type.preview:after {
    content: "Preview";
}

.subscriptions-container .display-type.preferences:after {
    content: "Preferences";
}

.subscriptions-container .right iframe {
    width: 100%;
    height: calc(100% - 41px);
    border: none;
}

input[type=text].small {
    font: menu;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px;
    outline: none;
    color: #444;
    text-align: center;
}

input[type=text].small:focus {
    text-align: left;
}

input[type=text].small:valid {
    text-align: left;
}

#find_streams {
    width: 194px;
}

.streams-list {
    overflow: auto;
    height: calc(100% - 41px);
}

.stream-row {
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.stream-row.active {
    background-color: #eee;
    border-bottom: 1px solid #eee;
}

.hide {
    display: none;
}

.stream-row.no-border {
    border-bottom: 1px solid #eee;
}

.stream-row > div {
    display: inline-block;
    vertical-align: top;
}

.stream-row .check {
    width: 25px;
    height: 35px;
    margin-right: 8px;
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.checked {
    background-image: url(http://localhost/work/zulip/static/images/checkbox-green.png);
}

.stream-row .icon {
    width: 35px;
    height: 35px;
    margin-right: 8px;
    background-color: purple;
    border-radius: 4px;
    color: #fff;
}

.stream-row .icon .symbol {
    font-weight: 600;
    font-size: 1.1em;
}

.stream-row .icon .icon-vector-lock {
    font-size: 1.4em;
}

.stream-row .icon .hashtag {
    font-size: 1.4em;
    font-weight: 600;
}

.stream-row .sub-info-box {
    width: calc(100% - 90px);
}

.stream-row .sub-info-box .top-bar > div {
    display: inline-block;
    vertical-align: top;
}

.stream-row .sub-info-box .top-bar .stream-title {
    font-weight: 600;
}

.stream-row .sub-info-box .top-bar .num-posts,
.stream-row .sub-info-box .top-bar .num-subs {
    float: right;
    color: #aaa;
}

.stream-row .sub-info-box .top-bar .num-subs {
    margin-left: 10px;
}

.stream-row .sub-info-box .description {
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stream-row .sub-info-box .description:empty:after {
    content: "No description given.";
    font-style: italic;
    color: #aaa;
}

.stream-row .settings-dropdown-trigger {
    float: right;
    margin-left: 10px;
    color: #aaa;
}

#subscription_overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    overflow: auto;
    z-index: 102;
}

#subscription_overlay.show {
    display: block;
}

#subscription_overlay .subscription_settings {
    display: none;
    position: relative;
    width: 600px;
    margin: 0 auto;
    border-radius: 4px;
    top: -1px;
    max-height: 85vh;
    overflow: auto;
}

#subscription_overlay .subscription_settings.show {
    display: block;
}
