#typing_notifications {
    display: none;
    margin-left: 10px;
    font-style: italic;
    color: hsl(0, 0%, 53%);
}

#typing_notification_list {
    list-style: none;
    margin: 0;
}

/* This max-width must be synced with message_viewport.is_narrow */
@media (max-width: $xl-max) {
    #typing_notifications {
        margin-right: 7px;
    }
}

@media (max-width: $md-max) {
    #typing_notifications {
        margin-right: 7px;
        margin-left: 7px;
    }
}
