$active_color: hsl(137, 37%, 60%);
$idle_color: hsl(54, 31%, 75%);
$empty_border_color: hsl(0, 0%, 66%);

.user_circle_green,
.user_circle_idle,
.user_circle_empty,
.user_circle_empty_line {
    border-radius: 50%;
    border: 1px solid;
    float: left;
    position: relative;
}

.user_circle {
    top: 6px;
    height: 6px;
    width: 6px;
}

.user_circle_green {
    background-color: $active_color;
    border-color: $active_color;
    top: 5px;
    width: 8px;
    height: 8px;
}

.user_circle_idle {
    border-color: $idle_color;
    background: $idle_color;
    width: 7px;
    height: 7px;
}

.user_circle_empty {
    background-color: none;
    border-color: $empty_border_color;
}

.user_circle_empty_line {
    border-color: $empty_border_color;

    &::after {
        content: "";
        background: hsl(0, 0%, 50%);
        height: 1.5px; /* 1px is too thin, 2px is too thick */
        width: 6px;
        display: block;
        margin: 3.25px auto 0; /* (total height - line height) / 2 = 3.25px */
    }
}
