.user_status_overlay {
    .overlay-content {
        width: 480px;
        margin: 0 auto;
        position: relative;
        top: calc((30vh - 50px) / 2);
        border-radius: 4px;
        overflow: hidden;
        background-color: hsl(0, 0%, 100%);
    }

    input.user_status {
        width: 420px;
    };

    .user-status-header {
        padding: {
            top: 4px;
            bottom: 4px;
        }
        height: 5%;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid hsl(0, 0%, 87%);
    }

    .user-status-header h1 {
        margin: 0;
        font-size: 1.5em;
    }

    .user-status-header .exit {
        font-weight: 400;
        position: absolute;
        top: 10px;
        right: 10px;
        color: hsl(0, 0%, 67%);
        cursor: pointer;
    }

    .user-status-header .exit-sign {
        position: relative;
        top: 3px;
        margin-left: 3px;
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
    }
}