.user_status_overlay {
    .overlay-content {
        width: 384px;
        margin: 0 auto;
        position: relative;
        top: calc((30vh - 50px) / 2);
        border-radius: 4px;
        overflow: hidden;
        background-color: hsl(0, 0%, 100%);

        @media (width < $ml_min) {
            width: 100%;
        }
    }

    input.user_status {
        width: 336px;
        @media (width < $ml_min) {
            width: 94%;
        }
    }

    .user-status-header {
        padding-top: 4px;
        padding-bottom: 4px;
        height: 5%;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid hsl(0, 0%, 87%);
    }

    .user-status-header h1 {
        margin: 0;
        font-size: 1.5em;
    }

    .user-status-header .exit {
        font-weight: 400;
        position: absolute;
        top: 10px;
        right: 10px;
        color: hsl(0, 0%, 67%);
        cursor: pointer;
    }

    .user-status-header .exit-sign {
        position: relative;
        top: 3px;
        margin-left: 3px;
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
    }

    .user-status-options {
        padding: 0 20px 3px;

        button.user-status-value:hover {
            color: hsl(200, 100%, 40%);
        }

        .user-status-value {
            width: 100%;
            text-align: left;
            margin-bottom: 10px;
            line-height: 1.1em;
        }
    }
}
