.widget-choices ul {
    padding: 3px;
}

.widget-choices li {
    padding: 2px;
    list-style: none;
}

.widget-choices button {
    font-weight: 700;
    color: blue;
}

.widget-choices-heading {
    font-weight: 600;
}

.poll-widget h4 {
    font-size: 14px;
    font-weight: 600;
}

.poll-widget li {
    list-style: none;
    margin: 2px 2px 2px 0px;
}

.poll-widget ul {
    margin: 0px 0px 5px 0px;
    padding: 0;
}

.poll-widget .poll-names {
    font-size: 10px;
    color: green;
}

.poll-widget .poll-option {
    font-weight: 600;
}

.poll-vote {
    border-radius: 2px;
    color: #3c906e;
    border-color: #9dc8b7;
    margin-right: 4px;
    background-color: white;
}

.poll-vote:hover {
    border-color: #59a687;
}

input.poll-comment,
button.poll-comment,
input.poll-question,
button.poll-question {
    padding: 4px 6px;
    margin: 2px 0px 2px 0px;
}

button.poll-comment, button.poll-question {
    border-radius: 3px;
    border: 1px solid #cccccc;
    background-color: white;
    width: 100px;
}

button.poll-comment:hover, button.poll-question:hover {
    border-color: #999999;
}

// This file isn't necessarily the best place for this style,
// but while it's experimental I don't want to muck with existing
// code too much.

.zgram_row {
    background: khaki;
}

.zgram_header {
    color: white;
    background: navy;
}
