.widget-choices ul {
    padding: 3px;
}

.widget-choices li {
    padding: 2px;
    list-style: none;
}

.widget-choices button {
    font-weight: 700;
    color: blue;
}

.widget-choices-heading {
    font-weight: 600;
}

.poll-widget h4 {
    font-size: 14px;
    font-weight: 600;
}

.poll-widget li {
    list-style: none;
}

.poll-widget .poll-names {
    font-size: 10px;
    color: green;
}

.poll-widget .poll-option {
    font-weight: 600;
}
