.widget-choices ul {
    padding: 3px;
}

.widget-choices li {
    padding: 2px;
    list-style: none;
}

.widget-choices button {
    font-weight: 700;
    color: blue;
}

.widget-choices-heading {
    font-weight: 600;
}
