{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/registration_confirmation.png"/>
{% endblock %}

{% block content %}
<p>
    {{ _('You recently signed up for Zulip. Awesome!') }}
</p>
<p>
    {{ _('Click the button below to complete registration.') }}
    <a class="button" href="{{ activate_url }}">{{ _('Complete registration') }}</a>
</p>
<p>{% trans %}Contact us any time at <a href="mailto:{{ support_email }}">{{ support_email }}</a> if you run into trouble, have any feedback, or just want to chat!{% endtrans %}</p>
{% endblock %}
