{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/registration_confirmation.png" alt=""/>
{% endblock %}

{% block content %}
<div class="message_header">
    {{ _('Create your Zulip organization') }}
</div>
<p>
    {{ _('You have requested a new Zulip organization. Awesome!') }}
</p>
<p>
    {{ _('Click the button below to create the organization and register your account.') }}
    <a class="button" href="{{ activate_url }}">{{ _('Complete registration') }}</a>
</p>
<p>{% trans support_email=macros.email_tag(support_email) %}Contact us any time at {{ support_email }} if you run into trouble, have any feedback, or just want to chat!{% endtrans %}</p>
{% endblock %}
