{% extends "zerver/emails/email_base_messages.html" %}

{% block content %}
    {% if hot_conversations %}
        {% for convo in hot_conversations %}
        <div class='messages'>
            {% for recipient_block in convo.first_few_messages %}
                <div class='hot_convo_recipient_block'>
                    <div class='hot_convo_recipient_header'>{{ recipient_block.header.html|safe }}</div>
                    <div class='hot_convo_message_content'>
                        {% for sender_block in recipient_block.senders %}
                            {% for message_block in sender_block.content %}
                            <div class='hot_convo_message_content_block'>
                                {{ message_block.html|safe }}
                            </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                {% if convo.count > 0 %}<p class="digest_paragraph">+ {{ convo.count }} more message{{ convo.count|pluralize }} by {{ convo.participants|display_list(4) }}.</p>{% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    {% endif %}

    {% if new_channels.html %}
    <p class="digest_paragraph"><b>{% trans %}New channels{% endtrans %}</b></p>

    <p class="digest_paragraph">{{ new_channels.html|display_list(1000)|safe }}.</p>
    {% endif %}

    <br />

    <p class="digest_paragraph"><a href="{{ realm_uri }}">{% trans %}Click here to log in to Zulip and catch up.{% endtrans %}</a></p>
{% endblock %}

{% block manage_preferences %}
<p class="digest_paragraph">
    <a href="{{ realm_uri }}/#settings/notifications">{% trans %}Manage email preferences{% endtrans %}</a> |
    <a href="{{ unsubscribe_link }}">{% trans %}Unsubscribe from digest emails{% endtrans %}</a>
</p>
{% endblock %}
