{% extends "zerver/emails/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_url }}/email_logo.png" alt=""/>
{% endblock %}

{% block content %}
{% if account_found %}
<p>{{ _("Thanks for your request!") }}</p>

{% if corporate_enabled %}
<p>{% trans %}Your email address {{ email }} has accounts with the following Zulip Cloud organizations:{% endtrans %}</p>
{% else %}
<p>{% trans %}Your email address {{ email }} has accounts with the following Zulip organizations hosted by {{ external_host }}:{% endtrans %}</p>
{% endif %}

<ul>
    {% for realm in realms %}
    <li><a href="{{ realm.uri }}">{{ realm.name }} ({{ realm.host }})</a></li>
    {% endfor %}
</ul>

<p>
    {% trans %}If you have trouble logging in, you can <a href="{{ help_reset_password_link }}">reset your password</a>.{% endtrans %}
</p>
{% else %}
<p>
    {{ _("You have requested a list of Zulip accounts for this email address.") }}
    {% if corporate_enabled %}
    {{ _("Unfortunately, no Zulip Cloud accounts were found.") }}
    {% else %}
    {% trans%}Unfortunately, no accounts were found in Zulip organizations hosted by {{external_host}}.{% endtrans %}
    {% endif %}
</p>

<p>
    {% trans %}You can <a href = "{{ find_accounts_link }}" >check for accounts</a> with another email, or <a href ="{{ help_logging_in_link }}">try another way</a> to find your account.{% endtrans %}
    {{ _("If you do not recognize this request, you can safely ignore this email.") }}
</p>
{% endif %}
{% endblock %}
