{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/email_logo.png"/>
{% endblock %}

{% block content %}
<p>Hi {{ user_profile.full_name }},</p>

<p>You can log in to your Zulip organization, {{ user_profile.realm.name }},
at the following link:</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <a href="{{ user_profile.realm.uri }}">{{ user_profile.realm.uri }}</a>
        </td>
    </tr>
</table>

<p>The email address associated with your account is <b>{{ user_profile.email }}</b>.</p>

<p>If you have trouble logging in, please contact Zulip support by replying to
  this email.</p>

<p>Thanks for using Zulip!</p>
{% endblock %}
