{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/email_logo.png"/>
{% endblock %}

{% block content %}
<p>{% trans %}Hi {{ user_name }},{% endtrans %}</p>

<p>{% trans %}You can log in to your Zulip organization, {{ realm_name }}, at the following link:{% endtrans %}</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <a href="{{ realm_uri }}">{{ realm_uri }}</a>
        </td>
    </tr>
</table>

<p>{% trans %}The email address associated with your account is {{ email }}.{% endtrans %}</p>

<p>{% trans %}If you have trouble logging in, please contact Zulip support by replying to this email.{% endtrans %}</p>

<p>{{ _("Thanks for using Zulip!") }}</p>
{% endblock %}
