{% extends "zerver/emails/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_url }}/email_logo.png" alt=""/>
{% endblock %}

{% block content %}
<p>{{ _("Thanks for your request!") }}</p>

<p>{% trans %}Your email address {{ email }} has accounts with the following Zulip organizations hosted by <a href="{{ external_host }}">{{ external_host }}</a>:{% endtrans %}</p>

<ul>
    {% for realm in realms %}
    <li><a href="{{ realm.uri }}">{{ realm.name }} ({{ realm.host }})</a></li>
    {% endfor %}
</ul>

<p>{% trans %}If you have trouble logging in, please contact Zulip support by replying to this email.{% endtrans %}</p>

<p>{{ _("Thanks for using Zulip!") }}</p>
{% endblock %}
