{% extends "zerver/emails/email_base.html" %}

{% block content %}
<p>Hi there,</p>

<p>Welcome to Zulip!</p>

<p>Zulip is the workplace communication solution that combines the real-time nature of chat with the topic-based organization of email, avoiding the distraction and disorganization of products like Slack and Hipchat. Our mission to build the best tool for collaboration. As an open-source software project, Zulip is about community, and we're happy to have you with us.</p>

<p>You've come at an exciting time. Zulip has experienced incredible growth in its codebase and developer community these past few months, with over 150 contributors on our <a href="https://blog.zulip.org/2017/06/06/zulip-server-1-6-released/" style="color:#08c">most recent release</a>, making it the largest and fastest-growing open source chat product. With @-mentions, integrations, robust search, and more, Zulip has all the features your team needs. You should also check out our beta <a href="{{ realm_uri }}/apps" style="color:#08c">apps</a>, a mobile app for iOS/Android and a desktop app for Linux/Mac/Windows.
</p>

<p>Thanks,<br/>The Zulip Team</p>

<p>PS: Check us out on <a href="https://twitter.com/zuliposs" style="color:#80c">Twitter</a> and <a href="https://github.com/zulip" style="color:#80c">Github</a>!</p>
{% endblock %}

{% block manage_preferences %}
<p>
    <a href="{{ realm_uri }}/#settings">Manage email preferences</a> |
    <a href="{{ unsubscribe_link }}">Unsubscribe from welcome emails</a> <small>(but there's only one more and aren't you a little curious?)</small>
</p>
{% endblock %}
