{% extends "zerver/emails/email_base_default.html" %}

{% block content %}
<p>Hi there,</p>

<p>Welcome to Zulip!</p>

<p>Zulip is the team communication solution that combines the real-time ease of chat with the threaded organization of email. At its core, Zulip is about productivity&mdash;making communication fun and easy, while avoiding the distracting and disorganized conversations of chatrooms. As an open-source project, we’re also all about building community, and we're happy that you’re here.
</p>

<p>You've come at an exciting time. The Zulip project has experienced incredible
    growth in its codebase and developer community these past few months, with over
    150 contributors on our
    <a href="https://blog.zulip.org/2017/06/06/zulip-server-1-6-released/" style="color:#08c">most recent release</a>,
    making it the largest and fastest-growing open source chat product. With
    hundreds of integrations, powerful search, keyboard navigation, and more,
    Zulip is designed for efficient communication from the ground up.
</p>

<p>We hope you love using Zulip as much as we do. If you have any feedback or
    want to see how we use Zulip for managing the Zulip project, swing by
    <a href="chat.zulip.org">chat.zulip.org</a> and say hi!
</p>

<p>Cheers,<br/>Team Zulip</p>

<p>PS: Check us out on <a href="https://twitter.com/zuliposs" style="color:#80c">Twitter</a> or star us on <a href="https://github.com/zulip" style="color:#80c">GitHub</a>!</p>
{% endblock %}

{% block manage_preferences %}
<p>
    <a href="{{ unsubscribe_link }}">Unsubscribe from welcome emails</a> <small>(but there's only one more and aren't you a little curious?)</small>
</p>
{% endblock %}
