{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/email_logo.png"/>
{% endblock %}

{% block content %}
<p>{{ _('Welcome to Zulip!') }}</p>

<p>
    {% if realm_creation %}
        {% trans %}You've created the new Zulip organization <b>{{ realm_name }}</b>.{% endtrans %}
    {% else %}
        {% trans %}You've joined the Zulip organization <b>{{ realm_name }}</b>.{% endtrans %}
    {% endif %}
</p>

<p>
    {{ _('Your account details:') }}
    <li>{{ _('Organization URL:') }} {{ realm_uri }}<br/></li>
    {% if ldap %}
        {% if ldap_username %}
        <li>{{ _('Username:') }} {{ ldap_username }}<br/></li>
        {% else %}
        <li>{{ _('Use your LDAP account to login') }}<br/></li>
        {% endif %}
    {% else %}
        <li>{{ _('Email:') }} {{ email }}<br/></li>
    {% endif %}
    {% trans %}(you'll need these to sign in to the <a href="https://zulipchat.com/apps">mobile and desktop</a> apps){% endtrans %}
</p>

<p>
    {% if is_realm_admin %}
        {% trans %}Check out our <a href="{{ getting_started_link }}">guide for admins</a>, become a Zulip pro with a few <a href="{{ keyboard_shortcuts_link }}">keyboard shortcuts</a>, or <a href="{{ realm_uri }}">dive right in</a>!{% endtrans %}
    {% else %}
        {% trans %}<a href="{{ getting_started_link }}">Learn more</a> about Zulip, become a pro with a few <a href="{{ keyboard_shortcuts_link }}">keyboard shortcuts</a>, or <a href="{{ realm_uri }}">dive right in</a>!{% endtrans %}
    {% endif %}
</p>

<p>
    {{ _("Cheers,") }}<br />
    {{ _("Team Zulip") }}
</p>

<p>
    {% trans %}PS: Follow us on <a href="https://twitter.com/zulip">Twitter</a>, star us on <a href="https://github.com/zulip/zulip">GitHub</a>, or chat with us live on the <a href="https://chat.zulip.org">Zulip community server</a>!{% endtrans %}
</p>
{% endblock %}
