{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/email_logo.png"/>
{% endblock %}

{% block content %}
<p>Hi there,</p>

<p>Welcome to Zulip! A few tips to get you started:</p>
<p>
    &bull; Zulip works best when it's always open, so we suggest downloading
    our <a href="https://zulipchat.com/apps">desktop and mobile apps</a>.
    <br/><br/>
    You'll need an Organization URL when first starting the app. That's
    <br/><b>{{ realm_uri }}</b>
</p>
<p>
    &bull; Become a Zulip pro with a few
    <a href="{{ keyboard_shortcuts_link }}">keyboard shortcuts</a>:
    <br/>
    <b>n</b>: Next unread thread<br/>
    <b>r</b>: Reply to message under the blue box<br/>
    <b>c</b>: Start a new topic
</p>
<p>
    &bull; Give our <a href="{{ getting_started_link }}">guide for new
    {{ user_role_group }}</a> a spin.
</p>
<p>
    <br/>
    Zulip combines the real-time ease of chat with the threaded organization
    of email. Zulip is about productivity&mdash;making communication fun and
    easy, while avoiding the distracting and disorganized conversations of
    chatrooms. We hope you love using Zulip as much as we do.
</p>

<p>Cheers,<br/>Team Zulip</p>

<p>
    PS: Follow us on <a href="https://twitter.com/zulip">Twitter</a>,
    star us on <a href="https://github.com/zulip/zulip">GitHub</a>, or
    chat with us live on the
    <a href="https://chat.zulip.org">Zulip community server</a>!
</p>
{% endblock %}
