{% extends "zerver/emails/email_base_default.html" %}

{% block content %}
    <p>Hi there,
    </p>
    <p>
        {{ referrer.full_name }} ({{ referrer.email }}) wants you to join
        them on Zulip &mdash; the team communication tool designed for
        productivity.
    </p>
    {% if custom_body %}
    <p>Message from {{ referrer.full_name }}: {{ custom_body }}</p>
    {% endif %}
    <p>
        To get started, visit the link below:
        <br />
        <a href="{{ activate_url }}" style="color:#08c">{{ activate_url }}</a>
    </p>
    <p>
        Feel free to give us a shout at <a href="mailto:{{ support_email }}" style="color:#08c">{{ support_email }}</a>, if you have any questions.
    </p>
    <p>
        Cheers,<br />
        Team Zulip
    </p>
{% endblock %}
