{% extends "zerver/emails/email_base_default.html" %}

{% block content %}
<p>Hi again,
</p>
<p>
    This is a friendly reminder that {{ referrer_name }} (<a href="mailto:{{ referrer_email }}" style="color:#08c">{{ referrer_email }}</a>) wants you to join them on Zulip, a workplace chat tool that actually makes you more productive.
</p>
<p>
    To get started, visit the link below:
    <br />
    <a href="{{ activate_url }}" style="color:#08c">{{ activate_url }}</a>
</p>
<p>
    We're here for you at <a href="mailto:{{ support_email }}" style="color:#08c">{{ support_email }}</a> if you have any questions.
</p>
<p>
    Cheers,<br />
    The Zulip Team
</p>
{% endblock %}
