{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/invitation_reminder.png"/>
{% endblock %}

{% block content %}
<p>{{ _("Hi again,") }}
</p>
<p>
    {% trans %}This is a friendly reminder that {{ referrer_name }} (<a href="mailto:{{ referrer_email }}">{{ referrer_email }}</a>) wants you to join them on Zulip, a workplace chat tool that actually makes you more productive.{% endtrans %}
</p>
<p>
    {{ _("To get started, please click here:") }}
    <a class="button" href="{{ activate_url }}">{{ _("Complete registration") }}</a>
</p>
<p>
    {% trans %}We're here for you at <a href="mailto:{{ support_email }}">{{ support_email }}</a> if you have any questions.{% endtrans %}
</p>
<p>
    {{ _("Cheers,") }}<br />
    {{ _("The Zulip Team") }}
</p>
{% endblock %}
