{% extends "zerver/emails/email_base_messages.html" %}

{% block preheader %}
    {% for recipient_block in messages %}
        {% for sender_block in recipient_block.senders %}
            {% for message_block in sender_block.content %}
            {{ message_block.html|safe }}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block content %}
    Hello {{ name }},

    <p>
        While you were away you received {{ message_count }} new{% if group_pm %} group private{% elif private_message %} private{% endif %} message{{ message_count|pluralize }}{% if mention %} in which you were mentioned{% endif %}!
    </p>

    {% if show_message_content %}
    <div class='messages'>
        {% for recipient_block in messages %}
        {% if recipient_block.header.stream_message %}
        <div class='recipient_block_with_messages'>
            <div class='recipient_header_with_messages'>{{ recipient_block.header.html|safe }}</div>
            <div class='message_content_with_messages'>
        {% else %}
        <div class='recipient_block_without_messages'>
            <div class='recipient_header_without_messages'>{{ recipient_block.header.html|safe }}</div>
            <div class='message_content_without_messages'>
        {% endif %}
                {% for sender_block in recipient_block.senders %}
                    {% if sender_block.sender %} <div class="message_sender">{{ sender_block.sender }}</div>{% endif %}
                    {% for message_block in sender_block.content %}
                    <div class='message_content_block'>
                        {{ message_block.html|safe }}
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <p>
        Cheers,
        <br />
        The Zulip Team
    </p>
{% endblock %}

{% block manage_preferences %}
<div class="email-preferences">
    &mdash;<br>
    <a href="{{ realm_uri }}/#settings/notifications">Manage email preferences</a> | <a href="{{ unsubscribe_link }}">Unsubscribe</a> from missed message emails.<br>
    {% if reply_to_zulip %}
        Reply to this email directly, or <a href="{{ narrow_url }}">view it in Zulip</a><br>
    {% else %}
        Do not reply to this message. This Zulip server is not configured to accept replies to missed message emails (<a href="https://zulip.readthedocs.io/en/latest/production/settings.html#miscellaneous-server-settings">help</a>). <a href="{{ narrow_url }}">Reply in Zulip</a>.<br>
    {% endif %}
</div>
{% endblock %}
