{% extends "zerver/emails/email_base_messages.html" %}

{% block content %}
    {% if show_message_content %}
        {% for recipient_block in messages %}
            {% for sender_block in recipient_block.senders %}
                <div class="missed_message">
                    {% for message_block in sender_block.content %}
                        {{ message_block.html|safe }}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    {% else %}
    <div class="missed_message">
    {% if message_content_disabled_by_realm %}
    This email does not include message content because your organization has disabled <a class="content_disabled_help_link" href="{{ realm_uri }}/help/hide-message-content-in-emails">message content appearing in email notifications</a>.
    {% elif message_content_disabled_by_user %}
    This email does not include message content because you have disabled <a class="content_disabled_help_link" href="{{ realm_uri }}/help/pm-mention-alert-notifications">message content appearing in email notifications</a>.
    {% endif %}
    </div>
    {% endif %}
{% endblock %}

{% block manage_preferences %}
<div class="email-preferences">
    &mdash;<br>
    {% if mention %}
    You are receiving this because you were mentioned in {{ realm_name }}.<br>
    {% elif stream_email_notify %}
    You are receiving this because you have email notifications enabled for this stream.<br>
    {% endif %}
    {% if reply_to_zulip %}
    Reply to this email directly, <a href="{{ narrow_url }}">view it in Zulip</a>, or <a href="{{ realm_uri }}/#settings/notifications">manage email preferences</a>.
    {% elif not show_message_content %}
    <a href="{{ narrow_url }}">View or reply in Zulip</a>, or <a href="{{ realm_uri }}/#settings/notifications">manage email preferences</a>.<br>
    {% else %}
    <a href="{{ narrow_url }}">Reply in Zulip</a>, or <a href="{{ realm_uri }}/#settings/notifications">manage email preferences</a>.<br>
    <br>
    Do not reply to this email. This Zulip server is not
    configured to accept incoming emails (<a href="https://zulip.readthedocs.io/en/latest/production/email-gateway.html">help</a>).

    {% endif %}
</div>
{% endblock %}
