{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block preheader %}
Server: {{ realm_uri }} Account: {{ user_email }} Time: {{ login_time }}
{% endblock %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/email_logo.png"/>
{% endblock %}

{% block content %}
<p>Hi,</p>
<p>This is a notification that a new login to your Zulip account has just occurred.</p>
<p><b>Login details:</b></p>
<blockquote>
    <p>Server: <a href="{{ realm_uri }}" target="_blank">{{ realm_uri }}</a></p>
    <p>Account: <a href="mailto:{{ user_email }}" target="_blank">{{ user_email }}</a></p>
    <p>Time: {{ login_time }}</p>
    <p>Device: {{ device_browser }} on {{ device_os }}.</p>
    <p>IP Address: {{ device_ip }}</p>
</blockquote>
<p>If you do not recognize this login activity, or think your account may have been compromised, please <a href="{{ realm_uri }}/accounts/password/reset/" target="_blank">reset your password</a> or contact us immediately at <a href="mailto:{{ support_email }}">{{ support_email }}</a>.</p>
<p>If you recognize this login activity, you can archive this notice.</p>
<p>Thanks,<br />Zulip Account Security</p>
{% endblock %}

{% block manage_preferences %}
<p><a href="{{ realm_uri }}/#settings/notifications">Manage email preferences</a> | <a href="{{ unsubscribe_link }}">Unsubscribe from login notifications</a></p>
{% endblock %}
