{% extends "zerver/emails/email_base_default.html" %}

{% block preheader %}
    {% trans organization_url=realm_url %}Organization: {{ organization_url }} Time: {{ login_time }} Email: {{ user_email }}{% endtrans %}
{% endblock %}

{% block illustration %}
<img src="{{ email_images_base_url }}/email_logo.png" alt=""/>
{% endblock %}

{% block content %}
<p>{{ _("We noticed a recent login for the following Red Bangle account.") }}</p>
<p>
    <ul>
        <li>
            {% trans organization_link=macros.link_tag(realm_url) %}Organization: {{ organization_link }}{% endtrans %}
        </li>
        <li>
            {% trans user_email=macros.email_tag(user_email) %}Email: {{ user_email }}{% endtrans %}
        </li>
        <li>
            {% trans %}Time: {{ login_time }}{% endtrans %}
        </li>
        <li>
            {% trans %}Device: {{ device_browser }} on {{ device_os }}.{% endtrans %}
        </li>
        <li>
            {% trans %}IP address: {{ device_ip }}{% endtrans %}
        </li>
    </ul>
</p>

<p>{{ _("If this was you, great! There's nothing else you need to do.") }}</p>

<!--<p>-->
<!--    {% trans support_email=macros.email_tag(support_email), reset_link=realm_url + "/accounts/password/reset/" %}If you do not recognize this login, or think your account may have been compromised, please <a href="{{ reset_link }}">reset your password</a> or contact us immediately at {{ support_email }}.{% endtrans %}-->
<!--</p>-->

<p>
    {{ _("Thanks,") }}<br />
    {{ _("Red Bangle Security") }}
</p>
{% endblock %}

<!--{% block manage_preferences %}-->
<!--<p><a href="{{ realm_url }}/#settings/notifications">{{ _("Manage email preferences") }}</a> | <a href="{{ unsubscribe_link }}">{{ _("Unsubscribe from login notifications") }}</a></p>-->
{% endblock %}
