{% extends "zerver/emails/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/email_logo.png" alt=""/>
{% endblock %}

{% block content %}

<p>
    {% trans %}If you have already decided to use Zulip for your organization, welcome! You can use our <a href="{{ get_organization_started }}">guide for setting up your organization</a> to get started.{% endtrans %}
</p>
<p>
    {% trans %}Otherwise, here are some tips for successfully evaluating <i>any</i> team chat product:{% endtrans %}
    <ul>
        <li>{% trans %}<a href="{{ invite_users }}">Invite your teammates</a> to explore with you and share their unique perspectives.{% endtrans %}
            {% trans %}Use the app itself to chat about your impressions.{% endtrans %}</li>
        <li>{% trans %}<b>Run a week-long trial</b> with your team, without using any other chat tools. This is the only way to truly get a feel for how a new chat app will impact your team's communication and workflows in the coming months.{% endtrans %}</li>
    </ul>
</p>
<p>
    {% trans %}We hope this advice helps you find a tool that <a href="{{ why_zulip }}">enables efficient communication</a> for your team.{% endtrans %}
</p>

<p>
    {% if corporate_enabled %}
        {{macros.contact_us_zulip_cloud(support_email)}}
    {% else %}
        {{macros.contact_us_self_hosted(support_email)}}
    {% endif %}
</p>

{% endblock %}

{% block manage_preferences %}

<p><a href="{{ unsubscribe_link }}">{% trans %}Unsubscribe from welcome emails for {{ realm_name }}{% endtrans %}</a></p>

{% endblock %}
