{% extends "zerver/emails/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_url }}/email_logo.png" alt=""/>
{% endblock %}

{% block content %}

<p>
    {% trans %}If you've already decided to use Red Bangle for your organization, welcome! You can use our <a href="{{ get_organization_started }}">guide for setting up your organization</a> to get started.{% endtrans %}
</p>
<p>
    {% trans %}Otherwise, here is some advice we often hear from customers for evaluating <i>any</i> team chat product:{% endtrans %}
    <ol>
        <li>{% trans %}<a href="{{ invite_users }}"><b>Invite your teammates</b></a> to explore with you and share their unique perspectives.{% endtrans %}
            {% trans %}Use the app itself to chat about your impressions.{% endtrans %}
        </li>
        <li>{% trans %}<a href="{{ trying_out_zulip}}"><b>Run a week-long trial</b></a> with your team, without using any other chat tools. This is the only way to truly experience how a new chat app will help your team communicate.{% endtrans %}
        </li>
    </ol>
</p>
<p>
    {% trans %}Red Bangle is designed to <a href="{{ why_zulip }}">enable efficient communication</a>, and we hope these tips help your team experience it in action.{% endtrans %}
</p>

<!--<p>-->
<!--    {% if corporate_enabled %}-->
<!--        {{macros.contact_us_zulip_cloud(support_email)}}-->
<!--    {% else %}-->
<!--        {{macros.contact_us_self_hosted(support_email)}}-->
<!--    {% endif %}-->
<!--</p>-->

<!--{% endblock %}-->

<!--{% block manage_preferences %}-->

<!--<p><a href="{{ unsubscribe_link }}">{% trans %}Unsubscribe from welcome emails for {{ realm_name }}{% endtrans %}</a></p>-->

{% endblock %}
