{% extends "zerver/emails/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_url }}/email_logo.png" alt=""/>
{% endblock %}

{% block content %}
    <p>
        {% trans email=macros.email_tag(email), realm_url=macros.link_tag(realm_url) %}Somebody (possibly you) requested a new password for the Red Bangle account {{ email }} on {{ realm_url }}.{% endtrans %}
    </p>
    {% if active_account_in_realm %}
<!--    <p>-->
<!--        {{ _('Click the button below to reset your password.') }}-->
<!--        <a class="button" href="{{ reset_url }}">{{ _("Reset password") }}</a>-->
<!--    </p>-->
    {% else %}
    <p>
        {% if user_deactivated %}
            {% trans organization_url=macros.link_tag(realm_url), help_link=realm_url + "/help/deactivate-or-reactivate-a-user" %}You previously had an account on {{ organization_url }}, but it has been deactivated. You can contact an organization administrator to <a href="{{ help_link }}">reactivate your account</a>.{% endtrans %}
        {% else %}
            {% trans %}You do not have an account in that Red Bangle organization.{% endtrans %}
        {% endif %}
    </p>
    <p>
        {% if active_accounts_in_other_realms %}
            {{ _("You do have active accounts in the following organization(s).") }}
            <ul>
                {% for active_account in active_accounts_in_other_realms %}
                <li>{{ active_account.realm.url }}</li>
                {% endfor %}
            </ul>
            {% trans %}You can try logging in or resetting your password in the organization(s) above.{% endtrans %}
        {% endif %}
    </p>
    {% endif %}

    <p>
        {% trans %}If you do not recognize this activity, you can safely ignore this email.{% endtrans %}
    </p>
{% endblock %}
