{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block content %}
    {% if active_account_in_realm %}
    <p>
        Psst. Word on the street is that you need a new password, {{ email }}.<br />
        It's all good. Click here and we'll take care of the rest:<br />
        <a class="button" href="{{ reset_url }}">Reset password</a>
    </p>
    {% else %}
    <p>
        {% if user_deactivated %}
        Someone (possibly you) requested a password reset email for {{ email }}
        on {{ realm_uri }}, but your account has been deactivated. You can contact
        an organization administrator to reactivate your account.
        {% else %}
        Someone (possibly you) requested a password reset email for {{ email }}
        on {{ realm_uri }}, but you do not have an account in that organization.
        {% endif %}
    </p>

    <p>
        {% if active_accounts_in_other_realms %}
        You do have active accounts in the following organization(s).
        <ul>
            {% for active_account in active_accounts_in_other_realms %}
            <li>{{ active_account.realm.uri }}</li>
            {% endfor %}
        </ul>
        You can try logging in or resetting your password in the organization(s)
        above.
        {% endif %}
    </p>

    {% endif %}
    <p>
        Thanks,<br />
        Your friends at Zulip HQ
    </p>
{% endblock %}
