{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block content %}
<p>Hi {{ email }},</p>

<p>
    An attempt was made to reset the password against this email address but we
    could not find any associated account. If you didn't make this attempt, you
    can safely ignore this email.
</p>

<p>
    However, if you are interested in {{ org_name }}, you can log in at the
    following link:
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <a href="{{ org_uri }}" style="color:#08c">{{ org_uri }}</a>
        </td>
    </tr>
</table>

<p>If you have trouble signing in, please contact Zulip support by replying to
  this email.</p>

<p>Thanks for using Zulip!</p>
{% endblock %}
