{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block content %}
<p>
    {% if no_account_in_realm %}
        Someone (possibly you) requested a password reset email for {{ email }}
        on {{ realm_uri }}, but you do not have an
        active account in {{ realm_uri }}.

        {% if accounts %}
            {% if multiple_accounts %}
            However, you do have active accounts in the following
            organizations.
            <ul>
                {% for account in accounts %}
                <li>{{ account.realm.uri }}</li>
                {% endfor %}
            </ul>
            You can try logging in or resetting your password in the organization
            you want.
            {% else %}
            However, you do have an active account in the {{ accounts[0].realm.uri }}
            organization; you can try logging in or resetting your password there.
            {% endif %}
        {% endif %}
    {% else %}
        Psst. Word on the street is that you need a new password, {{ email }}.<br />
        It's all good. Click here and we'll take care of the rest:<br />
        <a class="button" href="{{ reset_url }}">Reset password</a>
    {% endif %}
</p>
<p>
    Thanks,<br />
    Your friends at Zulip HQ
</p>
{% endblock %}
