<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Zulip</title>
    </head>
    <body>
        <table width="80%" style="align:center; max-width:800px" align="center">
            <tr>
                <td style="font-size:16px; font-family:Helvetica;">
                    <p>
                        {% if attempted_realm %}
                        Someone (possibly you) requested a password reset email for {{ email }} on {{ attempted_realm.uri }}, but {{ email }} does not have an active account in {{ attempted_realm.uri }}.  However, {{ email }} does have an active account in {{ user.realm.uri }} organization; you can try logging in or resetting your password there.
                        {% else %}
                        Psst. Word on the street is that you forgot your password, {{ email }}.<br />
                        It's all good. Follow the link below and we'll take care of the rest:<br />
                        {{ protocol }}://{{ user.realm.host }}{{ url('django.contrib.auth.views.password_reset_confirm', kwargs=dict(uidb64=uid, token=token)) }}
                        {% endif %}
                    </p>
                    <p>
                        Thanks,<br />
                        Your friends at Zulip HQ
                    </p>
                </td>
            </tr>
        </table>
    </body>
</html>
