{% extends "zerver/emails/compiled/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_uri }}/registration_confirmation.png"/>
{% endblock %}

{% block content %}
<p>
    {{ _('Hello there,') }}
</p>
<p>
    {{ _('To reactivate organization, please click here:') }}
    <a class="button" href="{{ confirmation_url }}">{{ _('Reactivate organization') }}</a>
</p>
<p>
    {% trans %}
    Feel free to give us a shout at
    <a href="mailto:{{ support_email }}">{{ support_email }}</a>,
    if you have any questions.
    {% endtrans %}
</p>
<p>
    {{ _("Cheers,") }}<br />
    {{ _("Team Zulip") }}
</p>
{% endblock %}
