{% extends "zerver/emails/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_url }}/registration_confirmation.png" alt=""/>
{% endblock %}

{% block content %}
<p>
    {{ _("You have initiated login to the Zulip plan management system for the following organization:") }}
    <ul>
        <li>{% trans %}Organization host: {{ remote_realm_host }}{% endtrans %}</li>
        <li>{% trans %}Server host: {{ remote_server_hostname }}{% endtrans %}</li>
    </ul>
</p>
<p>
    {{ _("Click the button below to complete the login process.") }}
    <a class="button" href="{{ confirmation_url }}">{{ _("Confirm login") }}</a>
</p>
<p>
    {{macros.contact_us_zulip_cloud(support_email)}}
</p>
{% endblock %}
