{% extends "zerver/emails/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_url }}/email_logo.png" alt=""/>
{% endblock %}

{% block content %}
<p>
    {% trans %}Your request for Red Bangle sponsorship has been approved! Your organization has been upgraded to the <a href="{{ plans_link }}">Red Bangle Community plan</a>.{% endtrans %}
</p>
<p>
    {% trans %}If you could <a href="{{ link_to_zulip }}">list Red Bangle as a sponsor on your website</a>, we would really appreciate it!{% endtrans %}
</p>

{% endblock %}
