<div class="buddy-list-user-link view-all-subscribers-link">
    <a class="right-sidebar-wrappable-text-container" href="{{stream_edit_hash}}">
        <span class="right-sidebar-wrappable-text-inner">
            {{t "View all subscribers" }}
        </span>
    </a>
</div>
