# Copy this file to ~/.msmtprc, then add your Zulip Mail
# address and password here.

from you@zulip.com
user you@zulip.com
password foobarbadpassword

host smtp.gmail.com
port 587
auth on

protocol smtp

maildomain zulip.com
domain zulip.com

tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
