<div data-process="{{data_process}}" class="alert alert-info {{#if custom_class}}{{custom_class}}{{/if}}">
    {{{rendered_alert_content_html}}}
    <span class="close" data-dismiss="alert" aria-label="{{t 'Close' }}" role="button" tabindex=0>&times;</span>
</div>

