<div data-step="1">
    {{#tr}}
        Complete your <z-link>organization profile</z-link>,
        which is displayed on your organization's registration and login pages.
        {{#*inline "z-link"}}<a class="alert-link" href="#organization/organization-profile">{{> @partial-block}}</a>{{/inline}}
    {{/tr}}
</div>
