<div data-step="1">
    {{t "Your computer's time zone differs from your Zulip profile. Update your time zone to {browser_time_zone}?" }}
    <span class="buttons">
        <a class="alert-link time-zone-update" role="button" tabindex=0>
            {{t "Yes" }}
        </a>
        &bull;
        <a class="alert-link time-zone-auto-detect-off" role="button" tabindex=0>{{t "No, don't ask again" }}</a>
    </span>
</div>
