<li>
	<div class="image">
		<img src="{{avatar_url}}" class=avatar>
	</div>
	<div class="bot_info">
		<div class="name">{{name}}</div>
		<div class="email">
			<span class="field">Email</span>
			<span class="value">{{email}}</span>
		</div>
		<div class="api_key">
			<span class="field">API Key</span>
			<span class="value">{{api_key}}</e>
		</div>
	</div>
</li>