{{! Client-side Mustache template for rendering users in the stream creation modal.}}
<a href="#" class="subs_set_all_users">Check all</a> |
<a href="#" class="subs_unset_all_users">Uncheck all</a>
<div id="user-checkboxes">
  {{#each users}}
  <label class="checkbox">
    <input type="checkbox" name="user" value="{{this.email}}" checked="true"> {{this.full_name}} ({{this.email}})
  </label><br />
  {{/each}}
</div>

