{{! Content of in-browser notifications }}
<div>
    <div class="notifications-gravatar">
        <img src="{{gravatar_url}}" />
    </div>
    <div class="notifications-content">
        <strong>
            {{sender_fullname}}
        </strong>
        <br />
            {{content}}
        
    </div>
</div>
