{{! Contents of the "make the app sticky" onboarding popup }}

<div id="sticky-popover">
    <h1>Get our app!</h1>

    <p>Humbug works best when it's always open, which is why we also
    have apps!</p>

    <p>Visit <a target="_blank" href="/apps">our apps page</a> for
       Mac, Linux, Windows, Android, and iPhone/iPad instructions.</p>

    <div class="done-button">
        <input type="submit" id="sticky_done" value="Done" class="btn btn-big btn-primary" />
    </div>
</div>
