{{! Contents of the "make the app sticky" onboarding popup }}

<div id="sticky-popover">
    <h1>Pin this tab!</h1>

    <p>Humbug works best when it's always open. Take a second to pin
       your Humbug browser tab using the instructions for:</p>

    <p>
        <ul>
            <li><a target="_blank"
                   href="https://support.google.com/chrome/bin/answer.py?hl=en&answer=95622">Chrome</a></li>
            <li><a target="_blank"
                   href="https://support.mozilla.org/en-US/kb/pinned-tabs-keep-favorite-websites-open">Firefox</a></li>
        </ul>
    </p>

    <p>Or, if you prefer Humbug as a stand-alone desktop app, we've
       got you covered! Visit <a target="_blank"
       href="https://humbughq.com/apps">our apps page</a> for Mac,
       Linux, and Windows instructions.</p>

    <div class="done-button">
        <input type="submit" id="sticky_done" value="Done" class="btn btn-big btn-primary" />
    </div>
</div>
