{{! Client-side Mustache template for rendering the trailing bookend.}}

{{#if trailing_bookend}}
<tr id="trailing_bookend" class="bookend_tr"><td/>
<td /><td class="bookend">
<center>{{trailing_bookend}}</center>
<span class="tiny"><p></p></span></td>
</tr>
{{/if}}
