{{! Contents of the "tutorial stream" onboarding popup }}

<div class="tutorial-popover" id="tutorial-stream">
    <p>
        Streams are like chat rooms or mailing lists. You can easily join, leave, and make them.
    </p>

    <div class="tutorial-done-button">
      <button class="btn btn-primary" type="submit" id="tutorial-stream-next">Next</button>
    </div>
</div>
