{{! Contents of the "tutorial subject" onboarding popup }}

<div class="tutorial-popover" id="tutorial-subject">

    <p>
        A subject is one word that describes what this message is about. Just
        like an e-mail subject line, only much shorter. Don't overthink it.
    </p>

    <div class="tutorial-done-button">
      <button class="btn btn-primary" type="submit" id="tutorial-subject-next">Next</button>
    </div>
</div>
