{{! Contents of the "tutorial home" onboarding popup }}

<div class="tutorial-popover" id="tutorial-home">

    <p>
        We show stream and private messages together, and time flows down. You
        can "narrow" to a particular stream or subject by clicking on it.
    </p>

    <div class="tutorial-done-button">
      <button class="btn btn-primary" type="submit" id="tutorial-home-next">Next</button>
    </div>
</div>
