{{! Contents of the "tutorial welcome" onboarding popup }}

<div class="tutorial-popover" id="tutorial-welcome">
    <p>
      Humbug isn't like other chat tools. Here are some things you need to know.
    </p>

    <div class="tutorial-done-button">
      <button class="btn btn-primary" type="submit" id="tutorial-welcome-next">Next</button>
    </div>
</div>
