{{! Contents of the "tutorial reply" onboarding popup }}

<div class="tutorial-popover" id="tutorial-reply">

    <p>
        You can reply to any message by clicking on it. The stream and subject
        will automatically be filled in.
    </p>

    <div class="tutorial-done-button">
      <button class="btn btn-primary" type="submit" id="tutorial-reply-next">Next</button>
    </div>
</div>
