<div class="popover-menu" data-simplebar data-simplebar-tab-index="-1">
    <ul role="menu" class="popover-menu-list views-popover-menu">
        {{#each views}}
            {{> views_popover_item .}}
        {{/each}}
    </ul>
</div>
