<div class="popover-menu" data-simplebar data-simplebar-tab-index="-1">
    <ul role="menu" class="popover-menu-list">
        {{> left_sidebar_toggle_navigation_view_popover_item fragment=fragment is_currently_active_unpinned_view=is_currently_active_unpinned_view}}
    </ul>
</div>
