<div class="popover-menu no-auto-hide-left-sidebar-overlay" data-simplebar data-simplebar-tab-index="-1">
    <ul role="menu" class="popover-menu-list">
        {{#if show_unstar_all_button}}
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" id="unstar_all_messages" class="popover-menu-link" tabindex="0">
                <i class="popover-menu-icon zulip-icon zulip-icon-star" aria-hidden="true"></i>
                <span class="popover-menu-label">{{t "Unstar all messages" }}</span>
            </a>
        </li>
        {{/if}}
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" id="toggle_display_starred_msg_count" class="popover-menu-link" tabindex="0">
                {{#if starred_message_counts}}
                <i class="popover-menu-icon zulip-icon zulip-icon-hide" aria-hidden="true"></i>
                <span class="popover-menu-label">{{t "Hide starred message count" }}</span>
                {{else}}
                <i class="popover-menu-icon zulip-icon zulip-icon-eye" aria-hidden="true"></i>
                <span class="popover-menu-label">{{t "Show starred message count" }}</span>
                {{/if}}
            </a>
        </li>
    </ul>
</div>
