<ul class="nav nav-list">
    {{#if is_home_view}}
    <li>
        {{! tabindex="0" Makes anchor tag focusable. Needed for keyboard support. }}
        <a tabindex="0" id="mark_all_messages_as_read">
            <i class="fa fa-book" aria-hidden="true"></i>
            {{t "Mark all messages as read" }}
        </a>
    </li>
    {{/if}}
    {{#unless is_home_view}}
    <li>
        <a tabindex="0" class="set-home-view" data-view-code="{{view_code}}">
            <i class="fa fa-home" aria-hidden="true"></i>
            {{#tr}}
                Make <b>combined feed</b> my home view
            {{/tr}}
        </a>
    </li>
    {{/unless}}
</ul>
