<div class="popover-menu" data-simplebar data-simplebar-tab-index="-1">
    <ul role="menu" class="popover-menu-list condensed-views-popover-menu">
        {{#each views}}
            {{> left_sidebar_view_popover_item .}}
        {{/each}}
    </ul>
</div>
