<div class="popover-menu" data-simplebar data-simplebar-tab-index="-1">
    <ul role="menu" class="popover-menu-list condensed-views-popover-menu">
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" id="expand_dm_section" class="popover-menu-link" tabindex="0">
                <i class="popover-menu-icon zulip-icon zulip-icon-expand" aria-hidden="true"></i>
                <span class="popover-menu-label">
                    {{t "Always keep {name} section expanded" name=name }}
                </span>
            </a>
        </li>
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" id="collapse_dm_section" class="popover-menu-link" tabindex="0">
                <i class="popover-menu-icon zulip-icon zulip-icon-collapse" aria-hidden="true"></i>
                <span class="popover-menu-label">
                    {{t "Collapse {name} section when scrolled down" name=name}}
                </span>
            </a>
        </li>
    </ul>
</div>
