<div class="popover-menu" data-simplebar data-simplebar-tab-index="-1">
    <ul role="menu" class="popover-menu-list">
        {{#if is_home_view}}
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" id="mark_all_messages_as_read" class="popover-menu-link" tabindex="0">
                <i class="popover-menu-icon zulip-icon zulip-icon-mark-as-read" aria-hidden="true"></i>
                <span class="popover-menu-label">{{t "Mark all messages as read" }}</span>
            </a>
        </li>
        {{else}}
        <li role="none" class="link-item popover-menu-list-item">
            <a role="menuitem" class="set-home-view popover-menu-link" data-view-code="{{view_code}}" tabindex="0">
                <i class="popover-menu-icon zulip-icon zulip-icon-house" aria-hidden="true"></i>
                <span class="popover-menu-label">
                    {{#tr}}
                        Make <b>combined feed</b> my home view
                    {{/tr}}
                </span>
            </a>
        </li>
        {{/if}}
    </ul>
</div>
