# Use a special requirements.txt to avoid readthedocs installing all
#  our dependencies.

# require sphinx >= 1.3.6 to resolve https://github.com/spatialaudio/nbsphinx/issues/26
sphinx>=1.3.6
typing==3.5.0.1
