# Shared memory settings for PostgreSQL

# Note that if another program uses shared memory as well, you will have to
# coordinate the size settings between the two.

# Maximum size of shared memory segment in bytes
#kernel.shmmax = 33554432

# Maximum total size of shared memory in pages (normally 4096 bytes)
#kernel.shmall = 2097152

kernel.shmall = 6553600
kernel.shmmax = 26843545600
