{% extends "zerver/portico_signup.html" %}

{% block title %}
<title>{{ _("Try Zulip in a demo organization") }} | Zulip</title>
{% endblock %}

{% block portico_content %}
<div class="register-account flex full-page">
    <div class="center-block new-style" id="demo-realm-creation">
        <div class="registration-lead-section">
            <h1 class="registration-lead-title">{{ _("Try Zulip in a demo organization") }}</h1>
            <p class="registration-lead-subtitle">
                {% trans %}
                No email required. Or <a class="registration-lead-subtitle-link" href="{{ root_domain_url }}/new/">create a permanent organization</a>.
                {% endtrans %}
            </p>
        </div>
        <form class="white-box" id="create_demo_realm" action="{{ current_url() }}" method="post">
            {{ csrf_input }}
            <input type='hidden' name='timezone' id='demo-creator-timezone'/>
            {% include 'zerver/create_realm/realm_creation_base_form_fields.html' %}
            {% include 'zerver/create_realm/found_zulip_form_field.html' %}
            {% if terms_of_service %}
            {% include 'zerver/create_user/terms_of_service_form_field.html' %}
            {% endif %}
            <div class="input-box" id="demo-submit-button-container">
                <button type="submit" class="new-organization-button register-button">{{ _("Try Zulip") }}</button>
                {% if has_captcha %}
                    {% if form.captcha.errors %}
                        {% for error in form.captcha.errors %}
                        <p class="help-inline text-error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.captcha }}
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
