<form id="add-custom-emoji-form">
    <div>
        <input type="file" name="emoji_file_input" class="notvisible"
          id="emoji_file_input" value="{{t 'Upload image or GIF' }}"/>
        {{> ../components/action_button
          label=(t "Clear image")
          attention="quiet"
          intent="danger"
          id="emoji_image_clear_button"
          hidden=true
          }}
        {{> ../components/action_button
          label=(t "Upload image or GIF")
          attention="quiet"
          intent="brand"
          id="emoji_upload_button"
          }}
        <div style="display: none;" id="emoji_preview_text">
            {{t "Preview:" }} <i id="emoji_placeholder_icon" class="fa fa-file-image-o" aria-hidden="true"></i><img class="emoji" id="emoji_preview_image" src=""/>
        </div>
        <div id="emoji-file-name"></div>
    </div>
    <div id="emoji_file_input_error" class="text-error"></div>
    <div class="emoji_name_input">
        <label for="emoji_name" class="modal-field-label">{{t "Emoji name" }}</label>
        <input type="text" name="name" id="emoji_name" class="modal_text_input" autocomplete="off" placeholder="{{t 'leafy green vegetable' }}" />
    </div>
</form>
