<form id="add-user-group-form">
    <div>
        <label for="user_group_name">{{t "Name" }}</label>
        <input type="text" name="name" id="user_group_name" class="modal_text_input" maxlength="100" placeholder="{{t 'marketing' }}" />
    </div>
    <div>
        <label for="user_group_description">{{t "Description" }}</label>
        <input type="text" name="description" id="user_group_description" class="modal_text_input" maxlength="300" placeholder="{{t 'Marketing team' }}" />
    </div>
</form>
