<form id="add-alert-word-form">
    <label for="add-alert-word-name" class="modal-field-label">{{t "Alert word" }}</label>
    <input type="text" name="alert-word-name" id="add-alert-word-name" class="required modal_text_input" maxlength=100 placeholder="{{t 'Alert word' }}" value="" />
</form>
