<form id="add-watched-phrase-form">
    <label for="add-watched-phrase-name" class="modal-field-label">{{t "Watched phrase" }}</label>
    <input type="text" name="watched-phrase-name" id="add-watched-phrase-name" class="required modal_text_input" maxlength=100 placeholder="{{t 'Watched phrase' }}" value="" />
</form>
