{{#with playground}}
<tr class="playground_row" data-playground-id="{{id}}">
    <td>
        <span class="playground_pygments_language">{{pygments_language}}</span>
    </td>
    <td>
        <span class="playground_name">{{playground_name}}</span>
    </td>
    <td>
        <span class="playground_url_template">{{url_template}}</span>
    </td>
    {{#if ../can_modify}}
    <td class="no-select actions">
        {{> ../components/icon_button
          icon="trash"
          intent="danger"
          custom_classes="delete-code-playground delete"
          data-tippy-content=(t "Delete")
          aria-label=(t "Delete")
          }}
    </td>
    {{/if}}
</tr>
{{/with}}
