{{! Watched phrase in the settings page that can be removed }}
{{#with watched_phrase}}
<tr class="watched-phrase-item" data-word='{{watched_phrase}}'>
    <td>
        <div class="watched_phrase_listing">
            <span class="value">{{watched_phrase}}</span>
        </div>
    </td>
    <td>
        <button type="submit" class="button rounded small delete btn-danger remove-watched-phrase" title="{{t 'Delete watched phrase' }}" data-word="{{watched_phrase}}">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </td>
</tr>
{{/with}}
