{{! Alert word in the settings page that can be removed }}
{{#with alert_word}}
<tr class="alert-word-item" data-word='{{word}}'>
    <td>
        <div class="alert_word_listing">
            <span class="value">{{word}}</span>
        </div>
    </td>
    <td>
        {{> ../components/icon_button
          icon="trash"
          intent="danger"
          custom_classes="delete remove-alert-word tippy-zulip-delayed-tooltip"
          data-tippy-content=(t "Delete")
          }}
    </td>
</tr>
{{/with}}
