<div id="organization-auth-settings" class="settings-section" data-name="auth-methods">
    {{#unless is_owner}}
    <div class='tip'>{{t "Only organization owners can edit these settings."}}</div>
    {{/unless}}
    {{#unless user_has_email_set}}
    <div class="tip">
        {{#tr}}
            You must <z-link>configure your email</z-link> to access this feature.
            {{#*inline "z-link"}}<a href="/help/demo-organizations#configure-email-for-demo-organization-owner" target="_blank" rel="noopener noreferrer">{{> @partial-block }}</a>{{/inline}}
        {{/tr}}
    </div>
    {{/unless}}
    <form class="admin-realm-form org-authentications-form">
        <div id="org-auth_settings" class="admin-table-wrapper settings-subsection-parent">
            <div class ="subsection-header">
                <h3>{{t "Authentication methods" }}</h3>
                {{> settings_save_discard_widget section_name="auth_settings" }}
            </div>

            <div>
                <p>{{t "Configure the authentication methods for your organization."}}</p>
                <div id="id_realm_authentication_methods">
                    {{! Empty div is intentional, it will get populated by a dedicated template }}
                </div>
            </div>
        </div>
    </form>
</div>
