<div id="admin-bot-list" class="settings-section" data-name="bots">
    <div class="bot-settings-tip banner-wrapper" id="admin-bot-settings-tip">
    </div>
    <div class="clear-float"></div>
    <div>
        {{> ../components/action_button
          label=(t "Add a new bot")
          variant="subtle"
          intent="brand"
          custom_classes="add-a-new-bot"
          hidden=(not can_create_new_bots)
          }}
    </div>
    <div class="tab-container"></div>
    <div id="admin-all-bots-list" class="bot-settings-section user-or-bot-settings-section" data-bot-settings-section="all-bots">
        {{> bot_list
          section_name="all_bots"
          section_title=(t "All bots")
          dropdown_widget_name=all_bots_list_dropdown_widget_name
          }}
    </div>
    <div id="admin-your-bots-list" class="bot-settings-section user-or-bot-settings-section" data-bot-settings-section="your-bots">
        <div id="botserverrc-text-container" class="config-download-text">
            <span>{{t 'Download config of all active outgoing webhook bots in Zulip Botserver format.' }}</span>
            <a type="submit" download="botserverrc" id= "hidden-botserverrc-download" hidden></a>
            {{> ../components/icon_button
              id= "download-botserverrc-file"
              icon="download"
              intent="brand"
              custom_classes="tippy-zulip-delayed-tooltip inline"
              data-tippy-content=(t "Download botserverrc")
              }}
        </div>

        {{> bot_list
          section_name="your_bots"
          section_title=(t "Your bots")
          dropdown_widget_name=your_bots_list_dropdown_widget_name
          }}
    </div>
</div>
