<div id="admin-bot-list" class="settings-section user-or-bot-settings-section" data-name="bots">
    <div class="bot-settings-tip banner-wrapper" id="admin-bot-settings-tip">
    </div>
    <div class="clear-float"></div>
    <div>
        {{> ../components/action_button
          label=(t "Add a new bot")
          attention="quiet"
          intent="brand"
          custom_classes="add-a-new-bot"
          hidden=(not can_create_new_bots)
          }}
    </div>
    {{> bot_list
      section_name="all_bots"
      section_title=(t "Bots")
      dropdown_widget_name=all_bots_list_dropdown_widget_name
      is_admin=is_admin
      }}
</div>
