<div id="admin-bot-list" class="settings-section" data-name="bots">
    <div class="bot-settings-tip" id="admin-bot-settings-tip"></div>
    <div class="tab-container"></div>
    <button class="button round add-a-new-bot"{{#unless can_create_new_bots}}style="display: none;"{{/unless}}>{{t 'Add a new bot'}}</button>

    {{> bot_list
      section="all"
      section_title=(t "All bots")
      dropdown_widget_name=all_bots_list_dropdown_widget_name
      show_botserverrc=false
      }}

    {{> bot_list
      section="your"
      section_title=(t "Your bots")
      dropdown_widget_name=your_bots_list_dropdown_widget_name
      show_botserverrc=true
      botserverrc=botserverrc
      }}
</div>
