<div id="admin-bot-list" class="settings-section" data-name="bots">
    <div class="bot-settings-tip banner-wrapper" id="admin-bot-settings-tip">
    </div>
    <div class="clear-float"></div>
    <div>
        {{> ../components/action_button
          label=(t "Add a new bot")
          attention="quiet"
          intent="brand"
          custom_classes="add-a-new-bot"
          hidden=(not can_create_new_bots)
          }}
    </div>
    <div class="tab-container"></div>
    {{> bot_list
      section="all"
      section_title=(t "All bots")
      dropdown_widget_name=all_bots_list_dropdown_widget_name
      }}
    {{> bot_list
      section="your"
      section_title=(t "Your bots")
      dropdown_widget_name=your_bots_list_dropdown_widget_name
      }}
</div>
