<div id="admin-bot-list" class="settings-section" data-name="bots">
    <div class="bot-settings-tip" id="admin-bot-settings-tip"></div>
    <div class="tab-container"></div>
    <button class="button round add-a-new-bot"{{#unless can_create_new_bots}}style="display: none;"{{/unless}}>{{t 'Add a new bot'}}</button>
    {{> all_bots}}
    {{> your_bots}}
</div>
