<div class="input-append settings-table-search-section">
    <input class="search filter_text_input input_field" type="text" placeholder="{{placeholder}}" aria-label="{{aria-label}}" {{#if id}}id="{{id}}"{{/if}}/>
    <button type="button" class="btn clear_search_button">
        <i class="zulip-icon zulip-icon-close" aria-hidden="true"></i>
    </button>
</div>
