<div class="choice-row" data-value="{{value}}">
    {{> ../dropdown_widget widget_name=stream_dropdown_widget_name default_text=(t 'Select channel')}}
    <button type="button" class="button rounded small delete-choice" title="{{t 'Delete' }}">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
</div>
