<div class="search-container">
    <input type="text" {{#if id}}id="{{id}}"{{/if}} class="search filter_text_input" placeholder="{{placeholder}}" aria-label="{{aria_label}}"/>
    <button type="button" class="clear-filter">
        <i class="zulip-icon zulip-icon-close"></i>
    </button>
</div>
