<div class="input-group" id="integration-url-branches-parameter">
    <label class="checkbox">
        <input type="checkbox" id="integration-url-all-branches" class="integration-url-parameter" checked/>
        <span class="rendered-checkbox"></span>
    </label>
    <label class="inline" for="integration-url-all-branches">
        {{t "Send notifications for all branches"}}
    </label>
</div>
<div class="input-group hide" id="integration-url-filter-branches">
    <label for="integration-url-branches-text" class="modal-label-field">
        {{t "Which branches should notifications be sent for?"}}
        (<i>{{t "comma-separated list"}}</i>)
    </label>
    <input type="text" id="integration-url-branches-text" class="modal_text_input integration-url-parameter" value="main"/>
</div>
