<div class="input-group" id="integration-url-{{key}}-container">
    <label class="checkbox">
        <input type="checkbox" id="{{key}}" class="integration-url-parameter" />
        <span class="rendered-checkbox"></span>
    </label>
    <label class="inline" for="integration-url-{{key}}">{{label}}</label>
</div>
