<div class="input-group" id="integration-url-{{key}}-container">
    <label for="integration-url-{{key}}" class="modal-label-field">{{label}}</label>
    <input type="text" id="integration-url-{{key}}" class="modal_text_input integration-url-parameter" value=""/>
</div>
