{{#each events }}
    <div class="integration-event-wrapper">
        <label class="checkbox">
            <input type="checkbox" class="integration-event" id="{{this.event_id}}" checked=true
              value="{{this.event}}" />
            <span class="rendered-checkbox"></span>
        </label>
        <label for="{{this.event_id}}" class="inline integration-event-name">
            {{this.event}}
        </label>
    </div>
{{/each}}
