<div class="language_selection_widget input-group prop-element"
     id="id_{{section_name}}"
     data-language-code="{{language_code}}"
     data-setting-widget-type="language-setting">

    <label class="settings-field-label" for="default_language_dropdown_container">
        {{section_title}}
        {{> ../help_link_widget link="/help/change-your-language" }}
    </label>

    <div id="default_language_dropdown_container"></div>
</div>
