<div class="alternative-url-template-row">
    <input type="text" class="modal_text_input" placeholder="https://example.com/issue/{id}" value="{{value}}" />
    {{> ../components/icon_button intent="danger" custom_classes="delete-alternative-url-template tippy-zulip-tooltip" icon="trash" data-tippy-content=(t "Delete") aria-label=(t "Delete") }}
</div>
