<td>
    <span {{#if (and is_mobile_checkbox push_notifications_disabled)}} class="tippy-zulip-tooltip" data-tooltip-template-id="mobile-push-notification-tooltip-template"{{/if}}>
        <label class="checkbox">
            <input type="checkbox" name="{{setting_name}}" id="{{prefix}}{{setting_name}}"
              {{#if is_disabled}} disabled {{/if}}
              {{#if is_checked}}checked="checked"{{/if}} data-setting-widget-type="boolean"
              class="{{setting_name}}{{#unless is_disabled}} prop-element{{/unless}}"/>
            <span class="rendered-checkbox"></span>
        </label>
    </span>
</td>
