{{#unless is_admin}}
<div class="banner-wrapper">
    {{> ../components/banner
      label=(t "Only organization administrators can edit these settings.")
      intent="info"
      custom_classes="admin-permissions-banner"
      }}
</div>
{{/unless}}
