<div
  class="{{#if for_realm_settings}}settings-subsection-parent{{else}}subsection-parent{{/if}}">
    <div class="subsection-header">
        <h3>{{t "Views in left sidebar" }}</h3>
        {{> settings_save_discard_widget section_name="navigation-view-settings" show_only_indicator=(not
          for_realm_settings) }}
    </div>
    <p>{{t "Configure which views appear directly in the left sidebar. Unchecked views will be available in the 'More
        views' menu." }}</p>
    <div>
        {{#each navigation_views}}
            {{> settings_checkbox
              setting_name=this.setting_name
              prefix="id_"
              is_checked=this.is_pinned
              label=this.name}}
        {{/each}}
    </div>
</div>
