<table class="table table-stripped" id="realm_domains_table">
    <thead>
        <th>{{t "Domain" }}</th>
        <th>{{t "Allow subdomains"}}</th>
        <th>{{t "Action" }}</th>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr id="add-realm-domain-widget">
            <td><input type="text" class="new-realm-domain modal_text_input" placeholder="acme.com" /></td>
            <td>
                <label class="checkbox">
                    <input type="checkbox" class="new-realm-domain-allow-subdomains" />
                    <span class="rendered-checkbox"></span>
                </label>
            </td>
            <td>
                {{> ../components/action_button
                  label=(t "Add")
                  id="submit-add-realm-domain"
                  attention="quiet"
                  intent="brand"
                  }}
            </td>
        </tr>
    </tfoot>
</table>
<div class="alert realm_domains_info"></div>
