<a class="active_stream" tabindex="0">
    <span class="stream-privacy" style="color: {{color}};">
        {{> ../stream_privacy
          invite_only=invite_only
          is_web_public=is_web_public
          }}
    </span>
    <span>{{name}}</span>
</a>
