{{#unless show_only_indicator}}
<div class="save-button-controls hide">
    <div class="inline-block subsection-changes-save">
        <button class="save-discard-widget-button button primary save-button" data-status="save">
            <span class="fa fa-spinner fa-spin save-discard-widget-button-loading"></span>
            <span class="fa fa-check save-discard-widget-button-icon"></span>
            <span class="save-discard-widget-button-text">
                {{t 'Save changes' }}
            </span>
        </button>
    </div>
    <div class="inline-block subsection-changes-discard">
        <button class="save-discard-widget-button button discard-button">
            <span class="fa fa-times save-discard-widget-button-icon"></span>
            <span class="save-discard-widget-button-text">
                {{t 'Discard' }}
            </span>
        </button>
    </div>
    <div class="inline-block subsection-failed-status"><p class="hide"></p></div>
</div>
{{else}}
<div class="alert-notification {{section_name}}-status"></div>
{{/unless}}
