{{#unless show_only_indicator}}
<div class="save-button-controls hide">
    <div class="inline-block subsection-changes-save">
        {{> ../components/action_button custom_classes="save-button" attention="primary" intent="brand" label=(t "Save changes") }}
    </div>
    <div class="inline-block subsection-changes-discard">
        {{> ../components/action_button custom_classes="discard-button" attention="quiet" intent="neutral" label=(t "Discard") }}
    </div>
    <div class="inline-block subsection-failed-status"><p class="hide"></p></div>
</div>
{{else}}
<div class="alert-notification {{section_name}}-status"></div>
{{/unless}}
