<span>
    {{#if show_upgrade_message}}
    <a href="/upgrade/" class="upgrade-tip" target="_blank" rel="noopener noreferrer">
        {{t "Your organization is using {percent_used}% of your {upload_quota} file storage quota. Upgrade for more space." }}
    </a>
    {{else}}
    <div class="upgrade-tip">
        {{t "Your organization is using {percent_used}% of your {upload_quota} file storage quota." }}
    </div>
    {{/if}}
</span>
