<span>
    {{#if show_upgrade_message}}
    <a href="/upgrade/" class="upgrade-tip" target="_blank" rel="noopener noreferrer">
        {{upload_quota_string}} {{t "Upgrade for more space." }}
    </a>
    {{else}}
    <div class="tip">
        {{upload_quota_string}}
    </div>
    {{/if}}
</span>
