<span>
    {{#if show_upgrade_message}}
        <div class="upgrade-tip">
            {{#tr}}
                Available on Zulip Cloud Standard. <z-link>Upgrade</z-link> to access.
                {{#*inline "z-link"}}<a href="/upgrade/" target="_blank" rel="noopener noreferrer">{{> @partial-block }}</a>{{/inline}}
            {{/tr}}
        </div>
    {{/if}}
    {{t "Your organization is using {percent_used}% of {upload_quota}." }}
</span>
