<div id="user-panel-admin" class="settings-section" data-name="user-panel-admin">
    <div class="list-toggler-container"></div>
    <div class="user-panel-combined">
        {{> user_list_admin }}
        {{> deactivated_users_admin }}
        {{> invites_list_admin }}
    </div>
</div>
