<div id="admin-user-list" class="settings-section" data-name="users">

    <div class="tab-container"></div>

    {{>active_user_list_admin .}}

    {{>deactivated_users_admin .}}

    {{>invites_list_admin .}}

</div>
