<div class="chat_provider_row" data-chat_provider_value="{{chat_provider_value}}">
    {{> settings_checkbox
      setting_name="realm_video_chat_provider"
      prefix="id_"
      is_checked=enabled
      is_disabled=is_disabled
      label=chat_provider_name}}
</div>
