<div data-step="1">
    {{t "Zulip needs to send email to confirm users' addresses and send notifications."}}
    <a class="alert-link" href="https://zulip.readthedocs.io/en/latest/production/email.html" target="_blank" rel="noopener noreferrer">
        {{t "See how to configure email." }}
    </a>
</div>
