<div data-process="{{data_process}}" class="alert alert-info {{custom_class}}">
    <span class="close" data-dismiss="alert" aria-label="{{t 'Close' }}" role="button" tabindex=0>&times;</span>
</div>

{{#if is_bankruptcy_alert}}
<div class="alert alert-info bankruptcy-loader" style="display: none;">
    {{#tr}}
    Marking all messages as read…
    {{/tr}}
</div>
{{/if}}
