<div data-step="1">
    {{#tr}}Just joined? <z-link>Click to learn more about this organization.</z-link>
        {{#*inline "z-link"}}<a class="organization-information alert-link" role="button" tabindex=0>{{> @partial-block}}</a>{{/inline}}
    {{/tr}}
</div>
