<div data-step="1">
    {{#tr}}<z-link>Click to view this organization's guidelines.</z-link>
        {{#*inline "z-link"}}<a class="organization-information alert-link" role="button" tabindex=0>{{> @partial-block}}</a>{{/inline}}
    {{/tr}}
</div>
