<div data-step="1">
    {{#tr}}
        Complete the <z-link>organization profile</z-link>
        to brand and explain the purpose of this Zulip organization.
        {{#*inline "z-link"}}<a class="alert-link" href="#organization/organization-profile">{{> @partial-block}}</a>{{/inline}}
    {{/tr}}
</div>
