<div data-step="1">
    {{t "This Zulip server is running an old version and should be upgraded." }}
    <span class="buttons">
        <a class="alert-link" href="https://zulip.readthedocs.io/en/latest/overview/release-lifecycle.html#upgrade-nag" target="_blank" rel="noopener noreferrer">
            {{t "Learn more" }}
        </a>
        &bull;
        <a class="alert-link dismiss-upgrade-nag" role="button" tabindex=0>{{t "Dismiss for a week" }}</a>
    </span>
</div>
