{% extends "zerver/portico.html" %}
{% set entrypoint = "landing-page" %}

{% set PAGE_TITLE = "Case study: Technical University of Munich Department of Informatics | Zulip" %}

{% set PAGE_DESCRIPTION = "How do you teach computer science to 1400 freshmen?
  “Zulip is the only app that makes hundreds of conversations manageable.”" %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav.html' %}

<div class="portico-landing why-page solutions-page case-study-page">
    <div class="hero bg-education">
        <div class="bg-dimmer"></div>
        <div class="content">
            <h1 class="center">Case study: Technical University of Munich <br /> Department of Informatics</h1>
        </div>
        <div class="hero-text">
            Learn more about <a href="/for/education/">Zulip for Education</a>.
        </div>
    </div>
    <div class="main">
        <div class="padded-content">
            <div class="inner-content markdown">
                {{ render_markdown_path('corporate/case-studies/tum-case-study.md') }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
