<div id="edit-linkifier-form">
    <form class="form-horizontal linkifier-edit-form">
        <div class="input-group name_change_container">
            <label for="edit-linkifier-pattern" >{{t "Pattern" }}</label>
            <input type="text" autocomplete="off" id="edit-linkifier-pattern" name="pattern" placeholder="#(?P<id>[0-9]+)" value="{{ pattern }}" />
            <div class="alert" id="edit-linkifier-pattern-status"></div>
        </div>
        <div class="input-group name_change_container">
            <label for="edit-linkifier-url-format-string" >{{t "URL format string" }}</label>
            <input type="text" autocomplete="off" id="edit-linkifier-url-format-string" name="url_format_string" placeholder="https://github.com/zulip/zulip/issues/%(id)s" value="{{ url_format_string }}" />
            <div class="alert" id="edit-linkifier-format-status"></div>
        </div>
    </form>
</div>
