{{#with playground}}
<tr>
    <td>
        <span>{{pygments_language}}</span>
    </td>
    <td>
        <span>{{playground_name}}</span>
    </td>
    <td>
        <span>{{url_prefix}}</span>
    </td>
</tr>
{{/with}}
