<div class="alert" id="organization-status"></div>
<div id="revoke_invite_modal_holder"></div>

{{> admin_settings_modals}}

{{> organization_profile_admin }}

{{> organization_settings_admin }}

{{> organization_permissions_admin }}

{{> organization_user_settings_defaults }}

{{> emoji_settings_admin }}

{{> user_list_admin }}

{{> deactivated_users_admin }}

{{> bot_list_admin }}

{{> default_streams_list_admin }}

{{> auth_methods_settings_admin }}

{{> linkifier_settings_admin }}

{{> playground_settings_admin }}

{{> invites_list_admin }}

{{> user_groups_admin }}

{{> profile_field_settings_admin }}

{{> data_exports_admin }}
