{{#with alias}}
  <tr id="alias_{{id}}">
    <td class="domain">{{domain}}</td>
    <td><button class="btn btn-danger btn-sm delete_alias" data-id="{{id}}">{{t "Remove" }}</button></td>
  </tr>
{{/with}}
