{{#with realm_domain}}
<tr>
    <td class="domain">{{domain}}</td>
    <td style="padding-left:50px;"><input type="checkbox" class="allow-subdomains" {{#if allow_subdomains}}checked{{/if}}></input></td>
    <td><button class="button btn-danger small rounded delete_realm_domain">{{t "Remove" }}</button></td>
</tr>
{{/with}}
