<tr class="method_row" data-method="{{method}}">
    <td>
        <span class="method">{{method}}</span>
    </td>
    <td>
        <label class="checkbox">
            <input type="checkbox" {{#if enabled}}checked="checked"{{/if}} {{#unless is_owner}}disabled{{/unless}}/>
            <span></span>
        </label>
    </td>
</tr>
