{{#with stream}}
<li class="stream_name" role="presentation"
  title="{{subscriber_count}} {{t 'Subscribers' }}" data-stream-id="{{stream_id}}">
    <a role="menuitem" tabindex="0">
        {{name}}
    </a>
</li>
{{/with}}
