{{#with realm_domain}}
<tr>
    <td class="domain">{{domain}}</td>
    <td><input type="checkbox" class="allow-subdomains" {{#if allow_subdomains}}checked{{/if}}></input></td>
    <td><button class="btn btn-danger btn-sm delete_realm_domain">{{t "Remove" }}</button></td>
</tr>
{{/with}}
