<div id="alert-word-settings" class="settings-section" data-name="alert-words">
    <form class="form-horizontal" id="alert_word_info_box">
        <p class="alert-word-settings-note">
            {{t "Alert words allow you to be notified as if you were @-mentioned when certain words or phrases are used in Zulip."}}
        </p>
    </form>
    <div class="alert alert-danger" id="empty_alert_word_error" role="alert">
        <button type="button" class="close close-empty-alert-word-error" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span>{{t "Alert words can't be empty!"}}</span>
    </div>
    <ul id="alert_words_list"></ul>
</div>
