<div id="alert-word-settings" class="settings-section" data-name="custom-alert-words">
  <div class="settings-section-title">
    <i class="icon-vector-book settings-section-icon"></i>
    {{t "Custom alert words" }}
  </div>
  <form class="form-horizontal" id="alert_word_info_box">
    <p class="alert-word-settings-note">
      {{t "Alert words allow you to be notified as if you were @-mentioned when certain words or phrases are used in Zulip."}}
    </p>
  </form>
  <ul id="alert_words_list"></ul>
</div>
