{{! Alert word in the settings page that can be removed }}
{{#with alert_word}}
<tr class="alert-word-item" data-word='{{word}}'>
    <td>
        <div class="alert_word_listing">
            <span class="value">{{word}}</span>
        </div>
    </td>
    <td>
        <button type="submit" class="button rounded small delete btn-danger remove-alert-word" title="{{t 'Delete alert word' }}" data-word="{{word}}">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </td>
</tr>
{{/with}}
