<div id="attachments-settings" class="settings-section" data-name="uploaded-files">
    <div class="side-padded-container">
        <p class="alert-word-settings-note">
            {{t 'For each file, we list any messages that link to it.' }}
        </p>
    </div>
    <ul id="attachments_list" class="required-text" data-empty="{{t 'You have not uploaded any files yet.' }}"></ul>
</div>
