<div id="attachments-settings" class="settings-section" data-name="user-attachments">
  <div class="settings-section-title">
    <i class="icon-vector-paper-clip settings-section-icon"></i>
    {{t "My attachments" }}
  </div>
  <ul id="attachments_list"></ul>
</div>
