<div id="attachments-settings" class="settings-section" data-name="uploaded-files">
    <div class="settings-section-title">
        <i class="icon-vector-paper-clip settings-section-icon"></i>
        {{t "Uploaded files" }}
    </div>
    <div class="side-padded-container">
        <p class="alert-word-settings-note">
            {{t 'For each file, we list any messages that link to it.' }}
        </p>
    </div>
    <ul id="attachments_list"></ul>
</div>
