<div class="input-append settings-table-search-section">
    <input class="search input_field" id="{{id}}" type="text" placeholder="{{placeholder}}" aria-label="{{aria-label}}"/>
    <button type="button" class="btn clear_search_button">
        <i class="fa fa-remove" aria-hidden="true"></i>
    </button>
</div>
