<div id="admin-deactivated-users-list" class="settings-section" data-name="deactivated-users-admin">
<div class="settings-section-title"><i class="icon-vector-trash settings-section-icon"></i>
{{t "Deactivated users" }}</div>
<table class="table table-condensed table-striped">
  <tbody id="admin_deactivated_users_table" class="admin_user_table">
    <th>{{t "Name" }}</th>
    <th>{{t "Email" }}</th>
    <th>{{t "Actions" }}</th>
  </tbody>
</table>
<div id="admin_page_deactivated_users_loading_indicator"></div>
</div>
