<div>
    <label for="change_user_group_name">
        {{t 'Group name' }}
    </label>
    <input type="text" id="change_user_group_name" value="{{ group_name }}" />
</div>
<div>
    <label for="change_user_group_description">
        {{t 'Description' }}
    </label>
    <textarea id="change_user_group_description" rows="6">{{ group_description }}</textarea>
</div>
