<p>
    {{#tr}}
    A unicode emoji with name <b>{emoji_name}</b> already exists.
    Uploading a custom emoji with this name will override the unicode
    emoji with this name.
    {{/tr}}
</p>
<p>
    {{#tr}}
    Do you want to proceed?
    {{/tr}}
</p>
