{{#if realm_add_emoji_by_admins_only}}
<div class='tip'>{{t "Only organization administrators can add custom emoji in this organization." }}</div>
{{else}}
<div class='tip'>{{t "Anyone in this organization can add custom emoji." }}</div>
{{/if}}
