<div class="input-group language_selection_widget">
    <label class="inline-block title">{{section_title}}</label>
    <button type="button" class="language_selection_button button btn-link rounded small inline-block" data-section="{{section_name}}">
        <span class="{{section_name}}">{{setting_value}}</span>
        <i class="fa fa-pencil"></i>
    </button>
</div>
