<div id="muted-topic-settings" class="settings-section" data-name="muted-topics">
    <table id="muted_topics_table" class="table">
        <thead>
            <th>{{t "Stream" }}</th>
            <th>{{t "Topic" }}</th>
            <th class="actions">{{t "Actions" }}</th>
        </thead>
        <tbody class="required-text" data-empty="{{t 'You have not muted any topics yet.'}}"></tbody>
    </table>
</div>
