<td>
    <label class="checkbox">
        <input type="checkbox" name="{{setting_name}}" id="{{prefix}}{{setting_name}}"
          {{#if is_disabled}}disabled="disabled"{{/if}}
          {{#if is_checked}}checked="checked"{{/if}} data-setting-widget-type="boolean"/>
        <span></span>
    </label>
</td>
