<div id="realm-user-default-settings" class="settings-section" data-name="organization-level-user-defaults">
    <div class="tip">
        {{t "Configure the default personal preference settings for new users joining your organization." }}
    </div>
    {{> display_settings prefix="realm_" for_realm_settings=true}}

    {{> notification_settings prefix="realm_" for_realm_settings=true}}
</div>
