<div id="admin-streams-list" class="settings-section" data-name="streams-list-admin">
<div class="settings-section-title"><i class="icon-vector-exchange settings-section-icon"></i>
{{t "Delete streams" }}</div>

<div class="side-padded-container">
  <p class="admin-streams-note">{{#tr this}}Most stream administration is done on the <a href="/#streams">Streams page</a>.{{/tr}}</p>
</div>

<table class="table table-condensed table-striped">
  <tbody id="admin_streams_table" class="admin_stream_table">
    <th>{{t "Name" }}</th>
    <th>{{t "Actions" }}</th>
  </tbody>
</table>
<div id="admin_page_streams_loading_indicator"></div>
</div>
