<div id="ui-settings" class="settings-section" data-name="zulip-labs">
    <div class="alert" id="ui-settings-status"></div>
    <form class="ui-settings-form">
        <p>
            {{t "Warning: the below features are experimental, and may not work as well as you would like." }}
        </p>
        <div class="input-group">
            <label class="checkbox">
                <input type="checkbox" class="inline-block" name="autoscroll_forever" id="autoscroll_forever"
                       {{#if page_params.autoscroll_forever}}
                       checked="checked"
                     {{/if}} />
                <span></span>
            </label>
            <label for="autoscroll_forever" class="inline-block">
                {{t "Always auto-scroll to new messages" }}
            </label>
        </div>
        <div class="input-group">
            <label class="checkbox">
                <input type="checkbox" class="inline-block" name="default_desktop_notifications" id="default_desktop_notifications"
                       {{#if page_params.default_desktop_notifications}}
                       checked="checked"
                    {{/if}} />
                <span></span>
            </label>
            <label for="default_desktop_notifications" class="inline-block">
                {{t "Enable desktop notifications for new streams" }}
            </label>

        </div>
        <div class="input-group no-border">
            <div class="ui-submission">
                <input type="submit" name="change_settings" value="{{t 'Save changes' }}" class="button white rounded sea-green" />
            </div>
        </div>
    </form>
</div>
