<div id="ui-settings" class="settings-section" data-name="zulip-labs">
    <div class="alert" id="ui-settings-status"></div>
    <form class="ui-settings-form">
        <div class="tip">{{t "Features for the brave. Labs features may change, break, or disappear at any time." }}</div>

        <h3>{{t "UI Settings"}}</h3>

        <div class="input-group">
            <label class="checkbox">
                <input type="checkbox" class="inline-block change-setting" name="default_desktop_notifications" id="default_desktop_notifications"
                  {{#if page_params.default_desktop_notifications}}
                  checked="checked"
                  {{/if}} />
                <span></span>
            </label>
            <label for="default_desktop_notifications" class="inline-block">
                {{t "Enable desktop notifications for new streams" }}
            </label>
        </div>
    </form>
</div>
