<div id="ui-settings" class="settings-section" data-name="zulip-labs">
    <div class="alert" id="ui-settings-status"></div>
    <form class="ui-settings-form">
        <div class="tip">{{t "Features for the brave. Labs features may change, break, or disappear at any time." }}</div>
        <div id="lab-ui-settings">
            <h3>{{t "UI Settings"}}</h3>

            {{partial "settings_checkbox"
              "setting_name" "default_desktop_notifications"
              "is_checked" page_params.default_desktop_notifications
              "label" settings_label.default_desktop_notifications}}
        </div>
    </form>
</div>
