<span>
    {{#tr this}}Organization using __percent_used__% of __upload_quota__.{{/tr}}
    {{#if show_upgrade_message}}{{#tr this}}<a href="/upgrade" target="_blank" rel="noopener noreferrer">Upgrade</a> for more space.{{/tr}}{{/if}}
</span>
