define host{
        use                     generic-host
        host_name               nagios
        alias                   nagios
        address                 127.0.0.1
        hostgroups              all
        }

define service{
        use                             generic-service
        host_name                       nagios
        service_description             Current Users
        check_command                   check_users!20!50
        }

define service{
        use                             generic-service
        host_name                       nagios
        service_description             Total Processes
        check_command                   check_procs!250!400
        }


define service{
        use                             generic-service
        host_name                       nagios
        service_description             Disk Space
        check_command                   check_all_disks!20%!10%
        }

define service{
        use                             generic-service
        host_name                       nagios
        service_description             Current Load
        check_command                   check_load!7.0!6.0!5.0!10.0!8.0!6.0
        }

define service{
        use                             generic-service
        host_name                       nagios
        service_description             Number of autossh processes
        # If you change the number of munin autossh processes, change
        # the second and third arguments, below.
        check_command                   check_named_procs!autossh!9:9!9:15
        }

define service{
        use                             generic-service
        host_name                       nagios
        service_description             Check postgres replication lag
        check_command                   check_pg_replication_lag
        }

define service{
        use                             generic-service
        host_name                       nagios
        service_description             Check Camo is operational
        check_command                   check_website_response!https://external-content.zulipcdn.net/e9e01825634805fcf710af13c0e68f344663fc83/687474703a2f2f692e696d6775722e636f6d2f5a713131627a732e676966!6000!12000!
        }
