{{#unless realm_has_description}}
    {{#> modal_banner . }}
        <p class="banner_message">
            {{#tr}}
                You may want to <z-link>configure</z-link> your organization's login page prior to inviting users.
                {{#*inline "z-link"}}<a href="#organization/organization-profile">{{> @partial-block}}</a>{{/inline}}
            {{/tr}}
        </p>
    {{/modal_banner}}
{{else unless realm_has_user_set_icon}}
    {{#> modal_banner . }}
        <p class="banner_message">
            {{#tr}}
                You may want to <z-link>upload a profile picture</z-link> for your organization prior to inviting users.
                {{#*inline "z-link"}}<a href="#organization/organization-profile">{{> @partial-block}}</a>{{/inline}}
            {{/tr}}
        </p>
    {{/modal_banner}}
{{/unless}}
{{#unless realm_has_custom_profile_fields}}
    {{#> modal_banner . }}
        <p class="banner_message">
            {{#tr}}
                You may want to configure <z-link-1>default new user settings</z-link-1> and <z-link-2>custom profile fields</z-link-2> prior to inviting users.
                {{#*inline "z-link-1"}}<a href="#organization/organization-level-user-defaults">{{> @partial-block}}</a>{{/inline}}
                {{#*inline "z-link-2"}}<a href="#organization/profile-field-settings">{{> @partial-block}}</a>{{/inline}}
            {{/tr}}
        </p>
    {{/modal_banner}}
{{/unless}}
