{{#> modal_banner . }}
    <p class="banner_message">
        {{#tr}}
            Channel <z-link>#{stream_name}</z-link> created!
            {{#*inline "z-link"}}<a class="stream_narrow_link" href="{{stream_url}}">{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
    </p>
{{/modal_banner}}
