{{#> modal_banner . }}
    <p class="banner_message">
        {{#tr}}
            You are moving messages to a topic that already exists. Messages from these topics will be combined.
        {{/tr}}
    </p>
{{/modal_banner}}
