<div {{#if id}}id="{{id}}"{{/if}} class="input-element-wrapper{{#if custom_classes}} {{custom_classes}}{{/if}}">
    {{#if icon}}
        <i class="input-icon zulip-icon zulip-icon-{{icon}}" aria-hidden="true"></i>
    {{/if}}
    <input class="input-element" type="text" {{#if placeholder}}placeholder="{{placeholder}}"{{/if}} />
    {{#if clear_button}}
        {{> icon_button custom_classes="input-action-button input-clear-button" squared=true icon="close" intent="neutral" hidden=true}}
    {{/if}}
</div>
