<button class="{{#if custom_classes}}{{custom_classes}} {{/if}}icon-button {{#if squared}}icon-button-square {{/if}}icon-button-{{intent}}" tabindex="0">
    <i class="zulip-icon zulip-icon-{{icon}}"></i>
</button>
