<div class="current-plan-information">
    <h4>📅 Current plan information:</h4>
    {% if plan_data.warning %}
    <div class="current-plan-data-missing">
        {{ plan_data.warning }}
        <br />
    </div>
    {% endif %}
    <b>Plan name</b>: {{ plan_data.current_plan.name }}<br />
    <b>Status</b>: {{ plan_data.current_plan.get_plan_status_as_text() }}<br />
    {% if plan_data.current_plan.tier == plan_data.current_plan.TIER_SELF_HOSTED_COMMUNITY %}
    <!-- Any data below doesn't makes sense for sponsored organizations. -->
    {% else %}
    {% if plan_data.current_plan.discount %}
        <b>Discount</b>: {{ format_discount(plan_data.current_plan.discount) }}%<br />
    {% endif %}
    {% if plan_data.is_legacy_plan %}
        <b>End date</b>: {{ plan_data.current_plan.end_date.strftime('%d %B %Y') }}<br />
    {% else %}
        <b>Licenses</b>: {{ plan_data.licenses_used }}/{{ plan_data.licenses }} ({% if plan_data.current_plan.automanage_licenses %}Automatic{% else %}Manual{% endif %})<br />
        <b>Billing schedule</b>: {% if plan_data.current_plan.billing_schedule == plan_data.current_plan.BILLING_SCHEDULE_ANNUAL %}Annual{% else %}Monthly{% endif %}<br />
        {% if plan_data.current_plan.price_per_license %}
            <b>Price per license</b>: ${{ dollar_amount(plan_data.current_plan.price_per_license) }}<br />
        {% elif plan_data.current_plan.fixed_price %}
            <b>Plan has a fixed price.</b><br />
        {% endif %}
        <b>Annual recurring revenue</b>: ${{ dollar_amount(plan_data.annual_recurring_revenue) }}<br />
        <b>Start of next billing cycle</b>: {{ plan_data.next_billing_cycle_start.strftime('%d %B %Y') }}<br />
    {% endif %}
    {% endif %}
</div>
