<div class="remote-realm-information">
    <span class="label">remote realm</span>
    <h3>{{ remote_realm.name }}</h3>
    {% if remote_realm.realm_locally_deleted %}
        <h4>Remote realm is locally deleted 🛑</h4>
    {% endif %}
    {% if remote_realm.registration_deactivated %}
        <h4>Remote realm registration deactivated 🛑</h4>
    {% endif %}
    {% if remote_realm.realm_deactivated %}
        <h4>Remote realm is deactivated on remote server 🛑</h4>
    {% endif %}
    {% if remote_realm.plan_type == SPONSORED_PLAN_TYPE %}
        <h4>On 100% sponsored Zulip Community plan 🎉</h4>
    {% endif %}
    {% if support_data[remote_realm.id].sponsorship_data.default_discount %}
        <h4>Has a discount 💸</h4>
    {% endif %}
    <b>Remote realm host:</b> {{ remote_realm.host }}<br />
    <b>Date created</b>: {{ support_data[remote_realm.id].date_created.strftime('%d %B %Y') }}<br />
    <b>Org type</b>: {{ get_org_type_display_name(remote_realm.org_type) }}<br />
    <b>Plan type</b>: {{ get_plan_type_name(remote_realm.plan_type) }}<br />
    <br />
    <b>Non-guest user count</b>: {{ support_data[remote_realm.id].user_data.non_guest_user_count }}<br />
    <b>Guest user count</b>: {{ support_data[remote_realm.id].user_data.guest_user_count }}<br />
    <b>Mobile user count</b>: {{ support_data[remote_realm.id].mobile_push_data.mobile_users }}<br />
    <b>7-day mobile pushes count</b>: {{ support_data[remote_realm.id].mobile_push_data.mobile_pushes_forwarded }}<br />
</div>

{% if remote_realm.plan_type != SPONSORED_PLAN_TYPE %}
{% with %}
    {% set sponsorship_data = support_data[remote_realm.id].sponsorship_data %}
    {% set remote_id = remote_realm.id %}
    {% set remote_type = "remote_realm_id" %}
    {% set format_discount = format_discount %}
    {% set has_fixed_price = support_data[remote_realm.id].plan_data.has_fixed_price %}
    {% include 'corporate/support/sponsorship_forms_support.html' %}
{% endwith %}
{% endif %}

{% if support_data[remote_realm.id].plan_data.current_plan %}
<div class="remote-realm-information">
    {% with %}
        {% set plan_data = support_data[remote_realm.id].plan_data %}
        {% set format_discount = format_discount %}
        {% set dollar_amount = dollar_amount %}
        {% include 'corporate/support/current_plan_details.html' %}
    {% endwith %}
</div>

{% with %}
    {% set current_plan = support_data[remote_realm.id].plan_data.current_plan %}
    {% set remote_id = remote_realm.id %}
    {% set remote_type = "remote_realm_id" %}
    {% include 'corporate/support/current_plan_forms_support.html' %}
{% endwith %}
{% endif %}

{% if support_data[remote_realm.id].plan_data.next_plan %}
<div class="remote-realm-information">
    {% with %}
        {% set plan_data = support_data[remote_realm.id].plan_data %}
        {% set format_discount = format_discount %}
        {% set dollar_amount = dollar_amount %}
        {% include 'corporate/support/next_plan_details.html' %}
    {% endwith %}
</div>
{% else %}
{% with %}
    {% set remote_id = remote_realm.id %}
    {% set remote_type = "remote_realm_id" %}
    {% include 'corporate/support/next_plan_forms_support.html' %}
{% endwith %}
{% endif %}
