<div class="remote-sponsorship-details">
    <p class="support-section-header">Sponsorship request information:</p>
    {% if latest_sponsorship_request %}
        <ul>
            <li><b>Organization type</b>: {{ latest_sponsorship_request.org_type }}</li>
            <li><b>Organization website</b>: {{ latest_sponsorship_request.org_website }}</li>
            <li><b>Organization description</b>: {{ latest_sponsorship_request.org_description }}</li>
            <li><b>Estimated total users</b>: {{ latest_sponsorship_request.total_users }}</li>
            <li><b>Paid staff</b>: {{ latest_sponsorship_request.paid_users }}</li>
            <li><b>Description of paid staff</b>: {{ latest_sponsorship_request.paid_users_description }}</li>
            {% if latest_sponsorship_request.requested_plan != "" %}
            <li><b>Requested plan</b>: {{ latest_sponsorship_request.requested_plan }}</li>
            {% endif %}
        </ul>
    {% else %}
        <b>No sponsorship requests have been submitted.</b>
    {% endif %}
</div>
