{% extends "zerver/portico.html" %}

{% block title %}
<title>{{ _("Thanks for contacting us") }} | Zulip</title>
{% endblock %}

{% block portico_content %}
<div class="flex full-page thanks-page">
    <div class="center-block new-style white-box">
        <h1>{{ _("Thanks for contacting us!") }}</h1>
        <p>{{ _("We will be in touch with you soon.") }}</p>
        <p>
            {% trans %}
            You can find answers to frequently asked questions in the
            <a href="/help/">Zulip help center</a>.
            {% endtrans %}
        </p>
    </div>
</div>

{% endblock %}
